[2016-05-07 13:52] Saallen opened #1 "Sessions@ email set up and first email"
First email to sessions@

- [x] Add new emails
- [x]  share Calendar for the year
- [x] Next steps upcoming
- [x] Required next steps for Call for Proposals

[2016-05-07 13:54] Saallen opened #2 "Localising of Call for Proposals"
Is it possible?
Who owns this?
How to elevate sessions to other spaces?

[2016-05-12 09:21] Saallen opened #3 "Offering the call for proposals in different languages"
Off the back of MozRetreat many ppl requested the Call for Proposals to be translated into other languages such as French, Arabic and/or Spanish
In order for this work to happen some key management systems would need to be in place

* Where would the localised form be found from the English version?
* What languages would we accommodate?
* Would this localisation just be an offer for the Localisat

[2016-05-12 17:00] Saallen opened #4 "Session format question addition"
New question to be added around session formatting-

Aim- to provide clarity around the type of session or workshop being submitted.
        the facilitator submits their session highlighting the designed format of their session
        this provides the Space Wrangler information on how how long the session should be, its intended format and by choosing the type of format earlier in the process t

[2016-05-13 13:25] Saallen opened #5 "Feedback on " What to expect " Page"
As my driving topic for comversation is the festival currently, a lot of people are giving me feedback around the festival and the website. One piece has stood out and been highlight from two different sources

- What to expect page- this page does not actually tell the reader what to expect when attending the festival- it does not tell the reader
- [ ] About format- what you will see when you wal

[2016-05-13 15:15] Saallen opened #6 "Promotion of the Call for Proposals"

[2016-05-13 15:43] edrushka commented on #5
Good feedback. I added to the specific ticket: https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/7

[2016-05-13 16:01] Saallen opened #7 "Utilizing Ti.to questions for measuring impact"
Using the registration platform as a measuring tool for impact
We have about 10 registration forms each can be asked the same questions or different questions.

I would like to open the ticket page the same day as the call for proposals- 1st June.
So we need to decide what questions we need to ask to get responses we can use as metric gauging  responses.
Looking for adivce from @adamlofting on the

[2016-05-13 17:32] Saallen commented on #7
Last years questions
* Is this your first MozFest?
* Will you attend both days with your group or one day on your own?
* Who has invited you to join us for Mozilla Festival 2015
* What themes are you interested in
*  What themes are you interested in?
* What do you hope to get out of the festival?
* Do you work for Mozilla or are you a contributor?
* If you are an awesome contributor who invited y

[2016-05-16 10:34] adamlofting commented on #7
We should also ask for:
* Twitter handle @...........
* Github handle @...........

With some text like: *if you use Twitter or Github, we'd love to connect with you over the weekend and help you connect with new people*.

The questions from last year are great, but here are some possible tweaks.

* If you've been to Mozfest before, which years?
  * 2012, 2013, etc
* I'm planning to attend:
  * [

[2016-05-20 17:40] samanthaburton commented on #7
re: hashtags - the language has changed slightly since MozRetreat (as shared at the [Issues Agenda Town Hall](https://docs.google.com/presentation/d/1JEsGpJRvp6ROxZbpSWAzq_jdzVKHpB2es-TS-BkAVmA/edit#slide=id.g13f4c7b5cc_0_0)) so the priority issues & suggested hashtags are now:

**Online Privacy + Security** #privacy
People understand and can meaningfully control how their data is collected and us

[2016-05-23 17:19] Saallen commented on #7
Hi @adamlofting @samanthaburton
We would have to offer links out to these issues so ppl understand what they are picking as relevant to them. Is there a home for these issue hashtags? or a blog post to link to?

[2016-05-24 13:27] samanthaburton commented on #7
We're still working on figuring out their online home, for now they live in this sharable GoogleDoc - https://docs.google.com/document/d/1cLC3zpcUaqqordvmHOTpcRUiyNqlBf1RIordVLZ9WIg/edit

[2016-05-25 09:26] Saallen opened #8 "June 1st email"
We will need a snappy, quirky celebratory email for the junes 1st website update.

Receivers of this email will be
- [ ] Last years facilitators ( 400)
 -[ ] Action specific
- [ ] Last years registrants (2150)
 - [ ]  Informative email
- [ ] Mozlearning email groups
 - [ ]  Informative email
- [ ] 2016 update emails (100)
 - [ ]  Informative email
- [ ]  other?

@KevZawacki and @edrushka if you co

[2016-05-25 09:30] Saallen commented on #8
@adamlofting when I send an email to  Last years registrants (2150)
I will let them know about the call for proposals but  should I ask the to re-sign up to continue to receive further emails from Mozfest?

[2016-05-25 10:40] KevZawacki commented on #8
@Saallen You got it!

[2016-05-31 09:46] adamlofting commented on #8
@Saallen it depends on the wording of the sign-up form last time.

Did they opt in to receive 'emails about Mozfest' or 'emails about Mozfest 2015' for example. I suspect it was a more generic opt-in, and we don't need to ask for new permission each year, but we should check that language.

[2016-05-31 10:09] Saallen opened #9 "Rules for Github"
We need rules and steps for github integration and curation

* We need to be mindful of those facilitators who submitted
* We need to ensure that no issues gets lost, so a good labelling system is needed
* We will be introducing pathways as part of this labelling system
* [ ] add more needs/requirements

cc @edrushka

[2016-05-31 10:18] Saallen commented on #9
Last years rules

**Spaces**
Each space is represented as a Github "milestone". Each milestone includes description of its respective space. You can click on the name of a space to see all the associated pathways and sessions. You can modify sessions to be part of your space by adding them to the appropriate "milestone."

**Pathway**
Each pathway is represented as a Github "label.". You can add ne

[2016-05-31 11:53] Saallen commented on #8
The opt was for Mozilla Festival @adamlofting
So I can email all these folks a couple of times around the festival but I will add an opt out on the emails here too

[2016-06-30 10:22] Saallen opened #10 "Fringe page- invite submissions"
Invite partners, friends and other festivals taking place at the same time to submit their fringe events
https://mozillafestival.org/fringe

- [ ]  Sessions@
- [ ] Partners
- [ ] Sister festivals

[2016-07-07 18:43] edrushka commented on #1
Done 👍

[2016-07-07 18:43] #1 closed

[2016-07-07 18:45] edrushka commented on #2
We did it! 🎆 CFP localized into [Arabic] (https://mzl.la/MozFestArabic), [French] (https://mzl.la/Fran%C3%A7ais) and [Spanish] (https://bit.ly/MozFestSpanish).

Also made a field in the EN form allowing people to list other languages they can hold their session in.

[2016-07-07 18:45] #2 closed

[2016-07-07 18:49] edrushka commented on #3
done! See #2

[2016-07-07 18:49] #3 closed

[2016-07-07 18:50] edrushka commented on #4
Done! Final wording reads:

MozFest accepts many different session formats. What do you think would work best for your session? (you may select multiple formats) *
Demo or Lightning talk - 5-15 minute showcase of completed work or product
Learning Lab - 60 minute hands on skillshare or small group discussion (technical or other)
Fireside chat - 45 minute talk with time for questions and answers
Ha

[2016-07-07 18:50] #4 closed

[2016-07-07 19:14] edrushka commented on #5
Copy on both the 'what to expect' and 'about' pages were revised to offer more detail.

[2016-07-07 19:14] #5 closed

[2016-07-07 19:16] edrushka commented on #6
Closing this as we have a fairly comprehensive plan for promotion including:
- blogs from Space Wranglers on our medium publication
- calendar of social and emails from Kristina
- tweets from Tate & V&A

[2016-07-07 19:16] #6 closed

[2016-07-07 19:16] #8 closed

[2016-07-07 19:22] edrushka commented on #7
Closing as this has been implemented. Here are the questions that were included on the ti.to form:

1) I'm okay with receiving updates about MozFest.
2) What do you hope to get out of the festival?
- Meet new people
- Showcase my work
- Learn more about Mozilla
- Work on an existing project
- Learn how to work open
- Join a project
- I don't know
3) MozFest is designed around some key issues the I

[2016-07-07 19:22] #7 closed

[2016-07-07 20:48] edrushka opened #11 "Review design assets"
Review the list of [design assets needed for 2016] (https://docs.google.com/spreadsheets/d/1J4LS4ILtG5x-jxwHEwGuDzXHRHC9IQM4t9fg2OUeRBs/edit#gid=1773878800)

Identify which should be done in-house and which can be done by a contractor.

[2016-07-07 20:52] edrushka opened #12 "SOW for design contractor"
Based on the asset review in #11, write a job description for the contract designer position.

cc @Saallen @hannahkane

[2016-07-07 20:57] edrushka opened #13 "Identify places to post design contractor position"
Please add to this list of places/people we should share the contract designer posting (reminder this contractor will ideally be based in London):

- Ravensbourne
- Marc (MozFest production assistant)
- Luca (Tate)
- Julie (Arts Award)
- etc.

cc @xmatthewx @Saallen

[2016-07-07 21:01] edrushka opened #14 "Create MozFest moodboards"
Create a few moodboard options for MozFest 2016.

Previous  mood boards for signage:
- https://uk.pinterest.com/sarahretro/signage-ideas/
- https://uk.pinterest.com/mozfest14/community/

Inspiration from Ravensbourne:
https://drive.google.com/drive/u/0/folders/0B20-0lpP23c0eGVvSDR0WHRRUUk?ths=true

@hannahkane assigning you for now - please re-assign when you chose a designer!

[2016-07-07 21:07] edrushka opened #15 "Hold a design retrospective"
Chat with @natalieworth @lovegushwa to determine what worked (and what didn't) in last year's MozFest design process (design all the way to delivery).

Assigning @hannahkane to coordinate when a designer has been identified.

cc @xmatthewx

[2016-07-07 21:10] edrushka opened #16 "Scope website updates"
Scope how the updated design should be reflected on the website. This should be a minimal visual refresh.

cc @Saallen

[2016-07-07 21:12] edrushka opened #17 "Meet with "issues team" to discuss design"
Coordinate a meeting between the designers and Sam, Paul and Kevin to discuss how the 5 key issues can be represented in the festival's overall design.

cc @xmatthewx

[2016-07-07 22:38] lovegushwa commented on #15
@edrushka would love to discuss. I'm out on PTO until July 13th

[2016-07-07 23:12] edrushka commented on #11
@Saallen @xmatthewx  I've taken a first pass at identifying which tasks should be done by a MoFo designer, and which can be done by the contractor.

See column D in the [2016 Design Assets sheet] (https://docs.google.com/spreadsheets/d/1J4LS4ILtG5x-jxwHEwGuDzXHRHC9IQM4t9fg2OUeRBs/edit#gid=1773878800)

[2016-07-11 20:18] kristinashu commented on #14
@natalieworth @lovegushwa do you have any moodboards from last year?

Also sharing these amazing notes Natalie wrote up after her tour of Ravensbourne https://docs.google.com/a/mozilla.com/document/d/1HS_H1_cm_8f1lQOOYKeHKL7TlQRf8REtsIPLtRl8dQs/edit?usp=sharing

[2016-07-11 20:27] kristinashu commented on #15
I'm also on PTO July 15th but it looks like everyone is available Thursday July 14th from 2-3pm PT so I'll send out an invite for then.

cc @sabrinang

[2016-07-11 21:10] kristinashu commented on #11
I think if we found the right contractor I would be happy to even let them determine the overall style of MozFest (with lots of guidance and feedback from us). If we found a fresh bright-eyed grad they could create something very cool. Some side benefits might be that by starting a contractor earlier on in the process they would be more invested, attached and motivated by the design direction. It

[2016-07-12 17:41] Saallen opened #18 "List for complimentary tickets"
Below is the list of organisations, indivduals or groups who we have offered free tickets in exchange for promotion or invitees
- Anjali Ramachandran- head of Ada lists x 4 for a competition
- Free Formers
- Redbridge library

[2016-07-12 18:29] Saallen opened #19 "Creating legacy within our Festival guide"
Below are pictures of a really great information booklet from a hotel in Berlin.
Rather than add all the boring housekeeping rules on a laminated page or within a bound leather folder the hotel created fairy tales. In those tales, told on postcards or within a small book, was the key information for staying within the hotel . All these postcards were displayed within a little box

[2016-07-12 18:31] Saallen commented on #19
![tmp_15714-img_20160507_105903-341542292](https://cloud.githubusercontent.com/assets/10194015/16778717/23050356-4867-11e6-8a32-11c3c6f283e1.jpg)
![tmp_15714-img_20160507_105731-137349422](https://cloud.githubusercontent.com/assets/10194015/16778729/2dc58838-4867-11e6-8dda-1dd712273297.jpg)
![tmp_15714-img_20160507_105645-382866914](https://cloud.githubusercontent.com/assets/10194015/16778739/3970

[2016-07-12 18:38] Saallen commented on #19
![2016-07-12 19 37 55](https://cloud.githubusercontent.com/assets/10194015/16778946/27f824d2-4868-11e6-8b6f-8957e9bf8427.jpg)
![2016-07-12 19 38 16](https://cloud.githubusercontent.com/assets/10194015/16778958/32a6fa8e-4868-11e6-9926-aa922a16133b.jpg)

[2016-07-13 15:01] marcwalsh opened #20 "Contractors Overview"
Looking into contractors for the roles listed below:

[] Catering -
[] Equipment / AV Hire -
[] Junior Designers -
[] Live Streaming -
[] Logistics Assistants -
[] Photographers -
[] Stage Manager -
[] Videographer -

[2016-07-13 15:05] marcwalsh opened #21 "Catering Supplier"
Looking for a catering company to supply for 1600 people for lunch on Saturday and Sunday as well as canapes on the Friday night and Sunday night.

- [x] Initial Research
- [x] Three Shortlisted Suppliers
- [x] Tasting Days Scheduled
- [x] Contract Drawn Up

[2016-07-13 15:15] marcwalsh opened #22 "Equipment / AV Supplier"
Looking for an equipment / AV supplier for the main stage AV and architectural lighting on Level 4.

We require:
- (Equipment list to follow)

**To-Do**
- [x] Equipment list finalised
- [x] List sent to MV Event AV Team
- [x] UK Suppliers Researched and Quotes Received
- [ ] Booking Confirmation and Contract Drawn Up

[2016-07-13 15:21] marcwalsh opened #23 "Junior Designers"
Junior Design contracted to complete work assigned under [Asset Review](https://docs.google.com/spreadsheets/d/1J4LS4ILtG5x-jxwHEwGuDzXHRHC9IQM4t9fg2OUeRBs/edit#gid=1773878800)

- [x] Job spec drawn up - #11 #12
- [x] Role advertised - #13 #45
- [x] Shortlist three portfolios
- [x] Contract drawn up #59

[2016-07-13 15:29] marcwalsh opened #24 "Live Stream Supplier"
Supplier for Live Stream as mentioned in #25

Live stream of talks on the main stage as well as D&D in another space in the building.
Stream needs to be sent to AirMozilla as well as the possibility of YouTube. (Yet to be decided if this is live or uploaded after.)
- [x] Scope of work drawn up #48
- [x] Suppliers researched
- [x] Three suppliers shortlisted and contacted for quotes and latest show

[2016-07-13 15:39] marcwalsh opened #25 "Live Stream of Main Stage and D&D Spaces"
Main Stage and D&D talks will be live streamed to AirMozilla.

**To-Do**
- [x] Find Supplier - #24
- [x] Decision on platform. AirMo / YouTube / Facebook (Both live or YT / FB uploaded later)
- [x] Talk to Ravensbourne Network Manager re: encoder.
- [ ] Player page for website (needed?)

[2016-07-13 15:52] marcwalsh opened #26 "Logistic Assistants Contractors"
Require 2 logistic assistants for over the Mozilla Festival.

One person will be required to work the 1 or 2 weeks before MozFest as prep for supplies for spaces and sessions, as well as coordinating deliveries for them. Another Logistics Assistant will be required to worked from during the week of MozFest. End date will be the Monday after MozFest for get out.

- [x] Job Spec drawn up - @Saallen

[2016-07-13 16:28] marcwalsh opened #27 "Photographer Contractors"
Team of photographers required for the event days from Friday - Sunday. Last the team was 1+2 working the full weekend.
- [x] Job spec and style requirements drawn up
  - [x] responsible @sallen / @edrushka #72
- [x] Research into festival / event photographers
- [x] Portfolios shortlisted
- [ ] Contract drawn up

[2016-07-13 18:28] kristinashu commented on #14
I've done a whole bunch of pinning https://www.pinterest.com/kristinashu/conferencefestival/
Now I'll start to narrow them down to a few different directions and create moodboards.

@sabrinang please add some pins if you come across anything interesting.

[2016-07-13 22:21] natalieworth commented on #14
@kristinashu Sorry for the delay! I have a moodboard here from last year (but I was more for the graphics/ illustration production assets that the contractor created): https://www.pinterest.com/nataliejworth/mozfest-2015-benchmarks/ Not sure if it helps? 2015's branding was definitely more iconographic.

[2016-07-13 23:08] kristinashu commented on #14
Thanks @natalieworth! And thanks @sabrinang, I see you've been adding some pins. Good stuff!

[2016-07-14 09:31] marcwalsh opened #28 "Stage Manager Contractor"
Contracted over 3 days of festival, helps and oversees build, running and strike of the main stage.
- [x] Confirm days needed
- [x] Build job spec
- [x] Advertise role
- [x] Shortlist
- [ ] Contract drawn up

[2016-07-14 09:34] marcwalsh opened #29 "Videographer Contractor / Supplier"
Hire videographer to create a highlights film based on MozFest 2016

- [ ] Build video brief for videographer team
- [ ] Research into production companies
- [ ] Shortlist three and contact for quotes and up to date showreel
- [ ] Contract drawn up

[2016-07-14 10:12] marcwalsh opened #30 "Contract DBS Supplier"
Electronic DBS checks required for staff and volunteer leaders in the Youth Zone.

- [x] Supplier found and vetted
- [x] Security checks carried out on supplier
- [x] Contract agreed with Legal
- [x] Contracts signed

[2016-07-14 10:15] marcwalsh opened #31 "DBS Checks Sent"
Normal waiting time for DBS checks is around 14 days.

Milestone must be reached to ensure we have all disclosures returned in time.

- [x] Staff Documents Sent
- [x] Youth Zone Leaders Sent
- [x] Youth Zone Lead Volunteers Sent

[2016-07-14 10:17] marcwalsh opened #32 "Swag Master!"
Main issue for all swag for the festival.

Required:
- [ ] Water Bottles - #33
- [ ] Notebooks - #34
- [ ] Sharpie -
- [ ] Lanyards -
- [ ] Clips -

[2016-07-14 10:20] marcwalsh opened #33 "Swag - Water Bottle"
1600x water bottles required for swag bags.

- [x] Design
- [x] Supplier Found
- [ ] Sent to Print
- [ ] Proof Signed Off
- [ ] Delivery Date Agreed

[2016-07-14 10:21] marcwalsh opened #34 "Swag - Notepads"
1600x stationary sets / notepads etc. required for swag bags.
- [x] Design
- [x] Supplier Found
- [ ] Sent to Print
- [ ] Proof Signed Off
- [ ] Delivery Date Agreed

[2016-07-14 10:24] marcwalsh opened #35 "Swag - Something Special"
Are we including an extra gift in this year's bag?

- [ ] Sponsored gift - Contact potential sponsors.
- [ ] Design
- [ ] Supplier Found
- [ ] Sent to Print
- [ ] Proof Signed Off
- [ ] Delivery Date Agreed

[2016-07-14 10:46] marcwalsh opened #36 "Swag - Lanyards"
2000 lanyards required for the entire weekend.

- [x] Check to source internally
- [x] Supplier Found
- [x] Delivery Date Agreed

[2016-07-14 10:47] marcwalsh opened #37 "Swag - Swag Bags"
1600 swag bags required for the weekend.

- [ ] Design
- [ ] Supplier Found
- [ ] Sent to Print
- [ ] Proof Signed Off
- [ ] Delivery Date Agreed

[2016-07-14 11:04] marcwalsh opened #38 "Thursday Night Venue"
Looking for a historical / arts venue in London to host around 150 people.
- [x] Research
- [x] Shortlist three venues
- [x] Contract signed
- [x] Confirm drinks order
- [x] Confirm catering requirements
- [x] Music / DJ booking

[2016-07-14 15:23] xmatthewx commented on #11
I'm open to it, but not ready to make a plan that depends on it. Managing a contractor can take as much time as doing the work yourself if you don't have the right person and tasks aligned. A contractor doing production work is less risky and a bigger time saver for us.

To make it possible, we'll have to ramp up the search process.

[2016-07-14 22:32] kristinashu commented on #15
Here are our meeting notes: http://etherpad.io/p/mozfest_design_retro

We will consolidate these notes into a gdoc to share with Erica and Sarah.

[2016-07-18 17:01] kristinashu commented on #15
I've added a short summary of the meeting at the bottom of [design brief doc](https://docs.google.com/a/mozilla.com/document/d/1f-ybB8x6HJ2F4JyDnN8wUdyMcO9b7VpQCLGINGgTKuA/edit?usp=sharing)

[2016-07-19 11:00] marcwalsh opened #39 "Swag - Festival Guide"
Design and Print the Festival Guide for 2016.

Format and design TBC

Responsible - MoFo / Contractor

ToDo:
- [x] Confirm printers and deadlines
- [x] Key Design Elements - Front Cover, Layout and Style
- [x] General Content Layout
- [x] Space Icons
- [x] Wayfinding (Maps / Floorplans)

Some inspiration is available **[here](https://drive.google.com/open?id=0BymL-b3rLMtZcHFRaENZQ3NiNWM)**, feel f

[2016-07-19 14:44] marcwalsh commented on #23
Here's a couple of recommended portfolios:

[Jessica Bird](http://youvebeenjessed.com/)
[Simon Allen](http://www.simonallen.eu/)

I'll add more as I receive recommendations.

@edrushka @xmatthewx Maybe we can have a call at some point soon and work out the SOW as well as a timeline for when we would need the designer to start. We could also use the time to go through the various portfolios.

[2016-07-21 14:23] marcwalsh commented on #23
Another potential designer: [Thomas Walskaar](http://www.walska.com/index.html)

[2016-07-25 15:23] #15 closed

[2016-07-26 21:44] kristinashu commented on #14
@sabrinang here's were I'm at with the moodboards https://drive.google.com/open?id=0B2irLVDJivhLQkEtXzJodDhHSTA

I've been trying to group our pins thematically. I think if you can distill them down to about 5 different directions that would be great. Could add an intro slide to each direction to set the tone (bold, playful, hand done, artsy...).

[2016-07-26 21:49] kristinashu commented on #12
@xmatthewx is this done?

[2016-07-27 15:38] xmatthewx opened #40 "Production team plan - this heartbeat and beyond"
This issue captures Mozfest production planning meeting, identifies open questions, and lists deliverables for this heartbeat (please file individual tickets for your tasks).

### Roles and responsibilities

- [x] Divvy up the broad tasks
   - Go Global:
     - Look and Feel + theme
     - Website
   - Connecting Leaders:
     - Event experience / space
     - Schedule app / proposals
     - Suppo

[2016-07-27 17:08] xmatthewx commented on #12
Nope. You and I should do it in collaboration with @edrushka and Marc. I don't think I have all the info required in my brain.

[2016-07-27 17:33] edrushka commented on #12
Marc has a list going here: https://github.com/MozillaFoundation/Mozfest2016_production/issues/23#issuecomment-234269137

[2016-07-27 17:34] edrushka commented on #12
Ooops - deleting. This was for the JD, not the list of possibles.

[2016-07-27 17:46] edrushka commented on #12
Any chance we could complete this task this week? That way we can start assessing some of the shortlist from #23 next week. I can do a first draft Thursday if that helps.

[2016-07-27 19:53] hannahkane opened #41 "Establish possible look & feel directions"
Deliverable is a few different collections of images, each representing a possible direction

[2016-07-27 19:55] hannahkane opened #42 "Draft MozFest styleguide"
This is the guide the contractor will use for all of their work

[2016-07-27 19:59] hannahkane opened #43 "Mozfest website onboarding for engineers"
@mmmavis to onboard @alanmoo so that we can distribute responsibility for the site!

[2016-07-27 20:04] hannahkane opened #44 "Choose a theme!"
We need to choose a theme that can be shared with attendees, and used to inform event and production design. (For reference, last year's theme was "Shape the Web.")

[2016-07-27 20:08] xmatthewx commented on #12
@edrushka – it would be very helpful to have a draft from you, even if it has big blanks for us to fill in re: design specific things. You've done many more of these contracts than us.

[2016-07-27 20:30] marcwalsh commented on #23
Another potential: [Mark Forrest](www.markforrestdesign.com/)

[2016-07-27 20:33] marcwalsh commented on #40
@xmatthewx - When is the meeting on Friday, would it help if I jump in on it also?

[2016-07-27 20:36] xmatthewx commented on #40
Probably so @marcwalsh. It's currently scheduled for 2:30pm EDT, which might be too late for you.

[2016-07-28 17:06] kristinashu commented on #23
Thanks for these @marcwalsh!

I've stated a spreadsheet with a few notes and comments. Please add any thoughts you might have.

https://docs.google.com/a/mozilla.com/spreadsheets/d/1LS_rG6ulLF2_l9Iy9ViZx80h3SPfW3IKgfYaBibfY1o/edit?usp=sharing

cc @xmatthewx

[2016-07-28 19:26] edrushka commented on #12
Here's a [draft scope of work] (https://docs.google.com/document/d/19cMw9HaFoUPC_hGr9ZZwrMfPCsRo8l5crkCjwHVO_Ec/edit). @marcwalsh please review and add any other tasks you think should be included.

[2016-07-28 19:59] edrushka commented on #40
@marcwalsh I'll schedule something for next week for a London-friendly time.

[2016-07-28 21:03] Saallen commented on #12
Hey
 jumping in and adding my two cents to the doc
🌺

[2016-07-29 12:11] marcwalsh commented on #40
That would be awesome, I wouldn't be able to make 2:30EDT today. :)

[2016-07-29 20:06] edrushka commented on #44
cc @KevZawacki and @KGorr - I'll book the 3 of us a block to brainstorm!

[2016-07-29 20:56] Saallen commented on #44
👍

[2016-07-29 21:43] edrushka commented on #44
Here's a brainstorming doc: https://docs.google.com/document/d/1mE8CO4h4BsMvssFqMps3BGKQYrQt8jReyg4DR1di3nM/edit

**Give us your best 3-5 word tagline for MozFest 2016!**

cc @Saallen @chrislarry33 @HPaulJohnson @brettgaylor @ldecoursy

[2016-07-29 23:57] edrushka commented on #32
Hey! Would love to discuss swag and limiting our environmental footprint. See page 19 of the [Moodboards] (https://drive.google.com/a/mozillafoundation.org/folderview?id=0B2irLVDJivhLMnRqc0ZzX0NfTzQ&usp=drive_web&tid=0B2irLVDJivhLQkEtXzJodDhHSTA) that Sabrina and Kristina have been working on. Some of these options could reduce the need for water bottles, tote bags etc.

[2016-07-30 00:00] edrushka opened #45 "Write junior designer job description"
Based on the Scope of Work in #12, I've done a first draft of the job description.

@xmatthewx @kristinashu can you review? Then we can hand to @marcwalsh to post at Ravensbourne.

https://docs.google.com/document/d/1pEUAf8jzXdIJEV2MEYrS5krlLflWSbbtVCLJRqQStDE/edit#heading=h.lkbglj5wd9fx

[2016-08-01 14:20] ldecoursy commented on #44
Added a few ;)

[2016-08-01 20:18] xmatthewx commented on #12
All the details look great in this and the job posting.

[2016-08-01 21:10] Saallen commented on #12
I am worried that wayfinding design and execution will clash with slide design and retouch the week preceeding the festival.
 Last year the team we hired to cut the vinyl worked until very late both nights pre festival. They worked exclusively on wayfinding and implimentation, and the timeline was tight. I know we want to be able to design the wayfinding piece earlier but it is a massive piece of

[2016-08-01 21:13] xmatthewx commented on #12
Yes. We could work on the slides. I recommend that we focus on a strong template, rather than specific content (for people than other MarkS).

[2016-08-01 21:17] Saallen commented on #12
Totally agree- content should not be our responsability apart from Mark.
One solid template, that other people work within - thx

[2016-08-02 13:39] alanmoo commented on #43
@mmmavis I'm pretty sure we've got this covered, right? Unless there's any other special things I need to know.

[2016-08-02 13:48] Saallen commented on #30
Update- we have started the vendor review system again due to worries over the last vendor
We are now looking at Peoplechecker

[2016-08-02 16:00] edrushka opened #46 "Change template message for new issues"
On the Program 2016 repo, please change the template when people create new issues to:

**The call for proposal is now closed.**

Please do not submit new session proposals directly through Github as they will not receive the unique identifiers required for the curation process and inclusion in the final schedule.

Please contact the festival production team at festival@mozilla.org if you have que

[2016-08-02 16:00] edrushka commented on #46
cc @marcwalsh @Saallen will this do? Let me know and I'll assign to Mavis.

[2016-08-02 16:35] kristinashu commented on #45
Looks great to me!

[2016-08-02 17:31] edrushka commented on #45
I'll bring this up in today's stand, but I've incorporated all the feedback so it looks like we're almost good to go. If anyone has further thoughts, weigh in now!

[2016-08-02 17:41] mmmavis commented on #43
@alanmoo yup yup! Thanks @alanmoo 👍 If we need to remove proposal related code I'm happy to do that / help since that chunk of code is not that well organized 😅

[2016-08-02 17:41] #43 closed

[2016-08-02 18:09] Saallen commented on #46
That looks great to me
S

[2016-08-02 18:16] alanmoo commented on #43
I'm not concerned about that-we might need it again next year

[2016-08-02 18:21] edrushka commented on #46
@mmmavis can you change the template when you have a minute? Thanks!

[2016-08-02 20:02] mmmavis commented on #46
Done! https://github.com/MozillaFoundation/mozfest-program-2016/issues/new 🌹

[2016-08-02 20:02] #46 closed

[2016-08-02 20:11] edrushka commented on #45
@marcwalsh We're ready to post this. Deadline for applicants is August 12, but we'll review as they come in (i.e. don't wait until the deadline to apply). Need a brief CV and link to portfolio.

Thanks!

[2016-08-03 00:07] edrushka commented on #17
Update: met with Sam, Sara, Paul and Melissa today to discuss experiential design at MozFest. Notes here: [Interactive installations at MozFest] https://docs.google.com/document/d/1-Oe9TcL6TraYmQTsxVpYx6HZH9nIYVpCMh-EJIq8-yM/edit?ts=57a0cbc1

The design firm Todo will be representing the issues through an interactive experience tbd in Sept.

Closing this for now. Will re-file if a more tangible pi

[2016-08-03 00:07] #17 closed

[2016-08-03 00:08] edrushka commented on #16
Update: meeting with Mark S (hopefully) in the next week or two to determine if any changes need to be made prior to the festival other than the light visual update we discussed.

[2016-08-03 00:17] edrushka commented on #11
I'm going to mark this as closed since I feel we've covered this both on the assets spreadsheet and in the Junior Designer's scope of work #12.

To summarize: Sabrina will develop the 2016 Style Guide and key graphic assets. The Junior designer will assist with more of the production-based work.

It's worth re-stating for the record that although we've listed design and installation of wayfinding

[2016-08-03 00:17] #11 closed

[2016-08-03 00:20] edrushka commented on #13
We're going to start with Ravensbourne. If that doesn't yield results by Aug 10 we'll post more widely.

[2016-08-03 00:28] edrushka commented on #32
@marcwalsh I booked a call on Thursday to chat about this.

[2016-08-03 12:53] Saallen opened #47 "Shortlisted three portfolios"
Overview issue to track where along the process we are for nominating a designer

* - [ ]  Step one Mark uploads all CVs
* - [ ] Review cv and shortlist by
    - [ ] @kristinashu
    - [ ] @xmatthewx
    - [ ] @sabrinang
- [ ] @kristinashu interviews candidate
- [ ] Review with larger team
- [ ] Nominate Junior designer

[2016-08-03 12:57] Saallen opened #48 "Scope of work for Live streaming"
Scope of work for live streaming in the  Dialogues and Debates rooms

Responsable folks are @KevZawacki with support from @marcwalsh
Mark has started and will upload here asap

Responsable for scope of work for post production work by this broadcaster is @edrushka

Please keep @edrushka  & myself in theda loop

[2016-08-03 13:05] Saallen opened #49 "Build video brief for videographer team"
Brief needed for Video for 2016

- [ ] Share the MozFest story
- [ ] Key elements to capture
- [ ] Updated look from 2015
- [ ] Use as pitch reel

cc @edrushka

[2016-08-03 13:10] Saallen opened #50 "Tech Production sponsor"
Write up shortlist of incentives for tech sponsors

[2016-08-03 15:41] edrushka commented on #49
Going to put a due date of Aug 19 for a first draft on this, assuming I can connect with Mark S before then.

[2016-08-03 20:18] Saallen opened #51 "Space Considerations for D&D"
There will be 15 speakers over 5 events between 40-60 mins in lenght

* Video format to be slick and thus large production elements
* Taking place in an intimate space but one that is visable and open
* Sense of ambiance, drawing participants in through curosity rather than broadcast
* Allowing for noise to filter out attracting people in
* 50-100, but with no more than 70 seated

[2016-08-03 20:21] Saallen opened #52 "Installation pieces for MozFest 2016"
First draft of independant installation pieces that will require space allocation within the building

* Hololab by doubledown &WebGl
* Moz ex with potentially 50 exhibits
* Research Wall and Maze 10 sq foot
* Beacon intergration
* ToDo concept

[2016-08-03 20:39] edrushka commented on #48
I'll assign myself here as well. Meeting with MoCo for an exploratory discussion on where the videos might eventually live, which may influence this scope of work.

[2016-08-03 20:42] Saallen commented on #48
Beautiful

[2016-08-03 20:43] Saallen commented on #49
@edrushka  Do you want last years brief to help form the new one for Dosed?

[2016-08-03 20:50] edrushka opened #53 "Scope long term hosting of D&D videos"
In addition to live streaming the D&Ds (ticketed here #48), we need to explore the long term application(s) for these videos.

Possibilities could include:
- State of the Web 2017
- Re-designed Moz.org website
- MozFest website
- Dedicated youtube channel

We're meeting with MoCo to get further information on plans for moz-owned websites (e.g. Mozilla.org). Following that, we can create a specific

[2016-08-03 20:54] edrushka commented on #49
I've got it already!

Waiting until we have the MozFest website chat with Mark next week before I start work on this.

[2016-08-04 09:30] marcwalsh commented on #49
@Saallen @edrushka - Would it be worth looking into other ways to tell the story apart from just a highlights video. Maybe one per day, or also some 15 second clips / mini-interviews that we can drop throughout the push for 2017?

[2016-08-04 14:57] edrushka commented on #49
Absolutely, yes. I don't think we can simply repeat what we've done in years past, given than changes are afoot for the festival. Let's have a chat about fresh ideas before we draft the SOW.

[2016-08-05 01:06] edrushka opened #54 "Create list of github handles for all Space Wranglers"
Doing this here in a locked GDoc for privacy. We can use this doc later to build out the SW bios. Ping if you need access.

https://docs.google.com/spreadsheets/d/100wmCld-YGysLHCpzYgovwctJkezPqQgFcOJ65mjyUk/edit#gid=0

@Saallen there are a number missing. Can you help track these down before the next SW call? cc @marcwalsh

[2016-08-05 01:09] edrushka opened #55 "List key milestones that will affect design"
@Saallen @marcwalsh This is rough. Please help me build out so we can share with design team, as they have requested this.

Aug 1 - Call for proposals closes

Aug ? - Wrangler bios due for festival guide

Sept - Curation closes

Sept ? Physical spaces assigned in Ravensbourne

[2016-08-05 13:43] Saallen commented on #55
Hey

Aug 1 - Call for proposals closes

Aug 31st - Wrangler bios due for festival guide

Sept 5th - Curation closes and list of facilitators available for festival guide if needed

Physical spaces assigned in Ravensbourne- We need to understand each each Spaces requirements and session numbers before we allocate. Then we fit our production elements around these allocations, then tempory installati

[2016-08-05 14:51] Saallen commented on #54
hEY @edrushka
everyone on this list has been asked to send over their github names so if we dont have them they choose not to send them as they are not on github or are not part of the curation piece
I did notice one or two folks who I know do have handles so will  ping

[2016-08-08 16:57] sabrinang commented on #14
The moodboards have been narrowed down to four and can be found here: https://goo.gl/6F895N and it will inform ticket https://github.com/MozillaFoundation/Mozfest2016_production/issues/44 and https://github.com/MozillaFoundation/Mozfest2016_production/issues/41

[2016-08-08 16:57] #14 closed

[2016-08-08 16:58] xmatthewx commented on #12
This is done

[2016-08-08 16:58] #12 closed

[2016-08-08 16:59] xmatthewx commented on #13
Listing with Ravensbourne. Open new ticket only if needed.

[2016-08-08 16:59] #13 closed

[2016-08-08 17:02] xmatthewx commented on #45
Job description done. Yay.

[2016-08-08 17:02] #45 closed

[2016-08-08 17:04] xmatthewx commented on #40
Items in this meta ticket have been completed or filed. Closing this.

[2016-08-08 17:04] #40 closed

[2016-08-08 17:05] xmatthewx commented on #41
This is done and will be communicated today.

[2016-08-08 17:05] #41 closed

[2016-08-08 20:51] edrushka opened #56 "Collect Space Wrangler Bios"
Need for each SW:
- photo
- Bio (we need a max word count)
- twitter handle
- blog (if applicable)

We can compile these on the [Github handles doc](https://docs.google.com/spreadsheets/d/100wmCld-YGysLHCpzYgovwctJkezPqQgFcOJ65mjyUk/edit#gid=0).

cc @Saallen @marcwalsh

[2016-08-08 20:52] edrushka opened #57 "MoFo dev & design plan for Aug 19 Heartbeat"
Here's what we'll do this heartbeat:
#### MozFest Look & Feel ( Sabrina / Go Global to lead)
- [x] Week one is expansive. Create application examples (stage design and festival guide cover design) using our chosen moodboard. (Sabrina)
- [x] Week two we'll contract.  Converge ideas and get closer to refined direction. Next heartbeat we'll document and apply to other key assets (Sabrina)
- [x] Scope

[2016-08-08 20:58] edrushka opened #58 "Scope printed Festival Guide"
We need to discuss content, which will determine format.

Kickoff meeting booked for Thursday Aug. 11

[2016-08-08 21:01] edrushka opened #59 "Prepare contract for junior designer"
Use the [Scope of Work](https://docs.google.com/document/d/19cMw9HaFoUPC_hGr9ZZwrMfPCsRo8l5crkCjwHVO_Ec/edit) and [Job Description](https://docs.google.com/document/d/1pEUAf8jzXdIJEV2MEYrS5krlLflWSbbtVCLJRqQStDE/edit#heading=h.lkbglj5wd9fx) to prepare a contract with Ops.

@Saallen assigning to you but pls loop Marc and or myself in, since you'll be on PTO for part of Aug.

[2016-08-08 21:10] edrushka commented on #57
cc @xmatthewx @hannahkane @sabrinang @kristinashu @alanmoo @mmmavis @Saallen @marcwalsh

[2016-08-08 21:42] #55 closed

[2016-08-08 21:43] edrushka commented on #53
Notes from today's meeting with Greg & Janis from MoCo: https://public.etherpad-mozilla.org/p/mozfest2016_keyissues_videos

[2016-08-08 22:23] edrushka commented on #51
Based on convo with Mark and Sarah's Aug 5 email, we'll develop a two-option proposal for Mark offering a) Walker Space and b) a more intimate classroom space for 30 participants.

Other elements to potentially incorporate:
- part of Todo's installation
- live broadcast around London

[2016-08-08 22:36] edrushka opened #60 "MoFo comms & marketing plan for Aug 19 Heartbeat"
Similar to #57 I'm going to start writing meta-tickets for our comms and marketing work to keep track of a few pieces. Let me know if these are annoying!

Here's what we'll do this heartbeat:
#### D&D ( Kevin to lead)
- [x] Meet with MoCo to discuss D&D videos post-festival #53 (Erika, Kevin & Paul)
- [x] Present Mark S. with 2 options for spaces #51 (Kevin)
- [ ] Upon Mark's approval, inform Todo

[2016-08-08 22:46] edrushka commented on #60
cc @Saallen @KevZawacki @HPaulJohnson @KGorr @marcwalsh

[2016-08-09 16:38] xmatthewx commented on #12
@secretrobotron - link above to the scope of work for your enjoyment and reference

[2016-08-09 16:39] xmatthewx commented on #45
@secretrobotron for your reference. contractor job description finessed by Erika based on the one i did for our full time design job posting.

[2016-08-09 16:45] xmatthewx commented on #23
Everyone – Bobby is building a list of potential contractors and a refined system for engaging with them on projects. He's visiting this thread as an observer.

@secretrobotron - We're specifically looking for a London based designer to handle production projects, starting with people connected to Ravensbourne. You can track our review of people in #47 to see if anyone might be useful for other pr

[2016-08-09 17:55] edrushka commented on #23
Bobby the observer.

![spy](https://cloud.githubusercontent.com/assets/4515662/17527097/d5410ef8-5e1e-11e6-81f9-1eb70dc99e43.gif)

[2016-08-09 18:20] edrushka opened #61 "Align marketing planwith Rizwan and MLN"
Ensure our Influencer Outreach in the [Marketing Plan](https://docs.google.com/document/d/18F6tazG8I1b5CZz38EWxYBEZKmzTTk2X7KNFEAihgm4/edit) aligns with the incentives work Rizwan is doing with MLN.

Step one: I'll book a meeting with Rizwan.

[2016-08-09 19:22] edrushka opened #62 "Identify a list of 500 “must-have” influencers to invite"
Create a list of 500 "must-have" influencers to invite to the festival.

Need:
- [x] media suggestions from @KevZawacki
- [x] festival partner suggestions from @Saallen
- [ ] crowd-sourced suggestions from hubs

Then we'll reach out with personal appeals via email and social.

[2016-08-09 19:58] xmatthewx commented on #58
Dates that impact design:
- Aug 1 - Call for proposals closes
- Aug 31st - Wrangler bios due
  - approximate number of wranglers?
  - details we might include in guide?
- Sept 5th - Curation closes and list of facilitators available
  - approximate number of facilitators?
  - details we might include in guide?
- Mid October - physical spaces assigned
  - Too late for guide

[2016-08-09 20:04] kristinashu commented on #23
@marcwalsh any luck scheduling an interview with Jessica?

Could you also please share any portfolios you've received so far from the Ravensbourn posting?

[2016-08-09 20:47] edrushka commented on #58
Here are all the wranglers' details: https://docs.google.com/spreadsheets/d/100wmCld-YGysLHCpzYgovwctJkezPqQgFcOJ65mjyUk/edit#gid=0  There's 32 of them.
Approximate # of facilitators is 300-350
Not sure what details we'll include in the guide. Will scope that in Thursday's meeting.

[2016-08-09 20:53] sabrinang opened #63 "Clarify Stage Setups for Design"
There will be two stages to consider:

**Main Stage (Big Space - Level 4)**
The main stage may not be the main focus this year as talks will be done on the D&D stage.

**Dialogue and Debates Stage (Walker Space - Level 0)**
The talks will be given from this space and videos will be streamed and recorded from here. It’ll be a good opportunity to think about how branding shows up in video frames too

[2016-08-09 21:06] edrushka commented on #63
cc @Saallen @KevZawacki @marcwalsh we'll need to define what setups we want in both spaces, and which assets (if any -- e.g. banners, podiums) can be used in both.

[2016-08-10 00:12] edrushka opened #64 "Map post-festival emails"
As part of the [Marketing Plan](https://docs.google.com/document/d/18F6tazG8I1b5CZz38EWxYBEZKmzTTk2X7KNFEAihgm4/edit), let's map out what emails should be included after the festival ends.
1) email to all attendees celebrating the weekend and thanking them for participating (sent Sunday night or Monday)
2) a survey of the experience
3) content from the festival they may have missed, like D&D video

[2016-08-10 10:57] Saallen commented on #64
For me on the most important pieces will be the stay involved. We will be creating a way to share projects and notes- yet to be confirmed but here is the best place to encourage the participation, ongoing connections and continued sharing-
Folllowing SRCCONS example I would also love to encourage sharing of blogs, write ups notes etc
SRCCON text

[2016-08-10 11:14] Saallen opened #65 "Sharing the Mozillian Ticket on the Project call"
@edrushka - are you up for it? Confirmation dependant- you could join this weeks project call, announcing free sign up and sharing the link? https://ti.to/Mozilla/mozfest-2016/with/ovjh-kf9hpy

Then in a week @marcwalsh - you can share the how to travel as a MoCo email??

We should do this sooner rather than later but the events calendar is pretty choco so I am talking to   Mardi & Brianna ala Haw

[2016-08-10 11:38] KevZawacki commented on #63
@edrushka My initial thinking is branding on both stages should match. But, we should invest more heavily in the D+D space.

[2016-08-10 11:46] KevZawacki commented on #64
This list looks good to me. @KGorr, want to add these to our email calendar document?

[2016-08-10 12:06] Saallen commented on #63
I loved the background from last year- so that strong statement is slick and a good tie between the two spaces- I am going to suggest no podium.
**Mainstage**
The main stage will be only up and running for 30 mins each day so I imagine one large screen or 2x 80inc, maybe a comfort monitor is enough. Open to reducing in size
When there is no activity here I will repurpose the screen for the Art exh

[2016-08-10 12:08] marcwalsh-zz commented on #33
Three options are available here:

Similar to the 2014:
https://www.yourproductsbranded.co.uk/?q=flexbottle

Aluminum bottles:
http://www.totalmerchandise.co.uk/products/details/350ml-Aluminium-Sports-Bottles
or
http://www.totalmerchandise.co.uk/products/details/500ml-Aluminium-Sports-Bottles

[2016-08-10 12:22] marcwalsh-zz opened #66 "Find Vinyl Supplier"
Looking into a vinyl supplier who is able to provide printed and cut vinyls for wayfinding etc.

[2016-08-10 12:23] KevZawacki commented on #63
@Saallen I think we should plan on having a screen for D+D -- some speakers may want to use slides.

[2016-08-10 12:29] marcwalsh-zz commented on #66
**Pixart Printing:**
- [Removable Adhesive](https://www.pixartprinting.co.uk/wide-format/printing-self-adhesive-pvc/wall-adhesive/?utm_source=clienti&utm_medium=dem&utm_content=One_Shot&utm_campaign=25_09_2015_0349) - Can be re-positioned and removed and also cut to shape. Very cheap also!
- [Static Attached](https://www.pixartprinting.co.uk/wide-format/printing-self-adhesive-pvc/window-clings/?ut

[2016-08-10 12:33] marcwalsh-zz commented on #30
Update - Matt W is now in contact with the new possible vendor and the check is in progress.

[2016-08-10 12:37] marcwalsh-zz commented on #34
Notepads are available through two suppliers:
- [PixArt Printing](https://www.pixartprinting.co.uk/digital-litho-printing/office-products/customised-notebook/) - These have a full color print on the outside and then 90gsm ivory paper on the inside and are 60 pages and sewn bound.
- Aspect Press (Local Printers) - Can print either stapled or sewn notepads.

Cost comparison spreadsheet link will be

[2016-08-10 12:47] marcwalsh commented on #23
@kristinashu - I've added comments onto the portfolios as well as for Jessica.

[2016-08-10 12:51] marcwalsh-zz commented on #23
@kristinashu - Jessica is currently working full time at an internship, so is unsure about time commitments. I'm gathering some more as well as doing some research into alumni that I can contact.

[2016-08-10 12:57] marcwalsh-zz commented on #23
- [Nihal Shah 1](https://www.behance.net/Nihalshah) & [2](https://www.instagram.com/_BreakTheFoundation_/)
- [Oliver Jordan](http://www.oliverjordandesign.com/work)
- [Ed Yau](http://edwardyau.co.uk) - Ed is currently working full time however he has said he would pair with another freelancer who would be able to assist with the install. I have previously worked with Ed when I ran The Degree Show

[2016-08-10 13:08] marcwalsh-zz commented on #63
I'd go for a screen or projection in the background of the shot, and having a still designed if there are no slides. I would suggest a comfort monitor is essential for slides and for timings. It means the speaker will not start turning around to check the slide they are on etc and it allows us to show a visual cue to wrap up a talk if needed - especially if we're looking at streaming externally we

[2016-08-10 13:14] marcwalsh-zz commented on #24
I have contacted two companies as well as asking for a quote in house from Ravensbourne.

The two companies are
- [Haus Pictures](http://hauspictures.com/)
- [Dosed](http://www.dosed.co.uk)

We are also looking to see if this can be kept entirely in house and using Event AV kit as well as MoCo production staff.

[2016-08-10 14:07] KGorr commented on #64
Great! Added to the email calendar [here](https://docs.google.com/spreadsheets/d/1GLRzGDa2EDVhcdcTGpNmHlY12CrPk88Skl7ybUrxIrY/edit#gid=1086948807). I added send dates, but feel free to suggest other times.

[2016-08-10 14:25] marcwalsh-zz commented on #38
A venue tracker is available [here](https://docs.google.com/a/mozilla.com/spreadsheets/d/1oF1jPNi12txl_hVPE14X-kt1puqkT9GlrES_7f3QJnE/edit?usp=sharing)...

[2016-08-10 17:40] kristinashu commented on #23
Thanks, I've added them to the spreadsheet along with a few notes.

cc @sabrinang

[2016-08-10 18:08] edrushka commented on #63
My only pitch for a podium is that it gives us a chance to integrate some Mozilla/MozFest branding that's separate from the large stage backdrop.

For the archived D&D videos, we definitely want some consistent Mozilla branding. If this can be integrated into the stage backdrop, that works too.

[2016-08-10 18:13] edrushka commented on #64
@KGorr when does it make sense to start drafting these? The survey, in particular, would be good to have ready well in advance but my goal would be to have everything sent in the 4 weeks after the festival written and approved ahead of time. Traditionally, everyone collapses for a while after MozFest, plus the production team takes some time off. I realize August is a bit early ;) so just let me k

[2016-08-10 18:30] marcwalsh-zz opened #67 "Organise Shipping for International Items"
- [ ] Create shipping form for international deliveries onto site
- [ ] Confirm delivery dates with Ravensbourne

[2016-08-10 20:07] KGorr commented on #64
@KevZawacki and I discussed it this morning. It's on our to-do list for October. Does that work for you?

[2016-08-10 23:08] edrushka opened #68 "Festival Guide content"
This is the meta-bug for collecting the MozFest 2016 Festival Guide content

[2016-08-10 23:08] edrushka opened #69 "Design Festival Guide: Concept - Deadline Sept 13"
This is the meta-bug for the MozFest 2016 Festival Guide design.

[2016-08-11 11:33] KevZawacki commented on #60
Our two space proposals are in front of Mark. I've also requested he begin sending out invites. Will keep all posted!

[2016-08-11 15:21] edrushka opened #70 "Session timings"
**Saturday**
- 9:00-9:30 main stage
- 10:00 -11:00 Session 1
- 11:15- 12:15 Session 2 and D&D 1
- 12:30 -13:30 Session 3
- 12:00- 14:00 Lunch
- 13:00 - 13:45 Sessions 4 and D&D 2
- 14:00-15:00 Sessions 5
- 15:15- 16:15 Sessions 6 and D&D 3
- 16:30- 17:30 Sessions 7
- 18:00 Evening activities begin

**Sunday**
- 09:30 - 10:45 MozFest Breakfast
- 11:00 - 12:00 Session 8
- 12:15 - 13:15 Session 9 and

[2016-08-11 15:22] edrushka commented on #68
Timings/schedule for Saturday and Sunday: #70

[2016-08-12 11:04] Saallen opened #71 "Creating sponsorship package"
We are looking to connect with a company who can sponsor materials for our Iot space and sessions.

Needed- tier system of sponsorship levels to offer to potential partners as incentives to sponsor and be part of the festival for 2016

Action- @marcwalsh has short listed some potential companies for us to approach and he will take the first darft of tiers for activation

Here is 2013 [sponsorship

[2016-08-12 11:11] #54 closed

[2016-08-12 11:20] Saallen opened #72 "Create scope of work for Photographer"
We are going to use Paul Clarke once again as our photographer for MozFest

@edrushka can you please review scope of work from 2015 and let @marcwalsh know if there are any updates required. cc @marcwalsh

**Overall package -**
Full coverage of festival over the three days
providing any post-shooting selection and editing
Includes additional photographer
Uploading of photographs under creative com

[2016-08-12 11:44] marcwalsh-zz commented on #72
@edrushka and @Saallen - I've copied the 2015 scope of work into a new document, do we all want to suggest edits on there.

I'll share you in on it now.

[2016-08-12 14:32] Saallen commented on #67
I am not 100% convinced about this,.....

[2016-08-12 14:34] Saallen commented on #56
I have been thinking about the pictures and I think they should show a bit of personaility- MozFest is not like other festivals, its a place to come learn and play- I think this should be reflected in those photos- so No dog or squgily lines but also not corporate serious pics

[2016-08-12 15:02] Saallen opened #73 "Firefox tile for MozFest.org"

[2016-08-12 16:11] marcwalsh-zz commented on #73
If it's possible again this year, I can't see why not. I'm sure it boosted visitors massively when I looked on ti.to after it went live last year!

[2016-08-12 16:13] marcwalsh-zz opened #74 "56"

[2016-08-12 16:13] #74 closed, assigned to nobody

[2016-08-12 17:27] Saallen opened #75 "Create timings slot for Prototyping lab"
A few spaces will need access to the lab
so will need a basic time slot so spaces can slot in session times

[2016-08-15 16:30] edrushka commented on #56
+1 to showing personality in photos. I think the key thing is consistency in sizing so it will look good in print. As long as the photo can be cropped to passport-style (i.e. face fills the frame), it's fine by me. The photos on the [Festival Team](https://mozillafestival.org/team) page are good examples  (except for mine - ha!)

[2016-08-16 15:45] edrushka commented on #56
Here's the notes from the Festival Guide design brief:
- Space wrangler bios (there are 32)
- Name, Madlib: Does X at Y
- EX: Luca bridge youth and digital art at Tate Modern
- No job title/roles -- descriptive instead.
- No handles, blog links etc. Just descriptive text
- Photos can be nice, clear headshots (like passport) (collect these tomorrow)

To Do: Write an example

[2016-08-16 16:05] edrushka commented on #44
Closing, as we have chosen 'One Web'.

[2016-08-16 16:05] #44 closed

[2016-08-16 16:07] edrushka commented on #62
Checking in on this. @KevZawacki are you on track to deliver the media suggestions by end of week? @HPaulJohnson can you draft a crowd-sourcing ask for the hubs? There's an MLN call this Thursday, so would be good to add it to the agenda cc @ldecoursy

[2016-08-16 16:40] edrushka commented on #60
Walker Space confirmed as home for D&Ds. Asked Paul & Sam to talk to Todo about housing their installation there.

[2016-08-16 16:51] KevZawacki commented on #62
@edrushka Yep, I can build a London media influencer list before EOD Friday.

@HPaulJohnson MoCo's EU comms team would have great ideas to contribute, too. But, we're asking a lot of them right now for copyright -- I'm hesitant to add another ask. Once we're into mid-September, we should loop them in.

[2016-08-16 16:56] marcwalsh-zz commented on #23
@kristinashu Ed has proposed to work with [Carrie-Ann James](http://carrieannjames.com/) on the project. Would be great to get feedback on here also and if we would want to move forward with both of them.

[2016-08-16 17:22] edrushka commented on #62
Sarah's festival partners list: https://docs.google.com/spreadsheets/d/1QcoqOiMa_z8AcCuJaUgLNNC-xeVWbbXImg2yWvS-ugY/edit?ts=57ae0f1a#gid=0

[2016-08-16 18:10] edrushka commented on #48
@KevZawacki I'm helping Marc scope this in more detail so we can approach contractors. For the live-streaming element (not the archived videos), do we want to live stream on Facebook, or just on the MozFest website? I don't think we came to a firm decision in the meeting with Moco.

[2016-08-16 18:31] KevZawacki commented on #48
@edrushka Facebook as option 1, since we have the largest audience there. I believe the tool we'd use is Facebook Live.

YouTube or our website as back-ups.

[2016-08-16 21:30] hannahkane commented on #16
Do we have a scope for this yet? Would be good to know now for planning upcoming heartbeats.

[2016-08-16 21:42] edrushka commented on #16
#onit. Hope to have the broad strokes by end of this heartbeat.

[2016-08-16 23:55] edrushka commented on #56
A few different bio styles:

**Previous job madlib.** Example from [LitHop 2016](https://lithopfresno.wordpress.com/writers-bios/):
- Paul Aloojian was born and raised in Fresno. He studied modern dance at Fresno City College, philosophy at UCLA, and earned a B.A. in English from California State University, Fresno in 1970. He has worked as an emergency mountain fire fighter, a grocery clerk, and

[2016-08-17 00:07] edrushka commented on #56
My favourite are the bios from the Rock and Roll writers festival. I like the one-line 'official job title but in plain English'. We could follow that with something the person is interested in learning/doing/seeing at MozFest e.g.

ErikaD
I coordinate some of the programmatic bits and pieces at MozFest.
As a tinfoil hat-wearing part-time technophobe, I want to know if there's a single 'thing' tha

[2016-08-17 00:07] edrushka commented on #56
Incidentally, @Saallen, this site also features photos how I was trying to explain above: any style, but same cropping:
![screenshot 2016-08-16 17 02 57](https://cloud.githubusercontent.com/assets/4515662/17719989/62f784d4-63d3-11e6-9d0f-e96294759cd7.png)

[2016-08-17 16:19] edrushka commented on #56
cc @KevZawacki

[2016-08-17 19:13] KevZawacki commented on #56
@edrushka My vote:

Tweet-length Example from SXSW

Mary Lou Jepsen / SXSW Featured Speaker / Virtual Reality impresario leading a concerted effort to bring VR to the next level at Facebook/Oculus VR and formerly Google X.

[2016-08-17 19:15] HPaulJohnson commented on #62
Created a spreadsheet (currently empty) where we can start compiling this list:

https://docs.google.com/a/mozilla.com/spreadsheets/d/1XFZtwqQy_Eo2CRaNbC4pMiMUPPIAadq76YGhkoqnCJ4/edit?usp=sharing

We can share this with MLN on weekly call and then I will compile everything into a single list. Might need one additional week to crowd source enough names.

[2016-08-17 23:06] edrushka commented on #16
Here is a [high level overview of the proposed changes](https://docs.google.com/document/d/1HQkzvdWCcTxnFOWlL-6gPrM4xtIivZwo0b7DINnM9ZU/edit#).

This needs some discussion, as we've increased the scope slightly by adding the video live-streaming and/or archiving element(s). @hannahkane and @KevZawacki we should chat with @simonwex about the technical requirements and restrictions here. That will h

[2016-08-17 23:08] edrushka commented on #16
@marcwalsh @Saallen please review.

cc @xmatthewx for design awareness

[2016-08-18 14:22] KevZawacki commented on #62
@HPaulJohnson @edrushka Media contacts added to Paul's spreadsheet. Mostly UK-based, with a few journalists from Germany, France, Ireland and Spain who might be up for the trip.

[2016-08-18 17:48] thornet commented on #71
Thanks, Sarah!

Here's a list of supplies we used in Scotland. Might be relevant when
thinking of what to source. Broadly, prototyping electronics and physical
making stuff.

https://drive.google.com/open?id=13EsljtphwmYrepshwkE4sqKyoAMXCQFyTn9-l0D5eOs

On Fri, Aug 12, 2016 at 1:04 PM, Sarah Allen notifications@github.com
wrote:

##

_Michelle Thorne_
Mozilla Foundation

@thornet
michelle@mozillaf

[2016-08-18 21:48] xmatthewx commented on #16
cc @alanmoo for dev perspective

[2016-08-19 00:42] xmatthewx opened #76 "Prepare Style Guide"
Plan for the upcoming heartbeat is set. @sabrinang will provide creative. @kristinashu will drive the structure with an eye toward communicating essentials for contractors.

This draft will include basics (i.e. type, wordmark, issues treatment, background text, background patterns). It will also include a demonstration of application to fest guide cover, stage backdrop.

Driver @edrushka
Accountab

[2016-08-19 00:53] xmatthewx opened #77 "Heartbeat plan for Mozfest schedule app"
Plan for upcoming heartbeat is set.

@mmmavis will begin setup of app instance for mozfest, triage a few bugs from the backlog, plan upcoming work, provide feedback on design feasibility.

@kristinashu will begin a UI refresh integrating some of our universal design elements. She will check with Mavis to identify easy wins and avoid an unwieldy scope.

Driver @edrushka
Accountable @xmatthewx (on P

[2016-08-19 01:13] edrushka commented on #59
Kristina and I will prep this as much as possible so Sarah can finalize on Wednesday.

[2016-08-19 10:36] marcwalsh-zz commented on #56
@edrushka - My votes is the Rock and Roll Writers Festival style, it feels a lot more personal.

[2016-08-19 10:41] marcwalsh-zz commented on #30
Privacy checks have been completed and passed. Passed to legal to sign off.

[2016-08-19 10:42] marcwalsh-zz commented on #27
Awaiting quote from Paul Clarke, he's currently on holiday until next week.

[2016-08-19 10:44] marcwalsh-zz commented on #24
We're also requesting a quote from Ravensbourne on this, as well as looking into working with MoCo equipment and crew / MoCo equipment and Ravensbourne crew.

[2016-08-19 10:47] marcwalsh-zz commented on #29
Blocked - Once Sarah is back from PTO we will changing the scope of work.

[2016-08-19 12:59] marcwalsh-zz opened #78 "Swag - Name Cards - Deadline Oct 11"
1600x A6 name cards, double sided printed on double layered 350GSM card.

[2016-08-19 13:38] marcwalsh-zz commented on #66
I've been recommended [Twist Print](http://twist-print.co.uk/) - Once we have confirmation I'll be able to get costing from them. However their turnaround time for what I'd estimate to be our needs would be between 24 hours and 2 days.

[2016-08-19 14:12] alanmoo commented on #16
Next up doesn't look too bad from a dev time perspective, maybe a day. Friends and Allies page is probably the bigger lift, though we'll see once it's designed.

[2016-08-19 15:38] marcwalsh-zz opened #79 "Beer!"
Looking for a local brewery to supply beer for the Science Fair and Demo Party...

[2016-08-19 20:48] kristinashu commented on #23
Contractors would like more context about due dates so I've started adding some info (dates and any github tickets we have) to our Mozfest Design Assets 2016 doc https://docs.google.com/a/mozilla.com/spreadsheets/d/1P4co4m11LE7hNQoM3xf0AgSEcl9KY-lrqcU-xINWEq0/edit?usp=sharing

@marcwalsh @edrushka @sabrinang please add any other info might have.

Also working on contract here https://github.com/Mo

[2016-08-22 12:46] marcwalsh-zz opened #80 "Swag - MozFest Stickers - Deadline Sept 16"
2500 - 3000 stickers, die cut - Min size is 5cm x 5cm.

[Supplier - Pixart Printing](https://www.pixartprinting.co.uk/printing-labels-tags/stickers/)

[2016-08-22 12:50] marcwalsh-zz opened #81 "Swag - Volunteer T-Shirts - Deadline Sept 16"
Design for #mozhelp volunteer tshirts.

Approx. 130 to be ordered in vairous sizes (to be confirmed by @SpikeUK - order date is early October)

Design needs to be given as A4 for chest print or A3 for full side printing.

[Supplier - Xamax](http://www.xamax.co.uk/100-gildan-coloured-t-shirt-free-print-offer.html) - Colour choices are available on the website.

[2016-08-22 17:29] kristinashu opened #82 "Onboarding design contractors"
Before they start:
- [x] clarify sign off process: all assets need sign off from Marc for print specs + from Matthew, Sabrina, or I for design (we need to decide who)
- [x] each asset needs a ticket with a milestones, background info, deadline, print specs, last years design for reference...
- [x] style guide https://github.com/MozillaFoundation/Mozfest2016_production/issues/76
- [x] set up kick o

[2016-08-22 17:42] edrushka commented on #82
I can help with this.

[2016-08-22 17:44] kristinashu commented on #82
Thanks! I think [this assets doc](https://docs.google.com/a/mozilla.com/spreadsheets/d/1P4co4m11LE7hNQoM3xf0AgSEcl9KY-lrqcU-xINWEq0/edit?usp=sharing) is a good check list of tickets we'll need and which heartbeat they'll fall into.

[2016-08-22 18:53] kristinashu commented on #77
Closing this ticket, progress can be tracked in the app repo https://github.com/mozilla/schedule-app-core/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22September+2%2C+2016%22

[2016-08-22 18:53] #77 closed, assigned to kristinashu, mmmavis

[2016-08-22 19:10] edrushka commented on #16
Hannah, Kevin, Wex and I met to discuss and prioritize. We're going to eliminate a separate page for Friends and Allies.

@hannahkane shall we close this scoping ticket and create separate tickets for the rest of the tasks? They are all fairly simple (most complicated is incorporating videos on landing pages as discussed in the meeting).

[2016-08-22 19:33] hannahkane commented on #57
@edrushka - okay to close this ticket?

[2016-08-22 19:34] hannahkane commented on #16
@edrushka - yes, please.

[2016-08-22 19:34] edrushka commented on #56
👍 I'll draft an ask for Space Wranglers. We need to start gathering this content!

[2016-08-22 19:36] edrushka commented on #49
Update: not planning to shoot a promo video at MozFest this year, so SOW will be much less. Visual highlights and some interviews. Just waiting for Sarah to get back from PTO to confirm.

[2016-08-22 19:47] edrushka commented on #53
@simonwex @KevZawacki - as discussed in today's meeting, during the festival we'll have the videos live-streaming on the landing page. After the festival, they will be archived on the landing page until the next major site re-design (sometime next year).

Note that the live-streams will not have bumpers (beginning and end cards with speakers names, MozFest logo etc.) We plan to produce an edited v

[2016-08-22 19:48] #57 closed, assigned to nobody

[2016-08-22 19:48] #16 closed

[2016-08-22 19:50] edrushka commented on #58
Content has been scoped here: https://docs.google.com/document/d/1Cz3kZSrwmvnaO8GDlTl8VTcvPjZ4TmjfVvaul8rhOvQ/edit#

[2016-08-22 19:50] #58 closed, assigned to nobody

[2016-08-22 19:52] edrushka commented on #64
👍

[2016-08-22 19:52] #64 closed, assigned to edrushka

[2016-08-22 19:55] edrushka commented on #62
@HPaulJohnson if you have an ask for the MLN team re: influencers to invite, we can email them. Should specify that they can email personally if they don't want to add the email to our spreadsheet.

[2016-08-22 19:55] #60 closed, assigned to nobody

[2016-08-22 22:12] #47 closed

[2016-08-22 22:16] edrushka opened #83 "MoFo comms & marketing plan for Sept 2 Heartbeat"
Here's what we'll do this heartbeat:
#### D&D ( Kevin to lead)
- [x] gather next steps for confirmed speakers
- [ ] determine vendor for live-streaming (Marc #24)
#### Marketing (Paul to lead)
- [x] Meet with Rizwan to align on language and identifying influencers (Erika to coordinate) #61
- [ ] Identify a list of 500 “must-have” attendees (Paul) #62
- [ ] Send request to MLN for influencers (Paul

[2016-08-23 03:53] SpikeUK commented on #81
Loved last year's design; with the two-colour printing (red+white) in dark blue background. Will we be having icons/symbols to represent spaces this year?

[2016-08-23 14:48] marcwalsh-zz commented on #71
I've created a draft doc [here](https://docs.google.com/a/mozilla.com/document/d/1j_f7irxbpyOFEwlqGxwlVSAhgMDi7rPnglGjBdI7-H0/edit?usp=sharing).

I've left out tiers as I think with in-kind sponsorship it's a little more difficult to fit everyone into tiers.

It's Moz Only Comment Access so please feel free to add any suggestions!

[2016-08-23 16:12] marcwalsh-zz commented on #79
I've found three suppliers, all are indies and they have a nice story behind them:
- [Southwark Brewing Co](http://southwarkbrewing.co.uk/)
- [Anspach and Hobday](http://www.anspachandhobday.com/)
- [FourPure](http://www.fourpure.com/)

I'm just awaiting quotes for each and will put them into a spreadsheet for comparison.

@Saallen they can have taste testing, so lets arrange a time when we can he

[2016-08-23 16:42] kristinashu opened #84 "Design social graphics for Twitter and Facebook - Deadline Oct 7"
#### Info:

About 6 different graphics resized for Twitter and Facebook. Images should feature this year's "One Web" tagline and style.

Style Guide: #76

Comms ticket: https://github.com/MozillaFoundation/Mozfest2016_production/issues/83
#### Last year's:
- Working files in Drive https://drive.google.com/drive/folders/0B20-0lpP23c0NFg3SmhlZ2M0c2s?usp=sharing
- GitHub ticket https://github.com/moz

[2016-08-23 16:48] kristinashu opened #85 "Design email graphics - Deadline Oct 7"
#### Info:
- CTA = Ticket sales, send to all
- MoCos only, Expectations. Sarah or Marc to send from Festival@ address

Related to Comms & marketing https://github.com/MozillaFoundation/Mozfest2016_production/issues/83
#### Deadline:
- Oct 7
#### Last year's:
- GitHub ticket https://github.com/mozilla/mozillafestival.org/issues/237

[2016-08-23 17:18] kristinashu opened #86 "Design template for keynote speaker slides - Deadline Oct 14"
#### Info:

Create a few background images. Will be very similar to #87
#### Last year's:
- GitHub ticket https://github.com/mozilla/mozillafestival.org/issues/286
- Working files in Drive https://drive.google.com/open?id=0B2irLVDJivhLcDItdFRvQ2xab0E

<img width="1075" alt="screen shot 2016-08-23 at 1 46 39 pm" src="https://cloud.githubusercontent.com/assets/1068783/17943227/5da29880-69ef-11e6-80a

[2016-08-23 17:22] kristinashu opened #87 "Design template for D&D slides - Deadline Oct 14"
#### Info:

New to this year. Most speakers will be on this stages instead of the main stage.

Create a few background images.

Template slide for:
- MozFest 2016 intro
- 5 issues
- speaker into
- example of image layout
- placeholder while someone is speaking and doesn't have slides
- thank you
- ...

Related to main stages slides https://github.com/MozillaFoundation/Mozfest2016_production/issues

[2016-08-23 17:27] kristinashu opened #88 "Design Space Icons"
#### Info:

Five new icons and might need to update icons set to match new creative direction.

The spaces are:
- [x] Digital Arts and Culture (new in 2016)
- [x] Journalism
- [x] Open Science
- [x] Open Badges
- [x] Fuel The Movement  (new in 2016)
- [x] Localisation
- [x] Youth Zone
- [x] Demystify the Web  (new in 2016)
- [x] A Tale of Two Cities: Dilemmas in Connected Spaces  (new in 2016)
- [

[2016-08-23 17:41] kristinashu opened #89 "Design Wayfinding: Floor vinyl and internal signage - Deadline Oct 11"
#### Info:

Based on epic ticket - Design Wayfinding #131

Design a flexible floor vinyl system for wayfinding, includes name, floor number, and direction.
### Need multiple vinyl signs for:
- [ ] Each Space (list of spaces https://github.com/MozillaFoundation/Mozfest2016_production/issues/88)
- [ ] "Main Stage" - Level 4
- [ ] "Debate and Discussion" stage - Walker Space - Level 0
- [ ] "Lunch" l

[2016-08-23 17:46] kristinashu opened #90 "Design Wayfinding: Info booths"
#### Info:

Based on epic ticket - Design Wayfinding #131
### 1) Poster for each space (includes: space icon, space name, space description).
- Digital Arts and Culture
- Journalism
- Open Science
- Open Badges
- Fuel The Movement
- Localisation
- Youth Zone
- Demystify the Web
- Dilemmas in Connected Spaces
- MozEx

These will be posted behind the info table on the pin board. Up to the designer t

[2016-08-23 18:02] kristinashu opened #91 "Design Wayfinding: Floor plan maps - Deadline Oct 11"
#### Info:

Based on epic ticket - Design Wayfinding #131

We will build off last year’s maps. Just need to update colors and move a few things around (for example Spaces and adding a secondary stage)
### Two types of maps (see below for examples from last year):

1) **Overview map:**
- a high level map showing all the floors
- poster size
- will appear in elevators, just outside elevators, stairs

[2016-08-23 18:06] kristinashu opened #92 "Design Wayfinding: session signage - Deadline Oct 11"
#### Info:

Based on epic ticket - Design Wayfinding #131

Hackable signs to appear on session tables. Session leader will fill in with session name and place on table.
#### Deadline:
- Oct 11
#### Last year's:
- Working files in Drive https://drive.google.com/open?id=0B20-0lpP23c0N3lCSkh2eU55VU0
- GitHub ticket https://github.com/mozilla/mozillafestival.org/issues/282
- specs: fit 2 to an A3 pape

[2016-08-23 18:09] kristinashu opened #93 "Design sponsorship banners - Deadline Sept 23"
#### Info:

Need info
#### Specs:
- resolution
- dimensions
#### Deadline:
- Sept 23
#### Blockers:
- Need to know who sponsors are
#### Last year's:
- Working files in Drive
- GitHub ticket https://github.com/mozilla/mozillafestival.org/issues/223

[2016-08-23 18:18] kristinashu opened #94 "Design science fair and closing demo info cards - Print at Ravensbourne"
#### Info:

Card to go on tables at the science fair and closing demos. People will write in the name themselves.
Based on epic ticket - Design Wayfinding #131
#### Specs:

A4 card folded into 4 lengthways to make a triangle.
Printed on-site at Ravensbourne using the standard copiers.
#### Last year's:
- Working files in Drive https://drive.google.com/open?id=0B20-0lpP23c0MWZWV2w4ZHpkMkE
- GitHub

[2016-08-23 18:24] kristinashu opened #95 "Design popup session posters"
#### Info:

Template for facilitators to write their session info on. Closely related to https://github.com/MozillaFoundation/Mozfest2016_production/issues/92 - not sure we need both?
#### Specs:
- resolution
- dimensions: A3
#### Deadline:
- Sept 23
#### Blockers:
##
#### Last year's:
- Working files in Drive https://drive.google.com/open?id=0B20-0lpP23c0VHVuS0RXMW1LQ3M
- GitHub ticket https://gi

[2016-08-23 18:28] kristinashu opened #96 "Design MozFest poster - Deadline Oct 11"
#### Info:

Posters for around the building and available for people to take home with them. Last year's hackable poster was a great success!

We will localize the poster with https://github.com/MozillaFoundation/Mozfest2016_production/issues/124
#### Specs:
- resolution
- dimensions
#### Deadline:
- Oct 11
#### Last year's:
- Working files in Drive
- GitHub ticket https://github.com/mozilla/mozil

[2016-08-23 18:41] kristinashu opened #97 "Design photo consent poster - Print at Ravensbourne"
#### Info:

Outline our photo consent policy. Need two different sizes - smaller version at registration desk and larger ones through the building. This will be printed on-site at Ravensbourne for both the A4/A3(?) and large formats.

Updated copy:
- If you do not wish to be photographed or videoed, please request a yellow lanyard from registration. These special lanyards signify that you do not w

[2016-08-23 19:05] edrushka opened #98 "MoFo dev & design plan for Sept 2 Heartbeat"
Here's what we'll do this heartbeat:
#### MozFest Look & Feel ( Sabrina / Go Global to lead)
- [x] Produce style guide #76
- [ ] Produce a few different hi-res background patterns
- [x] Begin to apply a few design elements to Festival guide (contractors to take over)
- [ ] Begin to apply a few design elements to stage design (contractors to take over)
- [x] Get signoff on design from Sarah (Erika)

[2016-08-23 19:06] edrushka commented on #98
cc @sabrinang @kristinashu @hannahkane @Saallen @marcwalsh @mmmavis

[2016-08-23 19:35] edrushka commented on #83
cc @KevZawacki @HPaulJohnson @Saallen @marcwalsh @KGorr

[2016-08-23 19:48] kristinashu opened #99 "Design main festival banners and flags"
#### Info:

Last year we reused them and we could probably do the same this year.

<img width="516" alt="screen shot 2016-08-23 at 12 56 51 pm" src="https://cloud.githubusercontent.com/assets/1068783/17908332/e78ee0f0-6934-11e6-9c8b-b2fb79cfb941.png">

[2016-08-23 20:04] kristinashu opened #100 "Design bunting?"
#### Info:

We can most likely reuse from last year.
<img width="733" alt="screen shot 2016-08-23 at 12 53 17 pm" src="https://cloud.githubusercontent.com/assets/1068783/17907730/0e849194-6932-11e6-8509-05920ec70f35.png">

[2016-08-23 20:13] edrushka commented on #88
@sabrinang @kristinashu is it reasonable to have the new-for-2016 space icons designed in the first week of the next heartbeat? We'll need those for other printed assets.

[2016-08-23 20:17] kristinashu commented on #88
Yes, I think that's a good idea. @sabrinang we should explore icon style directions for the style guide this heartbeat.

[2016-08-23 20:18] edrushka commented on #37
@marcwalsh have we determined for sure we won't have these, or are they still a maybe?

[2016-08-23 20:24] edrushka commented on #95
@Saallen or @marcwalsh can you explain the difference between these, and the normal session signage in #92?

[2016-08-23 20:25] edrushka commented on #99
Last year we used these on each floor by the info booths and at registration.

[2016-08-23 20:33] kristinashu opened #101 "Design table wrapper/cloth"
#### Info:

Last year we used Webmaker ones which we should not be using anymore. We should update to MozFest branded or just a solid color. It would go around the registration table and the info booths.

@marcwalsh This is a new asset, would you be able to find a supplier?

[2016-08-23 20:40] marcwalsh-zz commented on #101
@kristinashu - It would be easier and cheaper to use solid colors that are in keeping with the style guide.

Printed versions could be something like [this...](https://www.pixartprinting.co.uk/printing-flags-textiles/flags/) - I'd say either the 95GSM or the 115GSM so it's light enough to drape? - I'll need to double check this though.

[2016-08-23 20:43] marcwalsh-zz commented on #37
@edrushka - I'd like to avoid it, having the 'pack' like in the original moodboard I feel is a lot nicer and something different.

[2016-08-23 20:43] kristinashu commented on #101
Solid works for me, thanks!

[2016-08-23 20:47] edrushka commented on #37
OK. I will close this and remove it from the assets spreadsheet. We can re-open if plans change.

[2016-08-23 20:47] #37 closed

[2016-08-23 20:52] kristinashu opened #102 "Design Wayfinding: Space banners - Deadline Oct 11"
#### Info:

Based on icons design in https://github.com/MozillaFoundation/Mozfest2016_production/issues/88 and epic ticket - Design Wayfinding #131

We need flags to hang in each of the spaces:
- Digital Arts and Culture
- Journalism
- Open Science
- Open Badges
- Fuel The Movement
- Localisation
- Youth Zone
- Demystify the Web
- Dilemmas in Connected Spaces
- MozEx

These hang off rails and can

[2016-08-23 21:10] kristinashu commented on #76
Sabrina has already done a lot of the work here https://docs.google.com/presentation/d/1Wr2XK-ogr-72XnMqdmLU2Rf64S-5ctC23OimMwnsquY/edit#slide=id.g12989256b1_0_726

Still need to:
- [x] Find Pantone equivalents for the colors so printers know what to aim for. @lovegushwa do you have a Pantone book?
- [ ] Explore icon style directions (will need the space icons asap)
- [x] update with Matthew's fee

[2016-08-23 21:25] kristinashu commented on #80
Deadline: Sept 16

[2016-08-23 21:27] kristinashu commented on #36
The only design needed is to chose a color. Is that right?

[2016-08-23 22:16] kristinashu opened #103 "Design main + D&D stage - Deadline Oct 11"
#### Info:

Last year's stage was a big success.

Background conversation in https://github.com/MozillaFoundation/Mozfest2016_production/issues/63 also closely linked to slide template https://github.com/MozillaFoundation/Mozfest2016_production/issues/87
#### Two stages (Main Stage - Level 4 and Dialogue and Debates Stage - Walker Space Level 0):
- They should look similar.
- Both 2016 stages will

[2016-08-23 23:36] kristinashu opened #104 "Add last year's map to Drive"
I can't seem to find illustrator files for the maps. Can someone please add them to Drive since we'll be building off of it for this year?

https://drive.google.com/open?id=0B20-0lpP23c0WHBhR005XzBpOUU

cc @lovegushwa @marcwalsh @natalieworth @flukeout

[2016-08-24 09:48] Saallen opened #105 "Badging facilitators"
Goal- offering a Moz Badge for facilitators at the festival

Criteria for a Mozfest Facilitator badge
- [ ] Run a session at MozFest
- [ ] upload session notes
- [ ] attend at least one MozFest facilitator training thus gaining the knowledge of how to work in the open, facilitate like Mozilla and be part of our leadership development training
- [ ] other requirements? cc @chadsansing for advise on

[2016-08-24 10:28] Saallen commented on #79
Nice work
Luckily for you I have tried them all 🍻
How about you arrange to go with a friend one Saturday afternoon?
S

[2016-08-24 13:53] marcwalsh-zz commented on #36
@kristinashu - Yes it is, we're going to try and see if we can source these for free from somewhere in MoCo or MoFo also.

[2016-08-24 14:04] marcwalsh-zz commented on #104
@kristinashu This is last year's artwork which contains the maps in AI format...

[https://drive.google.com/open?id=0B2qu3ExKWIlvSldqLTdvRnFiaTQ](https://drive.google.com/open?id=0B2qu3ExKWIlvSldqLTdvRnFiaTQ)

Does that help? :)

[2016-08-24 14:06] marcwalsh-zz commented on #79
Sure thing! Do you have any preferences from the three?

[2016-08-24 14:08] marcwalsh-zz commented on #102
I would stick with the same printers again for this.

It's Pixart and the info is available [here](https://www.pixartprinting.co.uk/printing-flags-textiles/flags/) in terms of specs

[2016-08-24 14:10] marcwalsh-zz commented on #97
This will be printed on-site at Ravensbourne for both the A4/A3 and large formats.

We will need additional info for the D&D room as some of the content there will be used by MoCo.

cc @Saallen @edrushka

[2016-08-24 14:12] marcwalsh-zz commented on #96
Last yeah these were part of the festival guide. Would we look to print at Ravensbourne (there would be a white edge around the prints) or get these done professionally.

(I'll get a quote either way for offsite printing.)

[2016-08-24 14:14] marcwalsh-zz commented on #95
@edrushka - these were just headed paper that can be used for sessions to write the details of sessions that are not on the schedule.

The last page in last year's document has headings. Is it worth having these, or can we just get plain and coloured paper for people to get creative and draw their own?

[2016-08-24 14:15] Saallen commented on #97
We will need a different sign for D&D if
- the content is used by MoCo for commercial use. Our policy is re-use for non commercial purposes so in this room we need to highlight that
- It is audio recording
- Live content so those who wish not to be seen need to know where to seat away from cameras

[2016-08-24 14:16] marcwalsh-zz commented on #94
These will be printed on-site at Ravensbourne using the standard copiers.

[2016-08-24 14:38] Saallen opened #106 "Add label- MozFest contributor-"
Please add label - MozFest contributor and remove stipend request label from
the final 21 Mozfest participation travel stipends volunteers!!!
1.  Label to be added -  MozFest contributor
2. Remove Travel stipend request
3. Add comment- travel covered and facilitator will be attending as MozFest contributor

[2016-08-24 16:10] marcwalsh-zz commented on #106
All updated! Closing... 💆🏻

[2016-08-24 16:10] #106 closed, assigned to marcwalsh-zz

[2016-08-24 16:16] kristinashu commented on #104
Perfect, thanks!

[2016-08-24 16:16] #104 closed, assigned to nobody

[2016-08-24 16:27] kristinashu commented on #96
Offsite would be great so we can get a better quality print. Also, one less thing to do at the venue.

[2016-08-24 16:49] kristinashu commented on #95
Did they get much use last year? It would be great if we could streamline things and skip this piece.

[2016-08-24 17:17] kristinashu commented on #102
Thanks @marcwalsh, I've added a little more info above. Do you know the deadline for this?

[2016-08-24 17:55] kristinashu opened #107 "Copy for D&D photo/video consent"
Based on conversation in https://github.com/MozillaFoundation/Mozfest2016_production/issues/97

We have last year's general photo/video consent copy (below) but need another version for the D&D room.
#### General Photo & Video Consent

If you do not wish to be photographed or videoed, please request a yellow lanyard from registration. These special lanyards signify that you do not wish to be captu

[2016-08-24 17:57] kristinashu commented on #97
I've opened a new ticket for copy https://github.com/MozillaFoundation/Mozfest2016_production/issues/107

[2016-08-24 18:04] kristinashu commented on #93
@edrushka @marcwalsh do we have more info on this? When will we know who the sponsors are,  roughly how many sponsors, where will the banners be, what size should the banners be...?

[2016-08-24 18:09] Saallen commented on #95
We can skip this

[2016-08-24 18:24] edrushka commented on #107
cc @KevZawacki

[2016-08-24 18:25] edrushka commented on #95
Cool - one less thing! I'll remove from the asset spreadsheet.

[2016-08-24 18:25] #95 closed, assigned to nobody

[2016-08-24 18:41] kristinashu commented on #86
@edrushka @marcwalsh are we having keynote speakers this year or just the D&D speakers? If we are still having keynote speakers, would it happen on the Main Stage or the D&D stage?

[2016-08-24 22:04] edrushka commented on #86
We are still having speakers on Saturday and Sunday:

Saturday morning, 9 a.m. // 20-30 minutes
Mark Surman kicks off the festival by introducing the key issues and threats facing Mozilla and the broader open Internet movement.

Mark’s inspirational/thematic talk will be followed by a brief housekeeping talk by Gunner. Gunner introduces the Spaces, the D+D space, and how to participate

Sunday mor

[2016-08-24 22:51] edrushka commented on #68
Festival Guide design brief is [here](https://docs.google.com/document/d/1Cz3kZSrwmvnaO8GDlTl8VTcvPjZ4TmjfVvaul8rhOvQ/edit#).

**Content to include:**
- [x] Introduction: What is MozFest? #108_
- [x] Key festival timings #109
- [x] Mozilla’s 5 Key Issues #110
- [x] Dialogue and Debate Speakers Series - Revisions in #172
- [x] Spaces #112
- [x] Space wrangler bios #56
- [x] Non-EN sessions #113
- [

[2016-08-24 23:16] edrushka opened #108 "Guide: Write introduction"
For 2016 Festival Guide. Write Introduction: What is MozFest?
Include:
- 7th year. Opportunity for network to convene. Largest event. Projects are born here etc. [not about Mozilla, about the network. Mozilla listens to the community here]
- What to expect over the weekend. (explain how the weekend upfolds)
- Diversity and Inclusion stats. (Instead of having a standalone statement, celebrate the d

[2016-08-24 23:22] #53 closed

[2016-08-24 23:26] edrushka opened #109 "Guide: Write Key Festival Timings"
For 2016 Festival Guide. Write Key Festival Timings
Include:
- Can be similar to how we the Weekend Outline section on the website: https://mozillafestival.org/expect
- pull from #70
- Avoid specific session blocks because they change

THIS PAGE CAN BE CUT IF NECESSARY

[2016-08-24 23:47] edrushka opened #110 "Guide: Write Mozilla’s 5 Key Issues"
For 2016 Festival Guide. Write Mozilla’s 5 Key Issues

Include:
- Brief introduction giving context: these are the biggest challenges to the open web. We need to work together to make these mainstream issues.
- Each issue, with description (from the handout in London or latest update).

Note: Bobby’s visual might work here. If not, we may need another visual because this is a lot of text.

[2016-08-24 23:51] edrushka commented on #110
@samanthaburton This is for the physical booklet (the Festival Guide) that we give to all attendees at MozFest when they arrive and register. Full context [here](https://docs.google.com/document/d/1Cz3kZSrwmvnaO8GDlTl8VTcvPjZ4TmjfVvaul8rhOvQ/edit#). Do you have an updated version of the one-page handout you provided in London? We can also use that copy, if it's still up-to-date.

@secretrobotron w

[2016-08-24 23:53] edrushka opened #111 "Guide: Dialogues and Debates Speakers Series"
For 2016 Festival Guide. Write Dialogue and Debate Speakers Series

Include:
- Brief context about what we're trying to achieve with the Speakers Series
- Speakers photo and tweet length bio. Title/subject of talk.

Notes:
- This can be a complementary piece to 5 key issues #110
- We’re aware that speaker lineup could change at last minute. Let’s design to link speakers with topics. If, close to t

[2016-08-24 23:58] edrushka opened #112 "Guide: Write Spaces"
For 2016 Festival Guide. Write Spaces

Include:
- Brief overview of what a space is
- Descriptions of individual spaces (tagline, not paragraph)

Note: Pull from https://mozillafestival.org/spaces-and-sessions.

[2016-08-24 23:59] edrushka commented on #112
@Saallen will we be asking Wranglers to update their space descriptions or should I pull from what's currently on https://mozillafestival.org/spaces-and-sessions?

[2016-08-25 00:03] edrushka opened #113 "Guide: Write Non-EN sessions"
For 2016 Festival Guide. Write Non-EN sessions

Include:
- Highlight that we’re supporting non-EN sessions through a range of supports (e.g. live translation, localizing session materials etc.).
- Emphasize that Mozilla believes the internet should be inclusive to everyone.
- If possible, highlight specific sessions

[2016-08-25 00:05] edrushka opened #114 "Guide: Write Participation Guidelines"
For 2016 Festival Guide. Write Participation Guidelines
Include:
- short version of guidelines
- list festival@mozilla as support
- no link to larger guidelines (linked on the web)

[2016-08-25 00:08] edrushka commented on #114
@Saallen Do we want the short version from the [poster](https://drive.google.com/drive/u/0/folders/0B4Q8pzCpDS_eVHJ0Mlc2MWUtX0U) or from the [website](https://mozillafestival.org/guidelines) (would include Respect, How to Treat Each Other sections, plus condensed version of Raising Issues)?

[2016-08-25 00:12] edrushka opened #115 "Guide: Write Network celebration/testimonials"
For 2016 Festival Guide. Write Network celebration/testimonials

Include:
- Quotes from attendees & Ravensbourne about what they get from it

Notes:
- This content can be space-filler. Doesn't need it's own page/section in the guide.
- Can pull from [8/24 email](https://docs.google.com/document/d/1dSlVkFYnYEeQfqYHDM9dviTq1riQSfg0mawRaX0azBs/edit)

[2016-08-25 00:13] edrushka commented on #115
@Saallen @marcwalsh can we draw up a small shortlist of people to get testimonials from?

[2016-08-25 03:25] SpikeUK commented on #36
Can we please be sure that whatever lanyards we get they have the safety break option.
Spike (with his Health and Safety hat on)

[2016-08-25 08:58] ioana-chiorean commented on #81
Hey all - If u do not have a design yet - u might wanna post an issue on the Open Design repo - https://github.com/mozilla/OpenDesign

[2016-08-25 09:33] Saallen commented on #112
@edrushka
I think we should let them know we will be updating and give them a window to make small changes.
I would like to add this to the agenda for next weeks call

[2016-08-25 11:56] marcwalsh-zz commented on #36
@SpikeUK - Of course, this is something that I'd expect as standard.

@kristinashu - just FYI we have left over yellow lanyards that we used as the 'No Photo' option last year, so if we can avoid something close to that it would be great!

[2016-08-25 13:07] marcwalsh-zz opened #116 "Radio Hire for Weekend"
36x Radios for hire between 27th Oct - 31st Oct.

Must include:
- Charging stations for all radios
- Spare batteries
- Shoulder cases
- Mix of covert and D shaped ear pieces

_To-Do_
- [x] Quotes Received
- [x] Supplier Confirmed
- [x] Confirm Contract and Order
- [x] Payment

[2016-08-25 13:10] marcwalsh-zz opened #117 "Coffee Supplier for Weekend"
Gather quotes and contract supplier for supplying coffee over the festival weekend.

Requires:
- 3 Coffee Bars
- Filter Coffee at busy times
- Selection of teas and drinking chocolate
- Must be able to supply water from bottles.
- [x] Quote Recieved
- [x] T&Cs signed
- [ ] Contract confirmed
- [ ] Payment

[2016-08-25 13:21] Saallen commented on #114
With this I think from the Website is a better version to build from.
I dont think we need how to raise issues as it will be on the back of the name badge

[2016-08-25 13:25] marcwalsh-zz commented on #78
Here's an example of SourceCon's name card. Could we look into using a double clip, but we'd like to avoid using the plastic holder as it's more wasteful.

![img_5024](https://cloud.githubusercontent.com/assets/14007066/17970733/bf9d59d6-6acf-11e6-8751-766696974112.JPG)
![img_5025](https://cloud.githubusercontent.com/assets/14007066/17970737/c17377cc-6acf-11e6-8261-7e3d8b3d3dd6.JPG)

[2016-08-25 17:25] edrushka opened #118 "Add template for asking facilitators about L10N"
As requested on the space wranglers call, draft some text that Wranglers can use to reach out to 2nd language facilitators to coordinate the L10N options.

Add to this doc: https://public.etherpad-mozilla.org/p/festival-facilitatoremails16

cc @Saallen

[2016-08-25 18:16] edrushka commented on #112
Ok - although should we wait until curation actually finishes before we ask them to re-write?

[2016-08-25 18:19] Saallen commented on #112
Yes, once we can afford it with the printing timeline-

Sarah Allen

Events Manager and Mozilla Festival Producer
Mozilla Foundation

Find out more about MozFest https://mozillafestival.org/ and follow the
conversation on twitter https://twitter.com/mozillafestival?lang=en-gb

On 25 August 2016 at 19:16, Erika Drushka notifications@github.com wrote:

[2016-08-25 22:24] edrushka opened #119 "Build program of support for BSL"
Two spaces (Badges & Science) have a session they'd  like to do in BSL (British Sign Language).
Ian said he may be able to hook us up with interpreters from the BBC.

@Saallen @marcwalsh @hjbailey are there other programmatic elements of the festival, like mainstage keynotes, D&Ds or facilitator training we should support with interpretation?

[2016-08-25 22:53] edrushka commented on #78
I think we should discuss this asset during one of our daily stands, as we need to scope the contents and decide on the format. I'd like to review some of @sabrinang's awesome design thinking from earlier this year ([outlined in this doc](https://docs.google.com/document/d/16OyJUATrh79M3Gpm8Rpj7yvxmAFgXRiBsGHyctUWHfc/edit)) to see what ideas to incorporate.

[2016-08-26 14:13] SpikeUK commented on #36
@marcwalsh I am sure that was the case Marc, I thought it worth documenting for the avoidance of doubt ;-)

[2016-08-26 14:49] marcwalsh-zz commented on #119
I have a couple of companies in the UK quoting on having on-demand video BSL translators for sessions that need them.  I'll be able to let you know costs for these end of next week.

[2016-08-26 16:14] marcwalsh-zz opened #120 "Update Mana Page for 2016"
Update travel information for staff on Mana

@Saallen to organise open office to answer questions

[2016-08-26 16:20] marcwalsh-zz opened #121 "Purge Test Tickets"
Get rid of the millions of test tickets on Ti.To...

[2016-08-26 16:21] marcwalsh-zz commented on #73
@Saallen is looking up last year's info for this

[2016-08-26 16:26] marcwalsh-zz opened #122 "Breakfast!"
Yumm. What's for breakfast?
- [x] Confirm Numbers
- [x] Confirm Supplier

[2016-08-26 17:05] sabrinang commented on #88
Space wrangler meetings are on Thursday if we want to get some input from the wrangler on icons.

[2016-08-26 17:53] Saallen opened #123 "Feedback on the new Tag- One web"
Shared the One Web tag with Mark & Chris @sabrinang @kristinashu @edrushka @KevZawacki

Both gave v positive feedback.
Mark especially liked the versatility of the One Web tag by integrating our issues and having a hackable posters.
He mentioned for the D&D stage we could use the relevant issue being discussed within the One Web tag- changing the issue depending on the speakers content.

[2016-08-26 22:02] samanthaburton commented on #110
The most up-to-date version is page 5 of the MoFo Strategic Plan - https://drive.google.com/file/d/0B87EwT3UvJkMU3RrUFFxc1VrYk0/view?usp=sharing

[2016-08-26 22:58] kristinashu commented on #76
Style Guide will include:
- [x] 2016 logo
- [x] 'one web' lockup (2 standard + 2 more unique of motion)
- [x] example of 5 issues in the lockup
- [x] 3-4 patterns
- [x] colors (2-3 core + 2 highlight + few shades of grey) with CMYK/RGB/PANTONE values
- [x] texture art
- [x] typography (display type + body copy type + localized type)
- [ ] 1 icon to show style
- [ ] example mockups: stage, poster,

[2016-08-29 20:22] edrushka opened #124 "Localize 'one web'"
I've reached out to @hjbailey to get 'One Web' localized in our six supported languages.
- [x] French
- [x] German
- [x] Hindi
- [x] Arabic
- [x] Spanish
- [x] Italian

[2016-08-29 21:02] edrushka commented on #56
Incoming bios are being collected on the second tab of [this sheet](https://docs.google.com/spreadsheets/d/100wmCld-YGysLHCpzYgovwctJkezPqQgFcOJ65mjyUk/edit#gid=1306798567).

[2016-08-30 09:36] marcwalsh-zz opened #125 "Ravensbourne Network Requirements"
Ensure MozFest's networking needs are met by Ravensbourne.
- [x] Feedback from last year
- [x] Send feedback and initial needs to Ravensbourne
- [x] Track specialist tech being brought onsite.
##

What's needed from Ravensbourne:
- [x] Bandwidth for 1600+ people with 3+ devices
- [x] Allocated bandwidth for live streaming
- [x] Additional access points on Level 4 and Level 6
- [x] Process for coll

[2016-08-30 10:18] marcwalsh-zz commented on #121
Complete!

[2016-08-30 10:18] #121 closed, assigned to marcwalsh-zz

[2016-08-30 10:19] marcwalsh-zz opened #126 "Creche Supplier"
Book creche supplier for the festival weekend.
##

Requirements:

Saturday 29th: 10am  - 5pm
Sunday 30th: 11am - 4pm

[2016-08-30 10:29] marcwalsh-zz commented on #126
Contacted Tinies for quote as last year and our contact is currently out of office until Sep 2nd.

[2016-08-30 11:23] marcwalsh-zz commented on #120
Open Office is scheduled for Wed 31st Aug @ 17:45 BST
The [existing Mana Page](https://mana.mozilla.org/wiki/display/FOUNDATION/MozFest) has been updated.

[2016-08-30 11:23] #120 closed, assigned to Saallen, marcwalsh-zz

[2016-08-30 13:27] marcwalsh-zz commented on #122
Looking into the idea of Tea _(/Coffee)_ and Toast on the Saturday morning and then a warm breakfast roll on the Sunday.

Some inspiration [here](http://flourishcreative.co.uk/2014/08/youtube-edinburgh-tv-festival/) and [here](http://www.burntimpressions.com/toast-pantry.php) for branded toast.

[2016-08-30 14:16] Saallen commented on #126
Proposed location for the Creche- 2nd floor
Opening times
Saturday 10am- 5pm
Sunday 11am - 4pm

All sign up captured via https://docs.google.com/a/mozillafoundation.org/forms/d/e/1FAIpQLSd0lBHH4xNIKSQ7D2ZNJlj4rwayRJw3aDbFmmud6JICdIjyzg/viewform?c=0&w=1

[2016-08-30 18:41] Saallen commented on #73
Got it 🎏
There will be no impressions or click data but we can send over the design and Jean will help us out.
Specs required outlined below
[Partner_Specs_Directory_Tiles.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/445644/Partner_Specs_Directory_Tiles.pdf)

[2016-08-30 20:23] edrushka commented on #72
I reviewed this. It looks good.

[2016-08-30 20:39] edrushka commented on #118
@Saallen what do you think of this?

Hi <name>,

We're so thrilled you'll be joining us at MozFest next month.

When you submitted your session proposal, you indicated that you can present some, or all, of your session in a language other than English. I wanted to follow up on that.

MozFest 2016 will support six spoken languages in addition to English: French, German, Arabic, Italian, Spanish and

[2016-08-31 04:23] SpikeUK commented on #118
A couple of change suggestions if I may please @edrushka

may be should be

and

may be should be

and finally

could be

Hope this helps :)

[2016-08-31 04:31] SpikeUK commented on #72
I am hopeful of having a photographer as a Local Volunteer too. I have asked her if she could focus (see what I did there?) on capturing pics of volunteers if possible but there may be some overlap with what Paul will be doing.

[2016-08-31 09:00] Saallen commented on #118
Hey
- both look good to me but I would like this email to go out post travel stipends email.
  So while yes this email should be sent- could you also make a small paragraph which lets the facilitator know more comms will come for those who will do all or part of their session in a language other than English?

The next comms email will be congratulating those facilitator who have been accepted and

[2016-08-31 09:30] Saallen commented on #73
Week of the 12th of Sept required for a tile is
- [ ]  Creative- do we want to just use the banner for this year
- [ ] Time line for the tile- I am recommending a month pre festival
- Is this something we added into the designers scope of work? @kristinashu
  cc @edrushka

[2016-08-31 09:38] marcwalsh-zz commented on #73
@Saallen @edrushka - Looking at the specs there's a possibility of having the tile localised also.

It would be great if we were allowed to have a tickets CTA pre-festival and then a new tile over festival to push the stream of D&D.

[2016-08-31 10:33] marcwalsh-zz commented on #107
Just on a similar note here @edrushka @Saallen - we will need release forms for speakers in the D&D talks. Is this something Mozilla has a generic template for?

[2016-08-31 10:43] marcwalsh-zz commented on #21
Talking to Feast on Thursday AM to discuss options for this year.

[2016-08-31 10:59] Saallen commented on #107
We do- @erika can you use or build upon the ones you use for the Dosed filming?

[2016-08-31 16:34] edrushka commented on #118
Do you mean a small paragraph for the travel stipends email? Sure, I can do that.

Clarifying the order of email sends. Is this correct?
1) Email to all accepted sessions
2) Travel stipends email
3) Non-EN sessions email

[2016-08-31 19:11] edrushka commented on #107
In previous years, we haven't used a consent form with Dosed. Instead, we relied on the coloured lanyards, the the poster (above) at the registration area, and an [email we sent to all attendees](https://docs.google.com/document/d/1k1zIWDlkYFJvDohe9Hu9tTOtXURJzanN998RpiSxvxM/edit) outlining photo consent options. I feel a similar approach will work this year for attendees.

For D&D speakers, we pr

[2016-08-31 21:27] edrushka commented on #62
Update:
This week, Paul will:
1) draft an invite for influencers
2) send an email to mln@ crowd-sourcing influencers from hubs.

Next week we'll:
- investigate using a service that scrapes Twitter for keywords relating to our 5 issues (I didn't explain this well, Paul has more details).
- compare our list with Rizwan's to ensure we haven't left anyone out
- finalize our list

Following week we'll

[2016-08-31 22:53] KevZawacki commented on #62
Re: scraping Twitter, I built some [detailed Sprinklr dashboards](https://docs.google.com/document/d/1Tj3Pylsvs9DZcf-qr3CP0XF9vBPeEXYigTzbA5nkqvU/edit) that provide real-time key issue insight.

We could use these to identify possible influencers. For example, our Privacy & Security dashboard tells us the most influential individuals talking about that topic on Twitter are Cory Doctorow, Glenn Gre

[2016-08-31 23:35] KevZawacki commented on #107
@edrushka Sure -- emailing Diane Tate now.

[2016-09-01 13:14] Saallen commented on #48
Hey pinging @marcwalsh for update regarding shortlisting contractors- any movement?
@edrushka & @KevZawacki did you talk to MoCo?

[2016-09-01 13:20] KevZawacki commented on #107
MoCo internal comms does not have any boilerplates we can swipe, unfortunately.

[2016-09-01 13:42] KevZawacki commented on #48
@Saallen We did. My impression was that they can help market / promote the video segments in the months afterward, but can't do much in terms of A/V support on the ground.

Does that sound right, @edrushka?

[2016-09-01 15:29] edrushka commented on #48
I think we may be talking about different MoCo teams 😁  Yes, my understanding is that the marketing team (Greg, Janice etc) will not offer support on the ground. Sarah is working with the MoCo A/V team, who may be able to help.

[2016-09-01 15:34] KevZawacki commented on #48
Oops, pardon my above confusing comment. Deleting...

[2016-09-01 15:58] cubicgarden commented on #56
![ian-2016-wondering](https://cloud.githubusercontent.com/assets/1649922/18173993/bcebce86-7063-11e6-8347-ff01b1862a92.jpg)

Ian Forrester is a well known and likeable character on the digital scene in the UK. Living in Manchester, UK where he works for the BBC's R&D north lab. He specialises in open innovation and new disruptive opportunities; by creating value via open engagement and collaborati

[2016-09-01 16:19] kristinashu commented on #82
Here's an email draft I'll be sending to the contractors before they start https://docs.google.com/a/mozilla.com/document/d/1SARBFa_Iqm2n9J-ExgGdACRmxjFadclx36MGHVVTUu8/edit?usp=sharing

Please add any missing pieces @xmatthewx @edrushka @marcwalsh @sabrinang

[2016-09-01 17:28] Saallen opened #127 "Next stage for session curation"
@mmmavis as we will be confirming all the sessions coming to MozFest next week, the next stage is getting the sessions into good stead to present at MozFest.
If Wranglers want to make edits to session descriptions what is the process to update.
Do they start a new comment? Is editing on the top comment a big NoNo 🙅

[2016-09-01 18:04] mmmavis commented on #127
Hey @Saallen is it just the description field wranglers want to update?

[2016-09-01 18:37] KevZawacki commented on #107
Wait, [they do](https://drive.google.com/a/mozilla.com/file/d/0B-BKZVAww2KHS1lVdkFwZndtRUp3UFhBYnk3anZsZWpXNE1N/view?usp=sharing) (from View Source).

Would we just swap in "MozFest" and then share with speakers alongside next week's email?

@edrushka @Saallen

[2016-09-02 12:15] Saallen commented on #107
wow- intense
will we be adding a  CC license to our broadcast as if yes- then we need to mention this here too.
Otherwise it looks good

[2016-09-02 12:20] Saallen commented on #127
Hi @mmmavis I believe so
The might want to add in another facilitator but this can be done when we have ported back over to the googlesheet

[2016-09-02 12:38] Saallen opened #128 "Create a community notice board"
Lets create a community notice board when you pass the first set of gates in ravensboure.
Utilising the huge wall use this as a place to put giant floor maps- lunch times and locations, D&D timings.
also somewhere to call out cool and emersive pieces around the event- like todo and the art exhibition

[2016-09-02 12:56] Saallen opened #129 "5KM Run"
What: 5km run organised by Matt  from Digital me for Sunday morning at 9am. Sign up page on the Website.

Required:
*Investigate T shirts or sweat bands
*share information on Shower facilities
*Coordinate group picture
- Insure the route is available

[2016-09-02 15:45] marcwalsh-zz opened #130 "Credit Card Reconciliation Doc"
So many receipts, so little time.

Let's find a way of making it quick and easy.

[2016-09-02 17:06] marcwalsh-zz commented on #130
Done! Shared with Sarah on Smartsheet.

[2016-09-02 17:06] #130 closed, assigned to marcwalsh-zz

[2016-09-02 18:04] kristinashu commented on #23
Contracts have been sent to the contractors by Pamela!

[2016-09-02 18:04] #23 closed

[2016-09-02 18:18] kristinashu commented on #82
I've send the email to them.

[2016-09-02 18:23] kristinashu commented on #42
Sorry, just realized work for this is being done in https://github.com/MozillaFoundation/Mozfest2016_production/issues/76

[2016-09-02 18:23] #42 closed

[2016-09-02 18:30] kristinashu commented on #76
Feedback on tne Web tag with Mark & Chris https://github.com/MozillaFoundation/Mozfest2016_production/issues/123

[2016-09-02 18:30] #123 closed, assigned to nobody

[2016-09-02 19:08] kristinashu commented on #69
Festival Guide design brief is [here](https://docs.google.com/document/d/1Cz3kZSrwmvnaO8GDlTl8VTcvPjZ4TmjfVvaul8rhOvQ/edit#).

**Content to include and ticket where copy will be written:**
- Cover
- Table of contents
- Introduction: What is MozFest? #108
- Key festival timings #109
- Mozilla’s 5 Key Issues #110
- Dialogues and Debates Speakers Series #111
- Spaces #112
- Space wrangler bios #56
-

[2016-09-02 19:09] kristinashu commented on #69
@edrushka @marcwalsh what is the new deadline for this?

[2016-09-02 19:13] kristinashu opened #131 "Design Wayfinding: Concept"
This ticket is to start thinking of all the wayfinding pieces holistically and to explore different concept directions.

The primary piece of work will be the floor vinyl and signage:
- Design Wayfinding: Floor vinyl and internal signage #89

Other related tickets are:
- Design Wayfinding: Floor plan maps #91
- Design Wayfinding: Space banners #102
- Design Wayfinding: Info booths #90
- Design Way

[2016-09-02 20:28] sabrinang commented on #76
![mozilla-festival_visual-exploration_one-web-style-guide](https://cloud.githubusercontent.com/assets/2492510/18217068/90a6b8e8-710f-11e6-98c8-36cacdd82c5e.png)
.ai file: https://drive.google.com/file/d/0B4Q8pzCpDS_eemJXWHFBclFwc00/view
This contains tileable patterns, shapes, grid system, colour value documentation
- Mozilla Festival 2016 Logo & One Web Lockups (with 5 strategic area lockups): ht

[2016-09-02 21:10] sabrinang commented on #69
Inspiration included in gslides: https://docs.google.com/presentation/d/1Wr2XK-ogr-72XnMqdmLU2Rf64S-5ctC23OimMwnsquY/edit#slide=id.g167ec3675c_0_0

<img width="1424" alt="screen shot 2016-09-02 at 2 04 09 pm" src="https://cloud.githubusercontent.com/assets/2492510/18218245/35e2ba68-7116-11e6-95d8-fe0adc35b767.png">
It would be great to have a festival guide with clip system so we can add inserts a

[2016-09-02 21:56] sabrinang opened #132 "One Web Visual Direction - Pixel Sorting Art & Textures"
Art Direction Planning Doc (for reference): https://docs.google.com/presentation/d/1Wr2XK-ogr-72XnMqdmLU2Rf64S-5ctC23OimMwnsquY/edit#slide=id.g16808a0425_0_50

![mozilla-festival_visual-exploration_one-web_v5](https://cloud.githubusercontent.com/assets/2492510/18218510/f3588036-7117-11e6-88f8-8e6addc615ab.png)

For this years visual direction, I want to utilize pixel sorting _(a type of glitch art

[2016-09-05 13:39] marcwalsh-zz opened #133 "Ravensbourne CSV for Tickets"
Create CSV for Lauren

[2016-09-05 16:04] Saallen commented on #68
Hey @edrushka
We should have a page about Ravensbourne-
I know we are moving but we still need to acknowledge our relationship, our academic sponsorship and the venue.

[2016-09-06 13:23] KevZawacki commented on #107
Updated speaker release form [here](https://docs.google.com/document/d/1-oz4fcLZATF1DCndZzGga7WzPBtREs_aAUfcEcXMnuw/edit).

@Saallen @edrushka Does this look good? OK to send to our confirmed speakers along with today's email?

[2016-09-06 17:27] sabrinang commented on #76
high res art issue: https://github.com/MozillaFoundation/Mozfest2016_production/issues/132

[2016-09-06 17:30] kristinashu commented on #76
@sabrinang can you also add the example mockup for the stage, poster, guide, and name card?

[2016-09-06 17:48] kristinashu commented on #100
We will reuse last year's.

[2016-09-06 17:48] #100 closed, assigned to nobody

[2016-09-06 17:49] kristinashu commented on #99
We will re-use last year's.

[2016-09-06 17:49] #99 closed, assigned to nobody

[2016-09-06 18:13] edrushka commented on #119
Julie also has a session in her space that needs BSL.

[2016-09-06 18:29] #83 closed, assigned to nobody

[2016-09-06 18:29] #98 closed, assigned to nobody

[2016-09-06 18:40] xmatthewx commented on #88
@edrushka @Saallen – despite what I said when we all met earlier, we'll run with an updated set of space icons similar to last year.

This space name is way longer than all the rest. I think we should expect to use the shortened "Dilemmas in Connected Spaces" in most print items.

[2016-09-06 18:51] mmmavis commented on #127
Hi @Saallen , is there a deadline for session facilitators to update session description on GitHub? After we have exported things from GitHub to a new Google Spreadsheet(used to feed Schedule app) changes made to Github will not reflect on Google Spreadsheet. If we are letting people update session description we should set a deadline for that.

[2016-09-06 18:56] omnignorant commented on #56
![robertfriedman](https://cloud.githubusercontent.com/assets/6335874/18286717/a6586452-7439-11e6-8d21-1b9aaddd7ca9.jpg)

Robert Friedman believes that all people should have equal and open access to the networks, opportunities and resources they need to make their dreams come true; that the internet is a basic human right fundamental to making this vision a reality; and that universal web literacy

[2016-09-06 20:06] Saallen commented on #127
Hi @mmmavis,
Where would you prefer for them to update? Google or gihtub?
Let me think about the deadline as we will need to work backwards from
*release of schedule app
*testing of schedule
*porting over information
*finalising info ( you can decide where this takes place, github or google)

[2016-09-06 20:07] Saallen commented on #88
👍
Currently they are identified as  ATOTCADOCS......
😵

[2016-09-06 20:31] mmmavis opened #134 "Chat about event app details"
Hi @Saallen and @edrushka , 🍰

We have filed relevant tickets here and there and I thought having a short chat could get us all on the same page easier. Let's find time to meet on Vidyo? 😄

Some topics I would like to chat about:
- what kind of changes will be made to [mozfest-program-2016 repo](https://github.com/MozillaFoundation/mozfest-program-2016)
- deadline for making changes on the [mozfes

[2016-09-06 20:45] kristinashu commented on #69
**Overview of Deadlines:**
- Deliver concept [Carrie-Ann]: Sept 13
- Review & feedback on concept [MoFo Design]: Sept 15
- Content deadline [Erika]: Sept 20
- Deliver version 1 [Carrie-Ann]: Sept 20
- Design team review & feedback on 1st mock-up  [MoFo Design]: Sept 22
- Deliver version 2 (final) [Carrie-Ann]: Sept 27
- Design team review & feedback on 1st mock-up  [MoFo Design]: Sept 29
- Final R

[2016-09-06 20:49] kristinashu opened #135 "Design Festival Guide: version 1 (Sept 20) + 2 (Sept 27)"
Based on work done in - Festival Guide Concept #69

Deadlines:
- Content deadline [Erika]: Sept 20
- Deliver version 1 [Carrie-Ann]: Sept 20
- Design team review & feedback on 1st mock-up  [MoFo Design]: Sept 22
- Deliver version 2 (final) [Carrie-Ann]: Sept 27
- Design team review & feedback on 1st mock-up  [MoFo Design]: Sept 29

[2016-09-06 20:52] kristinashu opened #136 "Design Festival Guide: final version - final deadline Oct 11"
Based on work in Festival Guide version 1 (Sept 20) + 2 (Sept 27) #135 and concept work in https://github.com/MozillaFoundation/Mozfest2016_production/issues/69

Deadlines:
- Final Revisions [Carrie-Ann]: Oct 3
- Copyediting [Erika]: Oct 3-6
- Final copy edits [Carrie-Ann]: Oct 7-11
- Send to printers [Marc]: EOB Oct 11

[2016-09-06 21:04] mmmavis commented on #127
If description changes are made by session facilitators it should definitely be made on Github as we need to limit access to the event app spreadsheet. I'll need to [know more](https://github.com/MozillaFoundation/Mozfest2016_production/issues/134) before I can suggest how to get the updated description up on Github. 😁

[2016-09-06 22:46] edrushka commented on #107
Gah! So intense! Should we get ops or legal to weigh in on if we actually _need_ this? I don't know if it's legit to modify a legal doc for CC licensing.  I do realize it will take weeks if we involve legal. Is there any urgency to get these signed?

[2016-09-06 22:50] edrushka commented on #134
Invite sent!
Meeting is for Sarah, Mavis and I. Matthew optional. Let me know if anyone else needs to attend.

[2016-09-07 09:57] Saallen opened #137 "List of tech in Ravensbourne"
Required- catalogue list of tech from level 5 in Raves

Purpose - Hiring of equipment for Production but also spaces. Ensuring we dont over promise, over book and can share the list

[2016-09-07 10:00] Saallen opened #138 "Moz eX- Support onsite"
Required- 3 AV installers fro Wed 26th- Sunday 30th
Requested- already from Raves but need to confirm
- [x] Production install schedule
- [ ] Mozex List of equipment required per piece
- [x] Production meeting
- [ ] Role of interactive and physical  room volunteers

[2016-09-07 10:25] marcwalsh-zz commented on #137
I doubt we will be able to get a list of all equipment. However I've contacted Ravensbourne asking for additional access to view all equipment on my CLR login, so I'll be able to make a smaller list of pieces that spaces may require.

[2016-09-07 11:02] Saallen commented on #124
Arabic translation below
Translated:
Decentralized
Localized
One inclusive web
Innovative
Literate
Secure

London
October 28-30 2016
Festival

Arabic:
لا مركزية
مُوطّنة
وب واحدة تسع الكل
مبتكِر
مثقّف
آمن

مهرجان
لندن
٢٨-٣٠ أكتوبر ٢٠١٦

note from Khaled: (I had to reorder the last three lines so they make sense in Arabic, so
the they are 3,1,2.)

Remember Arabic works Right to left ;)

[2016-09-07 19:03] sabrinang commented on #76
example of mockups are in slide deck: https://docs.google.com/presentation/d/1Wr2XK-ogr-72XnMqdmLU2Rf64S-5ctC23OimMwnsquY/edit#slide=id.g16564ebac6_0_119

[2016-09-07 20:09] xmatthewx commented on #108
Can you share last year's introduction? @edrushka

[2016-09-07 23:02] edrushka commented on #108
@marcwalsh do you have the text from last year's book anywhere?

[2016-09-07 23:40] sabrinang opened #139 "Test and Finalize One Web Theme Colours"
<img width="1027" alt="screen shot 2016-09-07 at 4 32 10 pm" src="https://cloud.githubusercontent.com/assets/2492510/18332095/ac28b5e6-7518-11e6-9788-08d12bdfc1a1.png">
We are using a bold palette with neons this year and we need to test:
- for print in CMYK
- for print in Pantone
- How the palette works as a whole (example: what if yellow was neon and the rest were not?)
- finalize the palette wi

[2016-09-08 09:26] Saallen opened #140 "Moments to celebrate for comms"
This is a list of big moments of releases of the festival schedule or program to be used for press, social or mail outs. cc @KevZawacki @KGorr
Please include Sign for updates tito emails in this mail out
- [ ] Release the full list of speakers
- [ ] Fringe events such as MozEx event at the Tate 10-11th oct
- [ ] Schedule for the festival
- [ ] Release the digital MozEx catalogue
- [ ] Curiculum ca

[2016-09-08 09:31] Saallen commented on #107
This needs to go before legal and we should definitely have one.
I will open a bug for it now. I dont think it will take long as its already been used at a previous event

[2016-09-08 10:04] Saallen opened #141 "Looking for Bloggers for MozFest"
Required- Writers who are willing to review a session for us and blog about it afterwards.

Outreach though
- [ ] Contacts
- [ ] Space Wranglers
- [ ] Festival participants , ref SRCCON approach
- [ ] MozFest contributors and Volunteers

cc @HPaulJohnson
All contacts collected [here](https://docs.google.com/spreadsheets/d/1V_vxDwoc35f-zphmkD4iWEMYrKqpcPAyopzKdBxNA3U/edit#gid=0)

[2016-09-08 12:25] KevZawacki commented on #140
Important ticket! Thanks, @Saallen. Let's update whenever we have a date pinned down.

[2016-09-08 14:09] techkim commented on #56
Kim Wilkens is the Computer Science Initiative Coordinator for K-8 at St. Anne’s-Belfield School and the founder of Tech-Girls. She is passionate about transforming technology users into technology creators, collaborators and activists. Kim looks forward to embracing the possibilities and challenges of the future with you at MozFest!

@kimxtom
http://techkim.wikispaces.com
![kimpic14](https://clou

[2016-09-08 14:42] simeonoriko commented on #56
![simeon oriko](https://cloud.githubusercontent.com/assets/389670/18352714/2e108190-75e8-11e6-8b5b-46a334306fb8.jpg)

Simeon Oriko, an Open Innovation strategist & consultant based in Nairobi, is passionate about helping people translate their ideas into reality. This passion shapes his vision and work at Jamlab, a co-creation community he established and serves as its Executive Director.

[2016-09-08 14:54] marcwalsh-zz commented on #108
Sure thing!

See below...

[2016-09-08 16:26] #82 closed, assigned to kristinashu

[2016-09-08 16:30] marcwalsh-zz commented on #133
Sent over to Lauren.

[2016-09-08 16:30] #133 closed, assigned to nobody

[2016-09-08 18:30] gvn commented on #132
So, a couple things!
1. Upscaling a pixel sort is achievable by doing a "nearest neighbor" resample in Photoshop (or other tools). I gave some thought to converting a pixel sorted bitmap to SVG, but I don't think the end result would rasterize any differently.
2. Here's an initial draft of a texture generated with one of my processes using the palette from the design doc. This is a different appro

[2016-09-08 18:34] Saallen commented on #140
First date confirmed @KevZawacki & @kristinashu
Fringe event at [the tate](http://www.tate.org.uk/whats-on/tate-britain/pop/digital-artist-show-tell)
Date- 10- 11th of Oct talks after 1pm each day
Opportunity to see some of the exhibits ahead of the opening day at MozFest, meet some of the artists in residence at the tate and listen to array of talks.

[2016-09-08 20:02] sabrinang commented on #132
Thanks for posting up a draft and exciting to see! My main thoughts and feedback would be around how visually busy the text area feels that could interfere/distract from the words so here is some ideas to try:

<img width="1206" alt="screen shot 2016-09-08 at 1 00 05 pm" src="https://cloud.githubusercontent.com/assets/2492510/18364718/32372bee-75c4-11e6-99d7-b773a4ed7c2a.png">

Can we also try mak

[2016-09-08 20:31] gvn commented on #132
Here's the AI file if you want to try tweaking some stuff directly! [fox-diff.ai.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/462614/fox-diff.ai.zip)

I can work on some variations and alternatives as well. Just wanted to get the ball rolling. :metal:

[2016-09-08 20:40] SpikeUK commented on #132
May I just comment please that I am really loving the direction you all are going with this design work. And I **NEED** that purple for the volunteer's t-shirts :)

[2016-09-08 21:10] Pomax commented on #132
A random little attempt using Processing, with glitch distortion turned off, and on respectively:

![noglitch](https://cloud.githubusercontent.com/assets/177243/18367004/e87ad028-75cd-11e6-93c6-843be8b4c487.gif)

![glitched](https://cloud.githubusercontent.com/assets/177243/18367007/eb31170a-75cd-11e6-8223-70d2a373822c.gif)

Code used:

[code]

[2016-09-08 21:14] gvn commented on #132
@sabrinang – Here are some more SVG fragment variations that you can feel free to organize & use however you like! 🎉

[fragments.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/462717/fragments.zip)

[burst-fragments.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/462946/burst-fragments.zip)

[2016-09-09 00:17] sabrinang commented on #132
fragments are lookin' fine :+1:
<img width="1277" alt="screen shot 2016-09-08 at 4 47 40 pm" src="https://cloud.githubusercontent.com/assets/2492510/18370703/fe60abd6-75e3-11e6-8541-661cc83e1c8d.png">
<img width="1279" alt="screen shot 2016-09-08 at 5 15 39 pm" src="https://cloud.githubusercontent.com/assets/2492510/18371283/e86fc4ca-75e7-11e6-911a-bb66e06793e7.png">

[2016-09-09 16:40] sabrinang commented on #88
**Redesign of original icons:**
- streamlined width of icons, avoiding fills
- proportionate height as a set
- spacing and angles based on One Web’s grid system
- note: badges is a new icon, 2015 did not have an icon for badges

<img width="790" alt="screen shot 2016-09-09 at 9 30 42 am" src="https://cloud.githubusercontent.com/assets/2492510/18394719/2370a368-7670-11e6-8918-66b5a930ed7a.png">
<im

[2016-09-09 17:13] xmatthewx commented on #132
This is all so so awesome.

@Pomax @gvn @sabrinang – it'd be amazing if you ran a workshop at Mozfest on generative art ... and created something we then used on the last day. cc @flukeout @simonwex

[2016-09-09 17:26] Saallen commented on #88
Hey @sabrinang  I am loving theses designs, especially the font and colours. 🎨
One piece of feedback from Youth zone over the years,  is  that the community do not like their age seen as indicative of their talents. So I would avoid any logos or images that may be perceived as childish or a young person

[2016-09-09 17:54] xmatthewx commented on #88
These are fab. I am way more excited about icons than I was before. I particularly like the one on the top right.

@Saallen – can you ask the Youth Zone wranglers for a list of things that could represent the zone? A long messy list is better than a specific request. A mix of abstract words and specific things would be great, e.g. _fast_,  _games_, fist bump.

@sabrinang – is this a good idea? Wou

[2016-09-09 18:07] sabrinang commented on #88
@xmatthewx I think it would be really helpful from the new spaces as well since there are no previous reference and knowing what they do not want is also equally as useful

@Saallen thanks for the feedback will incorporate in next round of iterations

[2016-09-09 22:48] gvn commented on #132
Here's an example of a composite "pixel sort" process and triangulation process.

For a little extra grit and texture:

![composite-w-logo](https://cloud.githubusercontent.com/assets/206379/18405086/d57bd068-76a3-11e6-8f78-35711a97eeba.png)

[composite-w-logo.ai.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/464973/composite-w-logo.ai.zip)

[2016-09-12 13:25] Saallen opened #142 "Consent form for under 16 yrs of age participation at MozFest"
Here is the approved and final version of the consent form for under 16 yrs old at MozFest.
All under 16 attending the festival must hand over a completed form to access the venue.
It covers
- Photography consent
- Understanding guardians responsibility for young people onsite

It can be filled out by the parent the morning of the event or the guardian as they arrive.
However if the guardian fills

[2016-09-12 18:40] mmmavis commented on #127
Hey @Saallen , I suggest asking session facilitators (or space wranglers) to add a new comment using the following format

[code]

They can replace `i'm the amended description i'm the amended description i'm the amended description` with their real description but the `### Amended Description` and the line break after it are essential for the script to parse info from GitHub comment.

There shoul

[2016-09-12 18:41] mmmavis commented on #127
below is how the comment should look like

[2016-09-12 18:41] mmmavis commented on #127
### Amended Description

i'm the amended description i'm the amended description i'm the amended description

[2016-09-12 18:48] mmmavis commented on #127
@Saallen do we wanna set the date to lock the program repo?

According to https://public.etherpad-mozilla.org/p/2016-mozfest-event-app (line 13) we are aiming for Sept 29. Just wanna confirm that pathway labels will be assigned to sessions before Sept 29 as well. 🐹

[2016-09-13 10:38] marcwalsh-zz commented on #73
@xmatthewx @kristinashu - is this something we could assign to the contractors? It massively pushed ticket sales last year so it would be great to get this up again as soon as possible.

[2016-09-13 12:11] ed-yau commented on #131
[Wayfinding Concept.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/469724/Wayfinding.Concept.pdf)
Current Ideas & Thinking for Concept Direction

[2016-09-13 12:15] Saallen commented on #62
Hey  @edrushka on this plan is there a timeline for blurb for key partners to start emailing their networks?
I have started to get requests.

[2016-09-13 12:22] ed-yau commented on #131
![identified spaces](https://cloud.githubusercontent.com/assets/21972436/18473343/539faf9c-79b4-11e6-97b2-50c4a6f3ca0d.jpg)
![moodboard](https://cloud.githubusercontent.com/assets/21972436/18473346/56b98bee-79b4-11e6-894d-98e8d7032253.jpg)
![vinyl graphics-01](https://cloud.githubusercontent.com/assets/21972436/18473466/011aae10-79b5-11e6-9574-42847ce3cb24.jpg)
![1-01](https://cloud.githubusercont

[2016-09-13 12:29] marcwalsh-zz commented on #27
Received quote OK, waiting for T&Cs and contract to sign.

[2016-09-13 12:42] ed-yau commented on #81
Design Update:

For the T-Shirt design we are thinking of just using logo marks this year and will not be including icons like last year. We will use the One Web logo on the front and potentially a smaller mozfest logo at the back with #mozfest #mozhelp

**Clear** to visitors, **Simple** and **impactful** for the volunteers to stand out.

Colour Thoughts:
Based on the supplier suggested above, the

[2016-09-13 12:49] marcwalsh-zz commented on #81
Hey @ed-yau, it's a great idea however our volunteers normally swap and change their roles throughout the weekend which is why we normally stick to one tshirt for all.

[2016-09-13 12:58] marcwalsh-zz commented on #33
Specs for this:
1 colour spot print
Print Area: 70mm x 30mm

[2016-09-13 13:00] marcwalsh-zz commented on #33
This is also avilable in various colours:
Apple Green, Light Blue, White, Neon Pink, Neon Yellow, Red/Black, Blue/Black, Steel Blue, Silver

[2016-09-13 14:54] xmatthewx commented on #73
Let's do this in-house. Should be quick and easy and contractors have plenty on their plate right now. Do you agree @sabrinang? Tile specs are in comment above. (This shouldn't bump Gigabit work – we could prep this Friday or Monday.)

[2016-09-13 15:42] gbaman commented on #56
Andrew Mulholland, a Computer Science student currently studying at Queens University in Belfast is passionate about getting kids excited and involved in Computer Science and Digital making. In his free time, he can be found working with schools and running events including the Northern Ireland Raspberry Jam.
Twitter - [@gbaman1](https://twitter.com/gbaman1)
http://blog.gbaman.info

![andrew-jambo

[2016-09-13 15:55] Saallen commented on #124
Italian

One Web - Il Web

Decentralized - Decentralizzato
Localized - Tradotto
One - Unico
Inclusive - Inclusivo
Web - Web
Innovative - Innovativo
Literate - Conoscenza
Secure - Sicuro

London - Londra
October 28-30 2016 - 28-30 Ottobre 2016
Festival - Festival

[2016-09-13 15:59] marcwalsh-zz commented on #124
Hindi:

One Web   : एक वेब
Decentralized : विकेन्द्रीकृत
Localized : स्थानीयकृत, स्थानीकरण
One : एक
Inclusive : सम्मिलित, समावेशी
Web : वेब
Innovative : अभिनव, नवीन, परिवर्तनात्‍मक
Literate : साक्षर, शिक्षित
Secure : सुरक्षित
London : लंडन
October 28-30 2016 : 28-30 अक्टूबर 2016
Festival : त्योहार, महोत्सव

[2016-09-13 16:51] kristinashu commented on #131
Excellent, thanks for sharing @ed-yau!

[2016-09-13 17:06] kristinashu commented on #139
@lovegushwa is checking his Pantone book to identify true neon versions and also a non-neon equivalent for each color.

[2016-09-13 17:08] lovegushwa commented on #139
@kristinashu thanks for setting up this ticket! Will check on these this afternoon.

[2016-09-13 17:16] kristinashu commented on #81
Thanks @ed-yau! Would you be able to share screen caps of the Pink, Blue & Purple t-shirt colors (that vendor website is not very clear!)?

[2016-09-13 17:38] edrushka commented on #62
@HPaulJohnson can you paste your invite text?

[2016-09-13 18:30] edrushka commented on #131
Love this, @ed-yau! Nice job.

[2016-09-13 19:37] SpikeUK commented on #81
Interesting ideas thank you @ed-yau but (as @marcwalsh quite rightly says} our volunteers will do many and various things over the weekend. Nobody is "back of house" when they are a #mozhelp volunteer.
I would like please us to concentrate on having the purple colour above as the t-shirt background colour with text in a contrasting colour.
Traditionally we have #mozhelp on the back in white text -

[2016-09-13 22:17] gvn commented on #132
@sabrinang – Here's some more pixel sorts based on the fireworks image:

[pixel-sorts.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/470898/pixel-sorts.zip)

Let me know if you need any more!

[2016-09-13 23:15] mmmavis opened #143 "Idea: generative art photobooth"
Hey @Saallen and @edrushka 🍰

I just had this idea last night about setting up a "photobooth" at MozFest. Since the MozFest design direction this year is associated with generative art I'm thinking maybe we can have a generative art generator running on a computer. Attendees can go there and use the app to generate an image. We then project the art onto a screen/wall so people can take photos (usi

[2016-09-13 23:15] ed-yau commented on #81
@kristinashu I've just put these pages together prior mocking some designs to clarify with everyone the colour selection based on the vendor page and how these come as coloured t-shirts. @SpikeUK I agree and definitely feel the purple could work really well out of the three colours to choose from. I will keep #mozhelp included at the back of the designs.
![volunteer t-shirts colour](https://cloud.

[2016-09-13 23:44] sabrinang commented on #143
I think this is a fun idea @mmmavis ! I'm excited to feature a wide range of generative art ideas and we can have a branded frame somehow that includes colour/wordmark so it ties it back to the "One Web" theme this year.

I would be happy to help where I can with visual direction and it is an awesome opportunity for social, showcase artists and a digital memento of the event.

[2016-09-13 23:52] kristinashu commented on #81
Awesome, thanks for sharing those! Yes, purple would be great.

[2016-09-14 00:06] ed-yau commented on #80
From our MozFest Design Checkin meeting, we wanted to know @marcwalsh whether for production we could have multiple stickers and multiple colours?

We like the idea of having the **MozFest 2016** logo printed as well as the **One Web** logo printed. These would be in single block colours inspired from our design thinking for the vinyls concept in ticket #131 where we liked the idea of having large

[2016-09-14 00:12] sabrinang commented on #143
@rtanglao Roland has a bunch of visualizations and generative art I've seen him display around the office and he would be enthusiastic to contribute

[2016-09-14 00:17] edrushka commented on #143
This might work on/near the 4th floor mainstage as that is a place people congregate and use for photos (I'm thinking of how people liked to pose with the red webmaker boxes a couple years back).

Definite +1 to the branded frame Sabrina mentioned above.

[2016-09-14 00:23] sabrinang commented on #132
@gvn these pixel sorts are great!

I just experimented with different crops and transparency/blending modes and we can achieve a lot of effects with them:
![pixelsort-sample-experiments](https://cloud.githubusercontent.com/assets/2492510/18495859/ec16f4c6-79d5-11e6-8c05-6f9f719294a3.png)

@ed-yau @Carrie-ann Please experiment with the .svgs in the .zip file provided above and incorporate them as y

[2016-09-14 00:36] Pomax commented on #132
@sabrina @xmatthewx @gvn I'd be for a generative session, I wrote my Processing sketch in maybe 10 minutes, easy enough to explain a pixel grid to people and then go "and now you get to mess it up _tremendously_" =D

[2016-09-14 01:02] sabrinang commented on #80
Thanks for sharing your progress Ed :)

If we can have a variety of stickers that would be amazing but it might come down to production costs (would be equal to print 15 unique stickers? or would it be cheaper?) those are some thoughts for Marc to provide guidance on.

I have some thoughts that might help reduce the choices. If we had to reduce the amount of stickers, I would lean towards the 2 de

[2016-09-14 05:38] SpikeUK commented on #142
Just for clarification (as I have been involved in discussions around this subject in the past), this process and form is only applicable to people _BEFORE_ they reach their 16th birthday.
Andi is coming to MozFest with a parent and it's their 16th birthday on 29th Oct 2016. So, on Friday they will need to fill out the form and wear yellow lanyard (unless decided otherwise by parent). But if they

[2016-09-14 09:35] marcwalsh-zz commented on #80
This sounds great. I would look to get 2 x 1500 or 3 x 1000 stickers.

Are you able to let me know what dimensions you're looking at @ed-yau and I'll get these priced up. (They need to be a minimum of 5x5cm)

[2016-09-14 09:38] marcwalsh-zz commented on #137
Requests for Ravensbourne equipment will be made through me, and I'll check with CLR / Lauren as to if it's in stock.

A definitive list isn't available, there's a lot of stuff (mostly video production based)!

[2016-09-14 09:38] #137 closed, assigned to marcwalsh-zz

[2016-09-14 09:38] marcwalsh-zz commented on #126
Awaiting new quote from suppliers, once sent terms will be passed through legal.

[2016-09-14 10:18] Saallen commented on #143
This is great! +1 to @edrushka  of main stage area. @mmmavis & @sabrinang @gvn would you be up for the challenge to curate this screen over the weekend outside of active stage times?
I am also including our friends from @MozExhibit so they can feed ideas or comments in here too

[2016-09-14 10:22] Saallen commented on #140
@marcwalsh suggested Meet the Space Wrangler piece - maybe we could do an AMA on twitter? or do a release of 10- 15 tweets sharing blogs, twitter accounts and linking to their spaces...good way to celebrate the narrative too. What do you think @KevZawacki @KGorr @edrushka

[2016-09-14 10:32] Saallen commented on #127
Hellloo @mmmavis
Yes- the labels will ready by then 😮

[2016-09-14 11:08] KevZawacki commented on #140
@Saallen Twitter AMAs take a fair amount of resources to set up and execute -- I'm not sure the ROI would be there. I like the idea of a Medium post that shares headshots and bios.

[2016-09-14 13:44] marcwalsh-zz commented on #30
Contract signed by PeopleCheck and Mozilla Foundation. Uploaded to box.

Closing... 🙌

[2016-09-14 13:44] #30 closed

[2016-09-14 16:22] edrushka opened #144 "Scope post-festival comms"
Comms pieces that should go out after the festival:

Blogs
- Mozilla's official recap blog
- Speaker series video archive blog
- Social media recap (best of Twitter and IG)

Emails
- thank you to speakers
- thank you and recap for participants
- thank you to facilitators
- thank you to Space Wranglers
- thank you to vendors
- thank you to volunteers
- recap for Mozilla

Surveys
- participants
- fa

[2016-09-14 17:26] edrushka commented on #132
Love where you're going with these, @gvn and @sabrinang. Would be so cool to incorporate in some of the generative ideas, like #143

[2016-09-14 17:55] xmatthewx commented on #143
Very very cool. We could also run the photo thru Processing to add text, glitch, etc. cc @Pomax

[2016-09-14 18:07] MozExhibit commented on #143
This sounds great. It also allows the public (that will see art&design around the building) to become more part of the creation of the visual identity of the festival itself. An ad-hoc participatory element to contribute to the whole design theme. I like this. An install on 4th Floor main stage sounds perfect. I think the glitch element would be key here too - if we have a designed App that create

[2016-09-14 18:42] edrushka commented on #140
@KGorr the Fringe Event at the Tate could be a good sneak preview for the next email, since the speakers list won't be ready yet.

[2016-09-14 20:12] Carrie-ann commented on #111
@edrushka Just out of interest do you happen to know how many Dialogue and Debate Speakers there are going to be? I'm currently trying to work out how information could look in the festival Guide.

Thanks !

[2016-09-14 21:06] SpikeUK commented on #144
(cough) thank you to volunteers (cough)
(I thank the volunteers (and vouch for every Mozillian) but it would be nice to have an "official" thank you from Mozilla.)

[2016-09-14 21:08] edrushka commented on #144
YES! Thanks for the reminder @SpikeUK - I'll edit the first comment

[2016-09-14 21:10] edrushka commented on #111
There are currently 9 confirmed speakers and a couple maybes. I don't think we'll exceed 12.

[2016-09-14 21:22] edrushka opened #145 "Create info pack for D&D speakers"
To include:
- [ ] flight details
- [x] hotel details
- [x] key festival timings
- [x] other D&D speakers and their themes
- [x] their speaking slot
- [ ] template for slide presentation ?? (if we're including this, we should have it ready!)

@KevZawacki @Saallen please add anything else you can think of

[2016-09-14 21:46] KGorr commented on #140
Happy to help draft some tweets about the space wranglers and the spaces, @Saallen. Other than the mozfest site and medium, are there other resources I should be using? Do we have a list of their contact info/twitter handles gathered somewhere?

Regarding the Fringe Event at the Tate - sounds great to me! @edrushka, where can I find info on this? (Sorry if I've missed it somewhere...)

[2016-09-14 21:48] KGorr commented on #140
Whoops - sorry, @edrushka! Scrolled up and saw the link is already provided for the event. I'll draft something soon and send it your way for review.

[2016-09-14 21:53] KGorr commented on #144
Reflecting on my experiences with large events like this, there is always a "ah, man, it's over! What do I do now?" feeling that sinks in after returning from such a busy/stimulating high from the event. What if we also did a couple of follow up communications (email & blog) to encourage/remind people of how they can continue working, collaborating, and teaching after MozFest? I'm thinking weeks/m

[2016-09-14 22:03] edrushka commented on #144
Nice idea. I'll add a "long tail" category up top for stuff like this.

[2016-09-14 23:14] EPIKhub commented on #56
![foxdorine](https://cloud.githubusercontent.com/assets/10254892/18533228/52fe5978-7ad9-11e6-81ea-daff9ed9bee8.jpg)

[2016-09-14 23:21] edrushka commented on #56
Hey @EPIKhub any chance you have a photo that's a little closer up? We need to crop them to head and shoulders to fit in the template that's been designed.

[2016-09-14 23:26] edrushka commented on #118
@Saallen when can we send the Non-EN sessions email?

[2016-09-14 23:27] #59 closed, assigned to edrushka, Saallen

[2016-09-14 23:29] edrushka commented on #72
Is this done @marcwalsh? Can we close?

[2016-09-14 23:37] edrushka commented on #109
Friday

[code]

Saturday

[code]

Sunday

[code]

@KevZawacki can you confirm these are the most up-to-date timings for the D&Ds?

[2016-09-14 23:44] edrushka commented on #112
@Saallen the deadline has passed right? Did any spaces request changes to their space description?

[2016-09-14 23:51] edrushka commented on #114
The Mozilla Festival respects Mozilla's community participation guidelines. These guidelines cover our behaviour as participants, facilitators, space wranglers, staff, volunteers, vendors, and anyone else involved in making MozFest possible.

**How to treat each other**
be respectful and welcoming
try to understand different perspectives
do not threaten violence
empower others
strive for excellenc

[2016-09-14 23:52] edrushka commented on #111
@KevZawacki what date are we aiming to have the speakers list finalized and the photos and bios ready? Also, did you give a wordcount for the bios?

[2016-09-15 07:49] Saallen commented on #114
Looks great. Thanks

On 15 Sep 2016 12:51 a.m., "Erika Drushka" notifications@github.com wrote:

[2016-09-15 07:50] Saallen commented on #112
Science said they might need to but I have not heard from them. I will ping
Earliest but if nothing by today's call it's officially closed

On 15 Sep 2016 12:44 a.m., "Erika Drushka" notifications@github.com wrote:

[2016-09-15 08:24] EPIKhub commented on #56
@edrushka whats the latest I can get one to you?

[2016-09-15 08:37] EPIKhub commented on #56
Also here is the Bio, weird doing 3rd person stuff:

"Heading up the "Youth led" programme at MozFest, her interest in Sociology and Anthropology led her to explore how digital culture can build resilience and inclusion across communities.

A keen RPG gamer, Dorine’s years spent assembling raid teams of young people in World of Warcraft lead her to a second career in HR supporting engineers (natur

[2016-09-15 12:36] KevZawacki commented on #109
@edrushka They're a bit off. D+Ds are currently:

Saturday, Oct. 29 // 11:15 a.m. - 12:15 p.m. (correct above)
Saturday, Oct. 29 // 3:15 p.m. - 4:15 p.m. (incorrect above)
Sunday, Oct. 30 // 2 p.m. - 3 p.m. (incorrect above)

We'll likely be adding a fourth this week; time tbd.

[2016-09-15 12:38] KevZawacki commented on #111
I've asked for all headshots, bios, and talk titles by Friday, Sept. 23.
Bio wordcount is <200 words. We can trim further.

[2016-09-15 15:02] msaunby commented on #56
![saunby](https://cloud.githubusercontent.com/assets/848911/18554875/9a14c778-7b5d-11e6-88a0-ef4137ea169e.jpg)

Reinvented once again this former scientific software developer is currently teaching Python to degree apprentices, crafting IoT software and helping others deliver open innovation through hackathons and much more.

@msaunby

[2016-09-15 15:07] thornet commented on #88
@Saallen @xmatthewx we'd be fine changing our name to just "Dilemmas in Connected Spaces" for sanity, signage and more.

[2016-09-15 15:40] edrushka commented on #88
@Melechuga @omnignorant @mozexhibit:  [Please review this redpen](https://redpen.io/vje77895a40e81fe4e) and comment on the potential directions we can go with your Space Icon. Let us know which images you like/don't like. If you don't like any of these images, give us some words/concepts/emotions you'd like Sabrina to explore.

[2016-09-15 15:55] Melechuga commented on #88
@edrushka Sounds good! Is Tuesday EOD ok? Gotta ping a few people who are spread out and traveling...

[2016-09-15 15:57] edrushka commented on #88
The sooner the better @Melechuga - if you can even give a hint as to which direction you like, Sabrina can start iterating.

[2016-09-15 17:36] edrushka commented on #114
@Carrie-ann this is ready for the guide. Final copy for the Participation Guidelines section:

The Mozilla Festival respects Mozilla's community participation guidelines. These guidelines cover our behaviour as participants, facilitators, wranglers, staff, volunteers, vendors, and anyone else involved in making MozFest possible.

**How to treat each other:**
Be respectful and welcoming
Try to unde

[2016-09-15 18:14] edrushka opened #146 "Supply board games"
@marcwalsh @Saallen During a meeting about connecting participants at MozFest, a few people noted that some other tech fests provide board games, which helps some of the more introverted folks connect. Wondering if we could have 2 or 3 of these spread throughout the building - say in a couple coffee zones and on the 4th floor.

[2016-09-15 18:17] edrushka opened #147 "Create Slack or Chat channel"
XOXO Festival has a dedicated Slack channel that is active throughout the year. See this article: http://www.theverge.com/2015/9/18/9349425/slack-future-of-conferences-xoxo-festival

What options do we have for MozFest?

@xmatthewx please update this ticket after your software meeting

[2016-09-15 18:28] Saallen commented on #146
Have you been to MozFest before!!!- we always have hungry hippos, connect 4, draughts and chess onsite. Normally on the lower levels.
Hippos or chess didnt survive the London office move though. If you have other suggestions send them my way @edrushka

[2016-09-15 18:50] edrushka commented on #146
THERE HAS BEEN HUNGRY HUNGRY HIPPOS ALL THIS TIME AND NO ONE TOLD ME!?

That's it. This is my last year on the production team. I will attend as a participant in 2017 so I can partake in this fun 😤

@kristinashu were there other games at XOXO you could recommend?

[2016-09-15 20:34] edrushka commented on #109
@Carrie-ann this is ready for the guide. Final copy for the Key Festival Times section (although be aware we may add one final 'Dialogues and Debates' slot)

Friday

[code]

Saturday

[code]

Sunday

[code]

[2016-09-15 20:46] Carrie-ann commented on #109
@edrushka Great! Thanks for this.

[2016-09-15 21:35] xmatthewx commented on #131
@sabrinang – let's pick two space ... a long name and a short name ... share the icons so @ed-yau can mock up floor signage.

[2016-09-15 22:01] edrushka opened #148 "Design: Name Card"
This ticket is for the design of the name card/name tag that hangs on the lanyard.
![22482329519_622a2381f0_m](https://cloud.githubusercontent.com/assets/4515662/18568996/ee27d7e6-7b54-11e6-8f5e-b639a091109b.jpg)
![22840128102_20df8584b1_m](https://cloud.githubusercontent.com/assets/4515662/18569005/f9e88a12-7b54-11e6-90a7-82bda78f80ef.jpg)
![22686916430_721fb649b5_m](https://cloud.githubuserconte

[2016-09-15 22:04] edrushka commented on #148
@marcwalsh @Saallen this encompasses everything we discussed today with the exception of wifi/connectivity. I hesitate to include this because network names and passwords often change at the very last minute. IMO, it would be worse to have incorrect information than no information at all. What do you think?

[2016-09-15 22:07] kristinashu commented on #80
@ed-yau for reference, the big round stickers are 7.5cm and the Science Lab sticker is 9cm long.
![img_7781](https://cloud.githubusercontent.com/assets/1068783/18569020/10e325e2-7b55-11e6-98ff-c4896ba9c293.JPG)

@marcwalsh are we using the same supplier as last year? They weren't very good quality.
<img width="590" alt="screen shot 2016-09-15 at 3 06 17 pm" src="https://cloud.githubusercontent.com

[2016-09-15 22:14] kristinashu commented on #69
Based on our meeting. We're adding concept and inspiration to the redpen: https://redpen.io/p/aq3ed683d65024fc8f

@Carrie-ann's next steps:
1. A quick low-fi dump of copy, black on white … so fest organizers can see how text fits across all the pages. discover their mistakes. Add blocks for missing content...
2. A set of visual directions. Each could just be a cover and interior page. Focus on sty

[2016-09-15 22:20] kristinashu commented on #146
Love that we're already doing this!

XOXO had lots of indie games but none in particular come to mind.

[2016-09-15 22:27] kristinashu commented on #101
First choice for table cloth color is purple but if they don't have something similar then blue would work as well.
<img width="276" alt="screen shot 2016-09-15 at 3 24 17 pm" src="https://cloud.githubusercontent.com/assets/1068783/18569611/83be35ae-7b58-11e6-8b5e-9cf59b8d308a.png">

@marcwalsh how should we work flow this? Should I remove the design label and assign to you to purchase?

[2016-09-15 22:37] sabrinang commented on #34
![dsc06685](https://cloud.githubusercontent.com/assets/2492510/18569783/c522d01c-7b59-11e6-9257-f40355c315fa.JPG)
An idea is to reduce having a separate notebook and to have blank pages incorporated in the festival guide to serve as a notepad. Alternatively, it could also work with the size of the festival guide size so it can be all kept together when clipped.

[2016-09-15 22:50] kristinashu commented on #34
I echo that. I definitely like idea of having fewer loose pieces. But if we do want a separate notebook, we should just have something small like Field Notes which only has about 24 pages (which we could clip to the guide, as Sabrina mentioned).

<img width="238" alt="screen shot 2016-09-15 at 3 48 51 pm" src="https://cloud.githubusercontent.com/assets/1068783/18570074/f203dde0-7b5b-11e6-8432-9952

[2016-09-15 23:55] Pomax commented on #143
Thinking even further, we could project the glitched photo back onto people and take a new photo for them to show off. Kind of a before and after shot, the after shot is properly tricked out.

[2016-09-16 06:45] MozExhibit commented on #88
@edrushka @Saallen @xmatthewx @sabrinang - We love the first two icons (top left) for MozEx. The first one is an interesting representation of connection, forming somehow an intricate X. The second one still relates to connections (and channels) but forms an E.

As we are an Exhbition/Experience/Exchange, perhaps the E represents all this whilst at the same time fits with as "E"xhibit.

If you are

[2016-09-16 10:11] SpikeUK commented on #148
@edrushka @marcwalsh @Saallen Could we maybe leave clear space for Wi-Fi details and maybe print these on stickers that could be stuck-on when the Volunteers are assembling them?
@Marcwalsh - will we have last minute label printing facilities on site?

[2016-09-16 10:29] SpikeUK commented on #80
Can we include "I speak xxxxx language" sticker in this bug or should I raise another one. I was originally considering these for "my" Local Volunteers only but I think they could be really great for all attendees.

[2016-09-16 12:02] Saallen commented on #144
SRCCON ask their community to send them any blogs they publish in their post event comms. I would like us to try this too- I do gather a lot through trawling twitter but I must miss many

[2016-09-16 12:38] xmatthewx commented on #69
Hey team, the dimensions we discussed yesterday (240mm x 170mm) seem large to me. I'm curious what @sabrinang & @kristinashu think. In the past, we have had something that was pocket sized or notepad sized, maybe 150mm on the long side @Carrie-ann

I'm not opposed to something larger and could be convinced, but let's discuss the pros and cons here.

[2016-09-16 13:07] SpikeUK commented on #69
Could I please request that the Festival Guide not be made of too many individual parts - I will have to organise getting 1,800 (or so) of these assembled from the individual components by the Local Volunteers :(

[2016-09-16 13:15] marcwalsh-zz commented on #68
Hey @edrushka - Just had a thought (it may be too late now)! Would it be worth adding a piece about MozRetreat in Berlin and how that influenced and help shape the festival this year?

[2016-09-16 13:17] marcwalsh-zz commented on #69
Hey @SpikeUK - the festival guide will be a booklet that's printed. We won't be having swag bags this year, instead we will be building packs that include the festival guide, a couple of flyers, a sticker notepad and a pen and they'll be held together with a bulldog/binder clip.

Hopefully it shouldn't add too much time to what is normally allocated.

[2016-09-16 13:22] SpikeUK commented on #69
Thanks @marcwalsh - I was thinking it was Swag Bag _and_ Festival Guide stack - I did not realise it was Festival Guide "instead of"..... ;-)
Thank you for putting me straight.
/me goes off totally rewrite Volunteer timetable

[2016-09-16 13:25] marcwalsh-zz commented on #148
@edrushka @SpikeUK @Saallen - Network name and password will be fine. We can pre-agree this with Ravensbourne well in advance to ensure that it doesn't change.

I'm checking if the password can be disabled on the network if not we can use something simple such as mozfest16 or oneweb16

[2016-09-16 13:29] marcwalsh-zz commented on #146
[Argos](http://www.argos.co.uk/static/Browse/ID72/38597322/c_1/2%7Ccategory_root%7CToys%7C33006252/c_2/2%7C33006252%7C2+for+20+pounds+on+selected+games%7C38597322/r_001/4%7CCharacter%7CHungry+Hippo%7C1.htm) currently have a deal on all board games... - Any that strike your fancy?

@kristinashu @edrushka @Saallen

[2016-09-16 13:29] KevZawacki commented on #145
Speaker playbook shaping up [here](https://docs.google.com/document/d/14VXDQcdKjOztX62HxYbnHXrPjwD-xR3ATY03KcsPVSo/edit#).

Planning to send week of Oct. 3. Or earlier, if possible!

cc @HPaulJohnson

[2016-09-16 13:30] Saallen commented on #118
@edrushka we must send the first email- welcoming them them first.
We are waiting on two spaces to complete their curation then we will send the official email

[2016-09-16 13:50] xmatthewx commented on #80
Let's file a separate bug for that @SpikeUK. Those stickers will have different requirements for production type and quality (non-glossy for easy writing).

[2016-09-16 14:17] marcwalsh-zz commented on #80
@kristinashu - we're not the using the same supplier as last year. We're using [Pixart](https://www.pixartprinting.co.uk/printing-labels-tags/stickers/) for the stickers this year.

[2016-09-16 14:52] kristinashu commented on #146
Jenga!

[2016-09-16 15:45] kristinashu opened #149 "Language stickers"
@SpikeUK mentioned this in #80

We need stickers that say "I speak xxxxx language". These should be non-glossy so people can write on them.

translated text: https://github.com/MozillaFoundation/Mozfest2016_production/issues/124

[2016-09-16 15:57] SpikeUK commented on #149
This is an idea that has been kicking around for local volunteers for several years now but has never been realised: volunteers that have declared (when they signed-up) that they can converse in language (other than EN) display sticker on their name badges.
The obvious idea was to have county flags but that fails as some languages are used in multiple countries.
On the volunteer sign-up form we ha

[2016-09-16 16:29] edrushka commented on #70
Updated Sept 16

[2016-09-16 16:33] kristinashu commented on #69
@Carrie-ann @xmatthewx I agree 240mm x 170mm is probably too big for something people will be carrying around but at the same time pocket size might not be big enough to house all the additional content we have this year. How about something in between?

Here are a few examples of sizes to get a sense of scale:
The field notes are 90x140mm
Notebook 205x205 / Map 180x220 / Great 155x205
<img width=

[2016-09-16 18:25] kristinashu commented on #131
@ed-yau once you've explored what Matthew mentioned above, you can get started on:
- Design Wayfinding: Floor vinyl and internal signage #89 (getting into the details of the signage like were exactly we will need the signs and how many of each...)
- Design Wayfinding: Space banners #102 (simple flags with the space icon and name on it)
- Design Wayfinding: Floor plan maps #91 (both a general map f

[2016-09-16 18:26] kristinashu commented on #149
Linking this to the lanyard/name tag ticket https://github.com/MozillaFoundation/Mozfest2016_production/issues/148

[2016-09-16 18:52] xmatthewx commented on #131
Concept is in good shape. We should get sign off from fest planners after we have an idea about banners. Maybe we share with them Monday or Tues?

[2016-09-16 19:03] kristinashu commented on #78
We have a dedicated design ticket now https://github.com/MozillaFoundation/Mozfest2016_production/issues/148

[2016-09-16 19:38] edrushka commented on #144
Good call. I added to the list.

[2016-09-16 19:39] edrushka commented on #68
Ohhhh that's interesting, Marc. @kristinashu how are we doing for length/pages? Can we add these two pages?

[2016-09-16 19:41] edrushka commented on #148
Ok, I'll add wifi info to the back of the card info. @kristinashu this is ready for you to present to Ed and Carrie-Ann.

[2016-09-16 19:51] edrushka commented on #146
Adam Lofting's board game!!!! https://www.thegamecrafter.com/games/moving-out-at-last-

[2016-09-16 20:01] sabrinang commented on #102
@ed-yau You can focus on iterating on banners with one space's name and icon first. For example start with:

Localisation
Icon (outlined): https://drive.google.com/file/d/0B4Q8pzCpDS_eWXZQV3NNaGVWVzA/view
Icon (paths if you need to adjust widths to work with type when scaled): https://drive.google.com/file/d/0B4Q8pzCpDS_eY0tBcVlveW9hVG8/view

Localisation has a shorter title and narrower icon than

[2016-09-16 20:02] edrushka commented on #131
@xmatthewx let me know if you want me to book a 30min call.

[2016-09-16 20:03] kristinashu commented on #148
Yes, I think that's all the info we need!

[2016-09-16 20:24] kristinashu commented on #68
I believe Carrie-ann has a very rough estimate of 16-20 pages, which is getting pretty long. Unless it's crucial, we should refrain from adding more content 😬

[2016-09-16 20:34] edrushka commented on #68
@Saallen now that we have a partners section added to the team page on the website where we can highlight and thank Ravensbourne, do we still need a page for them in the Festival Guide?

[2016-09-16 21:16] edrushka commented on #112
Looks like Science doesn't want a re-write. I will use copy from the website for this section.

[2016-09-16 22:18] edrushka commented on #112
Spaces are physical and thematic learning hubs based around a broad topic, like science, art, or journalism. A Space is made up of sessions, which are interactive gatherings around a specific idea like _Quantum computing - The next step_, _Ro-Botticelli - Creating art with robots_, or _Graveyards & Treasure Troves - Hidden APIs of the Media_.

**Digital Arts and Culture**
In the 21st Century, the

[2016-09-16 22:28] edrushka commented on #110
**Mozilla’s Key Internet Issues: Shaping the Agenda**

To unlock the next wave of openness and opportunity on the Internet, we need the public to understand and be ready to address the biggest challenges and opportunities that face the internet today.

Mozilla, our community and our allies need to be clear, compelling voices for the open Internet. Our goal is to work together to make open internet

[2016-09-16 22:32] ed-yau commented on #80
@Carrie-ann and I have produced 3 designs based on the comments above. **2 x One Web** Circle stickers: 7.5cm in diameter and **1 x Moz Fest 2016 Wordmark Lock-Up** Logo sticker: 9cm x 2.7cm. We have saved this in the google drive in 3 formats, ai file, pdf, and a jpeg. Please see the designs below...
![sticker_oneweb_7 5cm](https://cloud.githubusercontent.com/assets/21972436/18602940/427876aa-7c6

[2016-09-16 22:47] edrushka commented on #109
@Carrie-ann we decided to add a 4th Dialogue and Debate slot now rather than later 😉 I updated the comment above.

[2016-09-16 23:08] edrushka commented on #115
“There is something for everyone to do and learn at Mozfest. Mozfest allows you to pick up something completely new and dive in fully.”
 —Hera Hussain

"MozFest is designed to be like the web: a place where you can make things that matter."
—Sam Dyson

"My favourite part of Mozfest has always been the uniqueness and diversity of the people in the room."
—Amira Dhalla

[2016-09-16 23:08] edrushka commented on #115
@ldecoursy do you have any testimonials from our network about the value of MozFest?

[2016-09-16 23:11] edrushka commented on #115
@omnignorant do you have any quotes from Marina about participating at MozFest?

[2016-09-16 23:32] edrushka commented on #108
MozFest is the world's leading event by -- and for -- the open internet movement.

What is MozFest?

MozFest is a three-day extravaganza of interactive sessions, hands-on activities and engaging talks, and is one of Mozilla’s largest annual networking opportunities.

Now in it’s seventh year, MozFest has a rich history of driving innovation on the web. Planned activities and impromptu conversation

[2016-09-16 23:34] edrushka commented on #113
@Saallen @marcwalsh I wonder if we need an entire section for this. I mentioned the number of languages in the intro in #108.

[2016-09-16 23:41] edrushka commented on #124
Hey @hjbailey - do you think you'll be able to get French, German or Spanish?

[2016-09-17 13:37] Saallen commented on #108
This looks great @edrushka - well defined and perfecto!
I do think if we mention the 9 spaces we should also mention MozEx as an experience- while it is not considered a space with sessions, talks it does play a large part in the program.
would it be ok to add this within the description too?

[2016-09-17 14:30] Saallen commented on #68
@edrushka  Yes as per our relationship they should be added to the festival guide

[2016-09-17 22:56] ed-yau commented on #81
Two design options have been created based on the comments above. The front and back design are a one colour print and sit on an A4 size document. These can be found in the google drive in 3 formats, ai file, pdf, and a jpeg. Please see the designs below...
![volunteer t-shirts option1](https://cloud.githubusercontent.com/assets/21972436/18611471/0990ef8e-7d32-11e6-83a4-62b212bda2e9.jpg)
![mozshir

[2016-09-18 09:53] SpikeUK commented on #81
Thank you @ed-yau they look amazing. I think I like the first option; with the one web roundel and "MOZFEST 2016" in the front and "#MozHelp" on the back all in white. But I like the yellow print as well.
Two comments if I may. Can we please lose the space between "MOZ" and "FEST" - we tend to use this as one word. And can the "#MozHelp" on the shoulders be bigger - printed on A4 landscape maybe -

[2016-09-18 17:21] Carrie-ann commented on #69
@kristinashu @xmatthewx I do think pocket size could be a bit too small for the amount of content we have for the guide (just based on what I have seen so far). I'm just considering that if we want to possibly have a small booklet/spread inside to emphasise the layering concept we would want the main pages to be big enough to allow it to fit.

What about an A5 size (148 x 210 mm) or something arou

[2016-09-18 22:51] ed-yau commented on #131
@kristinashu @edrushka @xmatthewx @sabrinang
Please find development on the Wayfinding concept.
[Wayfinding Developed Concept.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/479027/Wayfinding.Developed.Concept.pdf)
Here is focus on the Space banners and a brief overview on all the wayfinding formats based on this concept direction that could work in the Ravensbourne space.
!

[2016-09-18 22:54] ed-yau commented on #131
Door Signage, Directional Arrows (Column & Walls), and Floor Maps (Column & Walls & lifts) have not yet been visualised... but format wise would follow the use of a print mounted onto foam board. A4 mounted sheet stuck over an A3 mounted sheet.

[2016-09-19 12:22] KevZawacki commented on #108
@edrushka Hey, this is great! Nicely done :-)

One note: We should use lowercase "internet" throughout. (It's capitalized in the fifth paragraph.)

[2016-09-19 12:24] marcwalsh-zz commented on #81
@SpikeUK @ed-yau

I think that keeping the A4 would work best, it's a lot of wasted space on an A3 print which costs a fair amount more and then may look too big on smaller sizes.

I do agree, the text should read "MOZFEST 2016" and I'd vote for option 1! :)

[2016-09-19 12:28] marcwalsh-zz commented on #124
**Spanish:**

Decentralized: Descentralizada
Localized: Localizada

One / inclusive / web, Una / web / inclusiva   <==  Note this breaks the design. (/ = new line)

Innovative: Innovativa
Literate: Alfabetizada   <==  I am not particularly sure about this one.
Secure: Segura

[2016-09-19 12:31] marcwalsh-zz commented on #124
**French:**

Decentralized: Décentralisé
Localized: Localisé (TN: I’m torn here, it’s jargon. To have a more obvious reference to l10n, it might be better to say Traduit (Translated), even if, of course, it’s not the same thing)
One / inclusive / web: Un / Web / inclusif <== Also breaks design
Innovative: Innovant
Literate: Alphabétisé
Literate: Sûr

London: Londres
October 28-30 2016: 28-30 octob

[2016-09-19 13:11] SpikeUK commented on #81
@marcwalsh @ed-yau The #MozHelp can still be A4 but landscape rather than portrait - see my pic above, that is an 2015 shirt with a portrait A4 for scale.
Option 1 content but option 2 colours is my vote.

[2016-09-19 14:18] ldecoursy commented on #115
@edrushka  here are a few from recent Mozilla Learning community blog spotlights:

See https://blog.webmaker.org/august-community-spotlight-hive-manchester

How did Hive Manchester get its start?

Hive Manchester was inspired by the other Hive communities we met over several years at Mozfest. Steven Flower and I were already working in digital access and skills in Manchester and shared many of Moz

[2016-09-19 15:42] marcwalsh-zz commented on #124
**German:**

Decentralized: Dezentralisiert
Localized: Lokalisiert
One: Ein
inclusive: offenes
This is literally "open", but matches better here than literal translations "allumfassendes" (negative connotations for surveilling everything) or "inklusives" (mostly used for people with disabilities).
web: Web
Innovative: Innovativ
Literate: Bildend
Secure: Sicher

[2016-09-19 15:44] marcwalsh-zz commented on #124
That's all the translations completed! @edrushka (I'm still not allowed to close issues) are you able to tick all them off and close the issue please?

[2016-09-19 16:19] kristinashu commented on #131
@ed-yau love the layering and all the colors, these are looking great!

My only concern would be the amount of set up work needed to do all three types (wall, balustrade, and rafters) of spaces signage, but will discuss with everyone.

One piece we had last year but don't see in these mockups are the space names in vinyl (both on the stairs and on the floor) with arrows. I can't find a great examp

[2016-09-19 16:19] edrushka commented on #124
Closing this but cc-ing @sabrinang first. Here are all the translations, Sabrina!

[2016-09-19 16:19] #124 closed, assigned to edrushka

[2016-09-19 16:25] kristinashu commented on #69
Thanks @Carrie-ann, 148 x 210 mm sounds great!

I only vaguely remember the zine comment but I wouldn't worry about it too much, it was probably just a passing comment.

[2016-09-19 16:57] kristinashu commented on #139
@lovegushwa any luck?

[2016-09-19 17:00] edrushka commented on #108
MozFest is a diverse, highly interactive event with something for everyone. This year, there are nine thematic Spaces filled with participant-led sessions. These might be interactive labs where participants can learn something new or share their knowledge, small group breakout discussions where bright minds debate the most pressing issues facing the internet today, or design sprints dedicated to h

[2016-09-19 17:03] xmatthewx commented on #131
This is really great. I really the three items as a system (space, floor number, one web). I'm not sure that we will need all three placements (hanging, railing, wall), but I like the flexibility that would give festival planners. Given how much we fill the space with people and stuff, Wall banners probably wouldn't be too visible. Worth discussing.

Let's get this approved as our approach first,

[2016-09-19 17:23] xmatthewx commented on #80
Two quick comments:
- Would we want lines behind One Web to run diagonal? (I have no strong opinion)
- When you post images to github, you can add larger image files. Github will size them nicely, and let us click thru to view high fidelity.

[2016-09-19 17:34] kristinashu commented on #36
This year we will have two attachment points at the top, so they don't flip. Because of this, we will need to order new yellow lanyards.

Linking name card design ticket to this one: https://github.com/MozillaFoundation/Mozfest2016_production/issues/148

[2016-09-19 18:15] Melechuga commented on #88
@edrushka @Saallen @xmatthewx @sabrinang
Thanks for these!
One of the goals of Fuel the Movement is to engage, organize, and mobilize people for action. We were hoping we could capture that sentiment in the logo by showing the power of grassroots community -- hopefully a diverse community that reflects worldwide internet users.

Would something like a crowd working together/protesting capture this

[2016-09-19 18:19] sabrinang commented on #80
I like the first one web sticker palette and thickness of the bands over the second one. It may be due to the resolution but the vertical direction clashes with the text on the second.

I think trying the diagonal angle will tie into the visual system (like the wayfinidng banner you had).

[2016-09-19 18:20] xmatthewx commented on #93
When do we expect to have names and logos for this? @edrushka

Please start to request logos now as this often takes longer than expected.

Let's update the deadline accordingly?

[2016-09-19 18:29] sabrinang commented on #131
I like hanging space banners that could be used on the rafters and balustrades. The modular elements would make it flexible for us to mix and match with the layering effect echoed here and great usage of colour. I am not crazy about using foam core as a material and I think when all the spaces are set up we won’t have that much space to lean these on the walls so I don’t know how practical this ap

[2016-09-19 18:31] kristinashu commented on #81
Thanks @ed-yau for mocking this up, it's super helpful to see. The designers and Marc chatted and here is a summary of our feedback:
- like the size of "ONE WEB" in Option 2 but would love to see it solid (like in Option 1) and moved to the left so it's center on the shirt
- with "MOZFEST" below "ONE WEB" (remove "2016")
- back of Option 1 looks good
- we all prefer the yellow color

[2016-09-19 18:32] kristinashu commented on #131
Marc shared a link to the printer's site which offers some foam core alternatives https://www.pixartprinting.co.uk/wide-format/printing-flat-bed-rigid-materials/

[2016-09-19 18:35] xmatthewx commented on #131
To make space names larger, we could do the names vertically coming down from a slightly smaller space icon.

[2016-09-19 18:36] Saallen commented on #108
Looks great to me, thanks for the edit!

On 19 Sep 2016 6:00 p.m., "Erika Drushka" notifications@github.com wrote:

[2016-09-19 18:39] kristinashu commented on #80
Agree, diagonal lines are the way to go! Also, I think the pink sticker could just be solid pink (with out the glitch on the gear icon).

@marcwalsh this is the sticker printer we've used who doesn't have a size restriction https://www.stickermule.com/ Are the prices comparable to what you looked at?

[2016-09-19 18:41] sabrinang commented on #69
Yeah, I think A5 size would be great and allow for small spreads inside.

@Carrie-ann Do you know what size are these small spreads? I think it can inform the size for our notepads (https://github.com/MozillaFoundation/Mozfest2016_production/issues/150) and would be sweet if the proportions of this works with the festival guide when bundled together with the clip.

[2016-09-19 18:42] kristinashu commented on #35
Closing this ticket. If anything pops up in the future, we can open a new ticket.

[2016-09-19 18:42] #35 closed

[2016-09-19 18:43] sabrinang commented on #124
Excellent! Thanks everyone! :+1:

[2016-09-19 18:45] edrushka commented on #93
@xmatthewx we don't actually _have_ any sponsors yet ;) @marcwalsh is on this, and will let us know if any are secured.

[2016-09-19 18:49] kristinashu opened #150 "Design notepad - Deadline Oct 11"
Based on https://github.com/MozillaFoundation/Mozfest2016_production/issues/34

Notepad will be clipped to the Festival Guide and should compliment the design.

Supplier Info:
- [PixArt Printing](https://www.pixartprinting.co.uk/digital-litho-printing/office-products/customised-notebook/) - These have a full color print on the outside and then 90gsm ivory paper on the inside and are 60 pages and s

[2016-09-19 18:50] edrushka commented on #108
@carrie-Ann, here is the final copy for the introduction to the festival guide

---

MozFest is the world's leading event by -- and for -- the open internet movement.

What is MozFest?

MozFest is a three-day extravaganza of interactive sessions, hands-on activities and engaging talks, and is one of Mozilla’s largest annual networking opportunities.

Now in it’s seventh year, MozFest has a rich hi

[2016-09-19 18:51] kristinashu commented on #34
As discussed in our stand, we're going to keep this swag.

I've opened a dedicated design ticket https://github.com/MozillaFoundation/Mozfest2016_production/issues/150

@marcwalsh please add the deadline once you have it.

[2016-09-19 19:01] sabrinang commented on #81
@ed-yau If the circle is looking a bit plain in one colour, you can try introducing some diagonal elements inspired from the style guide to reflect some of the visual textures would be a nice tie to the pixel sort patterns we have going on this year.
<img width="950" alt="screen shot 2016-09-19 at 11 49 15 am" src="https://cloud.githubusercontent.com/assets/2492510/18644681/2ae2cc06-7e5f-11e6-9846

[2016-09-19 19:06] edrushka commented on #81
I think it's ok to use MozFest if that works better for design. All the copy in the guide refers to MozFest, so it's a term we use both internally and externally. Note that we don't generally write it in caps but spell it this way: MozFest.

Mozilla Festival works for the t-shirt as well, if that's better for design.

[2016-09-19 21:05] HPaulJohnson commented on #62
@KevZawacki was nice enough to crank this out for me today. copy here:

https://docs.google.com/document/d/1c-kf5IwBU5okzKlQyCfpNBWQ0z8Tsd6FkDD-aa3gV74/edit

[2016-09-19 21:49] edrushka commented on #62
Thanks Kev. @Saallen will this work for your list of invitees?

[2016-09-19 22:21] kristinashu commented on #131
@marcwalsh aside from the floor maps (example below), do you have access to a more detailed building map? This will be useful for planning out the vinyl flooring...

<img width="509" alt="screen shot 2016-09-19 at 3 20 03 pm" src="https://cloud.githubusercontent.com/assets/1068783/18650899/ba8cfd46-7e7c-11e6-81db-6925d2bacb1f.png">

[2016-09-19 22:46] edrushka opened #151 "Closed-captioning for D&Ds"
On line 130 of [the etherpad](https://public.etherpad-mozilla.org/p/festival-D&Dstage) Mac said he can hook us up with a Closed-captioning provider.

This would allow us to live-stream to other areas in Ravensbourne - e.g. 4th floor common area, coffee zones - without sound.

Can you follow up with Mac and get a quote @marcwalsh?

[2016-09-19 22:47] edrushka commented on #119
Any updates on costs, @marcwalsh?

[2016-09-19 22:57] edrushka commented on #48
Closing as I believe we'll be working with MoCo here.

[2016-09-19 22:57] #48 closed

[2016-09-19 23:04] edrushka commented on #112
Calling this final copy unless design dictates otherwise.

[2016-09-19 23:08] edrushka opened #152 "Guide: Write Ravensbourne piece"
For 2016 Festival Guide. Write Ravensbourne piece

@Saallen what do we need to convey here? Do you have any copy already written?

[2016-09-19 23:11] edrushka opened #153 "Guide: Write MozRetreat piece"
For 2016 Festival Guide. Write MozRetreat piece
- should detail relationship between retreat and festival

[2016-09-20 09:49] Saallen commented on #126
Contract currently on bugzilla
So closing this issue

[2016-09-20 09:49] #126 closed, assigned to nobody

[2016-09-20 10:05] Saallen commented on #153
Sharing notes @erikad
MozRetreat Berlin, was a 3 day event bringing together the key designers for the festival in 2016. A combination of staff, community members, partners and festival allies invited to attend with the aim of working together to design and build the program structure. All attendees will play an active role in the design and execution of the festival
Held 5 months before the festi

[2016-09-20 10:13] Saallen commented on #152
Ravensbourne College is a wired media and design campus located in East London and the home of MozFest for the last 6 years.
It spans nine floors that are custom-built to combine maker labs with impromptu classrooms, in an open dymanic fashion that suits Mozillas open ethos. It’s a learning institution networked with creative industries and designed to give students real-world experience.
With a s

[2016-09-20 10:18] Saallen commented on #148
Hey- just a note on
- Safety: Alert a volunteer, approach an Info Desk or email Sarah at festival@mozilla.org (all emails will be handled in the strictest confidence).
  festival@ goes to 7 ppl would it be better to add my direct email
  or add a phone no-( which I will have asap)

[2016-09-20 10:42] marcwalsh-zz commented on #117
Legal has requested changes on the contract. Sent to vendor and awaiting confirmation.

[2016-09-20 10:47] Saallen commented on #140
@KGorr We have emails, and some twitter handles. We can get these added easily though
The fringe event page is a good tool for news also

[2016-09-20 10:50] #65 closed, assigned to nobody

[2016-09-20 10:52] Saallen commented on #142
Hey @spikeuk
Andi still needs to hand over a signed form as he is under 18 as per our legal requirement
He can attend the festival along once he is 16 but the media consent concerns all under 18

[2016-09-20 10:53] Saallen commented on #144
@xmatthewx there should also be a follow up around Network pulse and how to stay connected.
I believe @acabunoc is planning something here

[2016-09-20 10:53] marcwalsh-zz opened #154 "Source clips for Festival Pack"
Just as a reminder as it maybe something that proves more tricky to find.

We need around 1800 binder / bulldog / foldback clips to hold the festival pack together.

Would be good to know colors / style etc.

@kristinashu @sabrinang - Any suggestions?

[2016-09-20 10:54] Saallen commented on #138
Confirming the handsome and superb Harry D as AV lead here 🎆

[2016-09-20 10:56] Saallen commented on #129
looping in @marcwalsh here as he has a potential route for @mattdigitalme

[2016-09-20 10:59] Saallen commented on #134
I have a question I have been thinking about but not asking any one
Will there be a search option on the app @mmmavis ?

[2016-09-20 11:01] marcwalsh-zz commented on #131
@ed-yau @kristinashu @xmatthewx

@Saallen started issue #128 to create a huge notice board in the large open space under the Ravensbourne branding on the ground floor. Just thought I'd tie both these issues together.

[2016-09-20 11:03] Saallen commented on #125
As per the latest conversation with Ravens IT team:
- Pay attention on floors 4 and 6 where there was a need to add extra access points during the last year's event due to an increased number of users on these floors
- Need for helpdesk laptops to have local admin rights
- One floor port in Walker Space to be used for streaming

I am working on performing a service test across all floors however I

[2016-09-20 11:33] SpikeUK commented on #148
I think it should stay to the festival@ address rather than just you @Saallen . It give gives transparency within the team and has multiple eyes.
After all, the complaint may be about you ;-)

[2016-09-20 13:02] marcwalsh-zz commented on #148
@Saallen I think an email and phone number is the way to go, some international visitors wouldn't use a telephone number and an email is quite identifiable. Could we not make a help@mozillafestival.org email that could be used for that which then could be forwarded to a smaller group?

[2016-09-20 15:39] xmatthewx commented on #134
Yep. Search already exists.

[2016-09-20 15:45] edrushka commented on #72
Need to add:
- D&Ds - document stage and portraits of speakers
- TODO installation - people interacting with them, plus the installations themselves
- Anagram - elements integrated in the festival during Saturday daytime, theatrical elements on walk to venue, beginning of party

[2016-09-20 15:45] xmatthewx commented on #144
Fab. Keep in mind that Pulse intentionally doesn't collect contact information. So, followup should be integrated with other lines of communication with attendees and facilitators.

Attendees:

Facilitators: TBD

[2016-09-20 17:29] edrushka commented on #131
Link to floorplans (note: some of these are slightly out of date): ~~https://drive.google.com/drive/folders/0BymL-b3rLMtZekE0NnZsQ0xzc1k?usp=sharing~~

EDITING THIS COMMENT- USE THESE MAPS FOR CORRECT FLOOR NUMBERS-SA
https://drive.google.com/drive/folders/0B_B9-Ny1xBaRX1BUQVpER3dIaWM

[2016-09-20 17:52] Saallen commented on #107
Upon recommendation we should not have the CC license on this form- Legal updating this week for us. This form will be used for those interviewed onsite too for other videos

[2016-09-20 18:49] edrushka commented on #134
See it in action here: http://mozilla.github.io/mofo-allhands/2016-london/

[2016-09-20 19:01] KevZawacki commented on #107
Great! We can share this form with our speakers on Oct. 3, along with the [speaker playbook](https://docs.google.com/document/d/14VXDQcdKjOztX62HxYbnHXrPjwD-xR3ATY03KcsPVSo/edit).

[2016-09-20 19:51] ed-yau commented on #131
@edrushka these are great! Many thanks for supplying these plans! These detail plans are essential for general wayfinding design practice and planning in large buildings with multiple floors! It means I can also put together a clear PDF pack using these to show exactly where all the types of signs should be located. It will give you an accurate idea of quantities needed for each type of sign, for

[2016-09-20 20:02] kristinashu commented on #131
@ed-yau we meet with Sarah and she is happy with the direction so we can go ahead and move forward!

Here are a few notes and things to consider while moving forward:
- likes the layering effect, coloring and strong visual branding
- if there are two space on one floor, how would this be handled it?
- leaning signs will only be possible in a few places
- love the hanging signs
- concerned about th

[2016-09-20 20:12] kristinashu commented on #154
We can see once we know what the cover looks like in https://github.com/MozillaFoundation/Mozfest2016_production/issues/69 but anything close to our color palette will work well

<img width="692" alt="screen shot 2016-09-20 at 1 10 10 pm" src="https://cloud.githubusercontent.com/assets/1068783/18687152/afce0866-7f33-11e6-9f03-573d43dae278.png">

[2016-09-20 20:45] mmmavis commented on #134
The link Erika attached is for London All-hands. Here's the WIP MozFest 2016 version: http://mozilla.github.io/mozfest-event-app/ 🎆

[2016-09-20 21:13] Saallen commented on #134
🌷

[2016-09-20 22:30] kristinashu commented on #89
@edrushka @marcwalsh please add any details you can think of ^

[2016-09-20 22:40] edrushka commented on #119
Link for interpretation services provided by the Royal Association for Deaf People (RAD): http://www.royaldeaf.org.uk/services-partners/communication-services/interpreting-and-events/

[2016-09-20 23:03] edrushka commented on #113
**Draft copy:**

Inclusion at MozFest

MozFest typically welcomes attendees from more than X countries. This year, we're taking our first steps into multi-language programming by supporting sessions in six languages in addition to English: French, Spanish, German, Italian, Hindi and Arabic.

Additionally, we'll provide BSL (British Sign Language) interpretation for the deaf community attending the

[2016-09-20 23:25] edrushka commented on #152
Ravensbourne College is a wired media and design campus located in East London and has been the home of MozFest for the past six years.

Spanning nine custom-designed floors, the venue combines maker labs with impromptu classrooms in an open and dynamic fashion -- a perfect match for Mozilla's open ethos.

Ravensbourne's students are passionate about hacking digital media, and backed by dedicated

[2016-09-20 23:52] edrushka commented on #153
MozFest: A festival co-designed with community

In May, 40+ community members, partner organizations, festival allies and Mozilla staff attended a three-day planning session to co-design and build the MozFest 2016 program.

Our goal was to think collectively about how to evolve the festival from the previous 6 years. The energy, design ethos and open knowledge of this group defined our approach to

[2016-09-21 08:55] Saallen opened #155 "Tracking issue for key areas in Ravensbourne"
This issue will be eventually populated with all the major areas within the venue

Please use these maps for room numbers https://drive.google.com/drive/folders/0B_B9-Ny1xBaRX1BUQVpER3dIaWM
 Key areas for wayfinding
- [x]  Spaces
- [x]  Exhibit
- [x] Lunch areas
- [x] Coffee
- [x] Supplies room
- [x]  Creche
- [x] Prayer room

cc @kristinashu @sabrinang @marcwalsh @edrushka

[2016-09-21 09:01] Saallen commented on #155
**Locations for Moz Exhibit**

Walker space
3rd floor Open Media studio
7th floor room 707

[2016-09-21 09:02] Saallen commented on #155
**Creche**

Level 2 room 208

[2016-09-21 09:03] Saallen commented on #155
**Coffee**
 Walker space
level 5
Level 9

[2016-09-21 09:05] Saallen commented on #155
**Lunch**
slight change per day-
no need to highlight Friday as pre event day - as an fyi only

Friday
Level 4

Saturday
Foyer
Level 4
Level 6
Level 8

Sunday
Foyer
Level 4
Level 6

[2016-09-21 09:05] Saallen commented on #155
**Supplies room**

level 1 room 107

[2016-09-21 09:06] Saallen commented on #155
Prayer room

Level 3

[2016-09-21 09:14] Saallen commented on #153
🍬

[2016-09-21 09:50] Saallen commented on #62
Been thinking @HPaulJohnson the other folks we should be inviting this year are potential sponsors for next year - who do we think could be the key leaders here, the opportunity for potential funders to see the value and the access they would get

[2016-09-21 10:33] Saallen commented on #113
I think we should phrase this a bit differently as we have not publised this anywhere else. Could we say something like" This year we are working with some key member of the deaf community to build out our event to be more inclusive. We are offering BSL and captioning in some of our sessions for the first time as we explore how to be more effective and inclusive in this community."

[2016-09-21 16:15] kristinashu commented on #155
Thanks! This is super helpful. I've updated the map on redpen https://redpen.io/p/nca82e6ea157535639

Assuming Supplies room should be room 107 (not 297).

[2016-09-21 16:17] kristinashu commented on #91
Tracking locations as they are assigned here https://github.com/MozillaFoundation/Mozfest2016_production/issues/155

[2016-09-21 16:17] Saallen commented on #155
emmm, where did 297 come from......where did I type that.... @kristinashu

[2016-09-21 16:21] kristinashu commented on #155
Oops, 297 is a typo on my part! But it says 207 above in one of your comments @Saallen.

[2016-09-21 16:29] kristinashu commented on #89
Tracking locations as they are assigned here https://github.com/MozillaFoundation/Mozfest2016_production/issues/155

[2016-09-21 16:36] kristinashu commented on #91
cc @ed-yau

[2016-09-21 16:37] kristinashu commented on #89
cc @ed-yau

[2016-09-21 18:35] xmatthewx opened #156 "Plan Pulse kiosk"
We'd like https://mzl.la/pulse to have a physical place in the festival, a kiosk where attendees can browse activity and find asset/people they might connect with to collaborate.

To do:
- [ ] figure out location with @Saallen @edrushka
- [x] figure out hardware
  - iMac or Mac mini and large monitor
  - standing desk
  - mount for large sign/banner
- [x] design & print
  - large sign/banner
  - s

[2016-09-21 18:42] edrushka opened #157 "Teach Stevie how to use Github"
We are learning Github 👍

@StevieBenton welcome to Github!

[2016-09-21 18:43] StevieBenton commented on #157
Hi! Github learning is progressing successfully!

[2016-09-21 18:44] edrushka commented on #157
@Saallen Say hi to Stevie!

[2016-09-21 18:46] abbycabs commented on #156
I talked to @Saallen & @edrushka today about a table at the science fair!

[2016-09-21 19:29] mmmavis commented on #134
I'm gonna close this ticket since our chat has already happened and event app milestones have been created: https://github.com/mozilla/mozfest-event-app/milestones 🎉 thanks team

[2016-09-21 19:29] #134 closed, assigned to nobody

[2016-09-21 20:20] edrushka commented on #113
Yah, after talking to Heather I'm actually going to re-write this entire section. She had some great tips about communicating how we're supporting other people to excel in this space, rather than trying to excel ourselves. Draft 2 coming later this week.

[2016-09-21 20:23] edrushka commented on #156
If you're at the Science Fair do you still want the kiosk for the rest of the festival?

[2016-09-21 22:33] xmatthewx commented on #156
I think yes. Science fair is crazy busy. I could see people browsing this during some down time between sessions.

It's actually a way for the science fair to continue throughout the weekend.

[2016-09-22 00:06] lovegushwa commented on #139
@kristinashu so sorry about the wait!

![screen shot 2016-09-21 at 5 05 03 pm](https://cloud.githubusercontent.com/assets/12228435/18733190/a51aa362-801d-11e6-8d36-77d2ff94240c.png)

[2016-09-22 00:08] lovegushwa commented on #139
here is a really bad photo of neon colors for your reference.

![img_20160921_165113](https://cloud.githubusercontent.com/assets/12228435/18733229/e59e396c-801d-11e6-89c5-b2b2b47b0d72.jpg)

[2016-09-22 01:08] #139 closed, assigned to lovegushwa

[2016-09-22 08:56] Carrie-ann commented on #96
@kristinashu Am I right in saying (based from our conversation on Monday) that we are now not doing posters? but a possible graphic on the back of the map insert?

I'm just having a look through all print material now, so was just checking. :)

[2016-09-22 10:25] Saallen commented on #157
Hi @StevieBenton welcome to Github
Once you get in the swing of things its super easy to use
**Pro tip**

Turn off your watch notifications so you only get an email from Github when someone mentions you
![screen shot 2016-09-22 at 11 24 29](https://cloud.githubusercontent.com/assets/10194015/18744770/37451d3c-80b7-11e6-823a-28280233d9ef.png)

[2016-09-22 10:57] StevieBenton commented on #157
Hello @Saallen and thanks for the tip! All looks pretty straightforward and I'm looking forward to getting stuck in

[2016-09-22 15:24] kristinashu commented on #96
@Carrie-ann We are doing a poster to put up on walls around the building.

At our check in on Monday, I think we mentioned having a pattern on the back of the map. We could however make the back of the map insert a poster if we wanted to. But that is up to you.

[2016-09-22 17:50] mmmavis commented on #127
note for @mmmavis

Make the script for that it looks for "amended description" (not case sensitive) in the first line. If "amended description" exists extract the amended description after the 2nd line.

[2016-09-22 17:56] Saallen commented on #127
@mmmavis What happens if they add way more detail ..see issue https://github.com/MozillaFoundation/mozfest-program-2016/issues/247

[2016-09-22 18:06] mmmavis commented on #127
hey @Saallen

Everything after the "amended description" header (first line) will be extracted by the script as the description. In other words, please only include the amended description and not other meta. 👍

[2016-09-22 18:27] Saallen commented on #127
thanks!

[2016-09-22 22:05] kristinashu commented on #76
Will need to updated colors based on https://github.com/MozillaFoundation/Mozfest2016_production/issues/139#event-798228730

[2016-09-22 22:38] EPIKhub commented on #56
![dorine-jpp-7](https://cloud.githubusercontent.com/assets/10254892/18768520/a8297a78-811d-11e6-9d58-3d26a4ddbfcc.jpg)

This a better choice?

@dorineflies Twitter
@EPIKhub GitHub

[2016-09-23 01:20] edrushka opened #158 "Nice-to-have posters and cards"
Using this ticket to capture posters and other design elements that are not part of the MVP. These could be done by staff/volunteers on Friday and throughout the weekend.
- [ ] Welcome signs in other languages #203
- [ ] Thank you for coming sign (multi-lingual would be rad) like @flukeout's [beauty from 2015](https://www.flickr.com/photos/mozfest/22894036881/in/album-72157658649418943/)  #204
- [

[2016-09-23 11:18] marcwalsh-zz commented on #73
@xmatthewx @sabrinang - Just wondering if there's been any progress here, we'd like to get the process in motion as soon as possible to make sure it's get the most exposure possible.

[2016-09-23 13:08] marcwalsh-zz commented on #151
Mac's company that he used at ViewSource are out of our budget for this. @Saallen has approached a couple of other companies who may be able to help.

[2016-09-23 13:14] marcwalsh-zz commented on #129
Yo @mattdigitalme

This starts at the entrance of Ravensbourne, runs around the O2, down the grass areas to the ecology park and back up along the thames to Ravensbourne. It’s 4.84KM.

![unnamed_route](https://cloud.githubusercontent.com/assets/14007066/18786755/736096e4-8197-11e6-8e08-39ea8ee85bdb.jpg)

It's a pretty flat route, but takes you all the way around the Peninsula, so you'd run the ent

[2016-09-23 13:23] Saallen commented on #144
looping @arlissc for metrics!

[2016-09-23 15:02] rtsayles commented on #81
Very Nice, can't wait to wear one :)

[2016-09-23 16:37] SpikeUK commented on #158
There was also a thank you card _from_ the attendees in 2015
![imag0884](https://cloud.githubusercontent.com/assets/1629474/18793796/5993a676-81b4-11e6-8bd0-b675128c33f0.jpg)

[2016-09-23 16:46] kristinashu commented on #73
I can do this asap!

[2016-09-23 17:06] marcwalsh-zz commented on #73
Last year's artwork:
https://drive.google.com/open?id=0B20-0lpP23c0aVlIN3V1OHNYRjg

[2016-09-23 17:39] kristinashu commented on #73
Thanks @marcwalsh! Here's a quick mock up. The Feature tile is similar to last year's and then the rollover state shows our 'one web' theme. @edrushka @KevZawacki let me know if you have any other copy suggestions or if we want localized versions.

<img width="580" alt="mozfest_styletiles_01-01" src="https://cloud.githubusercontent.com/assets/1068783/18795536/e4aaa132-8179-11e6-92f6-df8d7fa3f31e.p

[2016-09-23 18:10] KevZawacki commented on #73
This looks great, @kristinashu!

I recommend changing the copy in the first one to "Grab tickets to MozFest."

[2016-09-23 19:18] kristinashu commented on #81
Based on feedback, here is an updated version. I was having trouble fitting "MozFest" in but let me know if that's a must have and I'll make it work.
![shirt-insitu-01](https://cloud.githubusercontent.com/assets/1068783/18797266/03e24f3e-8182-11e6-919a-c3ebf27ee391.jpg)

[2016-09-23 20:28] SpikeUK commented on #81
Thank you @kristinashu - that looks brilliant!!
I would like to have 'MozFest 2016" on the front somewhere if possible please, even if it is in a fairly small font right justified below the ONE WEB logo.
(Geek event t-shirt collectors will understand ;-) )

[2016-09-23 20:54] edrushka commented on #147
Any updates @xmatthewx ?

[2016-09-23 21:02] #118 closed, assigned to nobody

[2016-09-23 21:03] edrushka commented on #105
@chadsansing have you had a chance to review the criteria? Anything we need to add?

[2016-09-23 21:04] edrushka commented on #51
Closing, as we have decided on Walker Space.

[2016-09-23 21:04] #51 closed

[2016-09-23 21:05] #9 closed

[2016-09-23 21:06] edrushka commented on #10
Have we reached out to these groups? Shall I close this?

[2016-09-23 21:16] edrushka commented on #19
Closing this beautiful ticket, but I've added some of the elements to the nice-to-have list.

[2016-09-23 21:16] #19 closed

[2016-09-23 21:46] kristinashu commented on #80
I've updated the glitch stickers so the lines are diagonal and removed glitch from the Mozilla Festival version. @marcwalsh which type of Pixart stickers are you thinking of doing? Seems like they do custom sharps and have a minimum of 1cm for some of them.

Suggesting the round ones are 6x6cm and the Mozilla Festival one is 9x2.8cm.

<img width="255" alt="stickers-01_mozfest" src="https://cloud.g

[2016-09-23 21:50] kristinashu commented on #73
Much better!

<img width="580" alt="tiles_01-01" src="https://cloud.githubusercontent.com/assets/1068783/18802319/ea999cce-819c-11e6-9f40-530089806e93.png">

[2016-09-23 21:53] edrushka commented on #49
2nd Update: after much discussion, we are re-visiting the idea of a promo video. A few notes:
- should capture the diversity of the festival
- should highlight the wild and wonderful types of sessions and interactive pieces.
- could focus more on images/sounds and less on talking
- could draw inspiration from [Maker Faire videos](https://www.youtube.com/user/MakerFaireVideo)

@marcwalsh if you hav