[2016-10-24 18:49] sabrinang commented on #201
possible location for:
- 4) the icebreaker matching game https://github.com/MozillaFoundation/plan/issues/839

@marcwalsh @DanRad95 I think some cardboard or thick card stock is fine! (not a big fan of the foam board/core but if it is ordered already it will do)

[2016-10-24 20:33] Saallen opened #209 "Amendment to schedule app"
Hey @mmmavis 🍰
Can you change the time of the science fair to end at 21:00?
cc @edrushka

[2016-10-24 20:54] sabrinang commented on #201
I'm planning that we have 3 signs for the various steps in the registration process:
- 1) **Sign-in & Register Here**
  - check name off list?
- 2) **Customize Your Name ID**
  - marker station to write name
  - language sticker area
  - icebreaker sticker area
- 3) **Collect Your Swag**
  - festival guide package, water bottle, stickers etc.

@edrushka Can you review the copy for 3 signs and are

[2016-10-24 22:17] taisdesouzalessa commented on #167
Hey @kristinashu @KevZawacki @edrushka @xmatthewx @sabrinang here are all the 5 posters:
https://redpen.io/p/om396ce7b3b9594de5

I have some questions about the copy:
1. Will Mark Surman and Sahar Aziz have the same topic ("On Mozilla’s key issues")? Here is a screenshot of the medium post:
   <img width="1087" alt="screen shot 2016-10-24 at 2 59 31 pm" src="https://cloud.githubusercontent.com/ass

[2016-10-24 22:31] natalieworth commented on #170
@sabrinang @marcwalsh @kristinashu @edrushka Here's draft version. Feel free to post any changes here. I have to fix the 'Dialogues and Debates' section since the motion gets a bit weird there, but let me know what you think! :) @marcwalsh Feel free to text this output to make sure it will work on the screens and I can provide you with a final file tomorrow.
Thanks
Link is here: https://drive.goog

[2016-10-24 22:33] mmmavis commented on #209
Done! https://app.mozillafestival.org/#_session-918 ✨

[2016-10-24 22:33] #209 closed, assigned to nobody

[2016-10-25 00:07] kristinashu commented on #167
Looks great @taisdesouzalessa!

Kevin can clarify but I think the Medium post is generally more up-to-date and you should follow that.

No Twitter handle for Volker Birk and I think Simone Browne doesn't want hers shared either.

[2016-10-25 00:09] kristinashu commented on #183
Awesome! Maybe we can just adjust the dimensions once we're at Ravensbourne, since it'll be real soon!

[2016-10-25 00:15] kristinashu commented on #201
Awesome @sabrinang! I just wonder if we should swap step 2 and 3? People could take a while at Step 2.

[2016-10-25 08:33] KevZawacki commented on #167
Hi @taisdesouzalessa, to answer your questions:

1) Both Mark and Sahar have yet to pick a specific topic, hence the broad "Mozilla's key issues." OK to put that on the poster.

2) Katherine Maher will talk about online harassment

3) Simone Browne will talk about privacy, security, and digital inclusion

4) Kristina is correct -- we should leave off Twitter handles for Volker and Simone

Thanks!

[2016-10-25 09:21] KevZawacki opened #210 "Write pre-festival blog.mozilla.org piece"
This blog will publish on blog.mozilla.org on Thursday and serve as a press release to media.

[First draft](https://docs.google.com/document/d/1HoDZQ2JrsibPh2E6qZ_YZZ_tnx21Zact7IsNGit6n5E/edit).

@HPaulJohnson @edrushka @Saallen Can you take a quick look?

[2016-10-25 12:37] StevieBenton commented on #195
Hello again,

This piece is [live now](https://medium.com/mozilla-festival/the-makers-of-mozfest-claire-selby-3218ff9c6b49#.flggpefod). Thanks everyone for the input!

[2016-10-25 12:38] #195 closed, assigned to StevieBenton

[2016-10-25 14:12] edrushka commented on #170
@marcwalsh ❗️ Important please confirm WIFI info (network name & password) ❗️

[2016-10-25 14:12] StevieBenton commented on #189
Hello folks,

I've published this piece now to live. [You can see it here](https://medium.com/mozilla-festival/the-makers-of-mozfest-sarah-allen-8ac0b5417fde#.i9gtcdwwo).

Thanks for all of your input!

[2016-10-25 14:12] #189 closed, assigned to StevieBenton

[2016-10-25 14:16] edrushka commented on #201
Copy looks mostly good. I'd change to "Customize your name card" or "...name tag" or "lanyard". Name ID sounds kinda weird.

Agree with Kristina's suggestion to put customization station last if possible as people will take longest there.

[2016-10-25 14:19] marcwalsh-zz commented on #170
SSID: Rave
Password: mozfest16

[2016-10-25 14:45] StevieBenton commented on #144
Hey @edrushka here is the ticket for surveys we were discussing. Will ping you a link in Mattermost as well.

Some thoughts that Erika and I just discussed:
- Main survey needs to be in sections and include a "skip section" button so respondents don't have to go through irrelevant content
- Survey for facilitators should include questions exploring whether they felt supported enough, whether they

[2016-10-25 14:48] StevieBenton commented on #144
Looks as though the link to the survey isn't in this ticket, sorry about that. [It's here](https://docs.google.com/document/d/1EAPIYlrNmkk0SeIbyjcknwuY-ET6L0RKpZjFELAm5R4/edit#).

[2016-10-25 15:16] edrushka commented on #144
@KGorr @StevieBenton I've reviewed the post-festival survey to all attendees. Do you want to take another pass and create a clean version for others to review?

[2016-10-25 15:20] StevieBenton commented on #144
Sure. @KGorr would you like me to do this or would you like to have a go?

[2016-10-25 15:32] KGorr commented on #144
@StevieBenton - if you can fit it in, that would be awesome! I won't be able to get to it until late today my time.

[2016-10-25 16:54] xmatthewx commented on #170
Amazing stuff @natalieworth!

[2016-10-25 17:04] taisdesouzalessa commented on #167
Thanks for your answers, @kristinashu and @KevZawacki. Here are the updated versions (posters 1,3 and 5 were updated - noticed Brian Behlendorf's description on Medium was shorter so I am used the Medium post as source of truth): https://redpen.io/p/om396ce7b3b9594de5

I'll export the PDFs and send you shortly. Kristina, I can trim the posters in London once we print them out.

Thanks!

[2016-10-25 17:52] taisdesouzalessa commented on #167
@kristinashu - here are the final PDFs:
[poster-speaker-series-all.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/551376/poster-speaker-series-all.pdf)

[2016-10-25 18:45] SpikeUK commented on #203
Extra geek points if we add Klingon

On 21 October 2016 14:43:10 BST, Erika Drushka notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-10-25 20:04] sabrinang commented on #201
Great - thanks for the feedback! I changed the steps, updated to name tag and iterated on the colours seen in the redpen.

[2016-10-26 07:29] arlissc commented on #144
@edrushka - would it be possible for me to see the post-festival survey draft as well ? Thanks so much.

[2016-10-26 08:27] kristinashu commented on #206
Thanks @sabrinang! I've updated the corners.

@edrushka here are the assets: there are two versions for the Keynote slide (one with Marc's name and one without)
https://drive.google.com/open?id=0B2irLVDJivhLaTJidS1zbzBVamM

[2016-10-26 08:31] kristinashu commented on #197
I think this was covered in https://github.com/MozillaFoundation/Mozfest2016_production/issues/206

[2016-10-26 08:31] #197 closed, assigned to nobody

[2016-10-26 09:31] xmatthewx commented on #200
An item in the top nav could work. Will "Watch Live" be changed to something like "See Videos"? We could also have a button next to that says "Browse Projects" or something similar.

I do think we should see how it goes with Pulse before we add the link. Make sure we have enough good Mozfest specific substance.

[2016-10-26 10:11] edrushka commented on #144
@arlissc the link is [here](https://docs.google.com/document/d/1Cbfw8EddiXO3_wI9DphzLa_RWb14Ps5PDOtUnP13YTE/edit), although I suggest you wait until Stevie or Kristina posts a new draft. If you have any suggestions, please coordinate with @KevZawacki. Thanks.

[2016-10-26 10:13] edrushka commented on #206
Thanks!

[2016-10-26 10:17] edrushka commented on #200
@xmatthewx Yes, "watch live" will become "opening keynote" and "speaker series". You can see the changes here https://github.com/MozillaFoundation/2016.Mozillafestival.org/issues/120
Do you want to coordinate with @alanmoo  and let him know Sunday night if you want Pulse added to the top nav?

[2016-10-26 12:12] edrushka opened #211 "Logistics info for Gunner"
@chrislarry33 @Lottarao Here is the logistical info Gunner needs to cover in his speech on the mainstage:
- Introduce Space Wranglers (see comment below)
- Respect yellow lanyards - these people don't want to be photographed.
- We have participation guidelines (they're printed on the back of your Festival Guide and posted around the building). Read them - they cover our behaviour as participants,

[2016-10-26 12:15] edrushka commented on #211
**Digital Arts and Culture** This space is dedicated to unpacking the relationship between art, technology, and the web.
• Julie
**Journalism** Journalism doesn't just tell the story of the Internet — it's part of it. This space explores how journalism can change our lives, both in person and online.
• Erika, Ryan and Eva
**Open Science** Both science and the web help us understand the world aroun

[2016-10-26 13:01] StevieBenton opened #212 "For review - View from the Fringe: Can Machines See the Invisible?"
Hello everyone.

Here's a draft write-up of Monday's fringe event at BCS. [Can machines see the invisible?](https://docs.google.com/document/d/1376EftOfiXW6Z-vXY0GmecsuOPt4WCbq4Eluhjl3kp0/edit?usp=sharing) The doc is open so please do take a look and edit / comment.

This was really fascinating if a bit complex. I think it could be really good fuel for discussion, especially around ethics and AI.

[2016-10-26 13:37] StevieBenton commented on #144
Hello @edrushka @KGorr - I've gone through the survey now and resolved the comments and suggestions. It's much tighter now, so thank you for all help.

@arlissc I think it should be OK for you to take a look now.

[2016-10-26 14:18] KGorr commented on #212
Super interested read, @StevieBenton! Made some small suggestions. Nice job!

[2016-10-26 14:54] StevieBenton commented on #212
Thanks @KGorr ! Was an incredibly thought-provoking session, so much to take in. There was loads more that could have gone in there but would have made the piece way too long.

Dr Redi is happy with it too, she made a few tweaks but likes it.

Something that fascinates me is the different ways we seem to use commas - I always find things like that interesting!

[2016-10-26 15:45] edrushka commented on #144
@KevZawacki please review entire survey when you have a sec. TY

[2016-10-26 15:56] edrushka commented on #144
Colin Carruthers has agreed to test the survey as an actual first time festival attendee on Monday, and let us know if any of the questions are weird/annoying and if there was anything he wanted to give feeback on but there wasn't a space. He's not on GH yet, so @KGorr can you pls email him the link to the actual survey when it's ready?

[2016-10-26 16:12] KevZawacki commented on #144
@edrushka Reviewed! Added a few tweaks.

[2016-10-26 16:18] StevieBenton commented on #212
Hello folks, I've gone ahead and published. [You can see the piece here](https://medium.com/mozilla-festival/view-from-the-mozfest-fringe-can-machines-see-the-invisible-6ba5c8743d2e#.w0ptpa89a)

I'm really pleased with it, and it has definitely awoken my slightly dormant interest in the ethics of technology.

[2016-10-26 16:18] #212 closed, assigned to nobody

[2016-10-26 16:35] KGorr commented on #144
Flagging that there are 2 thank yous that haven't been drafted yet - Space Wranglers & vendors. I can draft both, but will need direction from the team as I'm not familiar with the roles/responsibilities involved. Thanks!

[2016-10-26 18:37] marcwalsh-zz commented on #198
Printed and in Production Office

[2016-10-26 18:37] #198 closed, assigned to abbycabs, kristinashu, marcwalsh-zz

[2016-10-26 19:01] marcwalsh-zz commented on #96
Printed and in the Production Office 107

[2016-10-26 19:01] #96 closed, assigned to kristinashu, sabrinang

[2016-10-26 19:05] marcwalsh-zz commented on #191
Printed! In Production Office

[2016-10-26 19:05] #191 closed, assigned to marcwalsh-zz

[2016-10-26 19:05] marcwalsh-zz commented on #92
These have been printed off-site and will be delivered today/tomorrow.

[2016-10-26 19:05] #92 closed, assigned to marcwalsh-zz

[2016-10-26 19:06] marcwalsh-zz commented on #90
Printed!

[2016-10-26 19:06] #90 closed, assigned to marcwalsh-zz

[2016-10-26 19:22] xmatthewx opened #213 "Speaker series graphics for twitter"
I stumbled across @HPaulJohnson and he mentioned that it would be nice to have an image for twitter to advertise each speaker or speaker series. Photo, name, title. Could be adapated from the [posters](https://redpen.io/p/om396ce7b3b9594de5) by @taisdesouzalessa.

Installation is top priority Thurs & Friday. But, if there's an idle moment, this seems like a relatively easy and valuable asset.

@HP

[2016-10-26 19:43] marcwalsh-zz commented on #167
Printed!

[2016-10-26 19:43] #167 closed, assigned to nobody

[2016-10-26 19:50] marcwalsh-zz commented on #97
Printed!

[2016-10-26 19:50] #97 closed, assigned to nobody

[2016-10-26 19:57] marcwalsh-zz commented on #183
Printed at the current size but can change if needs be!

[2016-10-26 19:57] #183 closed, assigned to sabrinang

[2016-10-27 05:19] sabrinang commented on #203
<img width="1350" alt="screen shot 2016-10-27 at 6 12 53 am" src="https://cloud.githubusercontent.com/assets/2492510/19755264/6dad6d14-9c0c-11e6-9fa1-2d0c43cdf30a.png">
Redpen: https://redpen.io/p/dkdbab8e5a7f0e883a

Would something like this work using languages in the background (similar to a part of the stage) instead of 9 separate posters? I referenced language sites like this for content:
- h

[2016-10-27 08:00] edrushka commented on #203
I think the other languages are too subtle in this design. We really want a bold, multi-lingual welcome. That being said, time is tight so if this is all that we have time for, I'll take it.

[2016-10-27 10:20] sabrinang commented on #201
.pdf on google drive for print: https://drive.google.com/file/d/0B4Q8pzCpDS_eUmRKcHIyeVVHZHc/view

[2016-10-27 16:49] edrushka opened #214 "Prepare graphics for ProPresenter"
This is very similar to #206. We will be using ProPresenter to highlight individual Tweets and IG posts. We need a few background graphics.

Please prepare:
- [x] muted static background with no additional graphics (same as #206)
- [x] PNG or vector version of logo & wordmark (same as #206)
- [x] PNG or vector version of One Web circle (white/clear circle version) (same as #206)
- [x] PNG or vecto

[2016-10-27 22:12] taisdesouzalessa commented on #213
@xmatthewx tomorrow I will work on those. Today at the end of the day I sat with @kristinashu to see the plan for tomorrow and I'll help with installation in the morning and work on those Twitter assets in the afternoon.

@HPaulJohnson what is the most important information you want to highlight for Social Media? I find it will be too busy if we add all the info we have in one poster inside a Twit

[2016-10-28 08:53] kristinashu commented on #214
Sent in an email with all the assets: https://www.dropbox.com/sh/xpbuxp7iwajnm7d/AADnIjIzvTuE7COSLwMcWR5Wa?dl=0

[2016-10-28 08:53] #214 closed, assigned to kristinashu

[2016-10-28 10:27] taisdesouzalessa commented on #213
@xmatthewx and @HPaulJohnson here is the first template. Since we have limited space, I highlighted the most important info. If there is any additional info I would suggest to add to the tweet post in text form since they are clickable and we can link to, like the livestream link for instance. Please let me know what you think and I can work on the other 4 this afternoon.

![twitter-speaker-series

[2016-10-28 11:33] StevieBenton opened #215 "Draft for sign-off - piece about the ToDo installation"
Hello everyone,

I've finalised the draft of the qrticle about the ToDo installation. [It's here](https://docs.google.com/document/d/1w34jgfl70y4_snsPyh_OrIT3ZB1K6kGWqreSxrZVsPo/edit?usp=sharing).

Please do take a look and advise of any comments or issues. Would be great to publish this today!

Thanks all :)

cc @edrushka @KevZawacki @KGorr @HPaulJohnson

[2016-10-28 12:53] HPaulJohnson commented on #213
Since we will likely be promoting these from both @mozilla and @mozillfestival accounts could we add Mozfest to the title, so "Mozfest Speaker Series"?

Otherwise these look great and I think we can go ahead and build the rest of the versions.

Thanks!

[2016-10-28 12:53] StevieBenton commented on #215
Teaser video links

https://vimeo.com/189018091

https://vimeo.com/189274779

[2016-10-28 13:42] KGorr commented on #215
Made some minor suggestions. So cool - sad I'm missing it!

[2016-10-28 14:14] StevieBenton commented on #215
Thanks @KGorr ! Really helpful. I'm about to speak to the guys from Tate and V&A about MozEx but will look to publish afterwards.

[2016-10-28 15:08] taisdesouzalessa commented on #213
@HPaulJohnson here are all the banners with the requested revision. Please let me know if you need any other revision done :)

Thanks!

![twitter-speaker-series1](https://cloud.githubusercontent.com/assets/22157921/19811290/8e409b30-9ce5-11e6-8ad8-69d52609120d.jpg)
![twitter-speaker-series2](https://cloud.githubusercontent.com/assets/22157921/19811291/8e420790-9ce5-11e6-86a3-10162f937b6c.jpg)
![tw

[2016-10-28 15:26] StevieBenton commented on #215
This is now live - https://medium.com/mozilla-festival/interactive-art-at-mozfest-experience-the-webs-key-issues-f22bbf627138#.i06ihatl8

If there are other thoughts or comments, please let me know as I can always go back and edit.

[2016-10-28 15:26] #215 closed, assigned to StevieBenton

[2016-10-28 21:48] rtanglao commented on #143
@mmmavis @sabrinang it might be too late and they might not be suitable aesthetically but here are some:
- square piecharts https://www.flickr.com/photos/roland/albums/72157672250913800
- “=“ https://www.flickr.com/photos/roland/26054047702/
- “barcodes” https://www.flickr.com/photos/roland/albums/72157664243154964
- more “barcodes” https://www.flickr.com/photos/roland/albums/72157666213914502
- “

[2016-10-28 21:55] rtanglao commented on #143
thousands more of infoviz stuff that i've done :-) in case you have time now (i doubt it!) but maybe in the future
https://www.flickr.com/search/?user_id=roland&tags=rolandtanglaoinfoviz&sort=date-posted-desc

happy mozfest you all! peace and love from Vancouver waving to the UK across the pond! ...Roland

[2016-10-28 22:32] xmatthewx commented on #200
@alanmoo – let's check in on Sunday. Most likely, yes, we'll want to change top nav link to point to Pulse.

[2016-10-30 11:38] SpikeUK commented on #202
We made our own in the end
![20161030_113125small](https://cloud.githubusercontent.com/assets/1629474/19836341/6b390d3c-9e95-11e6-8746-215579d6c0a0.jpg)

[2016-11-01 15:21] StevieBenton commented on #144
Just published the recap blog on Medium. [It's here](https://medium.com/mozilla-festival/mozfest-2016-is-a-wrap-f19f1f877a5#.a9t88zjoz), hope you like it!

[2016-11-01 16:43] marcwalsh-zz commented on #151
Re-opening - as it's worth decision if we will use the transcripts that AI have sent us to embed CC into the finalised videos.

The files are available here:
[MozFest Speaker Series - Transcripts.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/564511/MozFest.Speaker.Series.-.Transcripts.zip)

[2016-11-01 16:44] #25 closed

[2016-11-01 16:44] #38 closed

[2016-11-01 16:44] #94 closed, assigned to marcwalsh-zz

[2016-11-01 16:44] #125 closed, assigned to marcwalsh-zz

[2016-11-01 16:44] #199 closed, assigned to xmatthewx, marcwalsh-zz

[2016-11-01 16:45] #196 closed, assigned to nobody

[2016-11-01 16:45] #201 closed, assigned to sabrinang

[2016-11-01 16:45] #186 closed, assigned to nobody

[2016-11-01 16:46] #34 closed

[2016-11-01 16:46] #78 closed, assigned to nobody

[2016-11-01 16:46] #32 closed

[2016-11-01 16:46] #28 closed

[2016-11-01 16:46] #27 closed

[2016-11-01 16:46] #24 closed

[2016-11-01 16:47] #22 closed

[2016-11-01 19:30] kristinashu commented on #84
Also https://github.com/MozillaFoundation/Mozfest2016_production/issues/213

[2016-11-01 19:31] #213 closed, assigned to taisdesouzalessa

[2016-11-01 19:31] #206 closed, assigned to edrushka

[2016-11-01 19:32] #170 closed, assigned to natalieworth

[2016-11-01 19:32] #87 closed, assigned to sabrinang

[2016-11-01 19:32] #86 closed, assigned to sabrinang

[2016-11-01 19:36] #188 closed, assigned to nobody

[2016-11-02 11:21] marcwalsh-zz commented on #129
🙌 Closing!

[2016-11-02 11:21] #129 closed, assigned to DanRad95

[2016-11-02 11:22] #116 closed, assigned to nobody

[2016-11-02 11:22] #122 closed, assigned to DanRad95

[2016-11-02 11:22] #101 closed, assigned to nobody

[2016-11-02 11:23] marcwalsh-zz commented on #18
Available on Google Docs

[2016-11-02 11:23] #18 closed

[2016-11-02 11:23] marcwalsh-zz commented on #161
We smashed it! 💪

[2016-11-02 11:23] #161 closed, assigned to nobody

[2016-11-02 11:37] Saallen opened #216 "Mozilla project link click through"
Thinking about soclal media icon links you see at the end of blogs could we create something similar for our own websites or projects
For example an icon that links to Network pulse, Discourse or Working open project-

The idea would be that people get inspired, want to continue the open work and can link through to a way to converse on discourse, collaborate on pulse etc

This is a conversation f

[2016-11-03 15:52] Saallen opened #217 "Stay connected and collaborative- post mozfest 2016"
Thinking about rallying our attendees from 2016 Mozfest we want to engage and offer a route for further collaboration and connectivity post event- I want to send an email to all facilitators to get them to use our tools and resources before we go to Hawaii
* network pulse
* Working open project
* facilitation coaching

@xmatthewx do you think the embedded version of Pulse will be ready and on the

[2016-11-03 16:05] xmatthewx commented on #217
I'm comfortable pointing facilitators directly to Pulse in it's current form. I'm not sure we'll have a v2 by then. For the general public, projects will be put on the festival site directly, without mention of Pulse for now like on [staging](https://mozillafestival-org-sta-pr-481.herokuapp.com/projects). ([issue](https://github.com/mozilla/mozillafestival.org/issues/482))

[2016-11-03 17:05] xmatthewx opened #218 "Peek at Etherpad Documentation"
@auremoser @mmmavis – While we didn't advertise it broadly, we know that many facilitators leveraged the etherpads link from the schedule app for documentation.

We'd like to gather the etherpads and do a quick count of how many were used. If many were used, we can drop them into a fork of the London analyzer.

Can either of you help to gather those pads?

[2016-11-03 17:53] sabrinang commented on #143
@rtanglao Thanks for sharing these links to your info visuals! Yeah, unfortunately on Friday we were already in the full swing of things of setting up what we have finalized leaving Vancouver so we didn't get the chance to put this together but will check out your stuff for inspiration or collabs in the future :)

Also, there was artwork in the [MozEx art exhibition](https://mozillafestival.org/sp

[2016-11-03 18:49] abbycabs commented on #217
Happy to link out to https://acabunoc.github.io/mozfest-open-projects-2016/ -- I'll be updating with info on maintaining your community post-mozfest soon!

[2016-11-03 22:24] auremoser commented on #218
Totes, how are the pads generated again, for the app? I'm sure it's a repo I have access to, I just haven't found it. Happy to take a look at it after the Study Group call tomorrow AM.

[2016-11-04 15:10] xmatthewx commented on #218
Excellent. Here's a [spreadsheet](https://docs.google.com/spreadsheets/d/1KkaFTRKdZV6yb1GQtm-zarXlLvTiYuyOVSi21yjiOho/edit) of session info. It's a duplicate, so edit freely. If I have some time, I'll try and pull things into a single tab.

[2016-11-04 15:24] xmatthewx commented on #218
I pulled all the sessions into a single [tab](https://docs.google.com/spreadsheets/d/1KkaFTRKdZV6yb1GQtm-zarXlLvTiYuyOVSi21yjiOho/edit#gid=1381623881) and hid all the unrelated columns. There's a chance of copy-pasta errors ... it seems like some spaces added additional columns to their tab. There are also some broken IDs. We should aim for _90% & easy_, rather than perfection.

[2016-11-04 15:47] xmatthewx commented on #218
Change of plan. You can use previous links to resolve missing and broken data. I've moved session metadata into my [stats spreadsheet](https://docs.google.com/spreadsheets/d/1sXEXiAV58ZA4qJtOAw546-dBjGkbTFheA_-klQglT2M/edit). Let's use this as canonical home.

[2016-11-04 15:58] xmatthewx opened #219 "Lock down the schedule spreadsheet"
I noticed that many people have write access to the spreadsheet used for the schedule app. To preserve the history, it's probably a good idea to make it read only for most everyone.

[2016-11-04 16:09] xmatthewx opened #220 "Schedule app stats"
I've gathered a bunch of stats on sessions, spaces, and overall use of the schedule app. Some interesting info in there. See the tabs in [this spreadsheet](https://docs.google.com/spreadsheets/d/1sXEXiAV58ZA4qJtOAw546-dBjGkbTFheA_-klQglT2M/edit). Feel free to add notes and comments.

@Saallen @edrushka @marcwalsh @auremoser @mmmavis @kristinashu

The festival is over, the reach was huge. 10,000 pe

[2016-11-04 16:56] edrushka commented on #220
So fascinating! Love how the data shows what pathways were most appealing to people. Thanks for compiling this - it's super valuable information.

[2016-11-04 18:30] #210 closed, assigned to KevZawacki

[2016-11-04 18:30] #140 closed, assigned to KevZawacki

[2016-11-04 19:49] xmatthewx commented on #220
cc @sabrinang - here are the stats

[2016-11-04 19:51] kristinashu opened #221 "Add link to online Festival Guide"
Guide is here:
- https://mzl.la/mozfest-2016
- https://mzl.la/mozfest-2016-wranglers

We could link to this from the site.

[2016-11-06 19:22] auremoser commented on #218
O.k. cool, I know we're also corresponding on another thread but this was my open tab so here goes!

Here's [a quick prototype](https://github.com/auremoser/mozfest-ether), I guess my objective was, working from your spreadsheet of etherpads, how can we get some basic keywords and stats on a per-space basic, and also generate json files for all the etherpad contents per session so we can do more a

[2016-11-07 16:05] xmatthewx commented on #218
This is great. Thanks for digging in! It looks like 4 or 5 of the spaces used etherpad a bunch.

I created [a list of keywords](https://github.com/mmmavis/docs-analyzer/blob/master/public/data/source/issues.json) we could use to explore the five issues more. We used those in the [etherpad analyzer prototype](http://allhands-etherpads-analyzer.herokuapp.com/) from this summer. Should we [fork it](h

[2016-11-07 16:39] kristinashu commented on #200
This is covered in https://github.com/mozilla/mozillafestival.org/issues/482

[2016-11-07 16:39] #200 closed, assigned to kristinashu

[2016-11-07 17:09] kristinashu opened #222 "Design retrospective"
In addition to our usual retrospective https://public.etherpad-mozilla.org/p/mozfest2016_designfeedback, @sabrinang and I will go through [all the assets](https://docs.google.com/spreadsheets/d/1J4LS4ILtG5x-jxwHEwGuDzXHRHC9IQM4t9fg2OUeRBs/edit#gid=1507933966) and add notes to each design asset ticket, this should make things easier for next year. We can include things like: images of how things tu

[2016-11-07 17:34] auremoser commented on #218
Good questions @xmatthewx , I need to set it up so it kicks out the default content, forgot about that :(

Feel free to fork and PR, or just fork and work from there in the Mofoundation organization?

Thanks for the keyword list, I should modify the script to look for those.

[2016-11-07 22:06] xmatthewx commented on #220
The Space and Pathway overview tab tells one story. It shifts some looking at the sessions within a Space. I added another tab that adds up session stats within each space and pathway. Could be useful in planning spaces and pathways next year.

Interesting bits? Sessions in any pathway had 20% more views than sessions with no pathway. They were Fav'd only a little bit more, but clearly gained visi

[2016-11-07 23:08] sabrinang commented on #188
## Post MozFest Documentation

On level 4 - Big Space, the pink gear logo was projected with a slow rotation in the high center of the wall. It was accompanied by changing patches of coloured light ranging from pinks, blue, greens, oranges, blues accompanied by lots of natural light.

![mozfest-logo-wall-projection small](https://cloud.githubusercontent.com/assets/2492510/20079232/a1f511b8-a4f8-11

[2016-11-08 00:10] sabrinang commented on #87
## Post MozFest Documentation

For the various speaker series on the live dialogues and debates stage, a large monitor showcases the speaker series opening/closing ("bookend") slides with the other monitor displaying a live transcription feed.

The speaker series info, one web title, biography, q&a and thank you slides were used to accompany the presenter's own slides. The slide moderator toggled

[2016-11-08 00:38] sabrinang commented on #86
## Post MozFest Documentation

For Saturday's opening session on the main stage, Mark's biography slide appear as he is introduced and before he appears #mozfest slide is used. As he speaks, [ProPresenter social feed slides](https://github.com/MozillaFoundation/Mozfest2016_production/issues/214) showcase tweets on the #mozfest experience. The slides were adapted from the dialogue and debates booke

[2016-11-08 17:04] sabrinang commented on #88
## Post MozFest Documentation

The space icons are seen in white on large wayfinding banners hanging from the balustrades on each level adjacent to the one web and floor # banners. The space icons scaled well, the lines had great contrast against the dark blue and was identifiable from a distance.
![mozfest-documentation-photos_space-icons-1](https://cloud.githubusercontent.com/assets/2492510/2009

[2016-11-08 17:53] kristinashu commented on #221
Since the website already has all the wrangler bios, we only need to link to the main Festival Guide.

I recommend we link from the ['What to Expect' page ](https://mozillafestival.org/expect). At the end of the last paragraph of the 'What is MozFest like?' section.

Copy: "Read our Festival Guide." and the sentence links to https://mzl.la/mozfest-2016

![screen-shot-2016-11-08-at-9 47 02-am](http

[2016-11-08 21:22] xmatthewx commented on #221
This works.

_What if_ we put a nice big photo of the guide below the text? Maybe with `View the Guide` overlay? Whole image as link.

I had hoped to just embed the issuu viewer, but looks like it requires flash.

[2016-11-08 21:45] sabrinang commented on #214
## Post MozFest Documentation

The ProPresenter screens showcased #mozfest experience tweets on two large displays on either side of the main stage on level 4. It was seen during Saturday's opening session and welcome notes. Throughout the festival, the monitors continued to display the feed of tweets.

![mozfest-documentation-photos_propresenter-social](https://cloud.githubusercontent.com/assets/

[2016-11-08 22:56] sabrinang commented on #183
## Post MozFest Documentation

We placed two teal vertical MozFest branded posters on the balustrade facing the entrance. It was placed symmetrically with accompanying one web banners to frame the monitor in the center (just above the registration table). Also, two pink horizontal MozFest branded posters were taped on the front of the tables near the entrance to make the tables appear more promine

[2016-11-08 23:11] sabrinang commented on #191
## Post MozFest Documentation

The paper sign was mounted on cardboard to create a small sandwich board #MozHelp sign. The sign was placed on the help desk on level 5.

![30725957316_5531e2c9ca_k](https://cloud.githubusercontent.com/assets/2492510/20121210/09439840-a5c5-11e6-9f2a-77e0f3f7300e.jpg)

[2016-11-09 00:36] sabrinang commented on #94
## Post MozFest Documentation

The science fair and closing demo prints were handed out and participants folded them in half to make standing cards. They wrote their project name or description and placed it on the tables.

![mozfest-documentation-science-fair-closing-cards](https://cloud.githubusercontent.com/assets/2492510/20123004/f35b6da8-a5d0-11e6-9ba2-74616a25c8a2.png)

[2016-11-09 11:42] SpikeUK commented on #191
Great picture of Fuzzyfox and AVDan - ace MozFest volunteers. May I please have your permission please @sabrinang to share that image?

[2016-11-09 18:59] sabrinang commented on #191
Hey @SpikeUK I found the photo on Flickr here: https://www.flickr.com/photos/livvya/30725957316/ I didn't take this photo so you'll need their permission, not mine!

[2016-11-09 19:18] SpikeUK commented on #191
Thank you @sabrinang - the photographer (Livvy Adjei) was one of our wonderful Local Volunteers and I put her on special mission to picture as many other Volunteers as possible :)

[2016-11-09 19:30] sabrinang commented on #201
## Post MozFest Documentation

For Friday, the main registration table was set up with large pink horizontal mozfest posters along with small sign-in & register here and welcome signs taped along the side of 4 tables. This table had name card and lanyards for distribution along with participation guidelines printed on the table for reference. The customization table had the customize your name tag

[2016-11-09 19:56] sabrinang commented on #92
## Post MozFest Documentation

Session sign cards were distributed with metal stands and session hosts wrote the session name and brief descriptions (or room number, duration, hashtags etc.) which were found on tables nearby.
![mozfest-documentation-session-cards](https://cloud.githubusercontent.com/assets/2492510/20152305/9b3aab0a-a672-11e6-9fb3-19d6c2297954.png)

[2016-11-09 20:38] sabrinang commented on #90
## Post MozFest Documentation

The info booths set up for each space had a banner with the space description along with an info sign and participation guidelines. These signs were pinned on movable space dividers behind a table or taped on the wall or column behind the table. Some spaces shared floors so the booths were seen side by side.
![mozfest-documentation-info-booths](https://cloud.githubus

[2016-11-09 21:08] sabrinang commented on #80
## Post MozFest Documentation

The 3 sticker designs were placed on the customize name tag table station during registration for attendees to take.
![dsc06852-small](https://cloud.githubusercontent.com/assets/2492510/20154648/35372c1a-a67d-11e6-8a44-88380e5ed875.jpg)

[2016-11-09 22:13] kristinashu commented on #222
@sabrinang is making great progress in commenting on individual design tickets.

We're added design related photos to a [Drive folder](https://drive.google.com/drive/folders/0B2irLVDJivhLQjJzbHdVSl8waGM?usp=sharing). If you took any photos, please add them there as well.

I've started a rough [blog post ](https://docs.google.com/a/mozilla.com/document/d/1AZLyI5ma8mW19RG0lrlJHCDDAW_4_TStG5tN0CP6Pm8

[2016-11-09 23:34] sabrinang commented on #149
## Post MozFest Documentation

The language stickers were available in 6 languages and a blank customizable version at the customize your name tag station near the registration table. Markers were available to write your own language and attendees placed these on their name tags.
![mozfest-documentation-language-stickers](https://cloud.githubusercontent.com/assets/2492510/20158777/636bc7d0-a691-11

[2016-11-10 00:03] sabrinang commented on #81
## Post MozFest Documentation

The volunteers were easy to spot and were lookin' good in the bold purple tees! :raised_hands:
![mozfest-documentation-volunteer-shirts](https://cloud.githubusercontent.com/assets/2492510/20159448/844e6c88-a695-11e6-9f8d-bcae695294e9.png)

[2016-11-10 10:46] SpikeUK commented on #149
I noticed several people had hand-written stickers with the word "English". I know that this is default for most of us here and it would be an interesting discussion for 2017 if we should pre-print some with this value. #justsayin

[2016-11-10 10:53] SpikeUK commented on #81
The volunteer t-shirts were a great success - I have lost count of how many (non-volunteers) asked how they could get one.
The printing of the text came out much greener than I had expected - was expecting more of a goldy colour - may mean I need to calibrate my laptop screen ;-)

ps - many thanks @sabrinang of the wonderful job you are doing here documenting how the design work panned out in real

[2016-11-10 15:27] xmatthewx commented on #222
For our future selves, is the quickest view of notes and documentation of individual design items via the repo's [design label](https://github.com/MozillaFoundation/Mozfest2016_production/issues?q=is%3Aissue+label%3ADesign+is%3Aclosed+sort%3Aupdated-desc) (sorted by recently updated)? Or is there another doorway?

[2016-11-10 17:21] sabrinang commented on #33
## Post MozFest Documentation

The white 350ml aluminium bottles with the teal mozest logo were available to take from the swag table.
![mozfest-documentation-water-bottles](https://cloud.githubusercontent.com/assets/2492510/20171131/2912676c-a6e4-11e6-85e0-8c838f875da3.png)

[2016-11-10 17:23] sabrinang commented on #34
## Post MozFest Documentation

The A6 (10.5 x 14.8cm) notebooks are clipped to the festival guide/map accompanied with a sharpie. It has 60 pages of 90gsm ivory paper sewn bound with yellow thread.

![mozfest-documentation-notebook](https://cloud.githubusercontent.com/assets/2492510/20171926/c62eddf2-a6e7-11e6-80dc-7501d268687b.png)

[2016-11-10 17:40] sabrinang commented on #36
## Post MozFest Documentation

Blue lanyards with 2-point metal swivel lobster clasp style clip were the main style. Yellow lanyards were used to indicate they did not want photo/video taken of them. Both lanyards have a safety release in the center.
![mozfest-documentation-lanyard](https://cloud.githubusercontent.com/assets/2492510/20187514/67839170-a729-11e6-957e-9cdb1deffde5.png)

[2016-11-10 17:42] kristinashu commented on #222
That or clicking on links in the spreadsheet https://docs.google.com/a/mozilla.com/spreadsheets/d/1J4LS4ILtG5x-jxwHEwGuDzXHRHC9IQM4t9fg2OUeRBs/edit?usp=sharing

[2016-11-10 19:13] SpikeUK commented on #222
Can I be a Mister Grumpypants here please. Some of the design choices that were made were made without possibly considering the practical outcomes.
For example. Choosing to have ID cards with two punched holes and double ended lanyards so that the right side is always facing outwards. It took the volunteers twice as long to assemble the ID cards and lanyards as they had two clips per card to opera

[2016-11-10 20:55] sabrinang commented on #103
## Post MozFest Documentation

The Main Stage on level 4 had lights along the bottom with a table set up to the right.
![mozfest-documentation-main-stage](https://cloud.githubusercontent.com/assets/2492510/20193638/c1343b38-a743-11e6-930c-0aaa8329690a.png)

 The Dialogue and Debates Stage in the Walker Space on level 0 had a lighter background treatment which contrasted the dark space and the yell

[2016-11-10 21:07] sabrinang commented on #184
## Post MozFest Documentation

The map insert was found clipped in the festival guide pack for attendees to reference.
![mozfest-documentation-map-insert](https://cloud.githubusercontent.com/assets/2492510/20194244/79a29db6-a746-11e6-82c5-d185beea6ba5.png)

[2016-11-10 21:13] sabrinang opened #223 "Participation Guidelines Prints"
Print the participation guidelines for mozfest attendees to reference.

[2016-11-10 21:14] kristinashu commented on #89
Vinyl was pre-cut and ready to go which worked out great.

Brand vinyl for the foyer turned out well.
![artboard jpg](https://cloud.githubusercontent.com/assets/1068783/20194378/e1f9cdb2-a746-11e6-8008-80fff34e60eb.png)

We ended up only installing one set (Space name/level/arrow) per Space. They were installed on the the stairs just below the Space. It was good to have extra backups though, we ta

[2016-11-10 21:14] sabrinang commented on #223
## Post MozFest Documentation

The participation guidelines print was an additional request to have around the venue. It is originally behind on the festival guide itself but has been printed to be redistributed around the space, registration table, info booths etc.

![mozfest-documentation-participation-guidelines](https://cloud.githubusercontent.com/assets/2492510/20194548/8eeb7da4-a747-11e6-8be

[2016-11-10 21:14] #223 closed, assigned to nobody

[2016-11-10 21:23] sabrinang commented on #167
## Post MozFest Documentation

The speaker series posters were found throughout the venue as a collective to showcase all 5 sessions.
![mozfest-documentation-speaker-series](https://cloud.githubusercontent.com/assets/2492510/20194723/77b08c1e-a748-11e6-875f-34489386c7d7.png)

[2016-11-10 21:31] kristinashu commented on #136
Guide looked great! Size, matte print, and paper turned out well.

![artboard jpg](https://cloud.githubusercontent.com/assets/1068783/20194991/946393aa-a749-11e6-9fb0-050aa4cd7fef.png)

Volunteers did however complain about the amount of work it was to assemble these packages, compared to just putting them into a tote bag.

[2016-11-10 21:33] kristinashu commented on #222
Thanks for the notes @SpikeUK and for all the hard work the volunteers did! We'll add your notes to the relevant tickets so we can reference it next year.

[2016-11-10 21:36] sabrinang commented on #97
## Post MozFest Documentation

The privacy alert posters were placed behind the registration table, in the Dialogues and Debates area in the Walker Space on level 0 and on level 4 in the Big Space.
![mozfest-documentation-privacy-alert](https://cloud.githubusercontent.com/assets/2492510/20195148/2bf62570-a74a-11e6-883a-86058c76cd4b.png)

[2016-11-10 21:45] kristinashu commented on #102
Banners turned our great! Including floor numbers was a valuable addition. Sizes were good but they could have been even bigger! The banner material curled and was difficult to flatted out. We ended up printed an additional MozEx paper at Ravensbourne and it looks pretty much the same as the banner material banners so I think next year we could probably just use paper.

![artboard jpg](https://clo

[2016-11-10 21:51] kristinashu commented on #91
I think we ended up halving these numbers (an overview in every elevator and then an overview and a detail on each floor next to each _set_ of elevators). The cardboard it was printed on worked out well but it was extra effort taping the two boards together. I'm still not sure the maps stood out enough against all the diy signs.

![_41_4672](https://cloud.githubusercontent.com/assets/1068783/20195

[2016-11-10 21:59] kristinashu commented on #148
People found the extra info on the back useful. A lot of people tweeted their name card. But volunteers complained about the extra time it took to attached two clips instead of one per lanyard.

![artboard jpg](https://cloud.githubusercontent.com/assets/1068783/20195994/9095c712-a74d-11e6-8ee0-02565c29b7e2.png)

[2016-11-10 22:03] sabrinang commented on #96
## Post MozFest Documentation

The main festival poster, hackable poster and localized posters were printed and trimmed at Ravensbourne. The hackable posters needed to be lined with thick tape for pen ink not to bleed through to the walls. Various coloured sharpies were clipped to the hackable posters so attendees could write on them. They were posted throughout the space and localized posters wer

[2016-11-10 22:05] kristinashu commented on #191
If the help desk is in the same spot next year, we could also have a small sign on the railing. This way it will viewable in the atrium.

[2016-11-10 22:44] kristinashu opened #224 "Design set up notes"
Here are some notes about what we did this year to reference for next year:

https://docs.google.com/a/mozilla.com/document/d/1p2JMJ3lWLqOd8wFzRgic3au8YjpFWi0eIzIHe0Y_ekc/edit?usp=sharing

**Wednesday afternoon:**
Matthew, Carrie and I arrived a day early to scope out Ravensbourne, review assets and plan set up. Only took a few hours.

**Thursday all day:**
Most of the designers helped out to hang

[2016-11-10 22:44] #224 closed, assigned to nobody

[2016-11-10 22:59] sabrinang commented on #222
For next year, we can have a more deliberate photo shot list for documenting design assets or specific shots we want to capture that would be handy for our design work in the future. The list can ensure we have clearer photos of assets, capturing more moments of people using the design, people engaged in activities for website use in mind or any staged photos needed etc. The spreadsheet could be u

[2016-11-10 23:07] sabrinang commented on #149
For localized assets, we should have a documented sign-off process with the localizer. Our Arabic stickers are incorrect and we discovered this after an attendee let us know on the first day but with a clear process we can prevent that next year.

[2016-11-11 22:39] xmatthewx commented on #220
@vojtechmzl – here's the issue on stats from the mozfest schedule app. link to [spreadsheet](https://docs.google.com/spreadsheets/d/1sXEXiAV58ZA4qJtOAw546-dBjGkbTFheA_-klQglT2M/edit#gid=1602889215). I'd welcome any advice, insight, or recommendations on tools to push this further.

[2016-11-11 22:42] xmatthewx commented on #218
@vojtechmzl – here's a discussion on the etherpads from mozfest. @auremoser [extracted the pads](https://github.com/auremoser/mozfest-ether). Here's the [analyzer prototype](http://allhands-etherpads-analyzer.herokuapp.com/) and its [repo](https://github.com/mmmavis/docs-analyzer). We haven't had a chance to merge the new pads with the former prototype. Volunteers welcome!

[2016-11-13 01:13] rtanglao commented on #143
love https://issuu.com/mozfest/docs/mozex/23 thanks @sabrinang !

[2016-11-14 16:24] StevieBenton opened #225 "Speaker Series write-ups for signoff"
Hello @edrushka @KevZawacki @KGorr

Hope you guys are well.

One of the things I ave been working on the last few days is to write up the Speaker Series talks. I'm making fairly steady progress, and some are ready for review after full first drafts. These are listed below. Please do feel free to take a look at the documents and make suggestions and comments. There's no time pressure to publish the

[2016-11-15 14:16] StevieBenton commented on #225
[Write-up for Brian Behlendorf's talk](https://docs.google.com/document/d/17CipisnPRvMPzmficldm13OgR6DQV_z9HdZwDqta3dU/edit?usp=sharing) - this one I could use some help with, just to make sure I have described the technology properly. When it's ready for publication I will add in appropriate links about things like blockchain etc.

[2016-11-15 17:15] StevieBenton commented on #225
[Write-up for Mitchell Baker and Mark Surman dialogue session](https://docs.google.com/document/d/1p7x1d4-SR7KxUUNe9IGIjYXHZumy_j4WNr91qn9O7GU/edit?usp=sharing)

I've made this very quote driven because I think it is important to be reflective of their voice as possible.

[2016-11-15 19:16] StevieBenton commented on #225
[Write-up of Katharina Borchert's talk](https://docs.google.com/document/d/1B11yu743avF1jzSUZdiQTvTauCZ4-lrNQCFRTKY3gHI/edit?usp=sharing)

Obviously, like the other articles, it needs links dropping in. I also think this could make a pretty decent hard news piece, if the Challenge hasn't already been used in this way.

[2016-11-15 23:09] edrushka commented on #225
These are great Stevie. They feel quite full, for those that don't want to watch the videos, which is great. Agree that it's good to go quote-heavy with Mark and Mitchell.

Were you thinking of releasing these when the videos are ready?

[2016-11-16 15:43] StevieBenton commented on #225
Thanks Erika. I wanted to report on these talks in a way that was neutral, really, and not taking a view one way or the other.  I also wanted to get to the core of the messages because a fifteen minute video is quite a commitment for someone who isn't keenly interested.

One other thing I did was to try and focus on the five key ssues and focus on the implications for each of them laid out in the

[2016-11-16 17:58] StevieBenton commented on #225
Here's another. [Eliot Higgins on “The End of Secrets: Conflict in the Engagement Age”. ](https://docs.google.com/document/d/1n8MiiPAKhI_oiStLoSeFxhlIfit1fqW8Lidy1p68oFA/edit?usp=sharing)

The video is really important for this one, but the transcript is really fascinating. One thing I would be interested in here is whether anyone thinks I should push a bit more firmly on the potential implication

[2016-11-17 14:42] StevieBenton commented on #225
Here's the write-up of [Simone Browne's talk on privacy, security and digital inclusion](https://docs.google.com/document/d/1ip7CM3kxLbEkDwI8GXY3j3djvVRtD-HvgngborifK2E/edit?usp=sharing).

Not sure I have done this justice to be honest, so thoughts very welcome.

[2016-11-20 15:38] StevieBenton commented on #225
The write-up from [Volker Birk's talk on pretty Easy privacy is here](https://docs.google.com/document/d/1lnrK5I4_hptfaaYv8msl_10-VEOWl32YdgW7MGE8oDQ/edit?usp=sharing).

As ever, thoughts and comments most welcome!

[2016-11-21 13:18] StevieBenton opened #226 "Miscellaneous post-MozFest write-ups for sign-off"
Hello everyone,

As well as writing up the Speaker Series, I have a bunch of other articles coming, following up specific sessions, or items from the demo party. Others focus on the five key issues etc. I'll be posting them here when they are ready.

[Write-up from the Save the Link campaign](https://docs.google.com/document/d/1B0qb7DARvhM-vQsIzqwrEMii8upr0bLVeIEzuQ2EN2o/edit?usp=sharing) - this w

[2016-11-21 15:26] StevieBenton commented on #226
Here's a [follow-up with the Mapping Rural Tanzania project](https://docs.google.com/document/d/1etGl_BS9aLNYGR0neDK_r1nIJNACMmfPfZ6A15o8Ra0/edit).

I met them at the Science Fair and promoted their project so thought it would be great to see how it went for them.  Well, it turns out.

[2016-11-21 19:58] KGorr commented on #225
HI @StevieBenton - I'll be reading through these today/tomorrow but wanted to note here that I think embedding the videos is a great idea. That will make the articles more engaging and complete!

[2016-11-23 22:48] kristinashu commented on #222
Good point @sabrinang!

Blog post about design is up https://medium.com/mozilla-festival/designing-for-mozilla-festival-e398d65ec249#.1nt0qox7j

I think this is good to close!

[2016-11-23 22:48] #222 closed, assigned to kristinashu, sabrinang

[2016-11-24 12:40] StevieBenton commented on #226
[Write up about Off Grid](https://docs.google.com/document/d/1VOy1iIsaNG8L2rYOp0f8Hf3B3YwZAAw3TmRM9aIefq8/edit?usp=sharing) - it's a game which teaches key internet issues like privacy, security and the Internet of Things. Really cool project! Images will follow.

[2016-11-24 19:49] mmmavis commented on #220
@xmatthewx thanks for putting this together! 🍰

[2016-11-24 19:51] mmmavis commented on #143
thanks @rtanglao ! I love the barcode ones especially! 📊📊📊📊📊📊📊📊📊📊

[2016-11-25 12:32] StevieBenton commented on #226
[Write-up about the Open Leadership Program](https://docs.google.com/document/d/1bblAaPfFu1y_URezJ7y0lQ7iJ_6gWDF0vLb3sskG5Rk/edit?usp=sharing) - I had a good conversation with Abby about this. She is looped into the the document and will let me know if there are any other elements of the program she would like me to cover.

[2016-11-25 14:53] StevieBenton commented on #226
I've now made some tweaks to the Mapping Tanzania article based on Kristina's feedback. Thanks, Kristina!

[2016-11-25 17:27] StevieBenton commented on #226
[Here's a piece about MozEx](https://docs.google.com/document/d/1WwF7NIxa9k_gtqFDvl4JdDHOQrcjQp64JzGJWvOIy6I/edit?usp=sharing) based on an interview with Irini and Luca. As ever, comments etc most welcome!

[2016-11-25 21:16] edrushka commented on #226
@Saallen please review the [MozEx piece](https://docs.google.com/document/d/1WwF7NIxa9k_gtqFDvl4JdDHOQrcjQp64JzGJWvOIy6I/edit?usp=sharing)

[2016-11-25 21:17] edrushka commented on #226
Thanks @StevieBenton! I made comments in each individual doc.

[2016-11-26 15:24] StevieBenton commented on #226
Thanks for all the useful comments @edrushka! Really helpful. I've amended the documents accordingly. Do let me know when you're happy for me to go ahead and publish and I'll get them uploaded to Medium.

[2016-11-26 15:26] StevieBenton commented on #226
The other articles to come are those on the five issues (two of which are pretty much there), a piece about the academic partnership with Ravensbourne, an interview with Be Novative who I met at the demo party and a summary of blog posts listed in the survey responses.

Do let me know if there's anything you guys are expecting that aren't here.

[2016-11-27 15:31] StevieBenton commented on #225
Hey everyone. I'm working on the final Speaker Series talk write-up but I'm having a little difficulty so wondered if I could get some input.

The talk is by Sahar Aziz and it's about the surveillance of movements. There's a big chunk at the beginning in which Sahar outlines the basis of Western systems being based on white supremacy and highlights things like Islamophobia. The issue I am having i

[2016-11-27 15:32] StevieBenton commented on #225
Sorry, here's the link - https://docs.google.com/document/d/18zTwhIHr20nfey-n0G9SXh1G-LHKwtCi4zsK1T17IYI/edit?usp=sharing

[2016-11-27 16:49] StevieBenton commented on #226
[Here's the piece about privacy & security](https://docs.google.com/document/d/1Hz9_xAm_61dY3H-XZzeIihJGmniPpJQWDF95ODoLhNw/edit?usp=sharing). I've kept it at a pretty high level so it is accessible to new audiences but if you guys think it should be more developed, please do let me know.

[2016-11-28 19:58] edrushka commented on #225
Hey @StevieBenton I think what you've got here is good, but it feels like the article ends very abruptly. If you don't plan to add further details to flesh out the additional points of her talk, then yes, it does feel imbalanced with too much emphasis placed on her foundational arguments. My suggestion would be to include more points her talk. She gives some interesting examples of how governments

[2016-11-28 23:28] KGorr commented on #225
Agree with @edrushka and think that if you link examples between the quotes and add a nice closing/wrap up, you'll have a solid article. I did not feel it was too long, but after you add in some examples and transitions, perhaps pair down the quotes a bit to only include the most vital points?

[2016-11-29 14:45] StevieBenton commented on #225
Thanks guys. The articles does feel it finishes abruptly, but only because it isn't finished ;)

I'm going to take another look at it now based on your very useful feedback and will ping you later.

[2016-11-29 15:48] StevieBenton commented on #226
[Here's the piece about web literacy](https://docs.google.com/document/d/1HYyQLCSuOKmtlPDezRhzdqJZQ-oDvx8X4o3sz7Yn4_E/edit?usp=sharing). I'm happy enough with it, but happy to revisit.

[2016-11-30 19:19] KGorr commented on #226
Great job, @StevieBenton!

[2016-12-09 16:39] StevieBenton commented on #226
Hi everyone,

Just a couple of small pieces to finish off now. [Here's a piece about the academic partnership with Rave](https://docs.google.com/document/d/1G4xx0D-JhChNhf2lZkkHvCfR64XcKjH3YmLTWpCko18/edit?usp=sharing). Just waiting for a quote from a student to finish it off. Pinging @Saallen as I know she is really keen to see this one!

Others will follow the next few days. Sorry for the minor

[2016-12-10 03:01] Saallen commented on #226
hi Stevie,
Thanks for this. Looking great.
Is there a way to integrate more specific point around the learning and
understanding of Mozillas mission around working open and the power of open
data?
As I feel this is the only component missing. Maybe it's enough to add
something about open data in the context of the met office project w
graphic design students

On 9 Dec 2016 6:39 am, "StevieBenton"

[2016-12-12 16:10] KGorr commented on #226
@StevieBenton - great job. Added some thoughts on filling out some details on the students.

[2016-12-13 12:08] StevieBenton commented on #226
Thanks for the feedback guys!

@Saallen I've added a specific paragraph to address this in a bit more detail, highlighting that the partnership teaches about the free and open web in a hands-on way.

@KGorr Thanks for the comments. I've included those details where I have them and am waiting for a student to get back to me with some quotes about his experience.

[2016-12-15 19:42] StevieBenton commented on #226
Thanks for the feedback guys!

@Saallen I've added a specific paragraph to address this in a bit more detail, highlighting that the partnership teaches about the free and open web in a hands-on way.

@KGorr Thanks for the comments. I've included those details where I have them and am waiting for a student to get back to me with some quotes about his experience.

Updated

Ah - sorry thought I sent

[2016-12-15 20:26] StevieBenton commented on #226
Hi folks,

I've finished writing up the article about a project called Be-novative. [The link is here](https://docs.google.com/document/d/1YwmI6livWceMWy5VI3Feps6foCpXlo7t2wUYg-sWbfY/edit?usp=sharing), so do feel free to edit, comment etc.

[2016-12-16 22:08] kristinashu commented on #221
@xmatthewx do you still want an image added?

[2016-12-19 19:58] xmatthewx commented on #221
I think it'd be nice to help that guide live on. And also make this page more interesting. It's not crazy critical, and nobody will notice if we skip it, but it should be relatively easy and worth the wee bit of effort.

[2016-12-19 21:18] kristinashu commented on #221
How about something like this? Where the image links to the guide.

![01](https://cloud.githubusercontent.com/assets/1068783/21329359/2645cd44-c5ed-11e6-853e-c9cf8289fa53.jpg)

Here's a jpg of the image:
![guide](https://cloud.githubusercontent.com/assets/1068783/21329388/4ba2e0ea-c5ed-11e6-896d-72a81783f4b5.jpg)

It could have a hover state like this, but that might be too much:
<img width="1092"

[2016-12-19 22:02] xmatthewx commented on #221
👍 – maybe @alanmoo or @mmmavis can implement if they have a quiet moment from other things.

[2016-12-19 22:19] edrushka opened #227 "Create title and end cards for D&D videos"
We're creating high-quality videos of each individual D&D talk.
Need a title card for each, and a single end card to use for all of them, using the MozFest 2016 branding.

**Title cards should say:**
MozFest 2016
Dialogues and Debates
[speaker name]

**End card should say:**
MozFest
The world's leading festival for the open internet movement.
www.mozfest.org

**Specs**
1920x1080
PNG format

**Dead

[2016-12-20 11:52] Saallen commented on #227
This seems like a very long title- Dialogues and Debates speaker series
can we reduce it to Dialogues and Debates ?

[2016-12-20 13:49] KevZawacki commented on #227
@Saallen OK by me!

[2016-12-20 19:57] edrushka commented on #227
Cool - I've made that update in the first comment.  Cc-ing @xmatthewx to assign.

[2016-12-20 19:58] edrushka commented on #227
**List of speaker names:**
Zeynep Tufekci
Brian Behlendorf
Maggie Vail
Mark Surman & Mitchell Baker
Sahar Aziz
Katherine Maher
Chris Soghoian
Ashe Dryden
Volker Birk
Katharina Borchert
Simone Browne
Eliot Higgins

[2016-12-20 20:00] xmatthewx commented on #227
@edrushka – this looks good. We should be able to recycle slides from the deck or stage/poster artwork to keep this quick and simple.

Do you have dimensions?

@kristinashu, if you have some spare time this week, it'd be nice to knock this out before new projects get rolling in January (though it sounds like there's a bit of time then).

[2016-12-21 22:21] kristinashu commented on #227
Here are some possible cards.

Intro without image:
![01a](https://cloud.githubusercontent.com/assets/1068783/21408173/5ffa5ffe-c788-11e6-8037-0f84247771b8.png)
Or intro with image:
![01b](https://cloud.githubusercontent.com/assets/1068783/21408172/5ff7d2d4-c788-11e6-8813-b1e26ca11cf1.png)
End card:
![02](https://cloud.githubusercontent.com/assets/1068783/21408174/5ffee4e8-c788-11e6-9b30-ca4d1a165

[2016-12-21 23:47] edrushka commented on #227
Thanks for mocking these up so quickly, Kristina. I think I prefer the version with the photo (I like that tiny splash of pink) but either version works for me. @KevZawacki? @Saallen?

[2016-12-22 11:27] Saallen commented on #227
These look great! Thanks @kristinashu I prefer with Image :camera_flash:

[2016-12-22 19:01] kristinashu commented on #227
Great! Here are all the speakers plus the end card: https://drive.google.com/open?id=0B2irLVDJivhLbVpVLTdfNjhsODg

[2016-12-23 18:15] #227 closed, assigned to kristinashu

[2017-01-03 19:07] #221 closed, assigned to alanmoo, mmmavis

[2017-01-03 19:14] mmmavis commented on #221
I just merged the PR. Changes will be on production site soon.

[2017-01-03 19:18] mmmavis commented on #221
https://mozillafestival.org/expect

[2017-01-03 20:31] kristinashu commented on #221
Sweet, thanks!

[2018-10-03 19:41] mmmavis commented on #193
I think this was done. Closing.

[2018-10-03 19:41] #193 closed, assigned to mmmavis, edrushka