[2016-09-23 21:56] edrushka opened #159 "Write Mark's bio for website"
Need Mark's bio for Team page. @KevZawacki do you have this somewhere, or can you draft? Please stick to shorter wordcount. Thank you!

[2016-09-23 21:56] edrushka commented on #159
We'll need a photo, too.

[2016-09-23 22:03] kristinashu commented on #81
MozFest text doesn't work on the front because of the lines coming out of the circle but I've added it to the back.

![shirt-insitu-02](https://cloud.githubusercontent.com/assets/1068783/18802601/a5ef6b88-819e-11e6-820d-d1f840a516f7.jpg)

[2016-09-23 22:06] kristinashu commented on #131
Reviewed feedback at our meeting. Closing this and applying this concept to:
- Design Wayfinding: Floor vinyl and internal signage #89
- Design Wayfinding: Floor plan maps #91
- Design Wayfinding: Space banners #102

[2016-09-23 22:06] #131 closed, assigned to nobody

[2016-09-23 22:08] kristinashu commented on #135
@Carrie-ann could you please attach the black and white pdf of all the content so far? We know you are still working on it and things will be moving around but we would love to get a rough idea of how the content feels.

[2016-09-23 22:12] edrushka opened #160 "Create music playlist for Walker Space"
Put together a playlist for Walker Space (when D&D stage not in use).

[2016-09-23 22:14] edrushka commented on #153
@carrie-ann this piece is ready for the Festival Guide.

[2016-09-23 22:45] edrushka commented on #115
@carrie-ann @kristinashu here are a variety of testimonials for use in the Festival Guide. Including these quotes is not a requirement - they are simply here if you need them.

---

There is something for everyone to do and learn at Mozfest. Mozfest allows you to pick up something completely new and dive in fully.
—Hera Hussain [from email]

MozFest is designed to be like the web: a place where yo

[2016-09-23 22:47] kristinashu commented on #33
If we going with http://www.totalmerchandise.co.uk/products/details/350ml-Aluminium-Sports-Bottles then @sabrinang and I think we should go with the white bottle and teal logo. Here are a couple mocked up versions:

![waterbottle-01](https://cloud.githubusercontent.com/assets/1068783/18803442/ea064e80-81a4-11e6-93a3-ff8d08cf5534.jpg)
![waterbottle-02](https://cloud.githubusercontent.com/assets/106

[2016-09-23 23:22] edrushka commented on #113
A Multi-Lingual MozFest

MozFest welcomes attendees from more than 50 countries who speak a stunning diversity of languages. We've been deeply inspired by the work and dedication of the localization community to make the web a more inclusive space for the millions of users who do not speak English. This year, we're taking our first steps into multi-language MozFest programming by supporting sessio

[2016-09-23 23:38] edrushka commented on #111
Dialogues + Debates -- MozFest’s speaker series -- is where compelling voices touch on topics related to Privacy and Security, Digital Inclusion, Web Literacy, Open Innovation, and Decentralization.

These 45-minute talks, followed by a moderated Q&A session, will take place in the Walker Space on the ground floor of Ravensbourne, surrounded by provocative interactive art that explores the speaker

[2016-09-24 02:23] SpikeUK commented on #81
Thank you @kristinashu, would something like this work?
Or maybe with 'MozFest2016' 50% smaller? But bottom right of the print area as shown.
![mozfest16_vol_tshirt](https://cloud.githubusercontent.com/assets/1629474/18805445/37aa4392-8206-11e6-85ce-5117ad408487.jpg)

[2016-09-25 12:07] Saallen commented on #10
Yes- I will

[2016-09-25 12:07] #10 closed

[2016-09-25 12:14] Saallen opened #161 "MozFest brown bag"
Brown bag for MozFest
To share programming information about the 2016 festival wit Staff but buiod excitement and manage expectations

Speakers
*Sarah
- Erika
- Marc
- Kevin
- someone from the design team
- Ruth from Ravensbourne

Topics to share
- Spaces narrative + moz ex
- new elements to the program such as languages, assessibility and d&d
- Designs...ooohhh
- Ravensbourne sponsorship

[2016-09-25 12:50] Saallen opened #162 "Build individual floor folders"
Each folder should have
*floor map
*tech spec
*photos
*access times

[2016-09-26 09:32] chadsansing commented on #105
If we want to use a kind of 2-factor authentication requiring proof of attendance at the facilitator's meeting, as well as proof of facilitating a session, maybe we distribute tickets or stickers or something at the meeting and ask people to return to their badging station after their sessions with that token and something made at the session and/or a link to online evidence of what they and learn

[2016-09-26 12:02] chadsansing commented on #105
Matt also told that last year he asked facilitators to...

[2016-09-26 12:03] StevieBenton opened #163 "General MozFest writing thread"
Hello everyone,

I'm starting this as a general thread where people can ping me requests for articles and posts, suggestions, thoughts and ideas. If specific things emerge from these, please start a new, task-based issue, label as comms and tag me.

Thank you,

Stevie

[2016-09-26 12:56] KevZawacki commented on #159
**Mark's bio**:

Mark is Executive Director of the Mozilla Foundation, a global community that does everything from making Firefox to taking stands on issues like privacy and net neutrality. Mark’s main job is to build the movement side of Mozilla, rallying the citizens of the web, building alliances with like-minded organizations and leaders, and growing the open internet movement.

**Mark's phot

[2016-09-26 13:03] KevZawacki commented on #111
@edrushka A few revisions below. (I'm not a fan of listing out the five issues -- I think we lose people. Thoughts?)

Also, agreed that we don't want to include times -- at least, not yet. Once speakers have had their playbook for a week or two, I think we can consider them final.

---

Dialogues + Debates -- MozFest’s speaker series -- is where compelling voices touch on the biggest issues facing

[2016-09-26 13:07] KevZawacki commented on #73
@kristinashu Perfect!

[2016-09-26 14:19] xmatthewx commented on #147
No clear answer unfortunately. Simon and the team needs to do an assessment on chat before we can decide whether MoFo will continue with it or choose another path.

Independent of that, we could decide whether to use chat or not for Mozfest. Chris made it sound like a small and easy lift to set it up. Without that as a limitation, is it worth the effort to communicate about it with attendees? Does

[2016-09-26 14:26] kristinashu commented on #81
We'll share a few version with Sarah and the design team and let you know!

[2016-09-26 14:35] SpikeUK commented on #81
Apologies for interfering @kristinashu - my only authority with this is that I have worn the MozFest volunteer t-shirt for five years years running now and have an interest in the design.
Spike - out

[2016-09-26 15:55] edrushka commented on #159
Thank you Kevin!! :bow: 🐕

[2016-09-26 15:56] #159 closed, assigned to KevZawacki

[2016-09-26 15:59] edrushka commented on #111
+1 to not listing issues - we are dedicating an entire section of the Festival Guide to them, so they'll be well covered. Thanks for your review!

@KevZawacki please let me know when I can make the speakers list public in this ticket.

[2016-09-26 15:59] xmatthewx opened #164 "Enter Science Fair projects into Pulse"
The science fair is awesome. It's also hectic and difficult to absorb all the various projects. Let's add them to Pulse pre-Mozfest so people can browse them through the weekend.

Many science fair projects are great assets for network members beyond Mozfest. Lets capture them in Pulse!

@edrushka

Who wrangles the science fair?
When will curation happen?
Where does the list of projects live?
What

[2016-09-26 15:59] kristinashu commented on #73
What's the next step with this?

cc @edrushka

[2016-09-26 16:07] StevieBenton commented on #163
@edrushka
@KevZawacki
@HPaulJohnson
@Saallen
@KGorr

Apologies for not tagging you sooner!

[2016-09-26 16:13] xmatthewx commented on #73
@KevZawacki - is it possible to A/B test "One Web" vs Mozfest or Mozilla Festival as the primary clickbait?

These look really good. Keep in mind that tiles appear with half the width and height as the mockup above. Little logo is okay, but it likely distracts more than it strengthens our CTA to the passing glance of a busy firefox user.

<img width="290" alt="tiles_01-01" src="https://cloud.githu

[2016-09-26 16:53] kristinashu commented on #132
These look great! I've added them to the style guide folder.

[2016-09-26 16:53] #132 closed, assigned to gvn, sabrinang

[2016-09-26 16:55] edrushka commented on #164
@Saallen wrangles the Science Fair!  🔬 💻 🍺

cc @StevieBenton to watch for story/project capturing plans

[2016-09-26 16:57] edrushka commented on #73
Has anyone already been in touch with the MoCo snippet team about this? @marcwalsh @Saallen?

[2016-09-26 16:58] Saallen commented on #73
Yup- jean is waiting on us

Sarah Allen

Events Manager and Mozilla Festival Producer
Mozilla Foundation

Find out more about MozFest https://mozillafestival.org/ and follow the
conversation on twitter https://twitter.com/mozillafestival?lang=en-gb

On 26 September 2016 at 17:57, Erika Drushka notifications@github.com
wrote:

[2016-09-26 17:00] KevZawacki commented on #73
@xmatthewx Not sure if we A/B test homepage tiles. @HPaulJohnson, do you know?

[2016-09-26 17:36] HPaulJohnson commented on #73
Hi all- not sure exactly what site this is for but things have changed for both directory tiles and mozilla.org in the last six months so I don't think either of these is an option for promotion at this point.

Directory Tiles - which showed up on the new tab in Firefox - were discontinued late last year and therefore don't support this type of promo any longer.

Mozilla.org - recently a bunch of

[2016-09-26 17:46] Saallen commented on #73
Hey, I spoke with Jean in Aug and got this reply "We have default tiles in place and haven't touched them in awhile because metrics have been turned off by the product team. But that's not to say we can't help you get a tile in there for a short time period if you don't mind not having impression or click data" I just pinged her again for an update and hopefully next steps

[2016-09-26 18:03] edrushka commented on #163
Stevie will join our Wed 'MozFest comms call' and will also present a 'plan of work' in the next week or so for us to review and comment on. This plan will be shared with Mark and Claw for their high-level guidance. If you have story ideas, feel free to add them here!

[2016-09-26 20:04] xmatthewx commented on #33
I love using just the logomark, without the words. While it might seem like it doesn't advertise the festival as well, it still serves as a conversation starter, which is the most important thing.

@Saallen – What say you? Can we go with logomark alone? It's way more hip.

Beyond that, this is ready to ship.

[2016-09-26 20:05] xmatthewx commented on #80
This artwork is good to go when printing decisions are finalized. Thanks @kristinashu.

[2016-09-26 20:10] xmatthewx commented on #81
Thanks @SpikeUK for your interest, input, and flexibility 😄 ✨

[2016-09-26 20:19] xmatthewx commented on #81
Let's run with @kristinashu's design with "MozFest 2016" on the back.

@marcwalsh and @kristinashu – please confirm with the print shop that the line weight and color will work on a dark t-shirt. Some roughness or inconsistencies could actually look interesting, or like a bad accident. They probably have a minimum line weight recommendation.

@kristinashu – how big do you plan to go with the circl

[2016-09-27 00:33] sabrinang commented on #88
<img width="1315" alt="screen shot 2016-09-26 at 5 22 29 pm" src="https://cloud.githubusercontent.com/assets/2492510/18856226/e138a60c-840d-11e6-908f-861964bf6712.png">
Thank you for all for leaving feedback last week space wranglers! Just an update, it helped inform the content of the icons and they are designed to work together as a set or when used alone. I am in the process of cleaning up the

[2016-09-27 00:38] sabrinang commented on #102
@ed-yau
Did you try to use the display font on the banners? This may help make them appear larger and more united with the other two. I noticed this when I was taking a screenshot of my progress of the space icons that you we're using fira for the titles and display type appeared on the other two:
<img width="1315" alt="screen shot 2016-09-26 at 5 22 29 pm" src="https://cloud.githubusercontent.com

[2016-09-27 07:00] Saallen commented on #88
These look great. Thanks Sabrina, for all the hard work and peer assists!

On 27 Sep 2016 1:33 a.m., "sabrinang" notifications@github.com wrote:

[2016-09-27 07:49] ed-yau commented on #102
@sabrinang The icons for the rest of spaces look great! I'll swap the type with the display font to see how the text fitting changes. I agree i think using this will definitely allow larger type for the banners! Thanks

[2016-09-27 10:13] marcwalsh-zz commented on #80
Awesome! @kristinashu I'm happy with the sizes. I'll check the costs for the circular stickers but I'll go for Sticker Mule for the wordmark version.

[2016-09-27 14:41] Saallen commented on #33
I also am a fan of the watermark- I am soo hip 👵

[2016-09-27 14:44] Saallen commented on #164
adding the list of [science fair tables](https://docs.google.com/spreadsheets/d/1TJ8mMm0K7FYpstGWLLZJLdv8lkbrZbJ4upDf-iloz3I/edit#gid=0) and allocations here- ping if you require access as this contains email addresses-
Note its more about cool organisations and individuals and their projects taking part in the festival , than the sessions you can go to

[2016-09-27 14:54] marcwalsh-zz commented on #68
Hey @kristinashu @edrushka - Just wondering if we have a total amount of pages for the festival guide? I've got quotes ranging for 16pp, 20pp and 48pp.

Would be great to know so I can get a cost confirmed. :)

[2016-09-27 14:57] marcwalsh-zz commented on #91
@ed-yau @carrie-ann @kristinashu

Do we have a size for the insert map into the festival guide. I'm guessing it will be smaller than A5?

[2016-09-27 15:26] kristinashu commented on #91
Carrie-ann mentioned it would be A4 folded down (it could be A3 or A2) https://redpen.io/ygd08696f1ba731c2f

[2016-09-27 15:26] Carrie-ann commented on #91
@marcwalsh

We have been actually looking at it to be bigger, around A4 when folded so the maps could be A2 quartered or A3 halved?

[2016-09-27 15:31] kristinashu commented on #68
The main booklet is 16pp but I'm not sure how many pages the yellow wrangler insert would be? @carrie-ann do you know?

[2016-09-27 15:41] Carrie-ann commented on #68
@kristinashu @marcwalsh The wrangler section at the moment is 12pp.

Do you guys need me to share the thoughts on material and binding for the guide to get a quote? It would be the file we spoke through yesterday and I have it here on red pen.

https://redpen.io/koadf1c145d1a33643

[2016-09-27 15:45] marcwalsh-zz commented on #68
@kristinashu @Carrie-ann does the 16pp include the cover?

[2016-09-27 15:59] edrushka commented on #160
There will be no music on the 4th floor this year ❌ 🎻 ❌

[2016-09-27 16:00] Carrie-ann commented on #68
@marcwalsh @kristinashu  Nope, the cover is currently separate (4pp including inside cover). I envisioned the cover would be a different stock, something with a bit more weight than the internal pages (not too heavy though).

[2016-09-27 16:05] StevieBenton commented on #164
Thank you for adding me in here. Of the themes there I think, while all interesting, the youth, science and journalism areas could be really fruitful for me. I'll check in from time to time, but if anything (in any theme, but especially those) looks particularly unusual or innovative, please ping me

[2016-09-27 16:28] StevieBenton opened #165 "How can Network Pulse feed into the festival website?"
I'm going to spend some time reviewing Network Pulse - initial thoughts are very positive! - and thinking about how to make use of some of the content and concepts into the festival website.

@xmatthewx it would be really helpful to speak with you about this at some point on Vidyo. Is there a time or date that works well for you? I'm on London time but can be flexible to work around your locality,

[2016-09-27 16:40] kristinashu commented on #33
Great! @marcwalsh the attached folder contains:
- eps of the gear logo
- insitu mock up of logo on the water bottle
- color specs (should try to match Pantone Coated 333 C)

Using the specs mentioned above, the gear would be 30 x 30mm. It would be great if it could be a little bigger 50 x 50mm, but if not then 30 x 30mm is good.

[For print.zip](https://github.com/MozillaFoundation/Mozfest2016_pro

[2016-09-27 16:40] StevieBenton opened #166 "MozFest editorial and social / email work"
Hi @KGorr

I'm currently working on my work plan as Mozfest editor and working out how the content I produce can support other comms activity. I'm keen to share any content with you so you can use it on social and email.

It would be really useful to speak with you at some point. I'm in London but can be flexible around timings to suit, including Eastern and Pacific.

I'll have a think about this

[2016-09-27 16:44] KGorr commented on #166
@StevieBenton - just put something on your calendar for tomorrow morning (Pacific Time) for us to met & chat. If that doesn't work, feel free to suggest another time.

[2016-09-27 16:47] StevieBenton commented on #166
Thanks for the super quick response!

Unfortunately I already have an interview booked in for that time. I am free from 3.30-4.30 BST, or before 2.30pm and after 5.30.

Sorry about that!

[2016-09-27 16:58] kristinashu commented on #80
Thanks @marcwalsh! Here's a folder with:
- eps for each sticker
- ai file with all the stickers
- jpgs for reference
- color (should try to match Pantone 232C)

Dimensions are: 6x6cm and 9x2.8cm.

[For print.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/514258/For.print.zip)

Files are also in Drive: https://drive.google.com/open?id=0B2irLVDJivhLdjJoRmttQkU1YWM

[2016-09-27 17:00] StevieBenton commented on #165
Some preliminary thoughts.

I really like the aggregation of a variety of tools, stories and issues.
There's no shortage of content, with lots of different contributors.
Plenty of storytelling, as well as a focus on tools. Including learning activities is a great touch

Some content which might convert well to the festival:
[Running sprints and community events](http://mozillascience.github.io/wor

[2016-09-27 17:12] StevieBenton commented on #166
@KGorr

Sorry Kristina, tagging you now as not sure if you get a notification otherwise. I'm still a GitHub newbie!

[2016-09-27 17:17] edrushka commented on #88
Awesome job!! :art: Final exports should be ready by Thursday's Space Wranglers call. Thanks Sabrina!

[2016-09-27 17:40] kristinashu commented on #33
@sabrinang just pointed out the gear icon was not at the proper angle. I've just updated the files above ^ to reflect how it should look:

![insitu](https://cloud.githubusercontent.com/assets/1068783/18885009/b26bf66c-849e-11e6-9659-6143604c8a9f.jpg)

[2016-09-27 17:42] marcwalsh-zz commented on #91
thanks @Carrie-ann I'll get quotes on both

[2016-09-27 18:33] kristinashu commented on #135
@carrie-ann has shared her progress here: https://redpen.io/p/aq3ed683d65024fc8f

Everyone is very pleased with the overall direction!

## Specs

@marcwalsh is looking into print costs now (which would be the area if concern).

Booklet:
- A5
- Cover: textured blue cardstock with white print, half A5 length ways (270gsm)
- Inside (Main): 16pp white paper stock with full colour print (120gsm)
- Insi

[2016-09-27 18:33] kristinashu commented on #69
Closing this ticket, we've moved on to https://github.com/MozillaFoundation/Mozfest2016_production/issues/135

[2016-09-27 18:33] #69 closed, assigned to nobody

[2016-09-27 20:53] KGorr commented on #166
Ok @StevieBenton - let's see how much time time we can get from the MozFest team call tomorrow to discuss this. If we still need to chat after that we can figure out a time to meet. Thanks!

[2016-09-27 21:05] xmatthewx commented on #68
@edrushka – I posted some comments about content in Redpen. @kristinashu suggests that we move that discussion to this thread to resolve things before handing it back to Carrie.

[2016-09-27 21:11] Carrie-ann commented on #135
@kristinashu With the inside yellow section for wranglers, it would be 12pp rather them 4pp due to the amount of bios we have. Just making sure we are all on the same page on size. :)

[2016-09-27 21:11] edrushka commented on #68
+1 to consolidating feedback. I'm swamped but will look at the redpen again as soon as I can. Feel free to book a chat now if you anticipate questions we won't be able to resolve on Github.

[2016-09-27 21:12] kristinashu commented on #135
Oh yes thanks, I knew that! I've updated the comment above.

[2016-09-27 21:12] edrushka commented on #152
@Saallen re-ping for your signoff

[2016-09-27 21:17] Saallen commented on #152
beautiful- can we just add this twitter handle too  @raveinnovate

[2016-09-27 23:44] kristinashu commented on #81
Here's a folder with:
- eps for front and back of shirt
- ai file with front and back of shirt
- insitu example for reference
- color (should try to match Pantone Pastels Neons Coated 809C)

Shirt color is purple.

Dimensions are:
- Circle is 12cm wide
- #MozHelp is 21cm wide

[For print.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/514253/For.print.zip)

Files are also in

[2016-09-27 23:49] sabrinang commented on #88
The .svgs and .ai file are exported in the gdrive! https://drive.google.com/drive/u/1/folders/0B2irLVDJivhLaEZ2RTk1Q0JWZE0

[2016-09-27 23:55] kristinashu commented on #102
Sabrina's lovely icons are all done! @ed-yau you can download them here: https://drive.google.com/drive/u/1/folders/0B2irLVDJivhLaEZ2RTk1Q0JWZE0

[2016-09-28 13:08] StevieBenton commented on #166
That's great @KGorr , thank you!

[2016-09-28 13:28] ed-yau commented on #102
Previous
![banners old](https://cloud.githubusercontent.com/assets/21972436/18915049/86d69b3a-8587-11e6-92f2-5a5d60467477.jpg)
New
![banner look](https://cloud.githubusercontent.com/assets/21972436/18914870/c01a127e-8586-11e6-98a7-d65df9ad7bc9.jpg)

Hi all, @sabrinang @kristinashu @xmatthewx  I've just put together how the large space banners could work with the display typeface. The type can be m

[2016-09-28 14:29] xmatthewx commented on #102
Thanks @ed-yau. Looking good. One thing that jumps out – this font has really wide word spacing. Can we do some optical kerning on these? Digital Arts is almost okay, but I'm worried the word "in" will jump off that connected spaces sign!

@edrushka – how would the team feel about shortening their name to just "Connected Spaces" for this sign? For bigger type and fewer lines of text. We can keep "

[2016-09-28 14:50] xmatthewx commented on #135
@MozExhibit in case you haven't seen it, the festival guide design direction is set. Draft version 1 coming soon. The full photo spread in particular might offer some ideas for the art guide. https://redpen.io/p/aq3ed683d65024fc8f

[2016-09-28 16:08] edrushka commented on #144
cc @StevieBenton

[2016-09-28 16:18] xmatthewx commented on #164
@Saallen – I've drafted an email ([pad](https://public.etherpad-mozilla.org/p/science-fair-pulse)) we could send to wranglers. To gather info from them for me to review and post (it doesn't go directly to Pulse).

I think this is the best approach to documenting the science fair for festival comms. We can also leverage this to point photographers to specific projects.

If you think it's good, let'

[2016-09-28 16:25] KGorr commented on #166
@StevieBenton - nice to meet on you on the call today. As we chatted about, I think that just pinging me as drafts are getting finalized with a schedule/calendar of posts you have planned, plus attending the weekly comms meetings should be a great working plan for us. If that changes, we can adjust. Welcome to the team!

[2016-09-28 16:29] edrushka commented on #102
I hear you on the challenge of fitting all those words on the banner, but I think 'dilemmas' is a foundational element in the space concept . If we must shorten, I defer to @thornet for what words to include on on the banner.

Is it possible to keep as-is?

[2016-09-28 17:12] thornet commented on #102
Thanks @xmatthewx and @edrushka. The dilemmas word is definitely key. Possible alternatives if it must be shortened: Connected Dilemmas.

[2016-09-28 17:33] xmatthewx commented on #164
@edrushka – suggests that we gather info directly from participants after the list from wranglers is done. Sounds good to me.

https://public.etherpad-mozilla.org/p/science-fair-pulse

[2016-09-28 17:47] xmatthewx commented on #102
Thanks @thornet.

@ed-yau – Let's stick with the full name to avoid confusion.

[2016-09-28 19:21] #88 closed, assigned to sabrinang

[2016-09-28 19:44] kristinashu commented on #63
Sorry, I'm still confused about what we're doing for the stages. Are we thinking both stages would be like last year? So one big printed backdrop and then two screens next to it for slides?

![22658028830_61bf9ca1af_o](https://cloud.githubusercontent.com/assets/1068783/18929225/8011022c-8578-11e6-877e-aa09a43e15d6.jpg)

[2016-09-28 19:47] kristinashu commented on #63
Or will Walker space not have a printed backdrop but just a projected screen?
![walker-space-philip-bloom](https://cloud.githubusercontent.com/assets/1068783/18929519/aaed6ac0-8579-11e6-97df-0378e335ef9f.jpg)

[2016-09-28 21:49] sabrinang commented on #124
For Arabic, it isn't clear what _one web_ alone is. I only have the translation above in the context of _one inclusive web_ = "وب واحدة تسع الك

[2016-09-28 22:05] edrushka commented on #63
I believe we want printed backdrops for both stages.

@Saallen can you confirm we have budget for both?
@KevZawacki I know we talked about this at some point. Can you dig up the notes from our D&D design hopes/dreams convo?

[2016-09-28 22:10] edrushka commented on #124
@hjbailey any chance you could ask Khaled to localize the phrase "one web"?

![screenshot 2016-08-29 13 01 39](https://cloud.githubusercontent.com/assets/4515662/18934264/9446ca1e-858d-11e6-955c-4301075ffe9b.png)

[2016-09-28 22:12] sabrinang commented on #76
![mozilla-festival__one-web-style-guide](https://cloud.githubusercontent.com/assets/2492510/18933870/9b0869ae-858b-11e6-9380-33203a165cc7.png)
https://drive.google.com/file/d/0B4Q8pzCpDS_eemJXWHFBclFwc00/view
- updated pantone/cmyk colour notation from ticket #139
- updated localized language examples (note: arabic is "one inclusive web" all the other languages are "one web") from ticket #124
- up

[2016-09-28 22:12] #76 closed, assigned to kristinashu, sabrinang

[2016-09-28 22:14] kristinashu commented on #84
@edrushka @KevZawacki are there any particular posts you want images for? Or should we just do a few different version of "One Web"?

@taisdesouzalessa is going to start working on this.

[2016-09-28 22:21] edrushka commented on #76
Just want to give a huge shout out to @sabrinang and the design team for completing this awesome, comprehensive, high-quality style guide. Having this in place will help us raise the bar -- yet again -- for MozFest design.

#### THANK YOU!!!

![200](https://cloud.githubusercontent.com/assets/4515662/18934520/101427f8-858f-11e6-8d24-95241c1b8415.gif)

[2016-09-28 22:24] edrushka commented on #84
Let's bring @KGorr and her super duper [MozFest social calendar](https://docs.google.com/spreadsheets/d/1W9O30WNK1BLWfqj-DjkZs_0k0gYq4hMAlrVUWTdJDco/edit#gid=0) into this convo.

[2016-09-28 22:54] edrushka opened #167 "Design Speaker Series poster - Print at Ravesbourne"
Design a poster to highlight each of the 4 (possibly 5) talks in our speaker series.

Each talk has 2-3 speakers. Details [here](https://docs.google.com/document/d/14VXDQcdKjOztX62HxYbnHXrPjwD-xR3ATY03KcsPVSo/edit) and pics are [here](https://drive.google.com/drive/folders/0B-BKZVAww2KHRzlGOWNfc19rZGc).

Poster should have:
- Time of talk
- Speakers' names
- Speakers' photos
- Title of each speake

[2016-09-28 23:03] edrushka commented on #152
@carrie-ann this content is final for the Ravensbourne piece

---

Ravensbourne College is a wired media and design campus located in East London and has been the home of MozFest for the past six years.

Spanning nine custom-designed floors, the venue combines maker labs with impromptu classrooms in an open and dynamic fashion -- a perfect match for Mozilla's open ethos.

Ravensbourne's students a

[2016-09-28 23:09] edrushka commented on #56
@carrie-ann, for the Festival Guide, let's call this final. Anyone who hasn't submitted their bios/photos yet can just be included as name only.

Final list content is [here in spreadsheet form](https://docs.google.com/spreadsheets/d/100wmCld-YGysLHCpzYgovwctJkezPqQgFcOJ65mjyUk/edit#gid=1306798567). You can also see the design approach we're using for the website [here on staging](https://mozillaf

[2016-09-28 23:17] edrushka commented on #111
@Carrie-ann here is the final copy for the Dialogue and Debates Speaker Series intro

---

Dialogues + Debates -- MozFest’s speaker series -- is where compelling voices touch on the biggest issues facing the internet (and society) today.

These 12-minute talks, followed by a moderated Q&A session, will take place in the Walker Space on the ground floor of Ravensbourne, surrounded by provocative in

[2016-09-28 23:38] ed-yau commented on #102
@xmatthewx Thanks, optical kerning is already been put on the banners above and also -100 on the tracking to make the words tighter. (The display font naturally has quite wide spacing, but I will adjust the kerning so the letters sit closer!)

[2016-09-29 06:10] EPIKhub commented on #56
Hi Erika,

Could you change the twitter account  I dont monitor @EPIKhub, can you
change it to @dorineFlies please?

With thanks
Dorine Flies

[image: --]
EPIK
[image: http://]about.me/dorine_flies
http://about.me/dorine_flies

On Thu, Sep 29, 2016 at 12:09 AM, Erika Drushka notifications@github.com
wrote:

[2016-09-29 09:02] Saallen commented on #162
done

[2016-09-29 09:02] #162 closed, assigned to Saallen

[2016-09-29 09:03] Saallen commented on #160
can we ask @OpenMatt  for a playlist ?- he has been keeping people dancing all summer and should have some good mixes! 💃

[2016-09-29 09:10] Saallen opened #168 "Z verses the S- the battle of our time!!!!!!"
Hey- we are at that stage of comms and copy editing where we need to align on the American versus English spelling of words.
Especially in localisation/localization
What are other folks thoughts here @StevieBenton @hjbailey  @edrushka @kristinashu @KGorr @KevZawacki ??

[2016-09-29 09:14] hjbailey commented on #168
I am happy either way - seen as we are holding this in England perhaps we should Localise :)

[2016-09-29 11:16] KevZawacki commented on #168
Agreed. British English is probably best. I can adjust my **behaviour** accordingly.

[2016-09-29 11:22] Saallen commented on #168
![2012-12-14-07 35 25](https://cloud.githubusercontent.com/assets/10194015/18951894/548ce32e-863f-11e6-8e39-ab8a3b26c3fe.jpg)

[2016-09-29 11:34] KevZawacki commented on #167
@edrushka It's possible programming could change at any time -- more hackable = better.

[2016-09-29 11:46] KevZawacki commented on #63
@edrushka @kristinashu

Where we landed: **Both** 2016 stages will look like 2015's main stage. So, the first image Kristina posted (printed backdrop, two screens, one comfort monitor*, etc.)

*This is important

[2016-09-29 11:47] KevZawacki commented on #84
@kristinashu A few different versions of One Web work for me. But I will let @KGorr chime in, too -- she's our MozFest social content lead.

[2016-09-29 11:54] Saallen commented on #63
Hey- since Sunday morning is being comletely rejigged.
Do we need a full stage set up for 30 mins on Saturday morning?
Do we need to stream this piece?
What should that "area" "stage" look like when we only use it for 30 mins?

[2016-09-29 12:03] StevieBenton commented on #144
I've been thinking about this a little bit because one of the challenges is to keep updated with all the good things that begin at the festival.

As part of the comms - whether a stand alone item or embedded in an item that is already planned - could be some form of call to action for people who attended or who facilitated a session to some kind of sign up. They would agree for the team to check i

[2016-09-29 12:05] StevieBenton commented on #166
@KGorr that all makes perfect sense to me. I will certainly keep you updated as I am drafting content. Thank you for the warm welcome and I'm looking forward to working with you :)

[2016-09-29 12:14] StevieBenton commented on #168
As long as we are consistent in our approach, people shouldn't be left feeling off color either way.

[2016-09-29 12:55] KGorr commented on #168
I've been doing my best to keep tweets/emails with British spelling - I'll double check the tweets before I schedule them to make sure my Yankee ways are shining through :)

[2016-09-29 13:07] KGorr commented on #84
@kristinashu - I agree with Kevin. I think keeping it general to the festival theme is best. Thank you!

[2016-09-29 13:38] KevZawacki commented on #145
[Speaker Playbook](https://docs.google.com/document/d/14VXDQcdKjOztX62HxYbnHXrPjwD-xR3ATY03KcsPVSo/edit#) just about complete. Planning to ship Tuesday, Oct. 4 as a PDF, and alongside our release form.

@edrushka @StevieBenton Can you provide final QA before the end of the week?

@Saallen @HPaulJohnson Also welcome/encouraged to provide QA

[2016-09-29 13:42] StevieBenton commented on #145
@KevZawacki Sure, more than happy to take a look. Do you prefer comments or direct edits?

[2016-09-29 13:43] KevZawacki commented on #145
@StevieBenton Comments are best. Thanks!

[2016-09-29 14:35] kristinashu commented on #84
Perfect, thanks everyone!

[2016-09-29 15:07] kristinashu commented on #168
Designers have been using British spelling. Sticking with S will also avoid the Zed vs Zee debate!

[2016-09-29 16:12] edrushka commented on #113
@carrie-ann here is the final copy for the Multi-lingual Mozfest (non-EN sessions) piece

---

A Multi-Lingual MozFest

MozFest welcomes attendees from more than 50 countries who speak a stunning diversity of languages. We've been deeply inspired by the work and dedication of the localization community to make the web a more inclusive space for the millions of users who do not speak English. This

[2016-09-29 16:28] edrushka commented on #124
One Web
وِب واحدة
 One
وِب
 Web
واحدة

If وِب is too narrow for the design, you can alternatively use شبكة but
that is more generic as it means network, net, web, or even grid (while
وِب is just Arabic transliteration for web).

---

cc @sabrinang (from Khaled)

[2016-09-29 16:42] edrushka commented on #160
I realized that TODO might use sound in some of their installations, in which case we should not have music playing in the Walker Space. Closing this issue for now. Will re-open if music is needed.

This issue was really only filed to solve the violin problem ;)

[2016-09-29 16:42] #160 closed, assigned to nobody

[2016-09-29 16:50] edrushka commented on #167
@kristinashu given that programming times/speaker combinations may change, do you think it's better to make posters for each individual speaker, rather than each talk?

[2016-09-29 16:55] kristinashu commented on #102
@ed-yau can you please add colour in? I think the type might look different once it's a softer contrast.

Also, will you be able to have all the banners (10 spaces, floor numbers, 'one web') done for Monday?

[2016-09-29 16:56] edrushka commented on #63
If we have the budget, I do recommend that we still have a backdrop for the Saturday morning stage. There are so many photos published of that moment, it adds a tremendous amount of legitimacy to the festival to have that looking super-profesh. When the main stage is not in use, it functions as a popular space for photo ops.

Does the team working on the Generative Art Photobooth #143 have any upd

[2016-09-29 16:59] edrushka commented on #168
![british](https://cloud.githubusercontent.com/assets/4515662/18963843/644237ba-862b-11e6-95b7-3af7c613c4e0.gif)

[2016-09-29 17:25] kristinashu commented on #91
@ed-yau will we be able to see the first version of these maps for Monday? You should be able to do everything except for Space locations.

[2016-09-29 17:34] kristinashu commented on #89
@ed-yau will we be able to see the first draft of this on Monday? We would like to see all the pieces mentions at the top of this issue at their dimensions.

[2016-09-29 17:44] xmatthewx commented on #91
To reiterate a discussion from our last call: these maps need a refresh, not a redesign ... just content, colors, and easy improvements.

[2016-09-29 17:52] Saallen commented on #63
Oh I forgot about this- my bad.

[2016-09-29 17:55] Saallen commented on #160
Ok cool- note that TODO installations will not have issue with noise bleeds in or out.

[2016-09-29 18:03] xmatthewx commented on #102
Do we have a count of total banners? Is this what we're thinking?

| Count | Type | Qty | Location | Total |
| --- | --- | --- | --- | --- |
| 10 | Space banner | x2 | Railing AND inside space | 20 |
| 8 | Floors 2-9 | x1 | Railing OR inside space | 8 |
| 1 | One Web | x10 | Railing OR inside space | 10 |
- It'd be nice to have an extra One Web for Walker space or behind registration table.
- Spac

[2016-09-29 18:11] kristinashu commented on #63
Are we thinking of having have the same size backdrop as last year? I believe last years was 4.87 x 3.35 m. Would this size fit ok in the Walker space?

I also want to confirm that we won't be having a podium, right?

[2016-09-29 18:19] KevZawacki commented on #63
@kristinashu No podium. Re: stage dimensions, I defer to @Saallen

[2016-09-29 18:37] kristinashu commented on #102
@xmatthewx what do you mean by "inside space"? I was under the impression the banners would only be over the railings (like last year).
- Floor 1 did not have a session last years so I am assuming it won't this year.
- Floor 0 does not need a banner.
- Walker space does not need a banner. Walker space will not have sessions (only speaker series).

The important thing right now is to have the print

[2016-09-29 18:48] sabrinang commented on #124
Is one web alone واحدة وِب then? The stacked copy is still a bit unclear for me and I want to make sure how it looks inline (will be using it to accent stage backdrop)

<img width="1131" alt="screen shot 2016-09-29 at 11 46 25 am" src="https://cloud.githubusercontent.com/assets/2492510/18967532/6685866c-863a-11e6-9c2e-d92be110d527.png">

[2016-09-29 18:57] edrushka commented on #144
I agree - a regularly scheduled email checkin (every 3 months sounds like a good interval) would be useful. It could be a simple email saying "update us on your project". @Saallen would we need a sign-up, or does our privacy policy allow us to email sessions facilitators throughout the year?

[2016-09-29 19:10] Saallen commented on #73
Updates from Jean on the tile
Where do we want this? I have said global, which means the click through should be to home page rather than ticket page- but it means when the festival is live it shows the D&D videos
Do we want this localised? if yes, it will take a bit longer to initiate as we need to localise the tile and the title of the tile
We cannot track impressions but we can tag clicks - how

[2016-09-29 19:13] OpenMatt commented on #160
But wait -- I have the perfect music already picked out for this!!!!
https://www.youtube.com/watch?v=dQw4w9WgXcQ

[2016-09-29 20:05] xmatthewx commented on #102
Hey @ed-yau – don't worry about my questions about placement and quantity. You can just focus on file prep.

@kristinashu – should we start a separate thread for banner production quantities? I'm going to edit my comment above to simplify based on your comment.

[2016-09-29 20:20] kristinashu commented on #85
@edrushka @KGorr I'm not sure where this info came from, is it still relevant? Would you like some a "buy tickets" graphic and/or a few generic "one web" ones?

[2016-09-29 20:46] kristinashu commented on #167
It might be messy having a separate poster for each speaker so I would prefer to have one poster for each talk. Since we don't need very many copies, maybe we can design this now but print it on site at Ravensbourne?

Do you have higher res images for the speakers?

[2016-09-29 20:57] KGorr commented on #85
@kristinashu - all of the emails are pretty much done now, so I think the general one web designs will be fine for use if we still want to use them in email. Thanks

[2016-09-29 21:18] kristinashu commented on #63
I've summarized info at the top of the design ticket https://github.com/MozillaFoundation/Mozfest2016_production/issues/103. We still need to confirm sizes but this is enough info to get started!

[2016-09-29 21:18] #63 closed, assigned to sabrinang

[2016-09-29 21:31] ed-yau commented on #89
@kristinashu Yes I will have these ready by monday! Thanks for the notice!

[2016-09-29 21:32] ed-yau commented on #91
@kristinashu @xmatthewx I will have a mocked map ready by Monday! Thanks.

[2016-09-29 21:33] kristinashu commented on #89
Excellent, thanks!

[2016-09-29 21:35] ed-yau commented on #102
@xmatthewx I'm in the process of marking the floorplan spaces with where things can potentially go. I'll give you this plan mark up when its done to compare with your quantity suggestions and options if it helps?

@kristinashu Final design with colour print files for these banners will be ready for Monday to review!

[2016-09-29 22:29] edrushka commented on #85
Yah, this was probably added waaay back when we were first making lists of assets. Let's close.

[2016-09-29 22:29] #85 closed, assigned to nobody

[2016-09-30 12:42] StevieBenton opened #169 "Draft for review - overall festival narrative"
Hello @edrushka @Saallen @KevZawacki @KGorr

I've put together a draft article which offers an overview of the festival. My plan is to support this with other content later on, specifically articles about the five key themes.

It's not ready for publication yet but I'd really appreciate some input. [The document is here](https://docs.google.com/document/d/1Ce6RHFoKTiM2enNSru6PW1PWZyHLP-GjlUs8GBbyg

[2016-09-30 12:48] StevieBenton commented on #169
Just another quick thought - is GitHub the preferred way of sharing drafts like this or would you all prefer email?

[2016-09-30 14:48] KevZawacki commented on #167
Hi @kristinashu, that works for me. @edrushka is that doable?

Re: higher-res headshots, I've placed several [here](https://drive.google.com/drive/folders/0B-BKZVAww2KHRzlGOWNfc19rZGc?usp=sharing). If some are too low quality, let me know. We may be able to track down better ones on Flickr, etc.

Still unsure if Mark is speaking, so you can leave him off the posters.

[2016-09-30 14:57] KevZawacki commented on #169
Thank you, @StevieBenton. Taking a look now. And GitHub works for me!

[2016-09-30 16:16] kristinashu commented on #148
@sabrinang and I have mocked up the name cards: https://redpen.io/p/vfb6a99be818e00757

We are restricted in size to A6 (same as last year).

Design is similar to what was in the style guide but with some added space at the bottom of stickers ("I speak _____" and science's matching game).

Please let me know if you have any feedback about the design (pink vs blue/purple) or content.

[2016-09-30 16:22] kristinashu commented on #73
Here are the two images (feature and hover) at the requested dimensions:
[PNGs.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/503389/PNGs.zip)

If we want to localise, let me know the translations and I will update the comps.

[2016-09-30 16:49] edrushka commented on #167
@marcwalsh can we get the Speaker Series printed on site at Ravensbourne? There are 4-5 talks and we'll probably want 2 or 3 posters for each talk to put around the building = 15 posters in total.

[2016-09-30 16:57] edrushka commented on #148
These look good! I think I prefer the blue/purple simply because of how the cog and wordmark pop so nicely. There's been some discussion about lanyard pricing and we may be limited in our colours (which may impact the colour you want for the card) @marcwalsh can you update on lanyard strings?

[2016-09-30 17:24] sabrinang commented on #102
During our demos today, I noticed that the pixel sort pattern isn't on the angle of the grid in the style guide. @ed-yau Can you adjust these on the one web banner?
<img width="809" alt="screen shot 2016-09-30 at 10 21 20 am" src="https://cloud.githubusercontent.com/assets/2492510/19000497/c2e6d0f6-86f7-11e6-815a-f8585dc772e2.png">

[2016-09-30 19:44] kristinashu commented on #135
@Carrie-ann here's a summary of the feedback to work this weekend.

### Feedback:

**Cover/back:** https://redpen.io/xgc9b9608397d613de
- no blue leaflet or yellow tape :(
- Let’s try a cover with and without blue bar version
- no table of contents
- keep ‘one web’
- keep guidelines
- add MozFest logo
- updated possible art on redpen: https://redpen.io/kycfbd6747ab1d2999 (All in glitch pattern fol

[2016-09-30 20:24] HPaulJohnson commented on #62
update: @KevZawacki and I will be sending out all the invites on Monday (Monday better than end of week for getting their attention). We have a few hundred to invite via email and then I'm going to supplement with some direct messages on Twitter to an additional 50-100 top influencers.

@Saallen if you have a list of potential sponsors you want us to contact please let me know.

[2016-09-30 20:55] kristinashu commented on #149
Here are the language stickers on the lanyards: https://redpen.io/p/vfb6a99be818e00757

Currently the stickers are 1.5in but I need to make sure that size is doable.

<img width="533" alt="screen shot 2016-09-30 at 1 53 06 pm" src="https://cloud.githubusercontent.com/assets/1068783/19006613/6b3460b2-8715-11e6-9ada-c2b1b9c9abbe.png">

<img width="413" alt="screen shot 2016-09-30 at 1 55 06 pm" src=

[2016-09-30 20:58] kristinashu commented on #148
For lanyard strings, most colors could work (including black) with the exception of red or orange which would clash with all our palette.

[2016-10-02 11:53] Carrie-ann commented on #111
@edrushka @kristinashu Would you please be able to provide me the headshot images separated from this document? I'm having issues taking the images out and it would be better for linking if I can have them as separate files. Thanks a lot!

[2016-10-02 12:03] SpikeUK commented on #148
I think we are reserving the yellow lanyards to signify people do not wish to be filmed/photographed

[2016-10-02 16:02] kristinashu commented on #111
@Carrie-ann bio images are [here](https://drive.google.com/drive/folders/0B-BKZVAww2KHRzlGOWNfc19rZGc?usp=sharing)

[2016-10-02 20:35] Carrie-ann commented on #56
@edrushka @kristinashu Thanks for these. Could someone please give me permission to view the document so I can grab the content and imagery. Thanks!

[2016-10-02 21:29] kristinashu commented on #56
@Carrie-ann you should be able to view them now!

[2016-10-03 08:26] Carrie-ann commented on #56
@kristinashu Thanks!

[2016-10-03 15:35] ed-yau commented on #89
@kristinashu @sabrinang @xmatthewx @Carrie-ann Please review updated / completed elements, and areas in progress for the way-finding in this redpen link. All these files are also currently shared on the google drive. [https://redpen.io/p/yfad874f695291a82c]

[2016-10-03 17:14] sabrinang commented on #103
design progress on redpen: https://redpen.io/p/fq57a6cbac24232872

[2016-10-03 17:55] sabrinang commented on #143
I'm working on the printed stage designs on issue https://github.com/MozillaFoundation/Mozfest2016_production/issues/103 and a possible idea is projecting art onto the white logo lockup that would act as a small blank area for the stage that is on floor 4 that will not be occupied by speakers often:
![mozilla-festival_floor-4-stage-idea-projector](https://cloud.githubusercontent.com/assets/2492510

[2016-10-03 18:48] kristinashu opened #170 "Design for screens around the building"
Need visuals for screens around the building. These could be animated or still.

Slides content:
- general MozFest2016
- One Web
- promo for Dialogues and Debates Speaker Series in Walker Space on the Ground Level
- #mozhelp (Tweet #MozHelp or visit the Info Desk on Level 5)
- WiFi (RaveEvents, Password: mozfest16)
- schedule app (mzl.la/sched)
- Connect (#MozFest on Twitter, IG, Flickr and mzl.la

[2016-10-03 18:50] kristinashu commented on #170
@edrushka any other content we would need to include?

[2016-10-03 18:52] ldecoursy commented on #161
Will there be time for space wranglers to do a quick go-round? Maybe with a specific prompt (one session or activity they're most excited about, or where they need help/participation)

Also could be good to add a "how MoFo's show up" agenda item, to cover self-care, also pulling from an email we sent last year (feel free to update/remix):
- Listen to learn and learn to lead.
- Step UP, step IN, an

[2016-10-03 18:58] Saallen commented on #161
Yes, we can do a self care and how to show piece here too.
I will ask but as not all spaces are led by mofos, it might be trickly to have all spaces represented but I will put it to them.

[2016-10-03 19:11] edrushka commented on #170
Perhaps #mozhelp and the network/wifi information.

cc @marcwalsh

[2016-10-03 19:20] edrushka opened #171 "Write content-creators playbook"
We have a number of people who will be blogging at MozFest:
- contributors coming via the Participation team
- bloggers who wrote posts last year
- [add more if you know of any]

Let's provide some context so their blogs will be useful content for us to share throughout the year, not just during the festival weekend.

This could be a remix of the Speakers Series playbook, with some brief notes abo

[2016-10-03 19:24] KevZawacki commented on #171
For benchmarks, we can point them toward: https://medium.com/mozilla-festival/tagged/mozfest2015

[2016-10-03 20:53] mmmavis commented on #143
As MozFest is approaching I'm worried things will start eat up our time. Instead of my original proposal which is to develop a random art generator app for attendees to use let's just start simple for now. If we have bandwidth left we can then block time for creating the generator app.

I'm thinking maybe we can prepare a set of images. Attendees get to choose which one they will like to project o

[2016-10-03 22:24] kristinashu commented on #135
@Carrie-ann here's a folder with all the wrangler images https://drive.google.com/open?id=0B4rEOP1A0tc0YkVSeUpfVjZ0a0E
We are missing 4 pics/bios and we probably won't be getting them. Please include these people's names only.

Here are all the D&D images https://drive.google.com/open?id=0B4rEOP1A0tc0YkVSeUpfVjZ0a0E

Do you need anything else?

[2016-10-03 23:08] edrushka opened #172 "Guide REVISION: Dialogues and Debates Speakers Series"
We've just added a 5th Speaker Series to accommodate additional speakers.

@KevZawacki can you please put the most up to date speaker info here for @carrie-ann to revise in the Festival Guide.

cc @kristinashu

[2016-10-03 23:08] edrushka commented on #111
Closing. All revisions being tracked in #172.

[2016-10-03 23:08] #111 closed, assigned to nobody

[2016-10-03 23:14] kristinashu commented on #172
@carrie-ann would it work if you put this extra info on the last page https://redpen.io/vu283b856509ab69a4 and then move "Multicultural MozFest" spread to be before the "Dialogue and Debate" pages?

[2016-10-03 23:21] taisdesouzalessa commented on #84
Hi, here are the options (I started with Twitter first and once we have those locked down and approved I'll use the same templates for Facebook): https://redpen.io/p/qwaf5cfe4531a63744

For Twitter I also worked on a gif. It would be nice to have a copy that accompanies the "One Web" tagline - I just have a placeholder there for now.
![animation-twitter-v8](https://cloud.githubusercontent.com/asse

[2016-10-03 23:44] edrushka commented on #84
Love that, @taisdesouzalessa! So fun!!

Here's some ideas for text. Let me know what length works best.
- The world's leading festival for the open internet movement.
- Build, debate, and explore the future of a healthy internet.
- Grow your network and get inspired.
-  Design tools to support and protect our essential internet freedoms.
- MozFest - building and protecting a free and open internet

[2016-10-03 23:45] kristinashu commented on #135
Carrie has shared a pdf for copy edits and updated https://redpen.io/p/aq3ed683d65024fc8f:
[Mozilla Festival Guide V3.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/507348/Mozilla.Festival.Guide.V3.pdf)

@edrushka will add her copy edits by Wednesday.

In the meantime, @Carrie-ann will:
- try an alternative options for cover
- add the MozFest2016 logo to the cover
- try a s

[2016-10-03 23:48] edrushka commented on #135
My Wed. edits will include Sarah's final comments and signoff. After I edit, I'll ask Stevie and Kevin to review one final time for copy gremlins (no content changes, though).
Except for adding the new D&Ds, I don't foresee major content edits. It looks really great so far!

[2016-10-04 00:12] edrushka commented on #169
Nice job - this is solid, and we can continue to refine as you come up with more awesome phrases and ideas.

[2016-10-04 03:18] SpikeUK commented on #172
Do you have timing for extra D&D session please @edrushka ? Can you update #70 please?
Thank you (I am using #70 for master for my volunteer rostering timetable).

[2016-10-04 11:19] Saallen opened #173 "Publishing online- Issue.com"
Hello @xmatthewx @kristinashu @edrushka
I had a chat with @MozExhibit who are going to publish their mozex book here https://issuu.com/
I made a MozFest account and MozEx will be added here. Do we want a digital version of the festival guide here too??

IoT design sprint book is here https://issuu.com/tommyperman/docs/oiot-digitalbook/1

[2016-10-04 11:38] Saallen commented on #73
Thanks @kristinashu 💐
I think we should localise as we are pushing for this in other areas
cc @edrushka @KevZawacki @HPaulJohnson

[2016-10-04 11:46] Saallen commented on #148
Hello confirming the festival hot line
+44 (0) 207 855 3030

[2016-10-04 12:29] KevZawacki commented on #84
This is so cool!

I really like @edrushka's last bullet: "For those who care..."

[2016-10-04 13:14] KevZawacki commented on #172
Hi @edrushka @carrie-ann,

The latest speaker info can be found **[here](https://docs.google.com/document/d/14VXDQcdKjOztX62HxYbnHXrPjwD-xR3ATY03KcsPVSo/edit)**, pages 5-8. It includes people, times, and short bios.

In the speaker series portion of the festival guide, we should put a footer that reads "Programming subject to change." Between now and Oct. 29, a speaker may fall ill, cancel, etc.

[2016-10-04 13:15] KevZawacki commented on #70
@edrushka May want to update times above.

Saturday, 13:00 - 13:45 Sessions 4 and Lunch cont. --> Saturday, 13:00 - 13:45 Sessions 4 and Lunch cont. + D+D

[2016-10-04 13:27] KevZawacki commented on #172
@edrushka @carrie-ann

And [here](https://drive.google.com/drive/folders/0B-BKZVAww2KHRzlGOWNfc19rZGc) are the latest headshots.

[2016-10-04 14:35] kailan commented on #147
Hi – not sure if I'm supposed to comment in this repo, but I'd like to add my input!

I (along with some other attendees) think a Slack team for anyone at the festival would be a great idea before, during, and after the festival. Before the festival it can be used to get to know others before the event starts, during the festival it can be used for key communications ("Hey, still got some room for

[2016-10-04 16:57] edrushka opened #174 "Guide REVISION: Sunday Key Timings"
09:30 - 10:45 MozFest Breakfast
11:00 - 12:00 Session 8
12:15 - 13:15 Session 9 [line break] Dialogues and Debates
12:30 - 14:00 Lunch
13:00 - 13:45 Session 10
14:00 - 15:00 Session 11 [line break] Dialogues and Debates
15:15 - 16:15 Session 12
16:30 - 17:30 Sessions 13
18:00 - Closing Demo Party

[2016-10-04 16:57] edrushka commented on #174
cc @carrie-ann @kristinashu

[2016-10-04 17:17] xmatthewx commented on #173
Seems like an easy way to extend the fest. Ideally @Saallen or @edrushka can do the PDF upload to provide description and tags. We could share via twitter when things kickoff on Friday. Or, just use it as an archive post fest if there's too little time to make that happen.

[2016-10-04 17:32] MozExhibit commented on #173
@xmatthewx @Saallen @edrushka - Once we have the MozEx book on digital format and on Issuu, it would be great if we could add the link when doing the MozEx "message" during MozFest.

[2016-10-04 17:49] kristinashu commented on #148
I've added the phone number and updated the copy based on redpen feedback. Only missing piece is the wifi network and password (for @marcwalsh to confirm). We will decide on colour once we know the lanyard colour.

https://redpen.io/p/vfb6a99be818e00757

[2016-10-04 18:05] sabrinang commented on #103
@erikad Can we confirm the sizes for both backdrops are 4.87 x 3.35 m? (same as last year)

Also, I'm going to check in about arabic "one web" with Khaled on the email thread

[2016-10-04 18:28] edrushka commented on #84
@StevieBenton gets the credit for that line :) @taisdesouzalessa let us know if you need something more or different.

[2016-10-04 18:33] edrushka commented on #70
Updated Oct 4

[2016-10-04 18:41] Saallen commented on #169
This is really great- thank you!

[2016-10-04 18:44] edrushka commented on #173
+1 to putting the festival guide on Issuu. Flagging @KGorr that this, and @MozExhibit's booklet, could be a great shareable assets for social.

Any chance you might be able to help us with the upload @KGorr?

[2016-10-04 18:47] edrushka commented on #148
@Saallen please review and sign off on the content on the back of the lanyard card: https://redpen.io/p/vfb6a99be818e00757

[2016-10-04 19:35] StevieBenton commented on #171
I think the Speakers Series playbook is a really good basis for this as it's a very good document. I am happy to take a first go at drafting something if people would like.

[2016-10-04 19:39] HPaulJohnson commented on #171
would be great if you wanted to take a first pass at this @StevieBenton - thx!

[2016-10-04 19:44] StevieBenton commented on #171
Will do so this week. Anything we definitely want to include, apart from the obvious details?

I'll set up a Google doc and once I've made a decent start will share with you all.

[2016-10-04 19:47] HPaulJohnson commented on #171
I've been meaning to find some time for us to chat @StevieBenton so this sounds like a good opportunity to touch base. I'll find some time for us to discuss.

[2016-10-04 19:50] StevieBenton commented on #169
Thanks guys!

[2016-10-04 19:58] mmmavis commented on #24
/cc myself @mmmavis and @cadecairos ~~(tl;dr, MozFest site needs to link out to a Facebook streaming page when the D&D speakers series start. We can't know the direct link ahead of time. We will have to turn off caching so that once the streaming goes live, we update MozFest site with the Facebook direct link and the site can reflect the URL change immediately.)~~

---

### Updates:

@cadecairos p

[2016-10-04 20:00] edrushka commented on #25
Updates
- Platform is Facebook.
- Website will link to Facebook (no live embedding, it will be a simple link)

[2016-10-04 20:01] edrushka commented on #24
@marcwalsh can you please update this when the supplier contract is signed. I need to connect Liz from MoCo with the supplier.

[2016-10-04 20:01] StevieBenton commented on #171
Thanks @HPaulJohnson - I have accepted your invitation. Look forward to catching up.

[2016-10-04 20:04] Saallen commented on #173
If you can @KGorr , ping me on mattermoz for account access details!

[2016-10-04 21:21] edrushka opened #175 "Improve Slack channel"
Let's spruce up our existing [MozFest Slack channel](https://mozfest.slack.com/messages/general/).
- [ ] Decide if we want to upgrade our account. It’s not that expensive: https://mozfest.slack.com/pricing
- [ ] Set up a sign-up form e.g. https://github.com/BretFisher/slack-signup
- [ ] Prep some new channels e.g.
- 1 for each of the 10 spaces
- Science Fair
- Demo Party
- Help
- Penpals/meet-and-

[2016-10-04 21:23] edrushka commented on #147
hey @kblanks thanks for the comment. We already have a Slack channel and will do some work to get it into shape in the next couple weeks. Plans for improvement will be documented and discussed in #175.

[2016-10-04 21:23] #147 closed, assigned to nobody

[2016-10-04 21:41] edrushka commented on #175
Note that we need to find a secure way to set up the auto-invite form. Many of the solutions I found online seem to leave users' email addresses vulnerable.

[2016-10-04 22:08] taisdesouzalessa commented on #84
Thanks for the text @edrushka! They all fit. I chose some of them and applied to the animation. Please take a look and let me know what you think or if you would like to see any other text applied there.
![twitter-v1-opt6-build-debate](https://cloud.githubusercontent.com/assets/22157921/19094280/28993ade-8a44-11e6-91ba-2e0b19981f93.gif)

![twitter-v1-opt6-mozfest-building](https://cloud.githubuser

[2016-10-04 22:16] taisdesouzalessa commented on #84
The RedPen is updated according to the latest feedback I received:
https://redpen.io/p/qwaf5cfe4531a63744

@kristinashu, @edrushka, @KevZawacki, @KGorr, @xmatthewx  please let me know if you have any revisions you would like me to make.

After those options are approved, I'll work on the Facebook dimensions. Thank you!

[2016-10-04 23:41] kailan commented on #175
Hi @edrushka, popping in again about this topic since I feel like a Slack expert! (still not sure if I'm meant to be here)
- The Slack paid plans are billed per-user and that's going to get pretty expensive once the public are able to join.
- For sign-ups I've usually always seen [rauchg/slackin](https://github.com/rauchg/slackin) used – I'm not aware of any security issues.

[2016-10-05 01:47] edrushka commented on #175
Awesome @kblanks - that's super helpful (And yes, you are welcome to be here! 😄)

[2016-10-05 02:04] edrushka opened #176 "Guide: Spirit of MozFest (working title)"
MozFest is different from other tech events. It is:
- a checkpoint in an ongoing flow of creation and imagination that never ends
- utterly focused on interactive sessions and experiences - this is the heart of the what makes the festival special
- driven by the audience. More than 400 attendees host sessions
- created with partners in the community
- a place to write creative code alongside peopl

[2016-10-05 02:05] edrushka commented on #176
@kristinashu this is the new piece of content for the guide. Not ready for Carrie-Ann yet. Still in-progress.

cc @Saallen

[2016-10-05 10:58] Saallen commented on #148
Hello
I just left some comments- I would like the safety piece changed, especially in regards to too many locations for vital and super important information to get lost- This will never work if there are too many options for failure.
**Safety**
approach 5th floor info desk, email festival@mozilla.org or call XXXXXXX
All reports will be held in the strictest confidence

_In regard to listing_
Help

[2016-10-05 11:33] StevieBenton commented on #176
@edrushka Absolutely. Will have a go and link back to the G-doc here once there's something to see.

[2016-10-05 11:35] SpikeUK commented on #148
I agree with Sarah - I would prefer to not involve the local volunteers in the reporting chain for reports of breaches of CofC. Having said that, anyone with a radio should be fair game.

[2016-10-05 11:47] StevieBenton commented on #176
Hello again, @edrushka @kristinashu @Saallen

[Here's a link for the first attempt](https://docs.google.com/document/d/1mTBJXTH76XXYo4dTOEybb-fQOnqSE0XqYx8ciWBiE84/edit?usp=sharing). It's fully open so you can comment and edit if you'd like. Is this the kind of thing you were looking for? I'm trying to keep a consistent tone of voice in the content I'm producing without it becoming too repetitive.

[2016-10-05 12:17] KevZawacki commented on #84
@taisdesouzalessa They are **awesome**. Really excited to get them up on Twitter.com/Mozilla!

[2016-10-05 13:37] StevieBenton commented on #171
Hello again everyone. I've had a go at [a rudimentary first draft](https://docs.google.com/document/d/1jsUxCzEv2rnqHPkjOs6ina9KEu9y5RHxUkAiMFNzANk/edit?usp=sharing). It's fairly lightweight but doesn't feel like anything specific is missing.

I will need some help with the procedural bits and pieces - how do folks share their content with us? - but it feels like it's a good start. Any and all comm

[2016-10-05 14:04] Saallen commented on #97
Just updating here as seen an outdated copy in circulation- this years youth photo consent form has changed slightly here. New version and only version to be used 👍
[Uploading MozFest2016 Parental consentform.pdf…]()

[2016-10-05 14:19] xmatthewx commented on #84
These are a amazing.

I suggest that we shorten the length on these so they can be read in a blink.
- ~~Build, debate, and explore~~ The future of a healthy internet.
- ~~Mozfest~~ Build~~ing~~ and protect~~ing~~ a free ~~and~~ & open internet.
- Grow your network ~~and~~ & get inspired.
- ~~For those who care about a free and open internet, MozFest is the place to be.~~

[2016-10-05 15:50] kristinashu commented on #148
Redpen has been updated with that feedback https://redpen.io/p/vfb6a99be818e00757

Waiting to hear back about wifi, slack, and lanyard color.

[2016-10-05 16:58] edrushka commented on #176
Awesome - all of that copy is useful to have. Can you try a shorter version for the Festival Guide specifically. 1-2 short paragraphs that puts more of an emphasis on sessions, and how anyone (young people, 'experts') can lead a session and anyone can connect and share ideas there. It's this audience collaboration through sessions that are the heart, and the defining characteristic, of MozFest.

[2016-10-05 16:59] edrushka commented on #176
Check out Dorine's blog for a bit of inspiration: https://medium.com/mozilla-festival/a-call-for-more-youth-led-sessions-at-mozfest-ae44f84ee8a#.xbgccwgbh

[2016-10-05 17:24] StevieBenton commented on #176
@edrushka I've had another go with a shift in emphasis. It's in the same document. I've kept the original copy though, as some of it can be remixed for other purposes I think.

[2016-10-05 17:48] kristinashu commented on #170
We are lucky get some @natalieworth skills on this!

cc @sabrinang since there will be a lot of overlap with the presenter slides.

[2016-10-05 18:20] taisdesouzalessa commented on #84
I agree with @xmatthewx that the sentences could be shorter. Specially on social media, where the attention spam is so short, the faster we can convey the message, the better.

Kudos to @flukeout, @sabrinang, @kristinashu for their feedback on the animation on RedPen , they helped it to evolve to the stage it is now :)

Here are the new iterations, with shorter sentences:
![twitter-v2-build-protec

[2016-10-05 18:40] edrushka commented on #84
+1 to shorter copy. These look fabulous.

[2016-10-05 18:42] edrushka commented on #170
Woooooooo YAH NATALIE!!! 🎆

Love what @taisdesouzalessa has been working on in #84 - these would be great content for the venue screens.

[2016-10-05 19:53] Saallen commented on #175
Hey- I am of the option this is surplus to communcatio  requirements!!???? 😱
We are already asking ppl to share on twitter, upload to network pulse, add comments to etherpads on the schedule....this feels like somewhere else I need to check without knowing what is the benefit....

[2016-10-05 20:28] edrushka commented on #176
@Saallen what do you think of this?

---

The Spirit of MozFest

At its heart, MozFest is a listening exercise and a checkpoint in the circular process of co-creation that the free and open internet depends upon.  Participants bring ideas, energy, enthusiasm and skills to more than 400 peer to peer interactive sessions.

What makes MozFest so special is there is literally no entry requirement. Any

[2016-10-05 21:19] Saallen commented on #176
Hey
I keep tripping up on checkpoint in the circular process of co-creation-
I love the language, and totally want to see it used as in version 1 circular and co creation work really well but the 4 c's is distracting and I keep having to re-read

[2016-10-05 21:19] Saallen commented on #176
This is sooo good  ❤️
What makes MozFest so special is there is literally no entry requirement. Anyone, of any age, background or level of expertise, can lead and attend sessions. Have an idea, suggestion or passion? We give you the platform. The people at MozFest - you - give the movement its power. Where will you take us next?

[2016-10-05 21:45] edrushka commented on #109
Just for consistency across tickets, here are the timings with the additional 5th  D&D:

Saturday
    9:00-9:30 main stage
    10:00 -11:00 Session 1
    11:15- 12:15 Session 2 and D&D 1
    12:30 -13:30 Session 3
    12:00- 14:00 Lunch
    13:00 - 13:45 Sessions 4 and D&D 2
    14:00-15:00 Sessions 5
    15:15- 16:15 Sessions 6 and D&D 3
    16:30- 17:30 Sessions 7
    18:00 Evening activities be

[2016-10-05 22:24] edrushka commented on #175
This is a nice-to-have element that allows festival-goers to connect with each other before, during and after the festival. See how the [XOXO Festival has used Slack successfully](http://www.theverge.com/2015/9/18/9349425/slack-future-of-conferences-xoxo-festival).

There is no expectation that you would need to monitor the channel throughout the weekend. We'd need admins/moderators to route any h

[2016-10-05 22:40] edrushka commented on #176
@carrie-ann @kristinashu please use this for now, we'll tweak slightly to incorporate Sarah's feedback but it won't be drastically different:

---

The Spirit of MozFest

At its heart, MozFest is a listening exercise and a checkpoint in the circular process of co-creation that the free and open internet depends upon. Participants bring ideas, energy, enthusiasm and skills to more than 400 peer to

[2016-10-05 22:41] StevieBenton commented on #176
How funny - I know Hera! She does amazing work and wears many hats. Her
charity, Chayn, is perhaps the most impressive, but her work with Open
Corporates is incredible, too. Such a small world...

On Wed, Oct 5, 2016 at 11:40 PM, Erika Drushka notifications@github.com
wrote:

[2016-10-06 00:49] edrushka commented on #171
Great start. Left my comments in the doc. Would be great to clarify roles/point-person for content creators. Is that you @HPaulJohnson ???

[2016-10-06 01:04] sabrinang commented on #87
Work in progress on google slides here: https://docs.google.com/a/mozilla.com/presentation/d/1ztrY9GBVc10nSUFFXxE1d0UZZDRNRhCAZ9-cUfz60a0/edit?usp=sharing
<img width="1153" alt="screen shot 2016-10-05 at 6 01 24 pm" src="https://cloud.githubusercontent.com/assets/2492510/19137024/e25bda1c-8b25-11e6-8449-f37b2cb16570.png">
- I'll continue to refine some layout options and set type for pages with lo

[2016-10-06 11:46] marcwalsh-zz commented on #21
Feast Contract is currently with Legal pending approval.

[2016-10-06 11:47] marcwalsh-zz commented on #22
We're working with SLX this year, who is Ravensbourne's preferred supplier. Quotes received, Mac is contacting them and I have a site meeting this Friday to discuss finer details.

[2016-10-06 11:52] marcwalsh-zz commented on #24
@edrushka We're working with Mac and Kevin from AirMm. Dosed will be providing support with this, however the stream will be a shared responsibility. - hope that answers the question!

[2016-10-06 12:35] KevZawacki commented on #109
@edrushka I have the final D+D scheduled for Session 12 on Sunday (15:15 - 16:15). Can you confirm if this is correct / typo above?

[2016-10-06 13:50] StevieBenton commented on #176
Quick thought @edrushka @Saallen

If all the Cs are a stumbling block, perhaps change circular for ongoing?

[2016-10-06 14:39] SpikeUK commented on #22
Does this include the large displays for Science Fair/Demo Party plus info desks Marc?

[2016-10-06 15:13] Carrie-ann commented on #135
@kristinashu Just so you guys have the correct measurements. The inside yellow booklet is 117mm (w) x 200mm (h), not B6. This is so the pages fit nicely to the grid within the guide. :)

[2016-10-06 15:54] edrushka commented on #109
Confirming that D&D 5 is at 14:00 - 15:00, as indicated above.

[2016-10-06 16:03] xmatthewx commented on #87
This is fantastic. Really really beautiful. It's extremely extensive. Let's wrap this up soon with a few content templates and then call it done (text, list, image, image+text). Constraints will be more helpful for non-designers.

@KevZawacki – I believe we should expect that many speakers will provide slides of their own design. We can insert them between our title slides. There are way too many

[2016-10-06 16:15] StevieBenton commented on #169
Hey @edrushka @Saallen @KevZawacki

Not sure who to ask for final sign-off on this but the [final version is here](https://docs.google.com/document/d/1Ce6RHFoKTiM2enNSru6PW1PWZyHLP-GjlUs8GBbygB8/edit). If it is approved I can upload to Medium. Perhaps think about adding to the MozFest website if an opportunity arises.

Thanks!

[2016-10-06 16:29] kristinashu commented on #149
@marcwalsh are we able to get these stickers around 1.5 inches in size? With a matte finish so people can write on them?

@SpikeUK how many stickers do you think we need?

[2016-10-06 16:35] xmatthewx opened #177 "Print vinyl"
Let's use this issue to develop our game plan.

cc @marcwalsh @kristinashu @edrushka @Saallen

[2016-10-06 16:36] xmatthewx commented on #177
@lovegushwa mentioned that Ravensbourne might have purchased a vinyl cutter last year, but that it wasn't yet ready for use. True? False? Something we can access this year?

[2016-10-06 16:54] kristinashu opened #178 "Print Space banners"
Based on designs in https://github.com/MozillaFoundation/Mozfest2016_production/issues/102

@marcwalsh have you priced these?

![red-pen-3546abf5-2e50-4a0b-f316-b2487b5b0600](https://cloud.githubusercontent.com/assets/1068783/19161829/3ebe22d6-8baa-11e6-95f4-eff72fc2c489.jpg)

We're hoping for:

10 x "One Web" banner (one for each floor, excluding Level 0)
![red-pen-6328aff3-1f50-4106-d179-2c8dd41

[2016-10-06 16:57] kristinashu commented on #102
Ed has shared the updated banners https://redpen.io/p/yfad874f695291a82c

@xmatthewx @sabrinang @edrushka can you approve the design and then @ed-yau can give us the print ready files?

I've opened a separate ticket for quantities and pricing https://github.com/MozillaFoundation/Mozfest2016_production/issues/178.

![red-pen-4d269b9d-0c99-4f6f-d5c6-7abcb10b44f3](https://cloud.githubusercontent.com/

[2016-10-06 17:12] marcwalsh-zz commented on #150
Attached is the template for the notepads. @kristinashu @xmatthewx

[QFS_D_A6.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/514394/QFS_D_A6.zip)

[2016-10-06 17:15] KevZawacki commented on #145
Send! Closing ticket 🎆

[2016-10-06 17:15] #145 closed, assigned to edrushka, KevZawacki

[2016-10-06 17:23] kristinashu commented on #150
Thanks @marcwalsh! Looks like we can have bleed so that's great. For pricing, the dimensions are A6 and we would recommend not too many pages, something around 48 pages.

@carrie-ann is working on the design in the Festival Guide ticket #135 and the work can be seen here https://redpen.io/p/aq3ed683d65024fc8f

[2016-10-06 17:48] kristinashu commented on #91
@ed-yau has mocked up one example map: https://redpen.io/p/yfad874f695291a82c

We've given some feedback on colours and he will update, build out the rest of the floors and the overview map.

Note the mounted maps have a separate glitch pattern behind them to help them stand out. Maybe this pattern could match the back of the folded map?

![red-pen-559cda94-3e9a-4d86-ebc5-2e30f17ebe3a](https://clo

[2016-10-06 18:01] edrushka commented on #176
works for me.

@Saallen please review and sign off on this slight tweak. Also is the title OK?

---

The Spirit of MozFest

At its heart, MozFest is a listening exercise and a checkpoint in the ongoing process of co-creation that the free and open internet depends upon. Participants bring ideas, energy, enthusiasm and skills to more than 400 peer to peer interactive sessions.

What makes MozFest s

[2016-10-06 18:04] edrushka commented on #73
I recommend we just submit the EN version for now. The window for buying tickets is very slim.

We only have an informal mechanism process on our end (through Heather and her network) and I have no idea how long it will take.

[2016-10-06 18:17] edrushka commented on #175
Note after discussion we're moving towards a "less is more" approach with the channels:
- main channel for general festival chatter
- penpals/meet-and-greet/introduce yourself

[2016-10-06 19:55] KevZawacki commented on #169
This looks great, @StevieBenton. @edrushka?

Two small tweaks:

-- Let's change the headline to "What is MozFest?"
-- Can you select an image from our [Flickr](https://www.flickr.com/photos/134771568@N06/albums/with/72157658567152683)?

Then, ready for Medium! Let me know once it's live: I'll pin it to the homepage, so all visitors see this piece first.

[2016-10-06 19:56] KevZawacki commented on #87
@xmatthewx Right on. I'm happy with the majority of speakers using these as bookends.

[2016-10-06 20:04] StevieBenton commented on #169
Thanks! I've tweaked the headline and will choose an image later. I'll upload this at some point tomorrow once the MozFest slide for board has been signed off.

[2016-10-06 21:19] xmatthewx commented on #102
banners look super duper good to go

[2016-10-06 21:55] edrushka commented on #167
For reference, our official release on the D&Ds. This info is now public: https://medium.com/mozilla-festival/everything-you-need-to-know-about-mozfests-speaker-series-af8eb8f186bf#.y2pscukes

[2016-10-06 21:56] edrushka commented on #170
For reference, our official release on the Speaker Series. This info is now public: https://medium.com/mozilla-festival/everything-you-need-to-know-about-mozfests-speaker-series-af8eb8f186bf#.y2pscukes and can be used in the slides/screens.

[2016-10-06 22:45] kristinashu commented on #170
@edrushka would you be able to give more guidance for copy? As in, what exactly the slides should say?

[2016-10-06 23:04] edrushka commented on #170
Speaker Name
Title or subject of talk
Time of their talk
Location: Walker Space Ground Floor

[2016-10-06 23:38] simonwex commented on #175
I'm worried about promoting this slack team to mozfest participants, though I definitely see the value. We'd have some of the same issues if we were to promote Chat as the answer.

This is something we need to solve for the Mozilla network overall, and it's not clear what the answer will be.

Here are the issues specifically with Slack as I see them:

### Free tier limitations

On the free tier, w

[2016-10-06 23:42] simonwex commented on #175
If we can get through/accept the issues outlined above, we could run this as a test. If that's the case, does anyone have time to put some thought into the evaluation strategy? Ideally we'd want some basic stats on engagement and usage over the year. Also, it could be an opportunity to add some meat to our network strength KPI.

[2016-10-06 23:46] edrushka opened #179 "Guide: REVISION Shorter Space Wrangler Bios"
As required for the design, here are shorter bios
#### Grainne Hamilton

Grainne’s varied background includes leading the development of the Jisc Open Badges Toolkit, contributing to the Mozilla Discover project, acting as a Senior Consultant at Blackboard, and founding and facilitating the Open Badges in Scottish Education Group. At DigitalMe, Grainne contributes her expertise to a range of proje

[2016-10-06 23:47] edrushka commented on #179
cc @carrie-ann @kristinashu

[2016-10-06 23:59] kristinashu commented on #178
Not sure how finalized the Space locations are but as is, it looks like not every Level has a Space. Based on rough plans https://redpen.io/p/ewf78d105e4368c2af we can reduce the numbers to:

7 x "One Web" banner (one for Level 1, 2, 4, 6, 7, 8, 9)

1 x each of the 10 spaces

1 x each of the relevant levels (one for Level 1, 2, 4, 6, 7, 8, 9)

cc @xmatthewx @sabrinang @edrushka

[2016-10-07 00:00] edrushka commented on #175
Thank you for looking more deeply into the pricing structure, @simonwex. We certainly don't want users receiving the upgrade message and we absolutely do not have the budget to support 1000 paid accounts.

Any platform the Festival Team supports needs to have longevity. We do not want to begin building a community filled with alumni and creating a space for ongoing collaboration and communication

[2016-10-07 00:02] kristinashu commented on #177
Here is an idea for the vinyl locations and numbers https://redpen.io/p/ewf78d105e4368c2af
If this seems right, then I can figure out the sizes and amounts.

[2016-10-07 00:03] simonwex commented on #175
This isn't going to be an easy problem to solve. It is something we should dig in to in December.

[2016-10-07 00:09] xmatthewx commented on #156
As we talked about, it be great to identify a place where Pulse and the Network Map can remain available for participants to browse throughout the weekend. Could be in a corner near the main stage. By a coffee stand or info booth. iMacs would be great, screens might work.

[2016-10-07 00:09] xmatthewx commented on #156
Here are draft signs we could use for them.

@sabrinang – I'm not sure if I did your cut corners properly around the word network. Files are on [drive](https://drive.google.com/drive/u/1/folders/0B_rbDAen9prkNzRYejBjZ3RKMGs). cc @kristinashu

![mozfest-pulse-signs](https://cloud.githubusercontent.com/assets/53411/19174840/dcb17588-8bff-11e6-807a-7c526ee8f56e.jpg)

[2016-10-07 00:12] xmatthewx commented on #165
Met with @StevieBenton earlier this week. Chatted about how we'll use Pulse to gather info from the science fair etc to feed stories throughout the weekend. Fledgling plans for a kiosk: #156

[2016-10-07 00:16] xmatthewx commented on #178
If budget permits, I'd suggest one or two extra "One Web" banners for next to the registration desk. Nice. Not critical.

[2016-10-07 08:42] SpikeUK commented on #176
We know Hera as well @StevieBenton :) She was a MozFest local volunteer in 2013 (concentrating on dealing with out visitors from the media).  Hera was then the volunteer coordinator for the London Wikimania conference in 2014 - we had several chats on the 'phone and exchanges of email exchanging ideas and 'tricks of the trade'.

[2016-10-07 11:11] Carrie-ann commented on #179
@edrushka Thanks for this Erika! Could I be a pain and also ask for Joey's Bio to be shortened as well?

[2016-10-07 13:33] msaunby commented on #175
Enterprise slack does exist, I've seen it in use https://gdstechnology.blog.gov.uk/join-the-conversation/ but no idea how it's priced.

[2016-10-07 14:14] marcwalsh-zz commented on #149
I'm getting a quote for these today, I'll be getting them printed on sheets and not die-cut.

I have a rough estimate on numbers, it will be a few hundred in total and spare blanks just in case.

[2016-10-07 15:08] kristinashu commented on #172
@edrushka @KevZawacki for consistency across all design material, are we calling this "Dialogues and Debates" or "Debates and Dialogues"? Both are plural, right?

[2016-10-07 15:31] edrushka commented on #176
@StevieBenton one clarification - we don't specify what 'the movement' is in the 2nd para -- or anywhere else in the guide. Possible to rephrase that sentence? Is it too much to say "The people at MozFest - you - give the web/open web its power."?

[2016-10-07 15:33] StevieBenton commented on #176
@edrushka I am happy with that change. In my view, better to say "open web" than "web", but yes, please go ahead!

[2016-10-07 15:43] edrushka commented on #179
@Carrie-ann no problem here it is:

#### Joey Lee

Joey is a geographer and computational media artist who is passionate about technological literacy and the engagement of art and science through computation and collaboration. He is co-author of "The Big Atlas of LA Pools" and co-creator of the "Aerial Bold" Kickstarter project. He lives in Vancouver where he’s conducting MSc research and teaching

[2016-10-07 15:49] edrushka commented on #175
Interesting, @msaunby - I see you still need an account within a specific domain (they list 110+ on the signup form!!)

We'll have to look into this. Thanks for the example.

[2016-10-07 15:52] edrushka commented on #172
confirmed. Both are plural.

[2016-10-07 15:58] kristinashu commented on #136
@edrushka: @carrie-ann has updated the comps and is ready for you're final copy edits https://redpen.io/p/aq3ed683d65024fc8f

Next steps:
- Carrie to update notebook cover over the weekend (then put design in template https://github.com/MozillaFoundation/Mozfest2016_production/issues/150 - this has to go to print end of day Monday)
- Erika & co. to review final copy edits
- Designers will add smal

[2016-10-07 15:59] kristinashu commented on #135
Closing this ticket, we are now on the final round of review! And everything is looking awesome!

[2016-10-07 15:59] #135 closed, assigned to nobody

[2016-10-07 16:00] kristinashu commented on #172
But which order? "Dialogues" first or "Debates"?

[2016-10-07 16:04] edrushka commented on #172
Dialogues and Debates.

[2016-10-07 16:24] kristinashu commented on #92
These should be more square than last year so they don't droop (these were too long). Thicker paper won't fit into the mental stands.

[2016-10-07 16:31] StevieBenton commented on #169
Just a quick update, this has been [published live on Medium now](https://medium.com/mozilla-festival/what-is-mozfest-953b0ac52c2e#.zafqpfafo). Do feel free to share!

Edit: and thanks to all for your input, very much appreciated.

[2016-10-07 16:31] #169 closed, assigned to StevieBenton

[2016-10-07 16:34] StevieBenton commented on #171
I've had another pass over the document. @edrushka thank you very much for your comments, really useful.

I've tightened some of the copy and also removed a couple of the things which would have created a burden for everyone, like sourcing images.

It now feels a touch on the light side, but I think this could be a good thing. [The link again, for those who missed it](https://docs.google.com/docum

[2016-10-07 19:28] edrushka opened #180 "Guide: ADDITION Final Bios and photos"
Please add these final Space Wrangler Bios and Photos
#### Arliss Collins

Arliss works on data and metrics for the Mozilla Learning Network, analysing data collection methods and standardising collection processes across the MLN hubs. She helps groups to understand their member data as it relates to engagement/growth/retention in their communities and to guide the development of initiatives that

[2016-10-07 19:31] edrushka commented on #180
cc @carrie-ann

[2016-10-07 19:35] edrushka commented on #176
Final copy:

---

The Spirit of MozFest

At its heart, MozFest is a listening exercise and a checkpoint in the ongoing process of co-creation that the free and open internet depends upon. Participants bring ideas, energy, enthusiasm and skills to more than 400 peer to peer interactive sessions.

What makes MozFest so special is there is literally no entry requirement. Anyone, of any age, backgroun

[2016-10-07 19:35] kristinashu commented on #180
Thanks Erika! I think those photos should work.

Thanks Carrie for adding these in!

[2016-10-07 19:36] edrushka commented on #136
I've sent this to my copy editing team. I've requested they provide feedback by end of day Saturday.

[2016-10-07 19:40] edrushka commented on #171
Thanks Stevie! @HPaulJohnson this needs your eyes and also can you clarify your role in the doc? Not sure about a couple things.

[2016-10-07 20:11] taisdesouzalessa commented on #84
Hey, thanks for all the contributions here!

Here are the final deliverables:
Twitter:
[Twitter-jpgs.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/517028/Twitter-jpgs.zip)
[Twitter-gifs.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/517029/Twitter-gifs.zip)

Facebook:
[Facebook-jpgs.zip](https://github.com/MozillaFoundation/Mozfest2016_production/fi

[2016-10-07 20:19] kristinashu commented on #154
Black would also be fine to use.

[2016-10-07 20:25] kristinashu commented on #93
Closing this ticket, if we end up needed this we can open a new one.

[2016-10-07 20:25] #93 closed, assigned to nobody

[2016-10-07 20:28] KevZawacki commented on #84
🎆 @edrushka @xmatthewx Are these ready to be shared with the world? If so, I can put them to work Monday.

[2016-10-07 20:29] xmatthewx commented on #84
@mmmavis or I can drop those animated gifs with the other assets on the mozfest site. So you could share a link. They won't appear on the site, just sit in a directory like [this](https://mozillafestival.org/assets/images/about-3.jpg). Does that work?

[2016-10-07 20:30] edrushka commented on #84
I'm excited to share as soon as MW gives his final thumbs up! Awesome job everyone 😍

[2016-10-07 20:30] xmatthewx commented on #84
@KevZawacki – design wise, they're good to go. As long as size and everything else works for you.

Yippee! 🚀

[2016-10-07 20:32] sabrinang commented on #103
@marcwalsh Can you supply the dimensions for the main stage (floor 4) and for the debates and discussions stage (floor 0) when you have them confirmed?

[2016-10-07 20:37] taisdesouzalessa commented on #84
@xmatthewx yay!! So great we can host the gifs somewhere and post on Facebook, thanks for letting me know! I'll prepare the gifs then for Facebook dimensions and add a zip here shortly.

[2016-10-07 21:09] mmmavis commented on #84
@xmatthewx sorry if I misunderstood - if we are sharing these images out on Twitter/Facebook we can upload images directly there. If that's true we don't have to hotlink to assets on mozfest.org.

[2016-10-07 21:26] xmatthewx commented on #84
No problem @mmmavis. @taisdesouzalessa mentioned that Facebook doesn't allow users to upload a gif with animation. But, they will let you link to one. I bet that they cache their own copy, so I wouldn't be worried about hotlinking. I haven't researched any of this, so please continue to question my suggestion.

Maybe we post to imgur or another service instead of our site, and then share to facebo

[2016-10-07 21:29] taisdesouzalessa commented on #84
@mmmavis when I post a gif to Facebook directly it doesn't work unless I provide an external link, like that:
![posting](https://cloud.githubusercontent.com/assets/22157921/19205857/c1faa13e-8c99-11e6-8d6b-dee4c01551c7.gif)
If you know a way to upload directly to Facebook and make it work, let me know! I would love to learn!

[2016-10-07 21:31] mmmavis commented on #84
@xmatthewx Gotcha! Good practice is that website/repo should only contain assets that the website uses. If we need to host those images for social share purposes only we should create a S3 bucket and drop those files there. /cc @cadecairos here for next step. 😄

[2016-10-07 21:37] cadecairos commented on #84
An S3 Bucket should suit our needs.

I could also drop them onto a CDN for better performance worldwide. We've got stuff.webmaker.org available.

[2016-10-07 21:41] mmmavis commented on #84
🍻 🍻 🍻 🍻 🍻

[2016-10-07 22:00] taisdesouzalessa commented on #84
Awesome, thanks for the solution @mmmavis @cadecairos and @xmatthewx . Here are the Facebook gifs that should be hosted somewhere else. Once you upload them, could you please provide the links in this thread?:
[Facebook-gifs.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/517175/Facebook-gifs.zip)

Thanks and let me know if you encounter any size or other restrictions when y

[2016-10-07 22:10] kristinashu commented on #177
@marcwalsh here are some very rough estimates for vinyl dimensions.

**Vinyl for Stairs**
02mm x 100mm
quantity = 3

960mm x 100mm
quantity = 3

431mm x 100mm
quantity = 4

364mm x 100mm
quantity = 1

397mm x 100mm
quantity = 3

586mm x 100mm
quantity = 3

399mm x 100mm
quantity = 4

804mm x 100mm
quantity = 2

603mm x 100mm
quantity = 1

355mm x 100mm
quantity =  4

100mm x 100mm
quantity = 33

1

[2016-10-07 23:34] kristinashu commented on #149
Thanks @marcwalsh. I've updated each sticker to be 40mm. We probably need a decent amount of blank ones for the many languages we haven't accounted for. Here are the print files:

[Language Stickers.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/517271/Language.Stickers.zip)

Also in Drive folder: https://drive.google.com/open?id=0B2irLVDJivhLUW9FTWxNTGJGWnc

[2016-10-08 13:39] Saallen commented on #140
Got another cool thing to talk about on Twitter or emails
@acabunoc bby ran an open project training to encourage ppl to collaborate and build on their projects through the platform network pulse- and she recorded it . Great work Abby 📹
https://www.youtube.com/watch?v=4lu_t7sJyms&feature=youtu.be

[2016-10-09 15:20] SpikeUK commented on #149
@kristinashu I do not have access to all attendee records but taking the local volunteer data and scaling it up for a hypothetical 1.800 attendees ...
- French    | 5%   | 45
- Spanish  | 5%   | 45
- Italian     | 5%   | 45
- German  | 5%   | 45
- Hindi      | 10% | 90
- Arabic    | 2%   | 36
- other     | 20% | 360

So 45 sheets of the above (one of each named language + three blanks) would be ab

[2016-10-09 15:31] SpikeUK commented on #81
@marcwalsh
Size breakdown for volunteer t-shirt sizes:
XS        5
S        23
M      34
L        21
XL      15
XXL    10
Total 108

This does not include the Rave "volunteers" (10 of various sizes)

[2016-10-10 10:04] marcwalsh-zz commented on #178
These are good to print in terms of prices. I've attached the templates for the artwork.

[Level Banner Template.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/519250/Level.Banner.Template.pdf)
[Space Banner Template.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/519251/Space.Banner.Template.pdf)
[One Web Banner Template.pdf](https://github.com/Mozil

[2016-10-10 13:41] KGorr commented on #173
@edrushka - never uploaded to Issuu but happy to give a go. Will also make a note to add the finalized links to include on social comms!

[2016-10-10 13:51] Saallen commented on #177
According to above there are 94 pieces of vinyl for 9 stairwell- so an average there is 10 stickers on each stairwell. Presuming though there is less stickers the higher you go. Is there a placement map for all these? It would help understand the placement and flow 🔍

[2016-10-10 13:52] MozExhibit commented on #173
@edrushka @KGorr @Saallen - Thanks all! We are aiming to finalise the MozEx book-catalogue by end of this week. Reviewing credits, final spell-checks, etc, etc. Will be in touch!

[2016-10-10 16:01] StevieBenton opened #181 "Draft article for Medium on web literacy"
Hello everyone,

I'm writing a series of shorts about the five key issues for Medium (and elsewhere). I've just finished a first draft of the piece on web literacy.

I've tried to keep it snappy and jargon free. I've also tried to shape the content in a way which means it can be edited and repurposed for other uses throughout the year.

I'd be really grateful if you could have a look and add any c

[2016-10-10 16:32] kristinashu commented on #102
Excellent, design is done! @ed-yau could you please place the artwork in the templates mentioned in https://github.com/MozillaFoundation/Mozfest2016_production/issues/178? Note, we don't need every floor numbers.

[2016-10-10 16:32] #102 closed, assigned to nobody

[2016-10-10 17:25] kristinashu commented on #177
Numbers based on these maps https://redpen.io/p/ewf78d105e4368c2af (the pink dots represent where vinyl could go).

General rules:
- staircase just before a Space would have the vinyl info (example: the staircase before level 4 would have vinyl for the Main Stage and Fuel the Movement)
- Spaces on the highest levels would need more vinyl (example: Fuel the Movement only has one vinyl because most

[2016-10-10 18:52] StevieBenton opened #182 "Draft article for Medium on privacy and security"
Hello everyone,

You may have seen I'm creating some articles about the five key issues for publication on Medium. The idea is that they can also be repurposed post-MozFest for other uses. Info about speakers, for example, can be reframed as past tense with details of their presentation.

[Here's the first draft of the piece about online privacy and security](https://docs.google.com/document/d/1Hz

[2016-10-10 21:39] kristinashu commented on #150
@xmatthewx @edrushka can you please give final sign off on this notebook?

This is what the back (left side) and front (right side) look like:
<img width="1004" alt="screen shot 2016-10-10 at 2 32 40 pm" src="https://cloud.githubusercontent.com/assets/1068783/19251890/8244c862-8ef6-11e6-9a0f-4329b2afda05.png">

And how it will look all together (but with one clip, not two):
![red-pen-13bc0bce-b330

[2016-10-10 21:50] kristinashu commented on #136
Final round of copy edits is done, all the design updates are done with the exception of the glitch cover which @sabrinang is updating.

https://redpen.io/p/aq3ed683d65024fc8f

Just coordinating with @marcwalsh and the print on how they want the files set up and how we will proof the files.

[2016-10-10 21:52] xmatthewx commented on #150
✔️ 😺

[2016-10-10 22:56] ed-yau commented on #178
Hi All, please find the final artwork pdf files for the Banners in the folder titled **EXPORT FINALS** in the shared google drive link.[https://drive.google.com/drive/folders/0B8D3YQVeWHo7VFo4TkNFUzZvTjg]

[2016-10-11 09:27] marcwalsh-zz commented on #80
It's printing! ✌🏼

[2016-10-11 09:28] #80 closed, assigned to marcwalsh-zz

[2016-10-11 09:30] marcwalsh-zz commented on #33
Printing! 🍾

[2016-10-11 09:30] #33 closed

[2016-10-11 09:31] marcwalsh-zz commented on #117
Contract signed.  ☕️☕️☕️☕️☕️

[2016-10-11 09:31] #117 closed, assigned to marcwalsh-zz

[2016-10-11 11:23] ed-yau commented on #178
@marcwalsh Here are the final banner files for print.
[EXPORT FINALS-20161011T112019Z.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/521671/EXPORT.FINALS-20161011T112019Z.zip)

[2016-10-11 11:57] marcwalsh-zz commented on #150
@kristinashu @xmatthewx - I need to know the colour of the thread we want to use.

These are the options:
<img width="674" alt="screen shot 2016-10-11 at 12 56 04" src="https://cloud.githubusercontent.com/assets/14007066/19269372/238a3c50-8fb2-11e6-96ec-c44f2968ba0a.png">

[2016-10-11 15:33] kristinashu commented on #178
Thanks Ed!

[2016-10-11 15:36] kristinashu opened #183 "Design a MozFest poster or banner"
Might be nice to have some sort of mozfest branded poster or banner at the entrance of Ravensborne. Either to hang from the railings or over the registration table.

cc @sabrinang @xmatthewx

[2016-10-11 15:39] kristinashu commented on #150
Yellow would be cool. @carrie-ann does that sound good to you?

[2016-10-11 16:14] marcwalsh-zz commented on #103
100mm Bleed to each side of the image - High Res 100% (Actual Size) image size either PDF or EPS for each image.
Walker Space- Wall size 4800w by 2400h
Level 4- Wall size 4800w by 2400h

[2016-10-11 16:15] marcwalsh-zz commented on #103
@sabrinang - See print specs above ^^ :)

[2016-10-11 16:43] sabrinang commented on #136
The glitch cover iterations .ai is here: https://drive.google.com/file/d/0B4Q8pzCpDS_eWno3OF9zMzd5Mmc/view

<img width="1276" alt="screen shot 2016-10-11 at 9 41 12 am" src="https://cloud.githubusercontent.com/assets/2492510/19279593/e4a1d1d0-8f96-11e6-800a-dfb8ebb406aa.png">

[2016-10-11 16:45] sabrinang commented on #103
@marcwalsh just to clarify that is 4800mm by 2400mm?

[2016-10-11 16:51] sabrinang commented on #183
Will this be similar size to the other mozfest hackable posters? These sound like they could be on the larger side if they are hanging from the railings

[2016-10-11 17:07] xmatthewx commented on #183
Could be nice to pair it with the existing One Web banner and sized to complement that.

[2016-10-11 17:15] marcwalsh-zz commented on #103
Yes that's correct! :)  @sabrinang

[2016-10-11 17:52] xmatthewx commented on #156
@sabrinang – please include these as you prepare other posters for print. I don't have a strong opinion about size, so feel free to modify the [files in drive](https://drive.google.com/drive/u/1/folders/0B_rbDAen9prkNzRYejBjZ3RKMGs). My ragged type on small pulse sign is also pretty poor.

Ideally we can mount these on boards since we might not have a wall to use. cc @marcwalsh

[2016-10-11 18:02] kristinashu commented on #136
I put this glitch into the indesign file to test it out but it's looking a little too crazy
https://redpen.io/hgaa88c1580cbf616d
Maybe we can we try using few colors?

[2016-10-11 18:04] kristinashu commented on #177
W00t! Sounds like we can print these off site!

[2016-10-11 18:08] kristinashu commented on #174
Thanks, this has been updated!

[2016-10-11 18:08] #174 closed, assigned to nobody

[2016-10-11 18:08] kristinashu commented on #179
Thanks, this has been updated!

[2016-10-11 18:08] #179 closed, assigned to nobody

[2016-10-11 18:08] kristinashu commented on #180
Thanks, this has been updated!

[2016-10-11 18:08] #180 closed, assigned to nobody

[2016-10-11 18:09] kristinashu commented on #172
Thanks, this has been updated!

[2016-10-11 18:09] #172 closed, assigned to KevZawacki

[2016-10-11 18:10] kristinashu commented on #155
@edrushka you mentioned some space locations to me, are they finalized? Or close to being finalized?

[2016-10-11 18:13] kristinashu commented on #89
Design is done and opened a ticket for printing https://github.com/MozillaFoundation/Mozfest2016_production/issues/177

[2016-10-11 18:13] #89 closed, assigned to nobody

[2016-10-11 18:32] kristinashu opened #184 "Print map insert for Festival Guide"
Based on map design in https://github.com/MozillaFoundation/Mozfest2016_production/issues/91 and festival guide design in https://github.com/MozillaFoundation/Mozfest2016_production/issues/136

Will be 337mm x 460mm folded into four.

Front of the map will look like (but with the Space locations):
<img width="524" alt="screen shot 2016-10-11 at 11 26 42 am" src="https://cloud.githubusercontent.com

[2016-10-11 18:38] Saallen commented on #155
Level 1 & Mezz
Space- Digital Arts and Culture

Level 2
Youth Zone

Level 3
Open Media Art Exhibt

Level 4
Library Space- Fuel the movement

Level 5
Coffee station

Level 6
Space -Delimma of connected spaces
Space- Localisation

Level 7
Space- Demystify the Web
Art exhibit

Level 8
Space- Journalism
Space- badges

Level 9
Space- Science

[2016-10-11 18:46] edrushka commented on #155
@marcwalsh can you fill in the rest of these?
- Lunch areas
- Coffee
- D&D stage -- Walker Space, Ground Floor
- Main speaker stage -- Open Space, 4th Floor
- Prayer room
-  Supplies room
- Creche -- not sure if we want this on the map
- #mozhelp, info booth

[2016-10-11 18:46] kristinashu commented on #155
If we know exactly locations, if would be great if you can add them here https://redpen.io/tp8c68c697ba47ced8

[2016-10-11 18:47] Saallen commented on #155
Level 0 Foyer
Registration
Lunch station
Cafe

Level 0 Walker space
Dialogue and Debate stage
Art exhibition
TODO Installation
Coffee station

Level 1 & Mezz
Space- Digital Arts and Culture
105-108 Production back of house

Level 2
Youth Zone
208 Creche

Level 3
Open Media Art Exhibit

Level 4
LIbrary- Space- Fuel the movement
OPen space- Main stage
Food station

Level 5
Coffee station
Info desk
T

[2016-10-11 19:10] Saallen commented on #73
And we are LIVE 🎆
http://rlr.github.io/webtiles-previewer-redux/

Thanks everyone !

[2016-10-11 19:10] #73 closed, assigned to kristinashu, marcwalsh-zz

[2016-10-11 20:35] kristinashu commented on #155
Thanks! I've updated the overview map https://redpen.io/tp8c68c697ba47ced8
I just guessed the exact locations so please let me what needs to be moved around.

[2016-10-11 21:23] sabrinang commented on #136
@carrie-ann You can use the updated texture (with less yellow) and the .ai file for front and back covers is here: https://drive.google.com/file/d/0B4Q8pzCpDS_eUnNXX1BMLTZGMm8/view

<img width="1080" alt="screen shot 2016-10-11 at 2 21 35 pm" src="https://cloud.githubusercontent.com/assets/2492510/19289134/1ac71d84-8fbe-11e6-97b5-4f28ef2efc05.png">

[2016-10-11 22:00] Carrie-ann commented on #150
@kristinashu @marcwalsh I agree, the yellow thread will stand out really nicely against the blue spine!

[2016-10-11 23:27] Carrie-ann commented on #136
@sabrinang Great!

[2016-10-11 23:31] Carrie-ann commented on #184
@kristinashu Please find the illustrator file in the drive which includes the back glitch and map.

https://drive.google.com/drive/folders/0BzVQTTEXQZdXQjNkdkJmdXFIN1U

[2016-10-12 00:12] sabrinang commented on #136
@carrie-ann We did a quick print test and found that the back art was making the text a bit hard to read so I updated the .ai file v4 (removed and moved over some texture for more empty space beneath for the back cover): https://drive.google.com/file/d/0B4Q8pzCpDS_ea1FEczBqUjVCN0k/view

<img width="1063" alt="screen shot 2016-10-11 at 5 08 14 pm" src="https://cloud.githubusercontent.com/assets/249

[2016-10-12 01:21] sabrinang commented on #136
@Carrie-ann  The "youth zone" and "dilemmas in connected spaces" icons are swapped please re-arrange <img width="672" alt="screen shot 2016-10-11 at 6 18 50 pm" src="https://cloud.githubusercontent.com/assets/2492510/19294171/33363640-8fdf-11e6-9cb2-de0895a9d18d.png">

[2016-10-12 10:19] marcwalsh-zz commented on #156
Large Signs are around £30 each and the A4 signs are £16 each.

Would these be from MozFest's printing budget or somewhere else?

[2016-10-12 10:30] mattdigitalme commented on #129
@marcwalsh This looks perfect! :)

[2016-10-12 11:53] marcwalsh-zz commented on #148
WiFi information:

Network Name: `RaveEvents`
Password: `mozfest16`

[2016-10-12 11:53] marcwalsh-zz commented on #148
@kristinashu (sorry should have tagged you!)

[2016-10-12 13:23] StevieBenton opened #185 "Draft article for Medium - reviewing the Tate fringe event"
Hello everyone.

I went to the _excellent_ fringe event yesterday at Tate Britain and have produced a write-up. [It's in draft, and is here](https://docs.google.com/document/d/1wUnh8vcXQrud5U9xX7Il9PApGbVWA7btO-DBskoldko/edit?usp=sharing).

It's a touch lengthy but in my opinion the issues being explored merit the extra detail. Please do let me know what you think and when we are all happy I will

[2016-10-12 13:51] marcwalsh-zz opened #186 "List of Vendor / Access Names for Ravensbourne IDs"
Need to create a list of vendor names who require ID card access to site and the level of clearance required.
- [ ] Mozilla Production
- [ ] Mozilla Volunteers
- [ ] MozAV
- [ ] SLX
- [ ] Dosed
- [ ] Feast
- [ ] Risteretto
- [ ] Todo
- [ ] Tinie Creches
- [ ] Mozilla

[2016-10-12 13:54] SpikeUK commented on #186
- [x] Volunteers ;-)

[2016-10-12 14:01] marcwalsh-zz commented on #186
Added, thanks @SpikeUK

[2016-10-12 14:14] KevZawacki commented on #185
Thanks, @StevieBenton! Do we have photos to accompany?

[2016-10-12 14:26] StevieBenton commented on #185
I have a couple on my phone, will share them on here. They are pretty dark, as the room was pretty dark during the presentations, but I have a nice one from after the presentation which I think looks good

[2016-10-12 14:42] marcwalsh-zz commented on #150
Sent to printers! 👯‍♂️

[2016-10-12 14:42] #150 closed, assigned to nobody

[2016-10-12 15:15] marcwalsh-zz commented on #178
Printing! ✌🏼

[2016-10-12 15:15] #178 closed, assigned to marcwalsh-zz

[2016-10-12 15:35] kristinashu commented on #150
Yay!

[2016-10-12 15:52] kristinashu commented on #148
I've updated the comps https://redpen.io/p/vfb6a99be818e00757

Just need to know what the lanyard colour options are and then we can choose blue/purple or pink. But people seem like people prefer the blue/purple.

[2016-10-12 16:10] StevieBenton commented on #185
I have a couple on my phone, will share them on here. They are pretty dark, as the room was pretty dark during the presentations, but I have a nice one from after the presentation which I think looks good

[2016-10-12 16:54] marcwalsh-zz commented on #148
@kristinashu

We can get pantone matched lanyards... if required and they're not too much more money.
Let me know the colour that works best with the design you want and I'll order them.

[2016-10-12 17:37] KGorr commented on #166
Hey @StevieBenton - what's the best way for us to split up tasks for the [post comms work](https://github.com/MozillaFoundation/Mozfest2016_production/issues/144)? I think the thank you emails and the surveys are the best place to start - should I take emails and you can take the surveys? Of course, happy to collaborate on both together once we unblank the page.

[2016-10-12 17:42] taisdesouzalessa commented on #84
Closing this task here!

[2016-10-12 17:42] #84 closed, assigned to taisdesouzalessa

[2016-10-12 18:27] kristinashu commented on #90
Thanks @taisdesouzalessa! I've updated the info above to better reflect what we talked about.

[2016-10-12 18:27] taisdesouzalessa commented on #90
I was wondering how much I should leave as bleeding area. Could you please let me know? Thanks!

[2016-10-12 18:28] kristinashu commented on #90
@marcwalsh any idea how much bleed we should include?

[2016-10-12 19:08] edrushka commented on #185
This is nice, Stevie. I reviewed and suggested a couple lines to pull out/highlight when it goes to Medium.

We def. need images here. Suggest screen-capping tweets with photos if the ones on your phone are too dark.

[2016-10-12 19:31] kristinashu commented on #148
Great! I spoke with @sabrinang and we think the lanyard should be blue (Pantone 072).
<img width="333" alt="screen shot 2016-10-12 at 12 30 10 pm" src="https://cloud.githubusercontent.com/assets/1068783/19324714/b84e0ffe-9077-11e6-8f55-232326fb152c.png">

Then we'll go with the pink name card.

[2016-10-12 19:52] kristinashu commented on #148
Here's the final mockup https://redpen.io/gnd31171caaee6d86d

@edrushka can you please sign off on the content.

@marcwalsh how do you want the file (.ia, pdf, how much bleed...)?

[2016-10-12 20:00] edrushka commented on #148
@kristinashu did you determine if we use "floor 4" or "level 4" in the other assets?

[2016-10-12 20:09] kristinashu commented on #148
@edrushka I can't find anywhere else we reference Floor or Level but Level seems more commonly used in tickets and it was used on last years map. I updated Ground Floor to Ground Level on that last update.

[2016-10-12 21:26] xmatthewx commented on #156
As discussed, we can print from Design/Production budget if it's not tricky to group with other print order. Both projects are in services of Mozfest, so @edrushka suggested it's okay to do from Mozfest budget.

[2016-10-12 22:03] edrushka commented on #148
R+ on content. This looks very good. Nicely done!  :dancing_men:

[2016-10-12 23:48] kristinashu commented on #148
@edrushka shoot! Just noticed the schedule app uses Floor.

[2016-10-13 00:01] edrushka commented on #148
Haha...my brain kept telling me there was _somewhere_ we were being inconsistent. Not a huge deal. If you can update the card go ahead. If you prefer to keep as-is, that's fine. I think it's more important we're consistent across the graphic assets.

[2016-10-13 00:09] sabrinang commented on #103
<img width="1126" alt="screen shot 2016-10-12 at 4 36 02 pm" src="https://cloud.githubusercontent.com/assets/2492510/19331526/08bef738-909a-11e6-9035-48f04b7353d0.png">
@kristinashu @xmatthewx design review of stage designs?

Files in gdrive https://drive.google.com/drive/u/1/folders/0B4Q8pzCpDS_eXzFtcll6bnduMUE or redpen: https://redpen.io/p/fq57a6cbac24232872

Both stages have the same layout bi

[2016-10-13 01:17] kristinashu commented on #176
Added!

[2016-10-13 01:17] #176 closed, assigned to nobody

[2016-10-13 01:20] #153 closed, assigned to edrushka

[2016-10-13 16:46] StevieBenton commented on #166
Hey @KGorr - I think that makes sense, but basically happy to direct my efforts to where you think they are most useful.

For the surveys, is there a plan to recreate the same survey as previous years, because then there is an existing benchmark against which to measure the responses? If yes, could you (or anyone!) send me a link or a copy please?

[2016-10-13 16:57] StevieBenton commented on #185
Thanks for the comments Erika, very helpful. I'll take another look and make any revisions required.

In terms of image, there's this one which I think is OK but a bit generic...
![tate fringe image](https://cloud.githubusercontent.com/assets/22321839/19358644/800c566c-916e-11e6-8da4-c6ee52eec7f0.jpg)

[2016-10-13 18:03] edrushka commented on #185
Looks ready for Medium! Kat Braybrooke is a former MoFo and she posted lots of great pics on Twitter. You could include screengrabs of her tweets or reach out for permission to use the images directly.

[2016-10-13 19:53] taisdesouzalessa commented on #90
@kristinashu @sabrinang @xmatthewx here are the poster options:
https://redpen.io/p/hk6d0021f97dd28991

I prepared a rationale sheet (it is also in RedPen so you can add your thoughts there if you have any questions or disagree with any point I made there):
![rationale](https://cloud.githubusercontent.com/assets/22157921/19364589/9f11e548-9143-11e6-84e3-7d6fd82e29a8.jpg)

Once we choose one of the

[2016-10-13 19:55] xmatthewx commented on #103
Looks good.
- Let's check with videographer as suggested on stand
- Should Moz logo be further to the left? Not critical, just curious.

Beyond that, I think these are good to go from where I sit. @kristinashu anything else?

[2016-10-13 20:08] kristinashu commented on #90
Looks great @taisdesouzalessa! I've left a few comments in redpen.

@marcwalsh when do you need these by? Is mid next week ok?

[2016-10-13 20:18] kristinashu commented on #103
Yes, maybe the MozFest logo should be left and maybe even up a little.

@sabrinang did you should outline all the text?

[2016-10-13 20:22] kristinashu commented on #91
@sabrinang could I get your feedback on the maps? https://redpen.io/p/nca82e6ea157535639

The new space names didn't fit well in last years rectangles so I just put them as text.

[2016-10-13 20:43] kristinashu commented on #177
@marcwalsh here are the print ready files https://drive.google.com/open?id=0B2irLVDJivhLSXY3THlfVjhpaFE

It has all the outlines artwork in one PDF, eps, and ai file.

These are all the pieces and quantities:
<img width="791" alt="screen shot 2016-10-13 at 1 22 54 pm" src="https://cloud.githubusercontent.com/assets/1068783/19365940/f3b01bdc-9149-11e6-9069-29d0dece013a.png">

Quantities are:
3 x MO

[2016-10-13 21:03] kristinashu commented on #148
I've stuck with 'Level' and will use it consistently for print materials.

<img width="542" alt="screen shot 2016-10-13 at 1 54 41 pm" src="https://cloud.githubusercontent.com/assets/1068783/19366658/e6133b8c-914c-11e6-9045-56ee3872b287.png">
<img width="540" alt="screen shot 2016-10-13 at 1 54 53 pm" src="https://cloud.githubusercontent.com/assets/1068783/19366659/e6147b28-914c-11e6-90e1-e650ad08

[2016-10-13 23:10] edrushka commented on #56
Closing

[2016-10-13 23:10] #56 closed, assigned to edrushka, Saallen

[2016-10-13 23:10] #61 closed, assigned to HPaulJohnson

[2016-10-13 23:11] #68 closed, assigned to nobody

[2016-10-13 23:11] #70 closed, assigned to nobody

[2016-10-13 23:11] edrushka commented on #70
Refer to festival guide for timings.

[2016-10-13 23:13] edrushka commented on #108
Closing. Pull text from final festival guide InDesign file. Content in this ticket has not been through final proof-reading.

[2016-10-13 23:13] #108 closed, assigned to nobody

[2016-10-13 23:13] edrushka commented on #109
Closing. Pull text from final festival guide InDesign file. Content in this ticket has not been through final proof-reading.

[2016-10-13 23:13] #109 closed, assigned to nobody

[2016-10-13 23:13] edrushka commented on #110
Closing. Pull text from final festival guide InDesign file. Content in this ticket has not been through final proof-reading.

[2016-10-13 23:13] #110 closed, assigned to nobody

[2016-10-13 23:13] edrushka commented on #112
Closing. Pull text from final festival guide InDesign file. Content in this ticket has not been through final proof-reading.

[2016-10-13 23:13] #112 closed, assigned to nobody

[2016-10-13 23:13] edrushka commented on #113
Closing. Pull text from final festival guide InDesign file. Content in this ticket has not been through final proof-reading.

[2016-10-13 23:13] #113 closed, assigned to nobody

[2016-10-13 23:14] edrushka commented on #114
Closing. Pull text from final festival guide InDesign file. Content in this ticket has not been through final proof-reading.

[2016-10-13 23:14] #114 closed, assigned to nobody

[2016-10-13 23:14] edrushka commented on #152
Closing. Pull text from final festival guide InDesign file. Content in this ticket has not been through final proof-reading.

[2016-10-13 23:14] #152 closed, assigned to edrushka

[2016-10-13 23:14] edrushka commented on #115
Closing. Pull text from final festival guide InDesign file. Content in this ticket has not been through final proof-reading.

[2016-10-13 23:14] #115 closed, assigned to nobody

[2016-10-13 23:16] edrushka commented on #157
Closing. Stevie is now a GH pro! 😉

[2016-10-13 23:16] #157 closed, assigned to edrushka

[2016-10-13 23:16] edrushka commented on #175
Closing this. Thank you for the discussion everyone.

[2016-10-13 23:16] #175 closed, assigned to nobody

[2016-10-13 23:17] edrushka commented on #151
@marcwalsh do you have an update I can share on the Brownbag? Have we confirmed the live transcription person?

[2016-10-13 23:18] edrushka commented on #62
Can we close this, @HPaulJohnson , or are we still adding to this list?

[2016-10-13 23:19] HPaulJohnson commented on #62
We can close. Still doing some adhoc messaging on twitter but for all intents in purpose this is wrapped.

[2016-10-13 23:19] #62 closed, assigned to HPaulJohnson

[2016-10-13 23:19] edrushka commented on #119
Any updates? Are we still looking at separate BSL or will this be wrapped into the live-captioning in #151?

[2016-10-13 23:22] edrushka commented on #49
Closing as we're underway! I've met with Dosed two times and we have a plan of action to do a documentary style video this year. "Characters" have been shortlisted. I'll file follow-up tickets if needed.

[2016-10-13 23:22] #49 closed

[2016-10-13 23:22] edrushka commented on #72
Can we close this @marcwalsh - Paul's contract has been signed, correct?

[2016-10-13 23:22] #72 closed, assigned to edrushka

[2016-10-13 23:33] edrushka commented on #140
People are starting to blog about their sessions. See: http://equalitytime.co.uk/5935/2016/10/04/mozfest/

[2016-10-13 23:36] edrushka commented on #168
:dove: Closing, as this has been settled peacefully :dove:

[2016-10-13 23:36] #168 closed, assigned to nobody

[2016-10-14 00:09] edrushka commented on #107
@Saallen or @marcwalsh did we hear back from legal on this?

[2016-10-14 00:14] edrushka commented on #158
For the multi-lingual nice-to-haves, here is the spreadsheet showing the [multi-lingual sessions so far](https://docs.google.com/spreadsheets/d/1xyliCPNWNRBAOsDMF4xvojInMkZUD7jQQpEe7bTZ5UM/edit#gid=0)

The most common non-EN language is **Spanish** followed by **French**. If we have limited bandwidth for multi-lingual nice-to-have design, I would prioritize those two.

[2016-10-14 01:19] kristinashu commented on #92
@marcwalsh here's a possible card dimension compared to last years. Do you think these will work? They should fit 3 to an A3 (with bleed).

![cards](https://cloud.githubusercontent.com/assets/1068783/19372464/23acbf3a-9171-11e6-941a-d87f73ea59d4.jpg)

@sabrinang @xmatthewx any design feedback?

[2016-10-14 08:25] Saallen commented on #184
hey @kristinashu there are a few icons on the wrong place- let me know when you want me to start making comments on icons to move

[2016-10-14 10:40] marcwalsh-zz commented on #81
All sent to printers! Arriving the Wednesday/Thursday of MozFest week.

👕 🙌

[2016-10-14 10:40] #81 closed, assigned to marcwalsh-zz

[2016-10-14 12:34] StevieBenton commented on #185
I've just written to Kat for permission to use her lovely photos as well. I'll start uploading the article to Medium but keep as a draft until the pics are included.

Thanks for the useful feedback!

[2016-10-14 13:51] KGorr commented on #140
Thanks, @edrushka!

[2016-10-14 13:55] StevieBenton opened #187 "Draft article for Medium: The Makers of Mozfest - Erika"
Hello everyone,

I've just finished drafting the first piece in the "Makers of MozFest" series. I'll be interviewing people who make the festival happen, including MoFo staff, space wranglers, facilitators and so on. to capture the experience from the eyes of those intimately involved.

The first piece is based on an interview with Erika. [It's here](https://docs.google.com/document/d/1ZRgrxDIJpKn

[2016-10-14 15:31] xmatthewx commented on #92
Looks great.

@marcwalsh – want to test writing a lengthy session title at that size?

[2016-10-14 15:58] kristinashu commented on #184
Thank you @Saallen! I met with @marcwalsh and made a bunch of updates to the map:
https://redpen.io/p/nca82e6ea157535639
Please comment in redpen if the map needs any adjustments.

<img width="860" alt="red-pen-5c09e08e-8b89-451d-b89d-f0fa46b8a665" src="https://cloud.githubusercontent.com/assets/1068783/19394031/25b5e8f8-91ec-11e6-88e3-a8613062f463.png">

[2016-10-14 16:08] kristinashu opened #188 "Wall projection"
Here are the assets for the light projection on to the wall on Level 4+.

Colour palette:
- teal #00fbdd
- yellow #e4f832
- pink #fa1bab
- purple #6d22af
- blue #362fc1

<img width="1190" alt="screen shot 2016-10-14 at 9 03 57 am" src="https://cloud.githubusercontent.com/assets/1068783/19394266/3cae1d5e-91ed-11e6-9012-7750dabb7f0f.png">

eps + svg of the gear icon:
[Pink Gear.zip](https://github.c

[2016-10-14 16:09] KGorr commented on #187
I'm always a fan of the Q&A style as it allows the readers to hear from the subject of the article directly. It's what we use for the community spotlights and gets great responses. Nice job!

[2016-10-14 16:24] KGorr commented on #166
Great - thanks, @StevieBenton. Here is last year’s survey (that wasn’t sent): https://public.etherpad-mozilla.org/p/mozfestsurvey. I know Erika wants it to be way more robust and thought-through this year. Maybe take a stab at it and then we can review together?

I won't be able to attend the comms meeting next week (hosting a tweet chat that is at the same time), so I'm going to put another meeti

[2016-10-14 16:25] marcwalsh-zz commented on #66
Using TwistPrint as supplier

[2016-10-14 16:25] #66 closed, assigned to marcwalsh-zz

[2016-10-14 16:26] marcwalsh-zz commented on #21
Will close as we're working with Feast and we're just in the process of making payment. 🍕

[2016-10-14 16:26] #21 closed

[2016-10-14 16:29] marcwalsh-zz commented on #36
Ordered! 💅🏼

[2016-10-14 16:29] #36 closed

[2016-10-14 16:29] marcwalsh-zz commented on #146
Closing as we will be using the games we have at MozLondon.

[2016-10-14 16:29] #146 closed, assigned to marcwalsh-zz

[2016-10-14 16:34] #67 closed, assigned to marcwalsh-zz

[2016-10-14 16:37] marcwalsh-zz commented on #148
Hey @kristinashu,

I'll need an outline of where the hole punch will go, are you able to add this please (as a separate layer).

[2016-10-14 17:37] sabrinang commented on #96
redpen for hackable posters: https://redpen.io/p/od0688c140744084ab

[2016-10-14 17:57] xmatthewx commented on #96
To simplify a bit, I propose that we:
- Localize the One Web poster
  - not hackable
  - one design of color/pattern for all language versions
- Have a single English hackable poster
  - different color scheme than the one above
  - not localized – complex to ensure we get this grammatically correct at this late stage

What do you think @edrushka?

After we get this and everything else done, we co

[2016-10-14 17:59] kristinashu commented on #136
Thanks for making all the updates @carrie-ann!

Here is the final version of the guide:
[Mozilla Festival Guide FINAL 14-10-16 SPREADS.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/530127/Mozilla.Festival.Guide.FINAL.14-10-16.SPREADS.pdf)

and the wrangler booklet:
[Space Wrangler booklet - FINAL.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/530134

[2016-10-14 18:20] edrushka commented on #96
Works for me! People can still hack the English version with other languages.

[2016-10-14 18:24] StevieBenton commented on #187
Thanks Kristina! That's what I was thinking. Also, so much of the content I'm producing is editorial / feature style, it's good to mix things up a little.

[2016-10-14 18:27] kristinashu commented on #96
Sounds good! The poster are beautiful but we will simplify them to two designs:
- English Hackable version - 1 design
- Localised Non-Hackable version - 1 design but with different text (7 languages since we'll include English)

Redpen designs of 1, 2, 5 and 6 are my favs!

[2016-10-14 18:31] edrushka commented on #136
Y'all, this is stunning.  I am so, so thrilled with how it turned out. Thank you!

![happy](https://cloud.githubusercontent.com/assets/4515662/19398456/87ef2c54-9201-11e6-92ac-f22cd0483583.gif)

[2016-10-14 18:38] edrushka commented on #173
@KGorr here is the festival guide to put on Issuu:

Here is the final version of the guide:
[Mozilla Festival Guide FINAL 14-10-16 SPREADS.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/530127/Mozilla.Festival.Guide.FINAL.14-10-16.SPREADS.pdf)

and the wrangler booklet:
[Space Wrangler booklet - FINAL.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/53

[2016-10-14 18:47] kristinashu commented on #173
Those versions are for print and have ugly crop marks on them. I'll attach more digital friendly versions soon!

[2016-10-14 18:56] kristinashu commented on #167
@taisdesouzalessa will help out designing these!

@sabrinang's work in #87 for the D&D slides is a good reference for this poster design https://docs.google.com/a/mozilla.com/presentation/d/1ztrY9GBVc10nSUFFXxE1d0UZZDRNRhCAZ9-cUfz60a0/edit?usp=sharing

We should just have one template design with different content for each speaker series.

[2016-10-14 19:02] xmatthewx commented on #136
![giphy 3](https://cloud.githubusercontent.com/assets/53411/19399354/1eb16c02-921f-11e6-8299-3f99f5c313c8.gif)

[2016-10-14 19:46] kristinashu commented on #136
Amazing job! All of Carrie's print files are here:

These are Single pages, 3mm bleed with crop marks and high quality. The colours are CMYK with Pantone Reflex Blue.

Main Festival Guide - PDF labeled with FINAL 14:10:16 SINGLES

https://drive.google.com/drive/folders/0BzVQTTEXQZdXWC0xbVJuNkpkRTQ

Wrangler Booklet - PDF labeled with FINAL SINGLES

https://drive.google.com/drive/folders/0BzVQTTEXQ

[2016-10-14 19:58] taisdesouzalessa commented on #90
@kristinashu based on your and Sabrina's feedback, here is the chosen poster with the adjustments requested:
https://redpen.io/ofd04d10fc0ed608d8

We will use the pink info sign - it has more contrast.

Please let me know your thoughts on that. After your feedback, I'll do the other 9 posters following the same template.

Thanks!

[2016-10-14 20:26] kristinashu commented on #90
Looks great @taisdesouzalessa! I think you can go ahead and layout the rest of the spaces.

[2016-10-14 21:19] natalieworth commented on #170
@kristinashu @sabrinang @edrushka For the 'speaker section,' should we list each speaker individually and rotate that? e.g.:

Brian Behlendorf // @brianbehlendorf
Executive Director, Hyperledger Project
“Bringing Back the Decentralized Web, with Blockchains and Other New Tools”
Speaking Saturday, Oct. 29 at 11:15 a.m.
Location: Walker Space Ground Floor

[2016-10-14 21:55] kristinashu commented on #170
@edrushka do we need to highlight specific speakers on these animated screens or just a more general call out that there are Dialogues and Debates Speaker Series in Walker Space on the Ground Level.

[2016-10-14 22:14] natalieworth commented on #170
@kristinashu  @edrushka Time-wise a general callout would be better and set a nice atmospheric tone. I think an issue with the one last year was that it's a bit odd having the Saturday sections still displayed when they have ended.

[2016-10-14 22:34] edrushka commented on #170
I was going to say specific speakers and times but Natalie makes a good point. Can there be a middle ground where we highlight speakers names and/or faces and/or speech titles, and indicate it's in the walker space?

We should be sure to use the phrase "Dialogues and Debates" because that's what they need to know to find more info in the schedule app or guide.

[2016-10-14 22:46] kristinashu commented on #148
@marcwalsh I've updated the files to have the two holes https://drive.google.com/open?id=0B2irLVDJivhLZ29Fb3dNcVE3alU

The holes are the same size and distance from the top as last year, except there are two of them. Will the lanyard clip be the same as last year? If so then this should work but let me know if they're going to be a different type.

<img width="316" alt="nametag-01" src="https://cl

[2016-10-14 23:04] sabrinang commented on #87
@xmatthewx I cleaned up the slides made master slides and included all the speakers from the [playbook](https://docs.google.com/document/d/14VXDQcdKjOztX62HxYbnHXrPjwD-xR3ATY03KcsPVSo/edit). If we are using these as bookends I didn't make many content templates assuming that speakers will place their own slides in between.
<img width="1053" alt="screen shot 2016-10-14 at 4 01 30 pm" src="https://c

[2016-10-15 00:42] sabrinang commented on #103
Thanks for the feedback - I aligned the logo more left making that the  baseline of wordmark aligns with top of white circle and left margin is balanced with the top. I also outlined the the localized text in the latest files (100mm bleed with crop/trim marks) and exported in the For Print folder.
![stage_preview](https://cloud.githubusercontent.com/assets/2492510/19406099/d5e5ed16-9234-11e6-9134-

[2016-10-17 11:25] StevieBenton commented on #166
Thank you @KGorr I will take a look. Is there a specific platform for the survey, such as Survey Monkey? If you like I can draft something there. If not, I can put something in Etherpad or a Google doc.

[2016-10-17 11:57] StevieBenton commented on #185
Hello again,

Kat very kindly allowed me to use her images from the event. I've added these into the post and have now published to live on the Festival Medium publication. [It's here](https://medium.com/mozilla-festival/view-from-the-fringe-digital-arts-show-tell-tate-britain-4f56af848820#.xd68ff1e4).

Thanks for all your input,

Stevie

[2016-10-17 11:57] #185 closed, assigned to StevieBenton

[2016-10-17 12:03] StevieBenton commented on #171
Hi @HPaulJohnson sorry to ping you again. Just wondered if you could take a look at this please. [Doc is here](https://docs.google.com/document/d/1jsUxCzEv2rnqHPkjOs6ina9KEu9y5RHxUkAiMFNzANk/edit?usp=sharing).

Thanks!

[2016-10-17 13:03] KevZawacki commented on #107
@edrushka We did -- form has been updated and shared with speakers.

[2016-10-17 13:09] #107 closed, assigned to nobody

[2016-10-17 13:15] StevieBenton opened #189 "Draft article for Medium: The Makers of MozFest - Sarah"
Hello everyone,

I've finished up the first draft of the second Makers of MozFest piece, this time the focus is on Sarah and [the article is here](https://docs.google.com/document/d/1Lh6vTZPW7Drk1v4AkekQLGcBkPbvcihcUcerHDeYedY/edit?usp=sharing).

Please do take a look and feel free to edit, comment etc.

Tagging @edrushka @Saallen @KevZawacki @KGorr as people who may be interested.

[2016-10-17 13:15] KevZawacki commented on #87
@sabrinang I don't have any speaker slides at the moment. And unfortunately, don't anticipate receiving them until the last second :-/

What do we think about sending these to speakers proactively so they can integrate into their decks?

@edrushka

[2016-10-17 13:33] edrushka commented on #87
+1 to doing whatever we can to be proactive.

 @xmatthewx did you say it looks odd when speaker's slides are branded with the festival branding? Did you mean we should we just let their decks be unbranded?

[2016-10-17 13:55] KGorr commented on #166
great q @StevieBenton. I'm actually not sure but think that drafting the Q in a google doc will be good practice so that the team can edit easily. Then we can port over to whichever platform the team wishes. I can check with Kevin to see if we have a Mozilla survey monkey account.

[2016-10-17 14:12] KGorr commented on #166
Let's use google forms!

[2016-10-17 14:20] StevieBenton commented on #166
Exciting times! Not sure I have used those before!

I'd started putting something together in [a Google Doc here](https://docs.google.com/document/d/1Cbfw8EddiXO3_wI9DphzLa_RWb14Ps5PDOtUnP13YTE/edit?usp=sharing). It's simply me working my way through the content from the Etherpad and editing it down.

I'm going to do some more work on it later, but feel free to chip in whenever you like! Either wa

[2016-10-17 15:43] HPaulJohnson commented on #171
thanks for the ping, @StevieBenton. I'll work on finalizing this today. I'll find some time in our calendars to discuss and figure out a plan for distributing it to various content creators this week.

[2016-10-17 16:01] xmatthewx commented on #87
I recommend we send black/gray/white slide templates for text, bullets, text+image that have our diagonal, but no logo and no bright colors.

Our bright colors can signal that a talk is over or about to begin.

This will minimize labor and give us flexibility for speakers who have stylized slides of their own.

[2016-10-17 16:03] xmatthewx commented on #87
In terms of process, I'm glad to have a designer help fix problems and add polish .... but I'd prefer it if they were not in the role of collating slides from speakers. It'll introduce an inefficient layer of communication. Make sense?

[2016-10-17 16:19] edrushka commented on #87
That works for me. Does that mean the design team will create a template slide with the diagonals in the background that we can share with speakers? Or should we wait, and add the diagonals after?

[2016-10-17 17:08] kristinashu commented on #97
@edrushka I'm still not sure what content should go on these posters? Can we use the same copy as last year or do we need two different versions, one general version like last year and a different version for the Walker Space?

[2016-10-17 17:39] Saallen commented on #97
I dont think we need separate posters here but would advise that we change the third point.
- Our stage moments are live streamed on the 4th floor and in the Walker space.
  We advise to sit at the back of both areas to avoid being captured on camera or you can watch the live streams from other places around the venue- please ask the welcome desk for further details.

[2016-10-17 17:44] xmatthewx commented on #87
Edit: we'll just offer white Opens Sans text on gray or black. No branding for speaker slides.

[2016-10-17 18:03] sabrinang commented on #183
@xmatthewx @kristinashu can you give me some design feedback for MozFest branded posters on redpen: https://redpen.io/p/gb43c52500b46e0e0b

It has the same dimensions as the pink One Web wayfinding poster. I'm unsure if we wanted to use pink to match it exactly or choosing a color like purple that would compliment it but not compete with the 3 other colours wayfinding posters are using. Also, a ho

[2016-10-17 18:45] StevieBenton commented on #171
That's excellent @HPaulJohnson thank you very much. I'm free from about 2.30pm Tuesday, until 4.15 Wednesday, after 5pm on Thursday and all day Friday.

[2016-10-17 19:24] KevZawacki commented on #87
@xmatthewx This makes sense and sounds good. So it seems the next steps are:

-- Designers send black/white slide templates to Kevin, who will in turn send to speakers
-- Designers send colored bookend slides to Kevin and Erika, who will broadcast in-between talks

Correct?

[2016-10-17 19:49] xmatthewx commented on #87
If possible, I'd recommend combining speakers slides with the slides prepared by Sabrina. So you can present from a single laptop, nice and smoothly.

[2016-10-17 20:49] sabrinang commented on #97
Photo & video consent poster on redpen here: https://redpen.io/p/jme7f6ca34eb277676

@Saallen Thanks for the copy! I have updated the third point and used the copy from last year for the other two. I revised the icons and have two layout iterations with various colours/patterns. @xmatthewx @kristinashu can you give me some design feedback on the redpen?

[2016-10-17 22:10] sabrinang commented on #94
Revised "made at mozfest" cards with updated palette and subtle pixel sort pattern on top: https://redpen.io/p/mq6690195fde6aad51

@kristinashu Should I make another generic card that doesn't have "made at mozfest"? and let me know if you have design feedback on redpen :)

[2016-10-17 22:44] HPaulJohnson commented on #171
Left a few comments in the doc but overall looks awesome. Sorry for the delay. Let's discuss when we meet in a few days and then we can distribute it to all the people who might being producing content at Mozfest.

[2016-10-18 00:40] taisdesouzalessa commented on #90
@kristinashu @sabrinang @xmatthewx - here are all the posters:
https://redpen.io/p/hk6d0021f97dd28991

I also did a sheet with all of them:
![all-posters](https://cloud.githubusercontent.com/assets/22157921/19460427/78f22af8-9490-11e6-8093-9eecc9bacbd0.jpg)

Please let me know if you have any feedback on them by tomorrow lunch time if possible. I'll be exporting the final files tomorrow afternoon

[2016-10-18 13:36] StevieBenton commented on #171
That's great, thank you. I agree with both of your comments so will add them to the document. I'll make a couple of notes beneath the actual content about distribution ideas so we have something to discuss when we meet on Thursday.

[2016-10-18 13:40] edrushka commented on #97
Sarah and I reviewed this carefully together. Looks great! I added my +1 to one of the diagonal designs 👯

We also adjusted the copy slightly - comments are in the last version, but will apply to any design.

[2016-10-18 13:46] StevieBenton opened #190 "Tagging externally produced Medium posts"
Hi @KevZawacki

I was just speaking with Erika about the possibility of tagging Medium posts created by people coming to the festival, or speaking about it. While we can't tag themselves, we discussed whether there are ways we can get the posts tagged by the authors.

I think the easiest way is to reach out via Twitter to those who created the posts and ask them to add the tag MozFest 2016. There

[2016-10-18 13:47] StevieBenton commented on #190
Here's an example post which Erika has shared with me.
https://medium.com/@all_about_code/countdown-to-mozfest-2016-youth-zone-here-i-come-c84c0c4a5f96#.z9u8z0xuv

[2016-10-18 13:54] edrushka commented on #190
@ldecoursy are there any guidelines about contacting youth on public platforms like Twitter or Medium? I'd love to have the youth voice represented in our Medium publication, but want to make sure we're reach out in the appropriate way. See article linked in comment above as an example. Thanks!

[2016-10-18 14:02] ldecoursy commented on #190
@edrushka I'm not aware of specific guidelines. May be a q for Abigail - we recently had to get parental consent for under 18s to participate in a community call. Not sure about outreach/reposting. In this specific case is it a direct connection with Dorine? Maybe worth checking with her.

[2016-10-18 14:09] edrushka commented on #190
Thanks - I can reach out to Dorine.

For non-youth posts, Marc thinks there's a way we can reach out directly on Medium asking the author if we can include in our publication.

[2016-10-18 14:19] StevieBenton commented on #190
I like the sound of that!

[2016-10-18 14:21] KevZawacki commented on #190
Hey,

What @edrushka said -- we can request the piece for republication directly via Medium, and add a brief note.

[2016-10-18 14:22] KevZawacki commented on #190
Like so: scroll to the bottom right of the story, and

![screen shot 2016-10-18 at 10 22 28 am](https://cloud.githubusercontent.com/assets/11045250/19481671/bd0a2f42-951c-11e6-8764-b290e7db8dce.png)

[2016-10-18 14:24] StevieBenton commented on #190
I had no idea it would be so simple! The more I see of Medium the more I really like it.

[2016-10-18 14:30] StevieBenton commented on #171
I've added some notes on distribution now. Copying here for ease of reference.

Publish on Medium (with some appropriate images), then tag as MozFest 2016, share on official Mozilla Twitter channels (I can do the Medium part but don't have access to the social channels so one for, perhaps, @KevZawacki )
Send as an email to MozFest attendees (less desirable as might be a bit spammy for those not in

[2016-10-18 14:38] StevieBenton commented on #189
This is now ready for adding to Medium. We can hold as draft for as long as we like, there's no rush to publish. @Saallen do you have any images you'd like me to use?

[2016-10-18 15:33] sabrinang commented on #103
The director, Mike, replied that the stage won't have any issues being filmed. The files in the For Print folder are good to go then (.eps and .pdf included): https://drive.google.com/drive/u/1/folders/0B4Q8pzCpDS_eOEZHUURrSUVKWG8

[2016-10-18 15:45] StevieBenton commented on #166
Hey @KGorr

[I have a first draft](https://docs.google.com/document/d/1Cbfw8EddiXO3_wI9DphzLa_RWb14Ps5PDOtUnP13YTE/edit) - yay! But it looks a bit lengthy - boo!

I've tried to keep it simple but it may have become a bit unweildly. Also, I don't have a handle on any specific data that is most useful so tried to use my own judgement. More than happy to take a steer from you on that (or from anyone

[2016-10-18 15:46] kristinashu commented on #90
These look great!

@edrushka or @marcwalsh could you please give these a once over and then @taisdesouzalessa will export them for print? Copy was pulled from the website.

[2016-10-18 15:55] xmatthewx commented on #97
As I mentioned in Redpen, I suggest that we add something pointing to the yellow lanyard (a tl;dr for busy attendees) such as _Yellow = No Photos –>_

[2016-10-18 15:56] edrushka commented on #190
What will we do with blogs that _aren't_ on Medium? Does it make sense to email and ask if a) they have a medium account they can publish on and b) if they don't have a medium account, to publish from our account giving them author credit??

[2016-10-18 15:56] kristinashu commented on #183
Looks good @sabrinang! The horizontal ones will work well at the registration table (maybe double check if the dimensions would work at a table).

I think we already use pink and purple a lot so I'm leaning towards the teal and blue version.

For the vertical ones. Maybe they should be a different size than the pink One Web banner? Might be too symmetrical to have them the same size and paired tog

[2016-10-18 16:01] kristinashu commented on #39
Design is all done https://github.com/MozillaFoundation/Mozfest2016_production/issues/136

These are Single pages, 3mm bleed with crop marks and high quality. The colours are CMYK with Pantone Reflex Blue.

Files are here:
Main Festival Guide - PDF labeled with FINAL 14:10:16 SINGLES
https://drive.google.com/drive/folders/0BzVQTTEXQZdXWC0xbVJuNkpkRTQ

Wrangler Booklet - PDF labeled with FINAL SING

[2016-10-18 16:01] StevieBenton commented on #190
I think we can do both of those and where an email address isn't available for a blog, then a comment would do. I can pick up some of the re-publishing to Medium that will result if you'd like.

At the very least we should keep an eye on what's out there on social (and might not be tagged as MozFest) and retweet where we are unable to republish.

[2016-10-18 16:01] #136 closed, assigned to nobody

[2016-10-18 16:07] edrushka commented on #90
@taisdesouzalessa I can't zoom into the actual text on the redpen. Can you pls tell me where you pulled it from?

[2016-10-18 16:15] taisdesouzalessa commented on #90
Hi @edrushka I got the text from the website: https://mozillafestival.org/spaces-and-sessions

However I would recommend you check the copy from the posters to make sure they are all correct. I am sending you a zip file here:
[posters.zip](https://github.com/MozillaFoundation/Mozfest2016_production/files/536793/posters.zip)

Let me know if you need anything else :).

[2016-10-18 16:40] edrushka commented on #90
Sorry - I didn't realize all the individual pages were also in the Redpen. I found them, and made copy edits there -- changed all the capitalized Webs and Internets to lower case. :face_with_head_bandage:

[2016-10-18 16:48] KevZawacki commented on #190
I think we should avoid publishing for people and giving them credit. a) we're creating a lot of work for ourselves, and more importantly b) many people won't notice the credit, and assume the words are those of Mozilla.

[2016-10-18 20:40] kristinashu commented on #170
@natalieworth before you do the motion work, could you please share stills of the screens so we can review the info?

[2016-10-18 20:52] kristinashu commented on #92
They're still quite large so the names should fit fine.

@marcwalsh here is the print ready file (.ai file + pdf with 3mm bleed and crop marks):
https://drive.google.com/open?id=0B2irLVDJivhLb3Q1bW9YMXVtcDQ
These should be double sided.

[2016-10-18 20:54] marcwalsh-zz commented on #177
Sent to printers! 💪

The two larger pieces are being printed 1.5m x 1.5m.

[2016-10-18 20:54] #177 closed, assigned to marcwalsh-zz

[2016-10-18 20:55] marcwalsh-zz commented on #148
Sent to printers!

[2016-10-18 20:55] #148 closed, assigned to marcwalsh-zz

[2016-10-18 21:09] Saallen commented on #189
Let me have a look @StevieBenton

[2016-10-18 21:12] kristinashu commented on #173
Here are online PDFs for the guide and the wrangler insert:
https://drive.google.com/open?id=0B2irLVDJivhLN21OVWlXOEJ1R2s

[2016-10-18 21:18] natalieworth commented on #170
Hey @kristinashu @sabrinang @edrushka @xmatthewx Was able to get a start on this last week (before board slides took over :)! ) I am working on it this afternoon, but have an intro animation done. I am thinking of having the order listed above (on loop).
Some still shots:
![mozfest_separated_logo_v1_00013](https://cloud.githubusercontent.com/assets/14876567/19496693/8410cb80-953d-11e6-8ad9-06629db

[2016-10-18 21:23] natalieworth commented on #170
@kristinashu @xmatthewx @sabrinang @edrushka
Rough video draft of these are here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0ektzY284SWNsUDA

[2016-10-18 21:25] kristinashu commented on #170
Wow these are going to be sweet! Love the 3D triangles!

[2016-10-18 21:48] taisdesouzalessa commented on #90
@edrushka here are the posters with the requested changes (I didn't change the thumbnail version, just the individual big posters) - all the ones who changed have now a "v2" next to their name:
<img width="278" alt="screen shot 2016-10-18 at 2 49 54 pm" src="https://cloud.githubusercontent.com/assets/22157921/19497597/f26f02f0-9541-11e6-90bb-1aec4aa29125.png">

https://redpen.io/p/hk6d0021f97dd289

[2016-10-18 21:53] kristinashu commented on #90
These look good @taisdesouzalessa! Can you please export them for print? I think a pdf with 3mm bleed and crop marks should be good.

[2016-10-18 21:59] xmatthewx commented on #156
@marcwalsh offered to look into to some ways we can lock computer down as a kiosk.

related ticket in pulse repo: https://github.com/mozilla/network-pulse/issues/203

[2016-10-18 22:13] KGorr commented on #173
Thanks, @kristinashu!

Facilitator Guide: http://issuu.com/mozfest/docs/festival_guide_online/1
Space Wrangler Guide: http://issuu.com/mozfest/docs/space_wrangler_booklet_online/1

@edrushka @Saallen - Please let me know if this are assets to be shared socially and if so, when is it OK to do so. Thanks!

[2016-10-18 22:26] kristinashu commented on #91
Here are all the maps.

@marcwalsh could you please review the maps https://redpen.io/p/nca82e6ea157535639 and the quantities (below). If everything looks good to you, then they are ready to print!

Dimension: A3

Overview map:
- in each elevator x5
- left side of each elevator x44

Each level's detail map (to appear on the right side of each elevator on that floor):
- x4 for each of the 11 levels

[2016-10-18 22:31] kristinashu commented on #184
Here's the final map insert:

Dimensions are 337mm x 460mm and then folded into four.

@marcwalsh can you please check with the printer how it will be folded? The key thing is for the logo to be in the same corner as the logo on the notepad and festival guide. I can move the logo if it isn't working with the way they fold it.

![map-insert-01](https://cloud.githubusercontent.com/assets/1068783/194

[2016-10-18 22:40] kristinashu commented on #173
Sorry @KGorr! The PDFs I gave you where spreads but it looks like they should be single pages. Here they are again, as singles:
https://drive.google.com/open?id=0B2irLVDJivhLQ19DeFlkdlVZVEU

[2016-10-18 23:08] sabrinang commented on #97
redpen: https://redpen.io/jd4920446db3d8ef62
- updated copy for 2nd and 3rd points
- changed last icon to question mark
- fixed spacing in title, text/wordmark/icon is now blue
- revised illustration to show yellow lanyard means no photo compared to regular

[2016-10-18 23:11] kristinashu commented on #97
Lookin' good!

[2016-10-18 23:18] taisdesouzalessa commented on #90
@kristinashu here they are. I added a 5mm bleed for the posters since they are bigger. The info sign has a 3mm bleed.
Please take a look:
[Mozfest-2016-info-booth-posters-420x594mm.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/537565/Mozfest-2016-info-booth-posters-420x594mm.pdf)

[Mozfest-2016-info-booth-icon-297x297mm.pdf](https://github.com/MozillaFoundation/Mozfest2016

[2016-10-18 23:24] kristinashu commented on #90
Thanks @taisdesouzalessa!

@marcwalsh these are ready to print! I guess we need one of each Space and 10 info signs.

[2016-10-18 23:42] KGorr commented on #173
Whoops! Here are the new links:

Facilitator Guide: https://issuu.com/mozfest/docs/mozfest-2016
Space Wrangler Booklet: http://issuu.com/mozfest/docs/space_wrangler_booklet_online_singl/1

edit: I updated the guide link in this comment - @xmatthewx

[2016-10-18 23:45] KGorr commented on #166
Great start @StevieBenton! I added some notes and edits to the doc and also added the draft to our team meeting doc for tomorrow so that other folks can weigh in, especially re: metrics that we want to focus on. Thank you emails will be drafted before our meeting tomorrow! It's been a busy week ;)

[2016-10-18 23:49] sabrinang commented on #97
exported as .pdf (with 0.125" or 3.175mm bleed/trim marks) for print here: https://drive.google.com/drive/u/1/folders/0B4Q8pzCpDS_edk5HSmx6TmFHR0k

[2016-10-19 00:20] sabrinang commented on #97
https://redpen.io/jd4920446db3d8ef62
@edrushka copy review? @xmatthewx design review?

[2016-10-19 03:32] KGorr commented on #166
Here is the thank you email draft: https://docs.google.com/document/d/1EAPIYlrNmkk0SeIbyjcknwuY-ET6L0RKpZjFELAm5R4/edit#

[2016-10-19 03:56] KGorr commented on #144
Thank you email drafts [here](https://docs.google.com/document/d/1EAPIYlrNmkk0SeIbyjcknwuY-ET6L0RKpZjFELAm5R4/edit#heading=h.qmpbugxu8hyw). Need some help with a few areas - noted in the doc. Also, @edrushka, is the "recap for Mozilla" under emails meant to be a staff email? Is there a desired time frame for this to be sent?

[2016-10-19 08:47] edrushka commented on #173
Thanks! These look fabulous. Let's start sharing early next week.

[2016-10-19 09:32] marcwalsh-zz commented on #103
Sent to printers!

[2016-10-19 09:32] #103 closed, assigned to marcwalsh-zz

[2016-10-19 12:31] edrushka commented on #144
Yes, it would be good to send an email to all@mozilla, or at the very least all@mofo recapping the event and thanking people for their participation. Staff won't get the attendee recap. Desired send date would be Tues or Wed after the festival (flexible, but within a week is preferred).

[2016-10-19 13:54] edrushka commented on #97
Capitalize Registration in the first bullet (I noted in the redpen). Otherwise, looks good 👍

[2016-10-19 14:10] StevieBenton commented on #190
I think that's sensible. So, for content on the Medium platform we ask if folks can tag with MozFest 2016 and for those on other platforms we perhaps just actively share on social?

[2016-10-19 14:18] KGorr commented on #144
Thanks for clarifying @edrushka!

[2016-10-19 14:25] StevieBenton commented on #166
The emails look great @KGorr :)

I'll take a look at the survey comments now, thank you for being so speedy

[2016-10-19 14:42] StevieBenton commented on #166
OK, I've gone through those comments and suggestions and they all make perfect sense. Looking forward to chatting soon @KGorr

[2016-10-19 15:07] StevieBenton commented on #187
Hello folks, this is now in Medium. Not yet live, but we can publish whenever we like. Any suggestions?

[2016-10-19 15:07] StevieBenton commented on #187
Sorry, forgot the link https://medium.com/@StevieBenton/36e199d065df

[2016-10-19 15:23] KevZawacki commented on #187
I think we should go ahead and publish today / tomorrow.

[2016-10-19 15:30] edrushka commented on #187
Works for me. Let's just keep pushing out content as we have it. No need to wait.

[2016-10-19 15:38] kristinashu opened #191 "Design sign for #MozHelp desk"
@marcwalsh @edrushka do you think we need a sign for the #MozHelp desk, or do we already have something?

[2016-10-19 15:47] StevieBenton commented on #187
Great, thanks guys. Published live to the MozFest Medium now.

[2016-10-19 16:49] edrushka commented on #187
Thanks Stevie! I'm famous!! 😁

[2016-10-19 16:49] #187 closed, assigned to StevieBenton

[2016-10-19 16:50] xmatthewx commented on #97
Hi team. If I didn't already know that the lanyard color had meaning, and I didn't read the whole poster (which I would never do), I wouldn't learn to avoid private people in my photos. I am probably not the only person like this.

Please forgive this hasty mockup that will never win a design award. But, I think we should be more explicit and direct.

<img width="507" alt="screenshot 2016-10-19 12

[2016-10-19 16:52] KevZawacki commented on #190
Sounds good! Worth noting the tag should have no space ("MozFest2016").

[2016-10-19 16:56] xmatthewx commented on #173
Does Issue allow us to change the URLs to something nice and neat? If not, I can make mzl.la URLs.

[2016-10-19 17:07] StevieBenton opened #192 "Repository for externally created MozFest blogs and content"
Hi everyone,

Following the comms chat today, I agreed to create a ticket for people to add links to content about MozFest that they have seen. From time to time, we can then check in and retweet or republish as required.

cc @edrushka @KevZawacki @KGorr @HPaulJohnson

[2016-10-19 17:21] xmatthewx opened #193 "Discuss realtime Schedule update workflow"
@mmmavis – Let's do an update today of the schedule before @edrushka shares it with the whole world.

And... let's talk about who can trigger updates and how they do it. For example, should they trigger update to staging via chat, check it, then trigger update to production?

cc @edrushka

[2016-10-19 17:24] KGorr commented on #173
@xmatthewx - doesn't look like I can edit the links - bummer!

[2016-10-19 17:34] kristinashu commented on #97
I realize now the copy in the poster is more about telling people who don't want to have their photo taken what to do. It should be more about informing everyone not to take photos of people wearing a yellow lanyard.

Can we update the title or add a sub title? Something about - Do not take photos of people wearing a yellow lanyard.

We should still include the 3 points but it should be secondary

[2016-10-19 17:43] edrushka commented on #193
One worry I have is that Dan and I are making many, many changes throughout the day. If we break something and don't see the schedule refreshed until EOD London time, it will be hard to know what change broke things. However, if we have the power to push changes live to production and we break things in the morning London-time, that's an entire day of a broken schedule 😱

Maybe Dan and I get the p

[2016-10-19 17:45] edrushka commented on #97
Here is what we have drafted for the email:

Photo Consent Notice

There will be official Mozilla photographers and videographers on-site working to capture all of the weekend’s amazing activity under the Creative Commons Attribution license 4.0.

If you do not wish to be photographed or filmed, please request a yellow lanyard from the registration desk when you arrive at the festival, which signi

[2016-10-19 18:12] sabrinang commented on #96
Redpen for MozFest posters: https://redpen.io/p/jh88919e683f7c860f
- 1 One Web english poster (multicolor pixel sort)
- 1 Hackable english poster (yellow, pink or blue? leaning towards yellow option since we don't have much yellow)
- 6 One Web language posters (teal w/ various textures)

I think we should keep the pen icon on the hackable posters since there will be other non-hackable posters arou

[2016-10-19 19:28] mmmavis commented on #193
Relates to https://github.com/MozillaFoundation/mofo-devops/issues/415

I just talked to @cadecairos - We are thinking to have 2 mozbot commands available in Chat
1. One command to trigger the Python script (Python script gets data from Google Spreadsheet, formats it, and commits `sessions.json` to the`master` branch. In short, it updates the `staging` instance )
2. One command to merge `master` i

[2016-10-19 19:52] xmatthewx commented on #96
Dropped feedback in Redpen. Summarized here:
- Main poster: It is awesome. 😍 Please let's print extras.
- Hackable: I vote pink. I'd be happy with yellow too. I think blue won't pop enough.
- Localized: @kristinashu suggested a single pattern. I agree, though not opposed to the variety since it's already made. I'd remove Spanish option – it feels very different than the others.

[2016-10-19 19:58] xmatthewx commented on #97
How about this heading...

Privacy Alert [big font]
Please don't photograph people with yellow lanyards [medium font]

We could bump the Mozfest logo to the bottom and make it smaller.

Or... we could just do a note "Yellow = don't photograph -->" pointing to the illustration.

[2016-10-19 20:02] edrushka commented on #193
I _think_ it sounds good. If there's a way to break the schedule with this system, I'll probably inadvertently discover it for you 😉

[2016-10-19 20:08] cadecairos commented on #193
@mmmavis The command will have role-based authentication. i.e. I'll give people we want to allow to trigger the jobs the "jenkins" role.

I think I'm going to want to do the merge of master into gh-pages using jenkins too, I'll have to write that job.

[2016-10-19 20:35] xmatthewx commented on #173
Here are shortlinks:
- https://mzl.la/mozfest-2016
- https://mzl.la/mozfest-2016-wranglers

Note: I updated the full URL to the guide. Old one won't work. I edited it in the comment above.

[2016-10-19 21:18] kristinashu commented on #91
Updated the maps (https://redpen.io/p/nca82e6ea157535639) and placed in the template from the printer.

Dimension: A3 on 4mm cardboard

Updated quantities to:

Overview map:
- in each elevator x5
- left side of each set of elevators x22

Each level's detail map (to appear on the right side of each elevator on that floor):
- x2 for each of the 11 levels (example: 2 copies of the Level 1 detail map)

[2016-10-19 21:27] kristinashu commented on #184
Updated this overview map. @marcwalsh let me know if the printer gives you a template for this. if not, here's the print PDF:

[Map Insert (outlined).pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/540278/Map.Insert.outlined.pdf)

also in [Drive](https://drive.google.com/open?id=0B2irLVDJivhLVW1DY0ZGSk54TGs)

[2016-10-19 21:51] kristinashu commented on #191
I will make a sign of this. @marcwalsh does the help desk have a pinboard behind it like the info desks? Or should I make something to go on the table?

[2016-10-19 22:40] natalieworth commented on #170
Okay, so I have an idea for speaker series slides @edrushka @sabrinang @kristinashu. I'm thinking that it could instead just remain one slide and then rotate on the right through the different speakers. It's less work for me and I think it'd be a lot more comprehendable for the audience instead of having to rotate through a bunch of slides that only feature 1 speaker/ per slide. Let me know what y

[2016-10-19 22:40] natalieworth commented on #170
So the right would rotate kind of like this example at the 18 second mark:
https://videohive.net/item/glitch-opener/17462771?s_rank=91

[2016-10-19 22:42] natalieworth commented on #170
Oh! also let me know what you think about the design @kristinashu @sabrinang I pulled from the dialogue page in the booklet/ guide to try and keep consistent between the 2....?

[2016-10-19 22:51] kristinashu commented on #170
Sounds good to me! I would just reduce the amount of text (remove Twitter handle and their Topic) if that's ok with @edrushka.

[2016-10-19 23:40] natalieworth commented on #170
@edrushka @kristinashu @sabrinang Or...to save on time too for this I could just condense it as more of a 'feature' / ad for the dialogues and speakers since it is in the festival guide. I'm assuming that people won't necessarily be relying—but instead more the website, schedule app, and physical guide/ posters for anything more informational. Here's what I'm thinking (we could just scroll through

[2016-10-19 23:43] kristinashu commented on #170
I like that idea since the times could change at the last minute, and if it's cool with Erika.

[2016-10-20 00:27] natalieworth commented on #170
@edrushka @sabrinang @kristinashu Mozhelp:
We could do "need help?" instead of "lost?" maybe?

<img width="478" alt="screen shot 2016-10-19 at 5 26 36 pm" src="https://cloud.githubusercontent.com/assets/14876567/19542229/51f0f708-9621-11e6-8a33-8493819ead5a.png">
<img width="478" alt="screen shot 2016-10-19 at 5 27 07 pm" src="https://cloud.githubusercontent.com/assets/14876567/19542228/51f0af50-9

[2016-10-20 00:28] natalieworth commented on #170
@edrushka The only other things I need confirmed for this are specific content for:
1. schedule app (mzl.la/sched)
2. Connect (#MozFest on Twitter, IG, Flickr and mzl.la/pulse)
and then if the #mozhelp copy is okay above along with the speaker slides

[2016-10-20 07:30] SpikeUK commented on #186
@marcwalsh would you like a list of the first line volunteers that will need access cards here or do you have another preferred communication channel?

[2016-10-20 07:47] mmmavis commented on #193
@cadecairos Jenkin job to trigger updates to staging is done (`mofo-deploy-mozfest-app-staging`). I'm not sure how to link it to mozbot command. Could you lend a hand plz? 🍻

[2016-10-20 09:48] edrushka commented on #192
https://medium.com/@ggstopflat/im-heading-to-mozfest-in-london-in-a-couple-of-weeks-time-and-am-hosting-a-session-called-get-c16596f82dae#.wb28oe6er

FYI I'm not reaching out. Just posting here.

[2016-10-20 09:55] marcwalsh-zz commented on #186
@SpikeUK just talked to @Saallen and we won't be able to issue the the room access cards to volunteers, as they wouldn't be needing access to the areas they will provide for us. We will issue you a card.

[2016-10-20 09:58] edrushka commented on #170
Hey @natalieworth thanks for working on this!

For the D&D slides, let's not put the time - it might change and we def. don't want to display incorrect information. The content in your feature/ad treatment above looks good. I defer to @kristinashu on design.

Yes, confirming the app is mzl.la/sched

Yes, confirming the social hashtag is # MozFest (no space, GH won't let me write this properly)

No

[2016-10-20 10:01] edrushka commented on #192
http://inspirenshare.blogspot.co.uk/2016/10/learning-in-youth-zone.html

[2016-10-20 10:04] edrushka commented on #192
https://medium.com/@BadgeList/mozfest-session-preview-using-open-badges-to-find-your-next-employee-74c20b5111d3#.h1fo4ruae

[2016-10-20 11:56] edrushka commented on #192
https://theartsawardblog.wordpress.com/2016/10/18/mozfest-fringe-blog-takeover-day-2-2/#more-1518

[2016-10-20 12:29] StevieBenton opened #194 "Draft for review: Volunteerism at the heart of open"
Hello folks,

Following last night's event, at which I spoke to some great people (thanks @Saallen for pointing them my way!) I've put together a piece about how volunteering is at the heart of the open movement. [The draft is here](https://docs.google.com/document/d/16CQ6ANTVNw9C1MNa07FwtEujaEv3oeMgPLuB3saXjow/edit?usp=sharing).

I have a photo or two on my phone that I can put in the article whe

[2016-10-20 12:54] KevZawacki commented on #194
This is a great post, @StevieBenton. Thanks!

[2016-10-20 13:20] marcwalsh-zz commented on #156
@xmatthewx - Are these files ready for print?

[2016-10-20 13:55] edrushka commented on #192
http://www.artsawardvoice.com/magazine/articles/interview-with-agi-k

[2016-10-20 13:56] edrushka commented on #192
@KevZawacki how do you organize your Advocacy news roundups?

[2016-10-20 14:02] StevieBenton opened #195 "Draft for review - Makers of MozFest: Claire Selby"
Hello everyone,

I had a really good conversation with Claire Selby from Ravensbourne this afternoon. She gave me some really good insights into the college's perspective of the festival.

I've put together a draft Makers of MozFest piece based on the interview. [It's here](https://docs.google.com/document/d/1sEs2YaNuXVu9XBn06oyhzwvU0E0-9NOiMK4qlnzAj_Y/edit?usp=sharing). Please do feel free to edi

[2016-10-20 14:03] StevieBenton commented on #195
Tagging @edrushka @KevZawacki @KGorr

[2016-10-20 14:07] StevieBenton commented on #194
Aw, thanks @KevZawacki !

[2016-10-20 15:07] KevZawacki commented on #192
@edrushka Not sure I follow -- as in, reports on earned media? Roundups are sent via email -- want me to fwd one?

[2016-10-20 15:12] xmatthewx commented on #156
I'd like either @sabrinang or @kristinashu to review and confirm they're ready.

[2016-10-20 15:24] marcwalsh-zz commented on #191
@kristinashu I think this should be for the table

[2016-10-20 15:25] marcwalsh-zz commented on #154
ORDERED!

Arriving tomorrow to MozLondon

[2016-10-20 15:25] #154 closed, assigned to nobody

[2016-10-20 15:29] edrushka commented on #192
How do you collect the stories? Google alerts? Who puts them in the spreadsheet? Basically I'm just wondering what the most efficient way is to keep track of all the blogs, and indicate which ones we've invited to publish in the MozFest publication. I fear the only solution is a spreadsheet 😱

[2016-10-20 16:44] KevZawacki commented on #192
@edrushka Yes, a combination of Google Alerts + proactive searching. [This](https://docs.google.com/spreadsheets/d/1XJgXxU6W8rzLEdAzwb0wHkYq_OFcnEEia3M-hmuQLvI/edit#gid=43979753) is what the spreadsheet looks like.

Perhaps we simply use Medium as our "spreadsheet." Unless there's a mandate we record _all_ blogs related to MozFest, on and off Medium?

[2016-10-20 16:58] edrushka opened #196 "List of terms for Closed Captioning & BSL"
We need to provide the BSL and closed captioning people with a list of weird terms and acronyms people might use on mainstage and in D&Ds.

Step 1: @marcwalsh is reaching out to View Source team for their list

cc @KevZawacki

[2016-10-20 17:09] SpikeUK commented on #186
OK @marcwalsh ! Assuming that we will have access to the Crew Room? I wish to be able to secure this room it is left unattended. Volunteers would be leaving their personal possessions in here whilst they are working elsewhere. Last year some of my property was pinched :(

[2016-10-20 18:01] xmatthewx commented on #193
@cadecairos – if an update breaks _everything_ while @mmmavis is sleeping or on a plane, can @edrushka and Dan (handle?) use the emergency on call number?

@edrushka & dan – if _everything_ breaks, first try: Google Sheets > File > Revision history. Roll back the changes & push them again via Chat command.

[2016-10-20 18:05] KevZawacki commented on #196
FLOSS -- Free/Libre and Open-Source Software

[2016-10-20 18:09] kristinashu commented on #191
@marcwalsh here's an A4 sign for the table. Could we print 2 of these to go on top of the table sandwich board style? Printed on cardboard would be ideal but if not then we can just to it at Ravensourne and spay mount it on formcore.

Here's the print PDF with crop marks:
https://drive.google.com/open?id=0B2irLVDJivhLc1lLQ0RsTW5TeW8

<img width="961" alt="screen shot 2016-10-20 at 11 04 23 am" src

[2016-10-20 18:13] cadecairos commented on #193
Yes, use the on-call email. I'll make sure that @gideonthomas is on-call while I'm in the air this coming Tuesday.

[2016-10-20 18:42] edrushka opened #197 "Prepare graphics for Facebook D&D streaming"
These will be simple logos.

Specs to come.

[2016-10-20 18:50] edrushka commented on #158
@kristinashu the order of the assets in the first comment is the priority order. I can make individual tickets if you like.

What are your thoughts on the post-card? As much as I love the idea, I'm not sure how we share these other than clipping with the festival guide (which was never part of the plan).

Also - I am absolutely to open to ideas from the design team!!

[2016-10-20 18:51] xmatthewx opened #198 "Finalize and Print Pulse & Net Mapping posters"
We will have a kiosk for Pulse and Network Mapping. With signage:
- large poster to draw attention
- small sign for context/instructions

Draft desigin: https://github.com/MozillaFoundation/Mozfest2016_production/issues/156#issuecomment-252122482

Next steps
- [x] @acabunoc to review copy and shortlink with @liberaliscomputing
- [x] Designer to update draft design
- [x] Designer to handoff to @mar

[2016-10-20 18:54] abbycabs commented on #198
Discussed a short link with @liberaliscomputing -- we'd like mzl.la/map. He'll spin up a heroku instance to point to and drop it here later.

[2016-10-20 18:56] xmatthewx opened #199 "Reserve computers for Pulse & Mapping kiosk"
@marcwalsh – need anything from me to do arrange for this?

We'll need
- two iMacs or Mac minis.
- two keyboards & mouse
- powerstrip
- standing desk or table

It would be good to have this during the science fair. But if you don't have enough computers, I can prep set up on Thurs/Fri, but wait until Saturday to put it out.

[2016-10-20 19:27] HPaulJohnson commented on #192
I discussed this a bit with @edrushka and here's the plan:
- I'll take over monitoring social and blogs for Mozfest related content and continue to curate in the spreadsheet from here on out.
- I will be emailing all the people who have volunteered to capture content and write about Mozfest in real-time today and they will be submitting those stories directly to me before/during/after the festival

[2016-10-20 19:32] xmatthewx opened #200 "Link to Pulse from Mozfest site (post Festival)"
If use of Pulse goes well at the festival, we should find a way to link to it from the festival site. Design-wise, could sit near link to archive of talks.

Adding this to a new November 4th milestone for post-festival work.
- [ ] make sure things have been tagged with mozfest
- [ ] link to https://mzl.la/mozfest-pulse?keyword=mozfest

[2016-10-20 19:58] sabrinang commented on #97
@xmatthewx @edrushka @kristinashu Check out the revised redpen: https://redpen.io/jbf8da498af93169d3

I used Matthew's suggestion and changed headings:
- Privacy Alert
- Please don't photograph people with yellow lanyards
- and I adjusted yellow lanyard/name card larger to give it more prominence and to fit with the headings

[2016-10-20 20:16] kristinashu commented on #96
@sabrinang and I chatted and have updated the posters: https://redpen.io/p/jh88919e683f7c860f

@marcwalsh they are all currently sized at A2, which I think will be a good size for both on the walls and for people to take home.

What are thinking for quantities? We have these different version:
- 1 in English (want extras for people to take home)
- 1 Hackable in English
- one version in 6 different

[2016-10-20 20:20] xmatthewx commented on #156
Closing this. Filed separate issues. Tracking meta of all the issues here: https://github.com/mozilla/network-pulse/issues/225

[2016-10-20 20:20] #156 closed, assigned to xmatthewx, kristinashu, sabrinang

[2016-10-20 20:27] kristinashu commented on #155
Final maps are here: https://redpen.io/p/nca82e6ea157535639

[2016-10-20 20:27] #155 closed, assigned to nobody

[2016-10-20 20:39] HPaulJohnson commented on #171
Email sent to all volunteer content creators today that includes this playbook and the process by which we will be collecting everything during the Festival.

@StevieBenton and I to meet next week to come up with a content calendar to help as a roadmap for this.

Closing.

[2016-10-20 20:39] #171 closed, assigned to HPaulJohnson

[2016-10-20 20:47] xmatthewx commented on #164
closing. tracking here: https://github.com/mozilla/network-pulse/issues/226

[2016-10-20 20:47] #164 closed, assigned to xmatthewx, StevieBenton

[2016-10-20 21:19] kristinashu commented on #94
@sabrinang I think we should keep the white background since it will be printed at Ravensbourne so we won't want any bleed. We also don't know where people will fold them (in 2 vs 4) so having a white box might be limiting.

I simplified the design a little so the same design could work if people fold it in two or in four. Also updated the glitch a little so if people don't fold it exactly in the

[2016-10-20 21:24] sabrinang commented on #87
Speaker's Template: https://docs.google.com/a/mozilla.com/presentation/d/1LxSvUaG5BTq8Zv4os_Qmgkgb204LiXWM3RoABVE-bxE/edit?usp=sharing

<img width="905" alt="screen shot 2016-10-20 at 2 03 59 pm" src="https://cloud.githubusercontent.com/assets/2492510/19578175/709f59ca-96cf-11e6-8cc4-e5e0094e8e42.png">
@xmatthewx @KevZawacki Do you have any feedback to revise this slide template? It's a generic te

[2016-10-20 21:56] sabrinang commented on #97
I updated the changes: https://redpen.io/jbf8da498af93169d3
- made the body copy smaller and this made room for more white space above to make the wordmark less busy/squished (I kept the size of the wordmark though it balanced out with the sizes of the icons below)
- capitalized Registration

[2016-10-20 22:01] xmatthewx commented on #87
Looks very good. I dropped in a few small comments.

We should decide whether or not to allow powerpoint. I fear import issues. If I get a vote, I vote no.

[2016-10-20 22:03] kristinashu commented on #198
@xmatthewx @marcwalsh here are the two A4 posters with 3mm bleed and crop marks:

[MozFest Pulse Signs A4.pdf](https://github.com/MozillaFoundation/Mozfest2016_production/files/543011/MozFest.Pulse.Signs.A4.pdf)

<img width="482" alt="screen shot 2016-10-20 at 2 59 20 pm" src="https://cloud.githubusercontent.com/assets/1068783/19579491/d4fd01aa-96d5-11e6-9a86-aa675c335642.png">
<img width="482" al

[2016-10-20 22:09] kristinashu commented on #39
I things this is all done, @marcwalsh please reopen this ticket if you still need it.

[2016-10-20 22:09] #39 closed

[2016-10-20 22:37] kristinashu commented on #158
@edrushka yes, separate tickets would be great!

I can't really image people using postcards, but maybe that's just me. Also, sounds like advocacy will have postcards related to their post-crimes campaign.

[2016-10-20 22:40] kristinashu opened #201 "Design assets for the Registration table"
Would be great to make the Registration table feel a little more official. Are there any signs you can think of that we should design?

Instead of signs like this:
<img width="662" alt="screen shot 2016-10-20 at 3 37 57 pm" src="https://cloud.githubusercontent.com/assets/1068783/19580491/6be76178-96db-11e6-8805-ad644351e743.png">

@edrushka @marcwalsh @sabrinang

[2016-10-20 22:56] kristinashu commented on #201
We'll have a MozFest banner hanging down the front of the table https://github.com/MozillaFoundation/Mozfest2016_production/issues/183

[2016-10-20 23:06] sabrinang commented on #201
2 signs will probably be needed for the table:
- 1) for sign-in or pickup your name card
- 2) for collecting your swag

[2016-10-20 23:08] sabrinang commented on #97
@edrushka Do the new headings look okay to you? https://redpen.io/jbf8da498af93169d3

[2016-10-20 23:28] sabrinang commented on #87
Thanks for the feedback @xmatthewx.

I removed the text about the powerpoint to not give them any ideas or suggest powerpoint but if the speaker is keen on using powerpoint or already has slides done their presentation in powerpoint we can't stop them but it isn't difficult to import for us to include as gslides.

The slide itself has placeholder content to demonstrate the master slides so I made

[2016-10-20 23:57] kristinashu commented on #158
cc @sabrinang

[2016-10-21 07:20] SpikeUK opened #202 "Please design design "Volunteers Only" sign to be locally printed"
Please design design an A4 "Volunteers Only" sign (to be locally printed) based upon the background in #191.
Could please also version without text so that we could design and print locally ad hoc signage.
@kristinashu ?

[2016-10-21 07:44] SpikeUK commented on #201
Possibly a third activity:
- 3) for selecting your "I speak ........ language" stickers ref #149

[2016-10-21 10:21] marcwalsh-zz commented on #91
Sent to print! 🗺

[2016-10-21 10:21] #91 closed, assigned to marcwalsh-zz

[2016-10-21 10:22] marcwalsh-zz commented on #184
Sent to print!!

[2016-10-21 10:22] #184 closed, assigned to marcwalsh-zz

[2016-10-21 10:46] edrushka commented on #87
Whooooa! This is amazing!! Did you write all this content yourself?!?! This is way more fancy than I ever expected, so R++ from me!!

[2016-10-21 12:58] KevZawacki commented on #87
@sabrinang This is **stunning**! Many, many thanks.

Are we ready to share with our speakers / do we need to update any permissions?

[2016-10-21 13:12] StevieBenton commented on #194
Does anyone have any further thoughts on this or shall I go ahead and publish?

[2016-10-21 13:35] edrushka commented on #194
Go for it!

[2016-10-21 13:43] edrushka opened #203 "Design welcome signs in other languages"
(This is a **nice-to-have.**)

Design "welcome" signs in the following languages (priority order):
- Spanish
- French
- Italian
- German
- Arabic
- Hindi
- Japanese
- Lithuanian
- Scotts Gaelic

cc @kristinashu

[2016-10-21 13:49] edrushka commented on #202
@SpikeUK could these work for your ad hoc signage? https://redpen.io/p/mq6690195fde6aad51

[2016-10-21 13:54] edrushka opened #204 "Design 'Thank you for coming' sign"
(This is a **nice to have.**)

Design a 'thank you for coming' sign. [Inspiration](https://www.flickr.com/photos/mozfest/22894036881/in/album-72157658649418943/).

If multilingual elements can be incorporated, here is the priority language order:

[code]

cc @kristinashu

[2016-10-21 14:05] xmatthewx commented on #87
I think it's good to go, but maybe wait until @sabrinang arrives and gives the thumbs up.
- I set permission to allow anyone to View, not Edit.
- I confirmed they will still have the option to use _**File > Make a copy**_.
- I made some edits to the instructions slide and move that to the first slide.

[2016-10-21 14:05] StevieBenton commented on #194
[And we're live](https://medium.com/mozilla-festival/volunteerism-the-heart-of-the-open-movement-73da9263cab5#.32j2bimv1) :)

Thanks for the input guys.

[2016-10-21 14:05] #194 closed, assigned to StevieBenton

[2016-10-21 14:38] edrushka opened #205 "Design Thank you card"
(This is a **nice to have**.)

Please design a folding thank you card. We'll be printing 100.
**Unfolded size is A5 so front design should be half an A5**. Fold can be vertical or horizontal. See this [template thingy](https://www.pixartprinting.co.uk/digital-litho-printing/printing-other-formats/) and these notes from the printer:

Tips for the preparation and printing of your file:

cc @kristina

[2016-10-21 15:13] marcwalsh-zz commented on #170
Hey @natalieworth - Just to let you know that the video slides need to be exported as 1920x1080 H.264 files please, preferably without a crazy high bitrate! :)

[2016-10-21 15:21] marcwalsh-zz commented on #170
@natalieworth - Can I get a test of the file as soon as you have something ready to make sure that the export format is correct please?

[2016-10-21 15:50] marcwalsh-zz commented on #31
ALL SENT!

[2016-10-21 15:50] #31 closed

[2016-10-21 15:54] KevZawacki commented on #192
http://www.agik.co.uk/agi-k-mozfest2016/

[2016-10-21 16:01] KGorr commented on #195
Love this perspective @StevieBenton. I added some comments on the doc for things that could be clarified a bit. Let me know if you have any questions. Nice piece!

[2016-10-21 16:13] SpikeUK commented on #202
That would probably be fine @edrushka

[2016-10-21 16:13] #202 closed, assigned to nobody

[2016-10-21 16:22] kristinashu commented on #96
Here is a print PDF for all the posters - with 5mm bleed and trim marks: https://drive.google.com/open?id=0B2irLVDJivhLcHpwVWlmR3BhQWs
(it's a big file!)

@sabrinang could you please give it a once over? If everything looks good then we're good to print!

[2016-10-21 16:32] kristinashu commented on #198
@sabrinang has pointed out the white box corners aren't right. Do either of these look better to you?
<img width="1111" alt="screen shot 2016-10-21 at 9 31 03 am" src="https://cloud.githubusercontent.com/assets/1068783/19605683/39d030a2-9771-11e6-8137-602b704f2eb8.png">

[2016-10-21 16:46] edrushka commented on #97
R+ from Sarah and I

[2016-10-21 16:48] edrushka commented on #94
👍 to limiting to two options. R+ from Sarah and I on https://redpen.io/p/mq6690195fde6aad51

[2016-10-21 17:01] sabrinang commented on #97
The print files (.pdf & .eps)(with 0.125" or 3.175mm bleed/trim marks) are located in the For Print folder here: https://drive.google.com/drive/u/1/folders/0B4Q8pzCpDS_edk5HSmx6TmFHR0k

[2016-10-21 17:31] xmatthewx commented on #198
No strong opinions here on box corners. I knew that mine were a sad approximation.

I'm flexible on size. The large one should be visible from across the science fair. I'd say 30" wide is the minimum. 24" is probably too small. For science fair, having this mounted on cardboard would be very very helpful.

[2016-10-21 17:39] kristinashu commented on #94
Great! Here are the print ready PDFs: https://drive.google.com/open?id=0B2irLVDJivhLd2k1ZWhRN3FVNnc

[2016-10-21 17:50] kristinashu commented on #198
@sabrinang do you have a preference?

@xmatthewx to simply and not overcrowd the table, we should just do one version for Map and one version for Pulse. I'll update the A3 poster to A4 and scrape the version with the point.

[2016-10-21 17:53] marcwalsh-zz commented on #201
Sounds good! Lets print onsite and mount on foam board. I'll get @DanRad95 to order some!

[2016-10-21 17:59] xmatthewx commented on #198
I'm a little confused. Are you suggesting we just make the small sign bigger? And don't do the bigger sign with vertical text?

The smaller pieces serve to orient people who do walk up to try the kiosks. I care less about the quality of these.

We need to keep the bigger sign with large vertical text. It will hang above the kiosk throughout the weekend. The small sign's design won't serve well to

[2016-10-21 18:22] sabrinang commented on #87
:+1: Thumbs up from me and permissions are good to go.

Thanks @xmatthewx for reviewing and I also added to the revised instructions slides. @edrushka I didn't write most of the placeholder content (since it'll be deleted anyway), I adapted a [free template](www.slidescarnival.com) to be customized to our aesthetic and needs to help save time to make the quick turnaround :sweat_smile:

[2016-10-21 19:04] taisdesouzalessa commented on #167
@kristinashu @sabrinang @xmatthewx @edrushka @KevZawacki  here is the first poster. Please let me know through here your feedback (RedPen is not working - as soon as it works, I will post the link here):
![poster-speaker-series1](https://cloud.githubusercontent.com/assets/22157921/19608407/f9c2976a-9785-11e6-888e-eb3161d63b2c.jpg)

Once I receive all the feedback on this one, I'll do the changes a

[2016-10-21 19:33] kristinashu commented on #198
Oh ok, from our call I thought we weren't hanging anything but since we are, here are the two vertial banners on one A0:

I've left lots of glitch pattern around the text so we can trim as needed at Ravensbourne.

<img width="689" alt="screen shot 2016-10-21 at 12 31 36 pm" src="https://cloud.githubusercontent.com/assets/1068783/19609149/550d9378-978a-11e6-852a-d813e6078ff7.png">

[2016-10-21 19:35] sabrinang commented on #198
@kristinashu If you are going with the left style I suggest to adjust the vertical spacing a bit above/below the letters so it frames the inverted letters giving it a bit more contrast. Example:
<img width="888" alt="screen shot 2016-10-21 at 12 33 10 pm" src="https://cloud.githubusercontent.com/assets/2492510/19609180/91447280-978a-11e6-93a4-452ca5708297.png">

[2016-10-21 19:36] sabrinang commented on #96
@kristinashu
I think there are some localisation issues I am catching.
- Hindi: I think I had it backwards एक वेब (I think it says web one right now...)
- Arabic: I couldn’t copy and paste arabic numbers into illustrator (it should be
  ٢٨-٣٠ أكتوبر ). I am still trying right now but it keeps on changing it into numbers so I have a feeling this is incorrect.
- Dates/Location in German/Spanish were

[2016-10-21 19:42] edrushka commented on #96
Can you email heather (pm-ing you her address) when you are done so she can have her crew review the localized posters?

[2016-10-21 19:45] xmatthewx commented on #87
@sabrinang – are we going to delete the slides like you suggested (keeping just instructions and maybe title slide). Then let people use the Add-New-Slide-with-Layout? I think we should before we send it out. I think it's less likely to overwhelm users.

[2016-10-21 19:46] KevZawacki commented on #167
Ah, @taisdesouzalessa, this is **beautiful**! No changes from my end. 😸

[2016-10-21 19:48] kristinashu commented on #96
Amazing, thanks @edrushka and @sabrinang!

We will print the localised posters at Ravensbourne since there won't be too many and this will give us more time to fix the languages.

@marcwalsh here is a PDF of the English poster: https://drive.google.com/open?id=0B2irLVDJivhLZjNELUpLcFZzeHc

I'm not sure how many to print? For the building, maybe 40 (10 floors with 4 per floor). For people to take h

[2016-10-21 19:55] xmatthewx commented on #96
A2 would be good for localized and hackable poster. Consider A1 for main poster? Or some copies at that size?

[2016-10-21 20:00] kristinashu commented on #96
Sounds good, so for the English posters: 40 at A1 and 40 at A2?

[2016-10-21 20:04] xmatthewx commented on #167
This is great.

I like your use of box pattern for twitter handles.

Tiny bits: For headings at the top of poster, alignment along bottom of the text seems off a little. It might be pixel rendering, but the white text looks a bit low. Is the vertical yellow line on a grid line? It looks near the center, but not quite on center.

[2016-10-21 20:10] sabrinang commented on #87
@xmatthewx Sorry for the confusion if I suggested to delete slides, I think it is best to just leave it as is so the shapes, charts, illustrations are accessible to them (they won't be on layout slides) I just wanted them to be aware they have the option to start with bare layouts instead of just editing placeholder content.

[2016-10-21 20:25] kristinashu commented on #198
Updated!
<img width="468" alt="screen shot 2016-10-21 at 1 23 34 pm" src="https://cloud.githubusercontent.com/assets/1068783/19610515/b3d8391a-9791-11e6-98b2-d3b937d31bb0.png">
<img width="467" alt="screen shot 2016-10-21 at 1 23 42 pm" src="https://cloud.githubusercontent.com/assets/1068783/19610516/b3dfceb4-9791-11e6-9e80-7aa44b3bcf98.png">
<img width="500" alt="screen shot 2016-10-21 at 1 23 51

[2016-10-21 21:06] kristinashu commented on #167
Looks great! I love the yellow corner and photo border. I just think the speaker's content could be tighten up a little (ie nudge the Topic text up closer to the speaker's job title - it feels a little floaty right now).

[2016-10-21 21:24] sabrinang commented on #96
For the localised posters, Heather has been emailed so her team can help review the posters (I sent a separate [redpen](https://redpen.io/p/dx247add31f0157531) dedicated to collect language feedback or her team will reply via email).

[2016-10-21 21:27] taisdesouzalessa commented on #167
@xmatthewx you are right, the white text was a bit low, thanks for spotting that. The vertical yellow line was in the middle of a gutter so both texts (title and date, location) could be aligned to the grid.

I did another version with the yellow line right in the center of the poster and I think it looks better (I was wondering if it would look unbalanced since the title is so big compared to dat

[2016-10-21 21:29] taisdesouzalessa commented on #167
One thing I forgot to mention: this poster will be A2
![a2](https://cloud.githubusercontent.com/assets/22157921/19612333/d4e645d0-979a-11e6-98e3-3f810822e82c.jpg)

[2016-10-21 21:43] sabrinang commented on #86
We will be borrowing layouts from the [one web speaker's template](https://docs.google.com/presentation/d/1LxSvUaG5BTq8Zv4os_Qmgkgb204LiXWM3RoABVE-bxE/edit#slide=id.g1865d99020_4_107) or [speaker series bookend slides](https://docs.google.com/presentation/d/1ztrY9GBVc10nSUFFXxE1d0UZZDRNRhCAZ9-cUfz60a0/edit#slide=id.g184b5001c6_0_66) from https://github.com/MozillaFoundation/Mozfest2016_production/

[2016-10-21 21:55] taisdesouzalessa commented on #167
@kristinashu yeah I was wondering that as well...it does feel floaty. Comparing both placements, i prefer the tighter one (it groups the info better):
https://cl.ly/3Y3d1y1i3935

Will go with the tighter version then.

https://redpen.io/p/om396ce7b3b9594de5

[2016-10-21 22:00] taisdesouzalessa commented on #167
I was wondering...should we add "am/pm" to the time in the poster or you think it is clear as is?

[2016-10-21 22:10] kristinashu commented on #167
Yes, I think it's a good call to add am/pm.

[2016-10-22 00:01] kristinashu commented on #149
@marcwalsh how are these being printed? Any chance we could add a bunch of matching game stickers (https://github.com/MozillaFoundation/plan/issues/839) to this? They would be the same size as these language stickers but we would need a lot of them (one for every attendee).

cc @flukeout @acabunoc

[2016-10-22 00:08] taisdesouzalessa commented on #167
@kristinashu here is the latest version, with revisions: https://redpen.io/p/om396ce7b3b9594de5

[2016-10-22 00:13] kristinashu commented on #167
Looks great! :tropical_drink:

[2016-10-22 13:52] edrushka commented on #86
I have no updates on Mark's presentation yet. If he's ok with it, I'm fine with using full image slides (since the mainstage is heavily branded already) and bookending with one of the assets listed above.

Mark likely won't finalize his presentation until next Thur/Fri so let's go with the simplest design to implement last-minute. FYI @Lottarao is helping to coordinate Mark's presentation.

[2016-10-22 14:07] edrushka commented on #200
@xmatthewx I am scoping site updates to go live _immediately_ after the festival (Sunday night or Monday morning) based what's on staging: http://mozillafestival-org-staging.herokuapp.com/

Let me know if you would like me include a link to pulse in the top nav. We could put it where Tickets is now. Suggest 'PULSE' as link text.

[2016-10-22 14:58] edrushka opened #206 "Prepare graphics for AirMo & Facebook streams"
#### AirMo Background

To replace clouds seen [here](https://air.mozilla.org/monthly-speaker-series-metadata-with-harlo-holmes-2016-10-12/)
- [x] Need a static, muted version of one of our patterns. Keep in mind AirMo logo will go over it. 16x9 (1920x1080)
#### Logos & Wordmarks
- [x] PNG version of logo & wordmark
- [x] PNG version of One Web circle (white/clear circle version)
- [x] PNG version

[2016-10-22 14:58] edrushka commented on #206
cc @xmatthewx and @kristinashu Live stream team has requested these by EOD Wednesday if possible. Thanks!

[2016-10-23 12:08] StevieBenton commented on #195
Thanks for the really useful feedback @KGorr ! Have amended the text accordingly. The photo is very helpful, too.

I'm waiting to see if Claire has any further comments, then will go ahead and publish if we are all happy.

[2016-10-23 12:52] StevieBenton opened #207 "Draft for review - Makers of MozFest: Dan"
Hello everyone,

Just finished my write up of the interview I had with Dan earlier in the week.  [You can see the draft here](https://docs.google.com/document/d/1oi-5yWBUHehZnW17gprQNQlynHp3EiRa-X61OVHokB8/edit).

This piece I think really captures some of the essence of the community spirit behind the festival. Dan is going to review it also because there's a story in there about another voluntee

[2016-10-23 13:15] StevieBenton commented on #189
Some suggested images below. If everyone is happy I can publish whenever we like.

https://www.flickr.com/photos/mozfest/22848063806/in/album-72157658649418943/
https://www.flickr.com/photos/mozfest/22251296084/in/album-72157658649418943/
https://www.flickr.com/photos/mozfest/22252802803/in/album-72157658649418943/

[2016-10-23 13:53] StevieBenton opened #208 "Draft for review: Makers of MozFest - Spike"
Hello everyone,

I had a great chat with Spike on Thursday. His knowledge and experience of MozFest were really interesting, especially from the perspective of someone who puts in so much hard work but doesn't see the end result.

[I've written up the interview here](https://docs.google.com/document/d/1sYyIjzwlh8fAYA9aeVNwGaTNO7N7JpINOOLP--flcFI/edit?usp=sharing). As ever, the doc is open so edits

[2016-10-23 15:04] SpikeUK commented on #192
https://discourse.mozilla-community.org/t/the-magic-of-the-mozilla-festival/11652

Written by a MozFest volunteer

[2016-10-24 09:43] edrushka commented on #119
BSL on mainstage this year 👍

[2016-10-24 09:43] #119 closed, assigned to nobody

[2016-10-24 09:44] edrushka commented on #151
We'll be using a remote, skype-based Closed Captioner for the D&Ds.

[2016-10-24 10:41] edrushka commented on #196
There is a list of tech terms [here](http://techterms.com/category/acronyms). If you sort by tech factor, we'll like only here things in the 1-4 out of 10 range. Here are the most likely:

FLOSS -- Free/Libre and Open-Source Software
IoT -- Internet of Things
[WYSIWG](http://techterms.com/definition/wysiwyg)
[VPN](http://techterms.com/definition/vpn)
[VoIP](http://techterms.com/definition/voip)
[U

[2016-10-24 11:01] KevZawacki commented on #206
@edrushka Generic is fine!

[2016-10-24 11:49] KevZawacki commented on #208
@StevieBenton Looks great -- let's publish  👍

[2016-10-24 11:50] KevZawacki commented on #207
@StevieBenton Once Dan signs off, let's publish 👍

[2016-10-24 11:50] KevZawacki commented on #195
@StevieBenton Good to go!

[2016-10-24 12:07] marcwalsh-zz commented on #199
Sure thing, I'll get this sorted for you today. We should be able to get you two laptops to us if that's okay?

[2016-10-24 12:08] SpikeUK commented on #208
Well and I am OK with it as well - the  word 'voluntarism' does not appear ;-)

[2016-10-24 12:09] marcwalsh-zz commented on #26
Done!

[2016-10-24 12:09] #26 closed

[2016-10-24 12:10] marcwalsh-zz commented on #79
Sorted, waiting for payment to be made and will be delivered on Friday morning.

[2016-10-24 12:10] #79 closed, assigned to marcwalsh-zz, DanRad95

[2016-10-24 12:10] marcwalsh-zz commented on #149
Sent to printers!

[2016-10-24 12:10] #149 closed, assigned to marcwalsh-zz

[2016-10-24 13:56] xmatthewx commented on #199
I'll take what I can get, but would prefer iMac or mac mini if possible.

Also... We  need security cables. While we will station this somewhere central, we don't plan to staff the table throughout the day.

[2016-10-24 14:17] StevieBenton commented on #208
Thanks all, I'll get this published. Spike, I added in the line you requested as well.

[2016-10-24 14:32] StevieBenton commented on #208
Just to confirm, this is now [live on Medium here](https://medium.com/mozilla-festival/the-makers-of-mozfest-spike-8cdd0e5cd4f6#.lf7mzef4u).

Thanks for all input :)

[2016-10-24 14:32] #208 closed, assigned to StevieBenton

[2016-10-24 15:26] StevieBenton commented on #207
Great! This piece is now [live on Medium](https://medium.com/mozilla-festival/the-makers-of-mozfest-dan-5b97f29b6ab7#.3hhae9gx0).

Thanks for all input :)

[2016-10-24 15:26] #207 closed, assigned to StevieBenton

[2016-10-24 16:49] marcwalsh-zz commented on #199
Cool, I'll have a look and see. There's two Mac Mini's available however the only screens we have on-site are 40" which would probably be overkill for what you need!

I'll get locks either way!

[2016-10-24 17:13] sabrinang commented on #96
The Arabic, Hindi, Italian, Spanish and French posters have been approved via email by the localisation team so far and I have exported the .pdfs here: https://drive.google.com/drive/u/1/folders/0B4Q8pzCpDS_eblZYMEpCcWQ1dDA

Just waiting for the approval of the German poster now.

[2016-10-24 17:35] kristinashu commented on #206
Here you go @edrushka!

For the background, we could use this:
<img width="1920" alt="airmozilla-background" src="https://cloud.githubusercontent.com/assets/1068783/19656441/e11f432e-99d4-11e6-91fa-8384b907203f.png">

Which would look like this:
<img width="1920" alt="airmozilla-background1" src="https://cloud.githubusercontent.com/assets/1068783/19656279/3004e864-99d4-11e6-82ea-076742b77fff.png">

[2016-10-24 17:56] sabrinang commented on #206
@kristinashu Neat! One feedback I have is how the teal triangle cuts across the white content which may not be enough contrast for some screens/eyes and it shifts depending on length of content it seems.

Ideas:
- You can try to have the triangle smaller so it doesn't ever dissect the content
- Some other slides have smaller triangles in the upper left, lower right if you wanted to try a two trian

[2016-10-24 17:57] edrushka commented on #96
Try pinging @thornet for a quick review.

[2016-10-24 18:06] natalieworth commented on #170
@marcwalsh For sure—I'll export something by this afternoon

[2016-10-24 18:38] sabrinang commented on #183
![mozfest-poster-scale-preview_2-02](https://cloud.githubusercontent.com/assets/2492510/19658680/acb35572-99dd-11e6-87b8-2eda63f8d100.png)
updated redpen: https://redpen.io/p/gb43c52500b46e0e0b

I have two .pdfs exported (horizontal pink, vertical teal) the same size as floor number banners here: https://drive.google.com/drive/u/1/folders/0B4Q8pzCpDS_eVWhfWmh1QTlHeEk

@marcwalsh Do you have the di